---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blogs?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - dbabc00e-7c7a-4bac-8e73-c08560b6d012
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994143'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '196'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '19'
      X-Trace:
      - 2BF1B1C519788F0C5694E5155F615DE2B67F1F3404000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":10500366470,"portal_id":62515,"site_id":null,"name":"Example
        blog","category_id":3,"deleted_at":0,"created":1560548984320,"created_date_time":1560548984320,"updated":1565896194218,"updated_date_time":1565896194218,"language":"id","translated_from_id":null,"domain":"","resolved_domain":"demo-hubapi.hs-sites.com","state":null,"absolute_url":"http://demo-hubapi.hs-sites.com/example-blog","live_domain":"demo-hubapi.hs-sites.com","translations":{},"business_unit_id":0,"cos_object_type":"BLOG","public_access_rules_enabled":false,"public_access_rules":[{"type":"LIST_MEMBERSHIP","ids":[]}],"settings_overrides":{"commentShouldCreateContact":false,"allowComments":false,"showSocialLinkLinkedin":false,"useFeaturedImageInSummary":false,"enableGoogleAmpOutput":false,"commentVerificationText":false,"itemTemplatePath":false,"ampHeaderColor":false,"showSummaryInEmails":false,"ampHeaderBackgroundColor":false,"ampHeaderFontSize":false,"generateJsonLdEnabled":false,"commentModeration":false,"closeCommentsOlder":false,"htmlFooter":false,"ampHeaderFont":false,"postHtmlFooter":false,"commentNotificationEmails":false,"ampLinkColor":false,"listingTemplatePath":false,"ampLogoSrc":false,"commentMaxThreadDepth":false,"socialAccountTwitter":false,"itemTemplateIsShared":false,"postsPerListingPage":false,"htmlHeadIsShared":false,"showSocialLinkFacebook":false,"postHtmlHead":false,"listingPageHtmlFooter":false,"ampBodyColor":false,"listingLayoutId":false,"ampBodyFont":false,"attachedStylesheets":false,"htmlFooterIsShared":false,"ampLogoWidth":false,"ampLogoAlt":false,"showSocialLinkTwitter":false,"ampBodyFontSize":false,"showSummaryInRss":false,"itemLayoutId":false,"showSummaryInListing":false,"htmlHead":false,"postsPerRssFeed":false,"showSummariesInEmails":false,"ampLogoHeight":false},"domain_when_published":"demo-hubapi.hs-sites.com","comment_should_create_contact":false,"parent_blog_update_task_id":null,"root_url":"http://demo-hubapi.hs-sites.com/example-blog","description":"","label":"Example
        blog","attached_stylesheets":[],"slug":"example-blog","url_segments":{"author":"author","archive":"archive","tag":"tag","page":"page","all":"all"},"analytics_page_id":10500366470,"public_title":"Example
        blog","html_title":"","html_head":"","html_head_is_shared":true,"post_html_head":"","html_footer":"","html_footer_is_shared":true,"post_html_footer":"","html_keywords":[],"posts_per_listing_page":10,"posts_per_rss_feed":10,"allow_comments":false,"close_comments_older":0,"comment_moderation":false,"comment_notification_emails":[],"show_summary_in_emails":true,"use_featured_image_in_summary":true,"legacy_tab_id":null,"date_formatting_language":null,"comment_verification_text":"","captcha_always":false,"captcha_after_days":7,"item_layout_id":10498049828,"item_template_path":"generated_layouts/10498049828.html","listing_layout_id":10498049828,"listing_template_path":"generated_layouts/10498049828.html","item_template_is_shared":true,"uses_default_template":false,"default_group_style_id":"","show_summary_in_listing":true,"show_summary_in_rss":true,"show_social_link_twitter":true,"show_social_link_facebook":true,"show_social_link_linkedin":true,"default_notification_reply_to":"","default_notification_from_name":"","subscription_contacts_property":"blog_example_blog_10500366470_subscription","subscription_lists_by_type":{},"subscription_form_guid":"233bb53d-071f-4d39-8859-f041855bbbd4","subscription_email_type":null,"email_api_subscription_id":6914043,"instant_notification_email_id":null,"daily_notification_email_id":null,"weekly_notification_email_id":null,"monthly_notification_email_id":null,"enable_social_auto_publishing":false,"enable_google_amp_output":true,"social_account_twitter":"","publish_date_format":"medium","comment_form_guid":"94cd91d1-babb-4646-9afc-512d3b997f83","comment_date_format":"medium","comment_max_thread_depth":1,"month_filter_format":"MMMM
        yyyy","rss_custom_feed":null,"rss_description":null,"rss_item_header":null,"rss_item_footer":null,"legacy_module_id":null,"legacy_guid":null,"amp_header_color":"#1e1e1e","amp_header_background_color":"#ffffff","amp_body_color":"#404040","amp_link_color":"#416bb3","amp_header_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_header_font_size":"36","amp_body_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_body_font_size":"18","amp_logo_src":"","amp_logo_alt":"","amp_logo_height":0,"amp_logo_width":0,"amp_custom_css":"","generate_json_ld_enabled":false,"url_base":"demo-hubapi.hs-sites.com/example-blog","header":null,"title":null,"cdn_purge_embargo_time":null,"audience_access":"PUBLIC"}],"total":1,"limit":20,"offset":0}'
  recorded_at: Wed, 10 Oct 2012 00:00:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=10500366470&created__gt=1344556800000&hapikey=demo&order_by=-created&state=PUBLISHED
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7d355f58-bd43-418c-8536-a4c89bac1d7f
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994142'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '195'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '19'
      X-Trace:
      - 2B0618EBF0983A5501924DEBB812E6BC0136E202C4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"limit":20,"objects":[{"ab":false,"ab_variation":false,"absolute_url":"http://demo-hubapi.hs-sites.com/example-blog/example-blog","analytics_page_id":"12026507304","analytics_page_type":"blog-post","archived":false,"archived_in_dashboard":false,"are_comments_allowed":false,"attached_stylesheets":[],"audience_access":"PUBLIC","blog_author":{"avatar":"","bio":"","created":1387404442000,"deleted_at":0,"display_name":"Levi
        Test","email":"test11+11@mangotreemedia.com","facebook":"","full_name":"Levi
        Test","gravatar_url":"https://app.hubspot.com/settings/avatar/caf1c7f4155541edb39b6f5d9566afe9","has_social_profiles":false,"id":418560336,"linkedin":"","name":"Levi
        Test","portal_id":62515,"slug":"levi-test","translations":{},"twitter":"","twitter_username":"","updated":1387404442000,"website":""},"blog_author_id":418560336,"blog_post_author":{"avatar":"","bio":"","created":1387404442000,"deleted_at":0,"display_name":"Levi
        Test","email":"test11+11@mangotreemedia.com","facebook":"","full_name":"Levi
        Test","gravatar_url":"https://app.hubspot.com/settings/avatar/caf1c7f4155541edb39b6f5d9566afe9","has_social_profiles":false,"id":418560336,"linkedin":"","name":"Levi
        Test","portal_id":62515,"slug":"levi-test","translations":{},"twitter":"","twitter_username":"","updated":1387404442000,"website":""},"blog_publish_to_social_media_task":"DONE_NOT_SENT","blueprint_type_id":0,"category":3,"category_id":3,"composition_id":0,"content_access_rule_ids":[],"content_access_rule_types":[],"content_group":10500366470,"content_group_id":10500366470,"content_type_category":3,"content_type_category_id":3,"created":1565421643553,"created_by_id":215482,"created_time":1565421643553,"css":{},"css_text":"","current_state":"PUBLISHED","currently_published":true,"deleted_at":0,"domain":"","enable_google_amp_output_override":false,"featured_image":"https://cdn2.hubspot.net/hubfs/62515/import-20190803/Airforce-Wrap.jpg","featured_image_alt_text":"Airforce-Wrap","featured_image_height":0,"featured_image_length":0,"featured_image_width":0,"flex_areas":{},"freeze_date":1565421821409,"generate_json_ld_enabled_override":true,"has_content_access_rules":false,"has_user_changes":true,"html_title":"Example
        Blog","id":12026507304,"is_captcha_required":true,"is_draft":false,"is_instant_email_enabled":false,"is_published":true,"is_social_publishing_enabled":false,"keywords":[],"label":"Example
        Blog","language":"id","layout_sections":{},"link_rel_canonical_url":"","list_template":"generated_layouts/10498049828.html","live_domain":"demo-hubapi.hs-sites.com","mab":false,"mab_master":false,"mab_variant":false,"meta":{"attached_stylesheets":[],"post_summary":null,"has_user_changes":true,"last_edit_session_id":null,"last_edit_update_id":null,"html_title":null,"tag_ids":[10249582185],"topic_ids":[10249582185],"campaign_name":null,"campaign_utm":null,"enable_google_amp_output_override":false,"featured_image":"https://cdn2.hubspot.net/hubfs/62515/import-20190803/Airforce-Wrap.jpg","featured_image_alt_text":"Airforce-Wrap","link_rel_canonical_url":"","meta_description":"Blog
        test","post_body":null,"publish_immediately":true,"use_featured_image":true,"published_by_id":215482,"published_at":1565421821409,"rss_body":null,"rss_summary":null,"blog_post_schedule_task_uid":null,"blog_publish_to_social_media_task":"DONE_NOT_SENT"},"meta_description":"Blog
        test","name":"Example Blog","page_redirected":false,"page_title":"Example
        Blog","parent_blog":{"absolute_url":"http://demo-hubapi.hs-sites.com/example-blog","allow_comments":false,"amp_body_color":"#404040","amp_body_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_body_font_size":"18","amp_custom_css":"","amp_header_background_color":"#ffffff","amp_header_color":"#1e1e1e","amp_header_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_header_font_size":"36","amp_link_color":"#416bb3","amp_logo_alt":"","amp_logo_height":0,"amp_logo_src":"","amp_logo[...]
