---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blogs?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5ac315d1-4a2d-44d1-b9c9-d71c712d2fc5
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994141'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '195'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '19'
      X-Trace:
      - 2B4C8FADADC03B43B414640AD6107130AD25369B4F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":10500366470,"portal_id":62515,"site_id":null,"name":"Example
        blog","category_id":3,"deleted_at":0,"created":1560548984320,"created_date_time":1560548984320,"updated":1565896194218,"updated_date_time":1565896194218,"language":"id","translated_from_id":null,"domain":"","resolved_domain":"demo-hubapi.hs-sites.com","state":null,"absolute_url":"http://demo-hubapi.hs-sites.com/example-blog","live_domain":"demo-hubapi.hs-sites.com","translations":{},"business_unit_id":0,"cos_object_type":"BLOG","public_access_rules_enabled":false,"public_access_rules":[{"type":"LIST_MEMBERSHIP","ids":[]}],"settings_overrides":{"commentShouldCreateContact":false,"allowComments":false,"showSocialLinkLinkedin":false,"useFeaturedImageInSummary":false,"enableGoogleAmpOutput":false,"commentVerificationText":false,"itemTemplatePath":false,"ampHeaderColor":false,"showSummaryInEmails":false,"ampHeaderBackgroundColor":false,"ampHeaderFontSize":false,"generateJsonLdEnabled":false,"commentModeration":false,"closeCommentsOlder":false,"htmlFooter":false,"ampHeaderFont":false,"postHtmlFooter":false,"commentNotificationEmails":false,"ampLinkColor":false,"listingTemplatePath":false,"ampLogoSrc":false,"commentMaxThreadDepth":false,"socialAccountTwitter":false,"itemTemplateIsShared":false,"postsPerListingPage":false,"htmlHeadIsShared":false,"showSocialLinkFacebook":false,"postHtmlHead":false,"listingPageHtmlFooter":false,"ampBodyColor":false,"listingLayoutId":false,"ampBodyFont":false,"attachedStylesheets":false,"htmlFooterIsShared":false,"ampLogoWidth":false,"ampLogoAlt":false,"showSocialLinkTwitter":false,"ampBodyFontSize":false,"showSummaryInRss":false,"itemLayoutId":false,"showSummaryInListing":false,"htmlHead":false,"postsPerRssFeed":false,"showSummariesInEmails":false,"ampLogoHeight":false},"domain_when_published":"demo-hubapi.hs-sites.com","comment_should_create_contact":false,"parent_blog_update_task_id":null,"root_url":"http://demo-hubapi.hs-sites.com/example-blog","description":"","label":"Example
        blog","attached_stylesheets":[],"slug":"example-blog","url_segments":{"author":"author","archive":"archive","tag":"tag","page":"page","all":"all"},"analytics_page_id":10500366470,"public_title":"Example
        blog","html_title":"","html_head":"","html_head_is_shared":true,"post_html_head":"","html_footer":"","html_footer_is_shared":true,"post_html_footer":"","html_keywords":[],"posts_per_listing_page":10,"posts_per_rss_feed":10,"allow_comments":false,"close_comments_older":0,"comment_moderation":false,"comment_notification_emails":[],"show_summary_in_emails":true,"use_featured_image_in_summary":true,"legacy_tab_id":null,"date_formatting_language":null,"comment_verification_text":"","captcha_always":false,"captcha_after_days":7,"item_layout_id":10498049828,"item_template_path":"generated_layouts/10498049828.html","listing_layout_id":10498049828,"listing_template_path":"generated_layouts/10498049828.html","item_template_is_shared":true,"uses_default_template":false,"default_group_style_id":"","show_summary_in_listing":true,"show_summary_in_rss":true,"show_social_link_twitter":true,"show_social_link_facebook":true,"show_social_link_linkedin":true,"default_notification_reply_to":"","default_notification_from_name":"","subscription_contacts_property":"blog_example_blog_10500366470_subscription","subscription_lists_by_type":{},"subscription_form_guid":"233bb53d-071f-4d39-8859-f041855bbbd4","subscription_email_type":null,"email_api_subscription_id":6914043,"instant_notification_email_id":null,"daily_notification_email_id":null,"weekly_notification_email_id":null,"monthly_notification_email_id":null,"enable_social_auto_publishing":false,"enable_google_amp_output":true,"social_account_twitter":"","publish_date_format":"medium","comment_form_guid":"94cd91d1-babb-4646-9afc-512d3b997f83","comment_date_format":"medium","comment_max_thread_depth":1,"month_filter_format":"MMMM
        yyyy","rss_custom_feed":null,"rss_description":null,"rss_item_header":null,"rss_item_footer":null,"legacy_module_id":null,"legacy_guid":null,"amp_header_color":"#1e1e1e","amp_header_background_color":"#ffffff","amp_body_color":"#404040","amp_link_color":"#416bb3","amp_header_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_header_font_size":"36","amp_body_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_body_font_size":"18","amp_logo_src":"","amp_logo_alt":"","amp_logo_height":0,"amp_logo_width":0,"amp_custom_css":"","generate_json_ld_enabled":false,"url_base":"demo-hubapi.hs-sites.com/example-blog","header":null,"title":null,"cdn_purge_embargo_time":null,"audience_access":"PUBLIC"}],"total":1,"limit":20,"offset":0}'
  recorded_at: Wed, 10 Oct 2012 00:00:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=10500366470&created__gt=1344556800000&hapikey=demo&order_by=-created&state=DRAFT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 15bdc951-5179-4cbd-a82e-496d1394e4f7
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994140'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '194'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '19'
      X-Trace:
      - 2B33B99C4EB5F93F95A9D06D95D3E492FDE8ED3647000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"limit":20,"objects":[{"ab":false,"ab_variation":false,"absolute_url":"http://demo-hubapi.hs-sites.com/example-blog/example-2-blog","analytics_page_id":"12026507320","analytics_page_type":"blog-post","archived":false,"archived_in_dashboard":false,"are_comments_allowed":false,"attached_stylesheets":[],"audience_access":"PUBLIC","blog_author":{"avatar":"","bio":"This
        is a test bio for a test author","created":1416431792000,"deleted_at":0,"display_name":"Test
        2","email":"testapi@hubspot.com","facebook":"","full_name":"Test 2","gravatar_url":"https://app.hubspot.com/settings/avatar/bb23f3ae97b9698d130c02d2841e86a4","has_social_profiles":true,"id":2112866420,"linkedin":"","name":"Test
        2","portal_id":62515,"slug":"test-2","translations":{},"twitter":"https://twitter.com/hubspotsupport","twitter_username":"@hubspotsupport","updated":1416501139000,"website":""},"blog_author_id":2112866420,"blog_post_author":{"avatar":"","bio":"This
        is a test bio for a test author","created":1416431792000,"deleted_at":0,"display_name":"Test
        2","email":"testapi@hubspot.com","facebook":"","full_name":"Test 2","gravatar_url":"https://app.hubspot.com/settings/avatar/bb23f3ae97b9698d130c02d2841e86a4","has_social_profiles":true,"id":2112866420,"linkedin":"","name":"Test
        2","portal_id":62515,"slug":"test-2","translations":{},"twitter":"https://twitter.com/hubspotsupport","twitter_username":"@hubspotsupport","updated":1416501139000,"website":""},"blueprint_type_id":0,"category":3,"category_id":3,"composition_id":678249,"content_access_rule_ids":[],"content_access_rule_types":[],"content_group":10500366470,"content_group_id":10500366470,"content_type_category":3,"content_type_category_id":3,"created":1565421955847,"created_by_id":215482,"created_time":1565421955847,"css":{},"css_text":"","current_state":"DRAFT","currently_published":false,"deleted_at":0,"domain":"","enable_google_amp_output_override":false,"featured_image":"","featured_image_alt_text":"","featured_image_height":0,"featured_image_length":0,"featured_image_width":0,"flex_areas":{},"freeze_date":1565422057692,"generate_json_ld_enabled_override":true,"has_content_access_rules":false,"has_user_changes":true,"html_title":"Example
        2 blog","id":12026507320,"is_captcha_required":true,"is_draft":true,"is_instant_email_enabled":false,"is_published":false,"is_social_publishing_enabled":false,"keywords":[],"label":"Example
        2 blog","language":"id","last_edit_session_id":1565422016819,"last_edit_update_id":1,"layout_sections":{},"link_rel_canonical_url":"","list_template":"generated_layouts/10498049828.html","live_domain":"demo-hubapi.hs-sites.com","mab":false,"mab_master":false,"mab_variant":false,"meta":{"composition_id":678249,"attached_stylesheets":[],"post_summary":"","has_user_changes":true,"last_edit_session_id":1565422016819,"last_edit_update_id":1,"html_title":null,"tag_ids":[],"topic_ids":[],"page_redirected":false,"past_mab_experiment_ids":[],"personas":[],"placement_guids":[],"public_access_rules":[],"public_access_rules_enabled":false,"tweet_immediately":false,"unpublished_at":0,"use_featured_image":true,"post_body":"<p>The
        headline and subheader tells us what you''re <a href=\"http://demo-hubapi.hs-sites.com/example-blog/?hs_preview=IdDriNzq-12026507304#\">offering</a>,
        and the form header closes the deal. Over here you can explain why your offer
        is so great it''s worth filling out a form for.</p><!--more--><p></p><p>The
        headline and subheader tells us what you''re <a href=\"http://demo-hubapi.hs-sites.com/example-blog/?hs_preview=IdDriNzq-12026507304#\">offering</a>,
        and the form header closes the deal. Over here you can explain why your offer
        is so great it''s worth filling out a form for.</p><p></p><p>The headline
        and subheader tells us what you''re <a href=\"http://demo-hubapi.hs-sites.com/example-blog/?hs_preview=IdDriNzq-12026507304#\">offering</a>,
        and the form header closes the deal. Over here you can explain why your offer
        is so great it''s worth filling out a form for.</p><p>fasdasdf</p><p></p><p>asdfafafasdfasfasdfasfasfas</p><p></p><p>asfasfasdf</p>","rss_body":"","rss_summary":"","campaign_name":null,"campaign_utm":null,"enable_google_amp_output_override":false,"featured_image":"","featured_image_alt_text":"","link_rel_canonical_url":"","meta_description":"","publish_immediately":true},"meta_description":"","name":"Example
        2 blog","page_redirected":false,"page_title":"Example 2 blog","parent_blog":{"absolute_url":"http://demo-hubapi.hs-sites.com/example-blog","allow_comments":false,"amp_body_color":"#404040","amp_body_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_body_font_size":"18","amp_custom_css":"","amp_header_background_color":"#ffffff","amp_header_color":"#1e1e1e","amp_header_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_header_font_size":"36","amp_link_color":"#416bb3","amp_logo_alt":"","amp_logo_height":0,"amp_logo_src":"","amp_logo[...]
