---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=10500366470&created__gt=1344556800000&hapikey=demo&order_by=-created&state=DRAFT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 15bdc951-5179-4cbd-a82e-496d1394e4f7
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994140'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '194'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '19'
      X-Trace:
      - 2B33B99C4EB5F93F95A9D06D95D3E492FDE8ED3647000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"limit":20,"objects":[{"ab":false,"ab_variation":false,"absolute_url":"http://demo-hubapi.hs-sites.com/example-blog/example-2-blog","analytics_page_id":"12026507320","analytics_page_type":"blog-post","archived":false,"archived_in_dashboard":false,"are_comments_allowed":false,"attached_stylesheets":[],"audience_access":"PUBLIC","blog_author":{"avatar":"","bio":"This
        is a test bio for a test author","created":1416431792000,"deleted_at":0,"display_name":"Test
        2","email":"testapi@hubspot.com","facebook":"","full_name":"Test 2","gravatar_url":"https://app.hubspot.com/settings/avatar/bb23f3ae97b9698d130c02d2841e86a4","has_social_profiles":true,"id":2112866420,"linkedin":"","name":"Test
        2","portal_id":62515,"slug":"test-2","translations":{},"twitter":"https://twitter.com/hubspotsupport","twitter_username":"@hubspotsupport","updated":1416501139000,"website":""},"blog_author_id":2112866420,"blog_post_author":{"avatar":"","bio":"This
        is a test bio for a test author","created":1416431792000,"deleted_at":0,"display_name":"Test
        2","email":"testapi@hubspot.com","facebook":"","full_name":"Test 2","gravatar_url":"https://app.hubspot.com/settings/avatar/bb23f3ae97b9698d130c02d2841e86a4","has_social_profiles":true,"id":2112866420,"linkedin":"","name":"Test
        2","portal_id":62515,"slug":"test-2","translations":{},"twitter":"https://twitter.com/hubspotsupport","twitter_username":"@hubspotsupport","updated":1416501139000,"website":""},"blueprint_type_id":0,"category":3,"category_id":3,"composition_id":678249,"content_access_rule_ids":[],"content_access_rule_types":[],"content_group":10500366470,"content_group_id":10500366470,"content_type_category":3,"content_type_category_id":3,"created":1565421955847,"created_by_id":215482,"created_time":1565421955847,"css":{},"css_text":"","current_state":"DRAFT","currently_published":false,"deleted_at":0,"domain":"","enable_google_amp_output_override":false,"featured_image":"","featured_image_alt_text":"","featured_image_height":0,"featured_image_length":0,"featured_image_width":0,"flex_areas":{},"freeze_date":1565422057692,"generate_json_ld_enabled_override":true,"has_content_access_rules":false,"has_user_changes":true,"html_title":"Example
        2 blog","id":12026507320,"is_captcha_required":true,"is_draft":true,"is_instant_email_enabled":false,"is_published":false,"is_social_publishing_enabled":false,"keywords":[],"label":"Example
        2 blog","language":"id","last_edit_session_id":1565422016819,"last_edit_update_id":1,"layout_sections":{},"link_rel_canonical_url":"","list_template":"generated_layouts/10498049828.html","live_domain":"demo-hubapi.hs-sites.com","mab":false,"mab_master":false,"mab_variant":false,"meta":{"composition_id":678249,"attached_stylesheets":[],"post_summary":"","has_user_changes":true,"last_edit_session_id":1565422016819,"last_edit_update_id":1,"html_title":null,"tag_ids":[],"topic_ids":[],"page_redirected":false,"past_mab_experiment_ids":[],"personas":[],"placement_guids":[],"public_access_rules":[],"public_access_rules_enabled":false,"tweet_immediately":false,"unpublished_at":0,"use_featured_image":true,"post_body":"<p>The
        headline and subheader tells us what you''re <a href=\"http://demo-hubapi.hs-sites.com/example-blog/?hs_preview=IdDriNzq-12026507304#\">offering</a>,
        and the form header closes the deal. Over here you can explain why your offer
        is so great it''s worth filling out a form for.</p><!--more--><p></p><p>The
        headline and subheader tells us what you''re <a href=\"http://demo-hubapi.hs-sites.com/example-blog/?hs_preview=IdDriNzq-12026507304#\">offering</a>,
        and the form header closes the deal. Over here you can explain why your offer
        is so great it''s worth filling out a form for.</p><p></p><p>The headline
        and subheader tells us what you''re <a href=\"http://demo-hubapi.hs-sites.com/example-blog/?hs_preview=IdDriNzq-12026507304#\">offering</a>,
        and the form header closes the deal. Over here you can explain why your offer
        is so great it''s worth filling out a form for.</p><p>fasdasdf</p><p></p><p>asdfafafasdfasfasdfasfasfas</p><p></p><p>asfasfasdf</p>","rss_body":"","rss_summary":"","campaign_name":null,"campaign_utm":null,"enable_google_amp_output_override":false,"featured_image":"","featured_image_alt_text":"","link_rel_canonical_url":"","meta_description":"","publish_immediately":true},"meta_description":"","name":"Example
        2 blog","page_redirected":false,"page_title":"Example 2 blog","parent_blog":{"absolute_url":"http://demo-hubapi.hs-sites.com/example-blog","allow_comments":false,"amp_body_color":"#404040","amp_body_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_body_font_size":"18","amp_custom_css":"","amp_header_background_color":"#ffffff","amp_header_color":"#1e1e1e","amp_header_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_header_font_size":"36","amp_link_color":"#416bb3","amp_logo_alt":"","amp_logo_height":0,"amp_logo_src":"","amp_logo_width":0,"analytics_page_id":10500366470,"attached_stylesheets":[],"audience_access":"PUBLIC","business_unit_id":0,"captcha_after_days":7,"captcha_always":false,"category_id":3,"close_comments_older":0,"comment_date_format":"medium","comment_form_guid":"94cd91d1-babb-4646-9afc-512d3b997f83","comment_max_thread_depth":1,"comment_moderation":false,"comment_notification_emails":[],"comment_should_create_contact":false,"comment_verification_text":"","cos_object_type":"BLOG","created":1560548984320,"created_date_time":1560548984320,"default_group_style_id":"","default_notification_from_name":"","default_notification_reply_to":"","deleted_at":0,"description":"","domain":"","domain_when_published":"demo-hubapi.hs-sites.com","email_api_subscription_id":6914043,"enable_google_amp_output":true,"enable_social_auto_publishing":false,"generate_json_ld_enabled":false,"html_footer":"","html_footer_is_shared":true,"html_head":"","html_head_is_shared":true,"html_keywords":[],"html_title":"","id":10500366470,"item_layout_id":10498049828,"item_template_is_shared":true,"item_template_path":"generated_layouts/10498049828.html","label":"Example
        blog","language":"id","listing_layout_id":10498049828,"listing_template_path":"generated_layouts/10498049828.html","live_domain":"demo-hubapi.hs-sites.com","month_filter_format":"MMMM
        yyyy","name":"Example blog","portal_id":62515,"post_html_footer":"","post_html_head":"","posts_per_listing_page":10,"posts_per_rss_feed":10,"public_access_rules":[{"ids":[],"type":"LIST_MEMBERSHIP"}],"public_access_rules_enabled":false,"public_title":"Example
        blog","publish_date_format":"medium","resolved_domain":"demo-hubapi.hs-sites.com","root_url":"http://demo-hubapi.hs-sites.com/example-blog","settings_overrides":{"itemLayoutId":false,"itemTemplatePath":false,"itemTemplateIsShared":false,"listingLayoutId":false,"listingTemplatePath":false,"postsPerListingPage":false,"showSummaryInListing":false,"useFeaturedImageInSummary":false,"htmlHead":false,"postHtmlHead":false,"htmlHeadIsShared":false,"htmlFooter":false,"listingPageHtmlFooter":false,"postHtmlFooter":false,"htmlFooterIsShared":false,"attachedStylesheets":false,"postsPerRssFeed":false,"showSummaryInRss":false,"showSummaryInEmails":false,"showSummariesInEmails":false,"allowComments":false,"commentShouldCreateContact":false,"commentModeration":false,"closeCommentsOlder":false,"commentNotificationEmails":false,"commentMaxThreadDepth":false,"commentVerificationText":false,"socialAccountTwitter":false,"showSocialLinkTwitter":false,"showSocialLinkLinkedin":false,"showSocialLinkFacebook":false,"enableGoogleAmpOutput":false,"ampLogoSrc":false,"ampLogoHeight":false,"ampLogoWidth":false,"ampLogoAlt":false,"ampHeaderFont":false,"ampHeaderFontSize":false,"ampHeaderColor":false,"ampHeaderBackgroundColor":false,"ampBodyFont":false,"ampBodyFontSize":false,"ampBodyColor":false,"ampLinkColor":false,"generateJsonLdEnabled":false},"show_social_link_facebook":true,"show_social_link_linkedin":true,"show_social_link_twitter":true,"show_summary_in_emails":true,"show_summary_in_listing":true,"show_summary_in_rss":true,"slug":"example-blog","social_account_twitter":"","subscription_contacts_property":"blog_example_blog_10500366470_subscription","subscription_form_guid":"233bb53d-071f-4d39-8859-f041855bbbd4","subscription_lists_by_type":{},"translations":{},"updated":1565896194218,"updated_date_time":1565896194218,"url_base":"demo-hubapi.hs-sites.com/example-blog","url_segments":{"all":"all","archive":"archive","author":"author","page":"page","tag":"tag"},"use_featured_image_in_summary":true,"uses_default_template":false},"past_mab_experiment_ids":[],"personas":[],"placement_guids":[],"portal_id":62515,"post_body":"<p>The
        headline and subheader tells us what you''re <a href=\"http://demo-hubapi.hs-sites.com/example-blog/?hs_preview=IdDriNzq-12026507304#\">offering</a>,
        and the form header closes the deal. Over here you can explain why your offer
        is so great it''s worth filling out a form for.</p><!--more--><p></p><p>The
        headline and subheader tells us what you''re <a href=\"http://demo-hubapi.hs-sites.com/example-blog/?hs_preview=IdDriNzq-12026507304#\">offering</a>,
        and the form header closes the deal. Over here you can explain why your offer
        is so great it''s worth filling out a form for.</p><p></p><p>The headline
        and subheader tells us what you''re <a href=\"http://demo-hubapi.hs-sites.com/example-blog/?hs_preview=IdDriNzq-12026507304#\">offering</a>,
        and the form header closes the deal. Over here you can explain why your offer
        is so great it''s worth filling out a form for.</p><p>fasdasdf</p><p></p><p>asdfafafasdfasfasdfasfasfas</p><p></p><p>asfasfasdf</p>","post_body_rss":"","post_email_content":"","post_featured_image_if_enabled":"","post_list_content":"","post_list_summary_featured_image":"","post_rss_content":"","post_rss_summary_featured_image":"","post_summary":"","post_summary_rss":"","post_template":"generated_layouts/10498049828.html","preview_key":"orUdzHww","processing_status":"formatting","public_access_rules":[],"public_access_rules_enabled":false,"publish_date":1565422057694,"publish_date_local_time":1565422057694,"publish_date_localized":{"date":1565422057694,"format":"medium"},"publish_immediately":true,"published_url":"","resolved_domain":"demo-hubapi.hs-sites.com","resolved_language":"id","rss_body":"","rss_summary":"","rss_summary_featured_image":"","sections":{},"security_state":"NONE","slug":"example-blog/example-2-blog","state":"DRAFT","subcategory":"normal_blog_post","synced_with_blog_root":true,"tag_ids":[],"tag_list":[],"tag_names":[],"team_perms":[],"template_path":"","template_path_for_render":"generated_layouts/10498049828.html","theme_path":"","title":"Example
        2 blog","topic_ids":[],"topic_list":[],"topic_names":[],"topics":[],"translated_content":{},"translations":{},"tweet_immediately":false,"unpublished_at":0,"updated":1565422057694,"updated_by_id":215482,"upsize_featured_image":false,"url":"http://demo-hubapi.hs-sites.com/example-blog/example-2-blog","use_featured_image":true,"user_perms":[],"views":0,"visible_to_all":true,"widget_containers":{},"widgetcontainers":{},"widgets":{}}],"offset":0,"total":1}'
  recorded_at: Wed, 10 Oct 2012 00:00:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blogs?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4779eedf-5b42-4af7-88eb-c93939380a2a
      X-Trace:
      - 2BC0321640ADC6BB13788CD14A8A649A9700DBB3F6000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Request implies conflicting values for
        hub-id: 62515 from [hapikey (demo)] vs. <PORTAL_ID> from oauth-token (<ACCESS_TOKEN>)","correlationId":"4779eedf-5b42-4af7-88eb-c93939380a2a"}'
  recorded_at: Wed, 10 Oct 2012 00:00:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 218c2095-d5ce-464b-8a7a-d43a59589c9a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249994'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '94'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B56A99ED7270967FF24F0D52DE2CA67E94FDA08FE000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":68499289253,"portal_id":<PORTAL_ID>,"site_id":null,"name":"test
        blog pliz ignore","category_id":3,"deleted_at":0,"created":1647277919496,"created_date_time":1647277919496,"updated":1647277919497,"updated_date_time":1647277919497,"language":"fr","translated_from_id":null,"domain":"","resolved_domain":"hubspot-developers-17geepl-<PORTAL_ID>.hs-sites.com","state":null,"absolute_url":"http://hubspot-developers-17geepl-<PORTAL_ID>.hs-sites.com","live_domain":"hubspot-developers-17geepl-<PORTAL_ID>.hs-sites.com","translations":{},"business_unit_id":0,"cos_object_type":"BLOG","public_access_rules_enabled":false,"public_access_rules":[],"settings_overrides":{"postHtmlFooter":false,"ampLogoHeight":false,"htmlHeadIsShared":false,"ampHeaderBackgroundColor":false,"amp[...]
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blog-posts?content_group_id=68499289253&created__gt=1344556800000&order_by=-created&state=DRAFT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 014f6331-dae5-4115-96a9-1ef7be85ec45
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249993'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '93'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B652D8562CFFABC30F50D067EEE59D5B9DDDCBC74000000000000000000
    body:
      encoding: UTF-8
      string: '{"limit":20,"objects":[],"offset":0,"total":0}'
  recorded_at: Wed, 10 Oct 2012 00:00:00 GMT
recorded_with: VCR 6.0.0
