---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"48cf9a2ec5f8749566048e99e551275f@example.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - dc216fe2-1b8c-4e9f-9557-727495c5c78b
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248400'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BF8FC9B334D32ED35E8C5967FDE6DC6DFC1785EDF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23001,"canonical-vid":23001,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"48cf9a2ec5f8749566048e99e551275f@example.com","versions":[{"value":"48cf9a2ec5f8749566048e99e551275f@example.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970225646,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23001,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"48cf9a2ec5f8749566048e99e551275f@example.com","timestamp":1659970225657,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"2c87e9d0-011d-43b8-a223-72922c28b7a1","timestamp":1659970225666,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:26 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists
    body:
      encoding: UTF-8
      string: '{"name":"my-contacts-list-c3aa964b44bb0bbea77f9bc206840148","filters":[[{"operator":"EQ","property":"email","type":"string","value":"@hubspot.com"}]],"dynamic":true,"portal_id":null}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 202b4665-944d-47fc-9c68-f13e19f09bca
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248399'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B984D470EDAB9826E0B466952CFBBD3E1D6761F56000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":464,"internalListId":464,"createdAt":1659970226211,"updatedAt":1659970226211,"name":"my-contacts-list-c3aa964b44bb0bbea77f9bc206840148","listType":"DYNAMIC","authorId":3326038,"filters":[[{"operator":"EQ","filterFamily":"PropertyValue","type":"string","withinTimeMode":"PAST","property":"email","value":"@hubspot.com"}]],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"INITIALIZING","lastProcessingStateChangeAt":1659970226211,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":true}'
  recorded_at: Mon, 08 Aug 2022 14:50:26 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/464/add
    body:
      encoding: UTF-8
      string: '{"vids":[23001]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c4aba51e-0c55-4422-88e0-8ef6c68cd0fa
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248398'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BE1CF27E19D7D38A87020BBE9CEE69F719762DA51000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Can not operate manually on a dynamic
        list","correlationId":"c4aba51e-0c55-4422-88e0-8ef6c68cd0fa"}'
  recorded_at: Mon, 08 Aug 2022 14:50:26 GMT
recorded_with: VCR 6.0.0
