---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"862025b510d6c1ba7ad15f0dc0cfe52f@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e74b778c-4c18-4cc3-8093-b23c81a37c91
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498438'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B5BEAACB7249CAE114CD8A50F06DBA94D5F6D8F7E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67601,"canonical-vid":67601,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"862025b510d6c1ba7ad15f0dc0cfe52f@example.com","versions":[{"value":"862025b510d6c1ba7ad15f0dc0cfe52f@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887740026,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67601,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"862025b510d6c1ba7ad15f0dc0cfe52f@example.com","timestamp":1655887740031,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"87ee687a-f63f-4991-a1bf-09630b3ad9e4","timestamp":1655887740056,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:00 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"my-contacts-list-6034b66fe4017b222ac5dde8a9e0e097","filters":[[{"operator":"EQ","property":"email","type":"string","value":"@hubspot.com"}]],"dynamic":true,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3e4e8366-1ff9-47f8-a394-820195d9d218
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498437'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B5999BB1BBA0D9C4FF68FE28C8D0931D459EAABC0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":1565,"internalListId":1565,"createdAt":1655887740415,"updatedAt":1655887740415,"name":"my-contacts-list-6034b66fe4017b222ac5dde8a9e0e097","listType":"DYNAMIC","filters":[[{"withinTimeMode":"PAST","filterFamily":"PropertyValue","operator":"EQ","type":"string","property":"email","value":"@hubspot.com"}]],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"INITIALIZING","lastProcessingStateChangeAt":1655887740415,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":true}'
  recorded_at: Wed, 22 Jun 2022 08:49:00 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/1565/add?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vids":[67601]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a28ff0a4-09a6-4134-a9c8-811764a7a2a3
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498436'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '147'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B87917D8BBE5042D0A109CB36E11ACFAB1587D88C000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Can not operate manually on a dynamic
        list","correlationId":"a28ff0a4-09a6-4134-a9c8-811764a7a2a3"}'
  recorded_at: Wed, 22 Jun 2022 08:49:00 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/54/add
    body:
      encoding: UTF-8
      string: '{"vids":[2151]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6afcf8c9-1a11-4fe2-abbd-960812ab6dd9
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249845'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '97'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B8FA7902DC3543A7533F434B4E5BCADF7F152CB2F000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Can not operate manually on a dynamic
        list","correlationId":"6afcf8c9-1a11-4fe2-abbd-960812ab6dd9"}'
  recorded_at: Tue, 02 Aug 2022 15:15:51 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"12c4a502a00e38df24fd1a13596ce6da@example.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - [...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists
    body:
      encoding: UTF-8
      string: '{"name":"my-contacts-list-766bda1b9d828fb5c1f4c279eb11e842","filters":[[{"operator":"EQ","property":"email","type":"string","value":"@hubspot.com"}]],"dynamic":true,"portal_id":null}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 04c72c2a-7761-470a-a7a2-ef9defa7ed04
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249363'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '92'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B3FE2A4E17AC36DAFAD717ABC30004D4065A3BA68000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":409,"internalListId":409,"createdAt":1659962324425,"updatedAt":1659962324425,"name":"my-contacts-list-766bda1b9d828fb5c1f4c279eb11e842","listType":"DYNAMIC","authorId":3326038,"filters":[[{"operator":"EQ","filterFamily":"PropertyValue","withinTimeMode":"PAST","type":"string","property":"email","value":"@hubspot.com"}]],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"INITIALIZING","lastProcessingStateChangeAt":1659962324425,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":true}'
  recorded_at: Mon, 08 Aug 2022 12:38:44 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/409/add
    body:
      encoding: UTF-8
      string: '{"vids":[16601]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a6c06c4c-a374-4004-97c2-3320b97f58cc
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249362'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '91'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B89CB275140177C56F3BC7A03B0D78D617F6ACB15000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Can not operate manually on a dynamic
        list","correlationId":"a6c06c4c-a374-4004-97c2-3320b97f58cc"}'
  recorded_at: Mon, 08 Aug 2022 12:38:45 GMT
recorded_with: VCR 6.0.0
