---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"73b2d0da996d2be480185b88a382f377@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cd895550-7157-4b51-b2e6-5ae96b937fc8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498801'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '125'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B3D6F5FF0919596F1F85B98C9739EC14F7ECE09D0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50202,"canonical-vid":50202,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"73b2d0da996d2be480185b88a382f377@example.com","versions":[{"value":"73b2d0da996d2be480185b88a382f377@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818089968,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50202,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"73b2d0da996d2be480185b88a382f377@example.com","timestamp":1655818089975,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"d22c3d9b-a2c0-4c6a-bc1b-573b4145d1e6","timestamp":1655818090052,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:10 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"my-contacts-list-9f0a83a36cee423ede828e54e903d085","filters":[[{"operator":"EQ","property":"email","type":"string","value":"@hubspot.com"}]],"dynamic":true,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 37cd02a9-8173-49ca-9178-fd3d326d70f9
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498800'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BA8D245BEE7683818F3145C163ABD4C1169481D50000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":1439,"internalListId":1439,"createdAt":1655818090508,"updatedAt":1655818090508,"name":"my-contacts-list-9f0a83a36cee423ede828e54e903d085","listType":"DYNAMIC","filters":[[{"withinTimeMode":"PAST","filterFamily":"PropertyValue","operator":"EQ","type":"string","property":"email","value":"@hubspot.com"}]],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"INITIALIZING","lastProcessingStateChangeAt":1655818090508,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":true}'
  recorded_at: Tue, 21 Jun 2022 13:28:10 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/1439/add?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vids":[50202]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7826af97-2750-479e-b635-44033a386eff
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498799'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BF601DAEEE27984D3E262FA28D44394D7D5D391AD000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Can not operate manually on a dynamic
        list","correlationId":"7826af97-2750-479e-b635-44033a386eff"}'
  recorded_at: Tue, 21 Jun 2022 13:28:10 GMT
recorded_with: VCR 6.1.0
