---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/deals/groups/named/deal_revenue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3782811b-7077-476d-96b3-b30877328efc
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499983'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BCD148A1A478810A348F4CE52716788440B2E3F28000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"deal_revenue","fulcrumPortalId":8008758,"fulcrumTimestamp":1593475199999,"displayName":"Deal
        revenue","displayOrder":-1,"hubspotDefined":true}'
  recorded_at: Mon, 05 Sep 2022 09:25:27 GMT
recorded_with: VCR 6.1.0
