---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/deals/properties/named/hs_acv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 361386a8-3bc4-4308-9d2d-6e89cb45951e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499988'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B563459D36CA0D6D2F0237BB51FC8EAE7B0867765000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"hs_acv","label":"Annual contract value","description":"The
        annual contract value (ACV) of this deal.","groupName":"deal_revenue","type":"number","fieldType":"number","fieldLevelPermission":null,"hidden":false,"deleted":null,"updatedAt":1653695359828,"createdAt":1593532658357,"readOnlyDefinition":true,"formField":false,"displayOrder":-1,"readOnlyValue":true,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":true,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":true,"hubspotDefined":true,"referencedObjectType":null,"externalOptionsReferenceType":null,"optionSortStrategy":null,"createdUserId":null,"searchableInGlobalSearch":false,"hasUniqueValue":false,"numberDisplayHint":null,"currencyPropertyName":"deal_currency_code","textDisplayHint":null,"optionsAreMutable":null,"searchTextAnalysisMode":null,"isCustomizedDefault":false,"updatedUserId":null,"options":[]}'
  recorded_at: Mon, 05 Sep 2022 09:21:10 GMT
recorded_with: VCR 6.1.0
