---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/deals/properties/named/this_does_not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2108a2d0-2785-4b4b-a28c-f731439a53eb
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499987'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B9EE3462CD22C78BF2630BED563BEA1F39F8ED25F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''this_does_not_exist''","correlationId":"2108a2d0-2785-4b4b-a28c-f731439a53eb","propertiesErrorCode":"PROPERTY_NOT_FOUND"}'
  recorded_at: Mon, 05 Sep 2022 09:21:10 GMT
recorded_with: VCR 6.1.0
