---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/deals/groups/named/this_does_not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 53b54502-70f2-49ef-8a4a-ab338a94d871
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499982'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BA1AB4CB59471EADD9B88E2F10494716CEE298DEC000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''this_does_not_exist''.","correlationId":"53b54502-70f2-49ef-8a4a-ab338a94d871","groupsErrorCode":"GROUP_NOT_FOUND"}'
  recorded_at: Mon, 05 Sep 2022 09:25:27 GMT
recorded_with: VCR 6.1.0
