---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/companies/groups
    body:
      encoding: UTF-8
      string: '{"name":"ff_group_61cc747ed245973b351a9bae3d2a3e5b","displayOrder":100}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c571eda9-a043-4aad-ab34-08bfa9c7c4ae
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248576'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BCEB156063CD7188237E1D1E9114B417B93D01DB3000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"name":"ff_group_61cc747ed245973b351a9bae3d2a3e5b","displayOrder":100}'
  recorded_at: Mon, 08 Aug 2022 14:49:07 GMT
recorded_with: VCR 6.0.0
