---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/companies/properties?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"fax_number","groupName":"companyinformation","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b0d31061-0080-43d3-aa2d-b108c900923c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498667'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B033C0B311AA1DBE6557A3F1EEE4B8CDDF5245750000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"fax_number","label":"Fax Number","description":"The company
        fax number.","groupName":"companyinformation","type":"string","fieldType":"text","fieldLevelPermission":null,"deleted":false,"updatedAt":1655887650154,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":null,"createdAt":1655456762968,"referencedObjectType":null,"formField":false,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":false,"hidden":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"externalOptionsReferenceType":null,"optionSortStrategy":null,"createdUserId":null,"searchableInGlobalSearch":false,"hasUniqueValue":false,"numberDisplayHint":null,"textDisplayHint":null,"optionsAreMutable":null,"searchTextAnalysisMode":null,"currencyPropertyName":null,"isCustomizedDefault":false,"options":[],"updatedUserId":null}'
  recorded_at: Wed, 22 Jun 2022 08:47:30 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/fax_number?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 11d9e169-c531-4fb9-9956-9323ce94c79c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498666'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B07213226B257A72D1142D3D38387732BDF238BCA000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:47:30 GMT
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/companies/properties
    body:
      encoding: UTF-8
      string: '{"name":"fax_number","groupName":"companyinformation","options":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1837c07b-f763-4d7e-934b-b10b9f90088e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249947'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/fax_number
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 8061c309-d40a-470b-8d29-c8757de1f3c8
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249946'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '85'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B0A0E75F11E060CF494ED0E0758C172F88E630973000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Aug 2022 14:50:45 GMT
recorded_with: VCR 6.0.0
