---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/companies/groups?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"ff_group_7d9396af7eda9392d14c5c10738f913e","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 31998a6e-1ea3-4cec-a7e5-a99c908e6803
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499008'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '125'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BAEF1F9C98AF250AA7DE6401BEDAF0E91613A7D63000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"name":"ff_group_7d9396af7eda9392d14c5c10738f913e","displayOrder":100}'
  recorded_at: Tue, 21 Jun 2022 13:26:42 GMT
recorded_with: VCR 6.1.0
