---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/companies/groups
    body:
      encoding: UTF-8
      string: '{"name":"ff_group1","displayName":"Test Group One","displayOrder":100}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0b7abdd6-67b9-4b8d-966a-f890ff96413a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248577'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BAA40A6BCC7737084B41F6D843E37C079FEAE5616000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"name":"ff_group1","displayName":"Test Group
        One","displayOrder":100,"deleted":false}'
  recorded_at: Mon, 08 Aug 2022 14:49:07 GMT
recorded_with: VCR 6.0.0
