---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/non-existent?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6aa81e4b-b36c-418b-8a68-a998af44bc9a
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499023'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BD07FDB5509F5F418FF74B258A0189E8EB37CD9B2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''non-existent''","correlationId":"6aa81e4b-b36c-418b-8a68-a998af44bc9a","propertiesErrorCode":"PROPERTY_NOT_FOUND"}'
  recorded_at: Tue, 21 Jun 2022 13:26:36 GMT
recorded_with: VCR 6.1.0
