---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/non-existent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ca2215fe-ef0f-4da6-896a-a5c19ebf2d48
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248591'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BB7D4D6EFC8274E3759D098B5868703E33E02481C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''non-existent''","correlationId":"ca2215fe-ef0f-4da6-896a-a5c19ebf2d48","propertiesErrorCode":"PROPERTY_NOT_FOUND"}'
  recorded_at: Mon, 08 Aug 2022 14:49:00 GMT
recorded_with: VCR 6.0.0
