---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/groups/named/ff_group1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b6b44f2d-5604-41b9-ac82-e2ecbe63c6c4
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248573'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B3ACD07EE4BF6392049FB32E71ED107E56A56891E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''ff_group1''.","correlationId":"b6b44f2d-5604-41b9-ac82-e2ecbe63c6c4","groupsErrorCode":"GROUP_NOT_FOUND"}'
  recorded_at: Mon, 08 Aug 2022 14:49:09 GMT
recorded_with: VCR 6.0.0
