---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/non-existent?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5522c49c-8f04-480e-88d7-c7b7427f07f5
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498660'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '125'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BF548684A1FE0C9AE28DED136142069A195155860000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''non-existent''","correlationId":"5522c49c-8f04-480e-88d7-c7b7427f07f5","propertiesErrorCode":"PROPERTY_NOT_FOUND"}'
  recorded_at: Wed, 22 Jun 2022 08:47:32 GMT
recorded_with: VCR 6.1.0
