---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/groups/named/ff_group1?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5ebe40b4-5c4d-4bac-a769-2407269547ba
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498642'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '113'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B373F1E2705430746D1E41EEBABA6BE06BB6CD44A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''ff_group1''.","correlationId":"5ebe40b4-5c4d-4bac-a769-2407269547ba","groupsErrorCode":"GROUP_NOT_FOUND"}'
  recorded_at: Wed, 22 Jun 2022 08:47:36 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/groups/named/ff_group1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 68272659-8ab8-46c6-ad9a-286d87a535a6
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249922'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BE59CDA4593722F3695C7B0D604A6E3A5D28D186A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''ff_group1''.","correlationId":"68272659-8ab8-46c6-ad9a-286d87a535a6","groupsErrorCode":"GROUP_NOT_FOUND"}'
  recorded_at: Tue, 02 Aug 2022 14:50:57 GMT
recorded_with: VCR 6.0.0
