---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/companies/properties?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"instagram_handle","groupName":"socialmediainformation","description":"The
        company''s Instagram handle.","fieldType":"text","type":"string","label":"Instagram
        Handle","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8206fc27-634f-4823-868a-c7f51494901a
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498672'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B49E19ABEE9DB7A62885FFF9B350C2A6656B8B9D5000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"instagram_handle","label":"Instagram Handle","description":"The
        company''s Instagram handle.","groupName":"socialmediainformation","type":"string","fieldType":"text","fieldLevelPermission":null,"deleted":false,"updatedAt":1655887648792,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":null,"createdAt":1655456763755,"referencedObjectType":null,"formField":false,"displayOrder":-1,"readOnlyValue":false,"readOnlyDefinition":false,"hidden":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"externalOptionsReferenceType":null,"optionSortStrategy":null,"createdUserId":null,"searchableInGlobalSearch":false,"hasUniqueValue":false,"numberDisplayHint":null,"textDisplayHint":null,"optionsAreMutable":null,"searchTextAnalysisMode":null,"currencyPropertyName":null,"isCustomizedDefault":false,"options":[],"updatedUserId":null}'
  recorded_at: Wed, 22 Jun 2022 08:47:28 GMT
[...]
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/fax_number?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 38357398-8de1-4892-9e2e-597603b47b4c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498669'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B22674B04A500E5E06182258BDE0038889BBC05CE000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:47:29 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/instagram_handle?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - bf1a33b3-caa9-4de3-835e-5613b7b53159
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498668'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '121'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B1E777BCD246C62A3B968903FEEEC6DBA2F246DE6000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:47:29 GMT
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/companies/properties
    body:
      encoding: UTF-8
      string: '{"name":"instagram_handle","groupName":"socialmediainformation","description":"The
        company''s Instagram handle.","fieldType":"text","type":"string","label":"Instagram
        Handle","options":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 53d061a4-cb5d-4bb3-a3de-18dfab8679ad
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249952'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
[...]
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/fax_number
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 5b2b14a2-75a8-4adc-bcd5-e44217312273
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249949'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '87'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B77F3F9DEF6B807629F432EDD0C965F90E1802939000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Aug 2022 14:50:44 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/instagram_handle
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 68fc3b0d-5075-4331-891c-2e7d4e106f48
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249948'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '86'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B85AFF3FD328C98206DCD03ECF81E99A689F201A9000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Aug 2022 14:50:44 GMT
recorded_with: VCR 6.0.0
