---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/domain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f0de7a0a-dd04-4f8c-96ef-8a570a52f93c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499981'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BAD7370381E7ECE3A6DB247B2FF1485835AC45FBD000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"domain","label":"Company Domain Name","description":"The domain
        name of the company or organization","groupName":"companyinformation","type":"string","fieldType":"text","fieldLevelPermission":null,"hidden":false,"readOnlyDefinition":true,"formField":true,"displayOrder":9,"readOnlyValue":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"numberDisplayHint":null,"textDisplayHint":"domain_name","referencedObjectType":null,"deleted":null,"updatedAt":1653691894844,"externalOptionsReferenceType":null,"optionSortStrategy":null,"createdAt":1565059304024,"isCustomizedDefault":false,"optionsAreMutable":null,"searchTextAnalysisMode":null,"currencyPropertyName":null,"updatedUserId":null,"options":[],"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":true,"createdUserId":null,"searchableInGlobalSearch":false,"hasUniqueValue":false}'
  recorded_at: Mon, 05 Sep 2022 09:31:04 GMT
recorded_with: VCR 6.1.0
