---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/companies/groups/named/companyinformation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1e574e74-5a3c-4df3-9c69-6cfb58458c18
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499979'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B3C57BAFA0B17129FF36E2FE9E9A2935BDF45A701000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"companyinformation","fulcrumPortalId":0,"fulcrumTimestamp":0,"displayName":"Company
        information","displayOrder":1,"hubspotDefined":true}'
  recorded_at: Mon, 05 Sep 2022 09:31:44 GMT
recorded_with: VCR 6.1.0
