---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/companies/properties?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"instagram_handle","groupName":"socialmediainformation","description":"The
        company''s Instagram handle.","fieldType":"text","type":"string","label":"Instagram
        Handle","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a94ed881-3adf-4f47-94f9-0c5272805c0f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499040'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '130'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BBB93E789B37DAAA0E122F970B7087714C1D7EB86000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"instagram_handle","label":"Instagram Handle","description":"The
        company''s Instagram handle.","groupName":"socialmediainformation","type":"string","fieldType":"text","fieldLevelPermission":null,"options":[],"deleted":false,"updatedAt":1655817989960,"createdAt":1655456763755,"referencedObjectType":null,"externalOptionsReferenceType":null,"optionSortStrategy":null,"createdUserId":null,"searchableInGlobalSearch":false,"hasUniqueValue":false,"numberDisplayHint":null,"currencyPropertyName":null,"isCustomizedDefault":false,"updatedUserId":null,"textDisplayHint":null,"optionsAreMutable":null,"searchTextAnalysisMode":null,"hidden":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":null,"readOnlyDefinition":false,"formField":false,"displayOrder":-1,"readOnlyValue":false}'
  recorded_at: Tue, 21 Jun 2022 13:26:30 GMT
[...]
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/instagram_handle?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 7d407bbd-bc15-41e3-8184-5c53c99e77e6
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499037'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '132'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B0F12514E3A3162FCB29504D83257608A021CE89B000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:26:31 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/fax_number?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 8244bc57-fad8-43a1-9a42-56e721b3622c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499036'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '131'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B6B89ECBF9B2270A98D887114FE07B177CE61DE81000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:26:31 GMT
recorded_with: VCR 6.1.0
