---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/companies/properties/named/this_does_not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 33c1bfb3-30b6-4b36-b8ce-b7c9100e25a4
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499980'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BF7A4F51547C2532005087374CFB6C6E5DCEEF96B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''this_does_not_exist''","correlationId":"33c1bfb3-30b6-4b36-b8ce-b7c9100e25a4","propertiesErrorCode":"PROPERTY_NOT_FOUND"}'
  recorded_at: Mon, 05 Sep 2022 09:31:04 GMT
recorded_with: VCR 6.1.0
