---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/companies/groups/named/this_does_not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2fc682d7-69b4-49c4-8ba6-452d3472c51c
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499978'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B084408627831E8C860E7A6FE944A68F81234BC28000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''this_does_not_exist''.","correlationId":"2fc682d7-69b4-49c4-8ba6-452d3472c51c","groupsErrorCode":"GROUP_NOT_FOUND"}'
  recorded_at: Mon, 05 Sep 2022 09:31:44 GMT
recorded_with: VCR 6.1.0
