---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/properties/v1/companies/groups/named/ff_group1?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"ff_group1","displayName":"Test Group OneA","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3fbdd027-129d-4868-92a4-174a7c44edb3
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499007'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B88B70D0F9B15F8FFC1C0186BDE06398A9FD642B0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ff_group1","displayName":"Test Group OneA","displayOrder":100,"hubspotDefined":false}'
  recorded_at: Tue, 21 Jun 2022 13:26:42 GMT
recorded_with: VCR 6.1.0
