---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/properties/v1/companies/groups/named/ff_group1
    body:
      encoding: UTF-8
      string: '{"name":"ff_group1","displayName":"Test Group OneA","displayOrder":100}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5174d04b-1124-4541-b46b-87e76f9e0057
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248575'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B117B566A04085FAF5BC1C7D7602E122FE78B8CA6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ff_group1","displayName":"Test Group OneA","displayOrder":100,"hubspotDefined":false}'
  recorded_at: Mon, 08 Aug 2022 14:49:08 GMT
recorded_with: VCR 6.0.0
