---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/pipelines?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"label":"New Pipeline 346fe2e53749200340df42f15f750d1f"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Api-Deprecated:
      - 'This endpoint is deprecated. See more details here: https://developers.hubspot.com/docs/faq/deprecated-apis'
      X-Hubspot-Correlation-Id:
      - 3ded0bd0-2c55-4fb2-80f3-2fb2285fdd5f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498364'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '138'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B5854ACA535D1547BABCA054F25A667C78D2EB9EA000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"pipelineId":"14012bf7-5df5-44be-bfc9-e4cab8cd4087","stages":[{"stageId":"26547219","label":"Appointment
        Scheduled","probability":0.2,"active":true,"displayOrder":0,"closedWon":false},{"stageId":"26547220","label":"Qualified
        To Buy","probability":0.4,"active":true,"displayOrder":1,"closedWon":false},{"stageId":"26547221","label":"Presentation
        Scheduled","probability":0.6,"active":true,"displayOrder":2,"closedWon":false},{"stageId":"26547222","label":"Decision
        Maker Bought-In","probability":0.8,"active":true,"displayOrder":3,"closedWon":false},{"stageId":"26547223","label":"Contract
        Sent","probability":0.9,"active":true,"displayOrder":4,"closedWon":false},{"stageId":"26547224","label":"Closed
        Won","probability":1.0,"active":true,"displayOrder":5,"closedWon":true},{"stageId":"26547225","label":"Closed
        Lost","probability":0.0,"active":true,"displayOrder":6,"closedWon":false}],"label":"New
        Pipeline 346fe2e53749200340df42f15f750d1f","active":true,"displayOrder":0,"staticDefault":false}'
  recorded_at: Wed, 22 Jun 2022 08:49:23 GMT
[...]
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/pipelines/14012bf7-5df5-44be-bfc9-e4cab8cd4087?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Api-Deprecated:
      - 'This endpoint is deprecated. See more details here: https://developers.hubspot.com/docs/faq/deprecated-apis'
      X-Hubspot-Correlation-Id:
      - caad3eac-e548-4133-a8d1-a15b5018110f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498362'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '136'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BF9A64D2BE94E5D79EF266699C49A7A869837D9CA42D4F94A64358C6501
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:49:23 GMT
recorded_with: VCR 6.1.0
