---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blogs?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 989e3dac-6b37-4fcc-b0e5-e6b010a9eca8
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994145'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '198'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '19'
      X-Trace:
      - 2BC62A11BD8E8BC592ED9C27565F6D7E46EDC4664B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":10500366470,"portal_id":62515,"site_id":null,"name":"Example
        blog","category_id":3,"deleted_at":0,"created":1560548984320,"created_date_time":1560548984320,"updated":1565896194218,"updated_date_time":1565896194218,"language":"id","translated_from_id":null,"domain":"","resolved_domain":"demo-hubapi.hs-sites.com","state":null,"absolute_url":"http://demo-hubapi.hs-sites.com/example-blog","live_domain":"demo-hubapi.hs-sites.com","translations":{},"business_unit_id":0,"cos_object_type":"BLOG","public_access_rules_enabled":false,"public_access_rules":[{"type":"LIST_MEMBERSHIP","ids":[]}],"settings_overrides":{"commentShouldCreateContact":false,"allowComments":false,"showSocialLinkLinkedin":false,"useFeaturedImageInSummary":false,"enableGoogleAmpOutput":false,"commentVerificationText":false,"itemTemplatePath":false,"ampHeaderColor":false,"showSummaryInEmails":false,"ampHeaderBackgroundColor":false,"ampHeaderFontSize":false,"generateJsonLdEnabled":false,"commentModeration":false,"closeCommentsOlder":false,"htmlFooter":false,"ampHeaderFont":false,"postHtmlFooter":false,"commentNotificationEmails":false,"ampLinkColor":false,"listingTemplatePath":false,"ampLogoSrc":false,"commentMaxThreadDepth":false,"socialAccountTwitter":false,"itemTemplateIsShared":false,"postsPerListingPage":false,"htmlHeadIsShared":false,"showSocialLinkFacebook":false,"postHtmlHead":false,"listingPageHtmlFooter":false,"ampBodyColor":false,"listingLayoutId":false,"ampBodyFont":false,"attachedStylesheets":false,"htmlFooterIsShared":false,"ampLogoWidth":false,"ampLogoAlt":false,"showSocialLinkTwitter":false,"ampBodyFontSize":false,"showSummaryInRss":false,"itemLayoutId":false,"showSummaryInListing":false,"htmlHead":false,"postsPerRssFeed":false,"showSummariesInEmails":false,"ampLogoHeight":false},"domain_when_published":"demo-hubapi.hs-sites.com","comment_should_create_contact":false,"parent_blog_update_task_id":null,"root_url":"http://demo-hubapi.hs-sites.com/example-blog","description":"","label":"Example
        blog","attached_stylesheets":[],"slug":"example-blog","url_segments":{"author":"author","archive":"archive","tag":"tag","page":"page","all":"all"},"analytics_page_id":10500366470,"public_title":"Example
        blog","html_title":"","html_head":"","html_head_is_shared":true,"post_html_head":"","html_footer":"","html_footer_is_shared":true,"post_html_footer":"","html_keywords":[],"posts_per_listing_page":10,"posts_per_rss_feed":10,"allow_comments":false,"close_comments_older":0,"comment_moderation":false,"comment_notification_emails":[],"show_summary_in_emails":true,"use_featured_image_in_summary":true,"legacy_tab_id":null,"date_formatting_language":null,"comment_verification_text":"","captcha_always":false,"captcha_after_days":7,"item_layout_id":10498049828,"item_template_path":"generated_layouts/10498049828.html","listing_layout_id":10498049828,"listing_template_path":"generated_layouts/10498049828.html","item_template_is_shared":true,"uses_default_template":false,"default_group_style_id":"","show_summary_in_listing":true,"show_summary_in_rss":true,"show_social_link_twitter":true,"show_social_link_facebook":true,"show_social_link_linkedin":true,"default_notification_reply_to":"","default_notification_from_name":"","subscription_contacts_property":"blog_example_blog_10500366470_subscription","subscription_lists_by_type":{},"subscription_form_guid":"233bb53d-071f-4d39-8859-f041855bbbd4","subscription_email_type":null,"email_api_subscription_id":6914043,"instant_notification_email_id":null,"daily_notification_email_id":null,"weekly_notification_email_id":null,"monthly_notification_email_id":null,"enable_social_auto_publishing":false,"enable_google_amp_output":true,"social_account_twitter":"","publish_date_format":"medium","comment_form_guid":"94cd91d1-babb-4646-9afc-512d3b997f83","comment_date_format":"medium","comment_max_thread_depth":1,"month_filter_format":"MMMM
        yyyy","rss_custom_feed":null,"rss_description":null,"rss_item_header":null,"rss_item_footer":null,"legacy_module_id":null,"legacy_guid":null,"amp_header_color":"#1e1e1e","amp_header_background_color":"#ffffff","amp_body_color":"#404040","amp_link_color":"#416bb3","amp_header_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_header_font_size":"36","amp_body_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_body_font_size":"18","amp_logo_src":"","amp_logo_alt":"","amp_logo_height":0,"amp_logo_width":0,"amp_custom_css":"","generate_json_ld_enabled":false,"url_base":"demo-hubapi.hs-sites.com/example-blog","header":null,"title":null,"cdn_purge_embargo_time":null,"audience_access":"PUBLIC"}],"total":1,"limit":20,"offset":0}'
  recorded_at: Wed, 10 Oct 2012 00:00:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blogs/10500366470?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 333dfb79-f3ee-4c6d-8bce-c87aeb8e64d2
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994144'
      X-Hubs[...]
