---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 537e1064-10dc-4729-b99e-17b9f20a2ae7
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248624'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B2B704C4D82C724A1F01ABB687B828950723C8711000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":68499289253,"portal_id":<PORTAL_ID>,"site_id":null,"name":"test
        blog pliz ignore","category_id":3,"deleted_at":0,"created":1647277919496,"created_date_time":1647277919496,"updated":1647277919497,"updated_date_time":1647277919497,"language":"fr","translated_from_id":null,"domain":"","resolved_domain":"hubspot-developers-17geepl-<PORTAL_ID>.hs-sites.com","state":null,"absolute_url":"http://hubspot-developers-17geepl-<PORTAL_ID>.hs-sites.com","live_domain":"hubspot-developers-17geepl-<PORTAL_ID>.hs-sites.com","translations":{},"business_unit_id":0,"cos_object_type":"BLOG","public_access_rules_enabled":false,"public_access_rules":[],"settings_overrides":{"useFeaturedImageInSummary":false,"ampHeaderColor":false,"htmlHead":false,"ampLogoSrc":false,"socialAccountTwitter":false,"htmlHeadIsShared":false,"showSummaryInRss":false,"itemLayoutId":false,"showSocialLinkLinkedin":false,"showSummaryInEmails":false,"allowComments":false,"postHtmlHead":false,"commentVerificationText":false,"commentNotificationEmails":false,"ampLogoWidth":false,"ampHeaderFontSize":false,"ampHeaderBackgroundColor":false,"postsPerRssFeed":false,"commentMaxThreadDepth":false,"showSocialLinkFacebook":false,"ampLogoHeight":false,"htmlFooter":false,"showSocialLinkTwitter":false,"ampLogoAlt":false,"ampHeaderFont":false,"listingTemplatePath":false,"itemTemplatePath":false,"ampBodyColor":false,"commentShouldCreateContact":false,"ampLinkColor":false,"commentModeration":false,"generateJsonLdEnabled":false,"showSummaryInListing":false,"ampBodyFontSize":false,"closeCommentsOlder":false,"ampBodyFont":false,"postHtmlFooter":false,"showSummariesInEmails":false,"htmlFooterIsShared":false,"listingLayoutId":false,"enableGoogleAmpOutput":false,"itemTemplateIsShared":false,"listingPageHtmlFooter":false,"attachedStylesheets":false,"postsPerListingPage":false},"domain_when_published":"hubspot-developers-17geepl-<PORTAL_ID>.hs-sites.com","comment_should_create_contact":false,"parent_blog_update_task_id":null,"root_url":"http://hubspot-developers-17geepl-<PORTAL_ID>.hs-sites.com","attached_stylesheets":[],"html_title":"test
        blog pliz ignore","legacy_tab_id":null,"slug":"","date_formatting_language":null,"url_segments":{"author":"author","page":"page","archive":"archive","all":"all","tag":"tag"},"analytics_page_id":68499289253,"public_title":"test
        blog pliz ignore","html_head":"","html_head_is_shared":true,"post_html_head":"","html_footer":"","html_footer_is_shared":true,"post_html_footer":"","html_keywords":[],"show_summary_in_emails":true,"use_featured_image_in_summary":true,"posts_per_listing_page":10,"posts_per_rss_feed":10,"allow_comments":true,"close_comments_older":0,"comment_moderation":false,"comment_notification_emails":[],"comment_verification_text":"","captcha_always":false,"captcha_after_days":7,"item_layout_id":null,"item_template_path":"captain-cms/templates/blog-post.html","listing_layout_id":null,"listing_template_path":"","item_template_is_shared":false,"uses_default_template":false,"default_group_style_id":"","show_summary_in_listing":true,"show_summary_in_rss":true,"show_social_link_twitter":true,"show_social_link_facebook":true,"show_social_link_linkedin":true,"default_notification_reply_to":"","default_notification_from_name":"","subscription_contacts_property":null,"subscription_lists_by_type":{},"subscription_form_guid":null,"subscription_email_type":null,"email_api_subscription_id":null,"instant_notification_email_id":null,"daily_notification_email_id":null,"weekly_notification_email_id":null,"monthly_notification_email_id":null,"enable_social_auto_publishing":false,"enable_google_amp_output":true,"social_account_twitter":"","publish_date_format":"medium","comment_form_guid":"dc306c32-fe6a-43fc-a656-a840647efa7e","comment_date_format":"medium","comment_max_thread_depth":1,"month_filter_format":"MMMM
        yyyy","rss_custom_feed":null,"rss_description":null,"rss_item_header":null,"rss_item_footer":null,"legacy_module_id":null,"legacy_guid":null,"amp_header_color":"#1e1e1e","amp_header_background_color":"#ffffff","amp_body_color":"#404040","amp_link_color":"#416bb3","amp_header_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_header_font_size":"36","amp_body_font":"''Helvetica
        Neue'', Helvetica, Arial, sans-serif","amp_body_font_size":"18","amp_logo_src":"","amp_logo_alt":"","amp_logo_height":0,"amp_logo_width":0,"amp_custom_css":"","generate_json_ld_enabled":false,"url_base":"hubspot-developers-17geepl-<PORTAL_ID>.hs-sites.com","header":null,"description":"test
        blog pliz ignore","label":"test blog pliz ignore","title":null,"cdn_purge_embargo_time":null,"audience_access":"PUBLIC"}],"total":1,"limit":20,"offset":0}'
  recorded_at: Wed, 10 Oct 2012 00:00:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/content/api/v2/blogs/68499289253
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6072922b-4674-4fe5-9cd0-d85bf6758b03
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Rem[...]
