---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/lists
    body:
      encoding: UTF-8
      string: '{"name":"static list 4bc53e5ae19c4295f276d105ab461e72","objectTypeId":"0-1","processingType":"MANUAL"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db07f-8f8c-7bc8-b10a-7f6d55ce1cda'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248432'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '86'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"list":{"listId":"588","listVersion":1,"createdAt":"2026-04-21T14:44:03.234Z","updatedAt":"2026-04-21T14:44:03.234Z","filtersUpdatedAt":"2026-04-21T14:44:03.234Z","processingStatus":"COMPLETE","createdById":"5555888","updatedById":"5555888","processingType":"MANUAL","objectTypeId":"0-1","name":"static
        list 4bc53e5ae19c4295f276d105ab461e72","listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}}}'
  recorded_at: Tue, 21 Apr 2026 14:44:03 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm/v3/lists/588/update-list-name?listName=updated%20list%20name
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db07f-91f4-7624-a5bf-a4e7dbb191a9'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248431'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '85'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"updatedList":{"listId":"588","listVersion":1,"createdAt":"2026-04-21T14:44:03.234Z","updatedAt":"2026-04-21T14:44:03.234Z","filtersUpdatedAt":"2026-04-21T14:44:03.234Z","processingStatus":"COMPLETE","createdById":"5555888","updatedById":"5555888","processingType":"MANUAL","objectTypeId":"0-1","name":"updated
        list name","listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}}}'
  recorded_at: Tue, 21 Apr 2026 14:44:03 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/crm/v3/lists/588
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - '019db07f-93a0-7316-bdbf-923d273ffd35'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248430'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '85'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Apr 2026 14:44:04 GMT
recorded_with: VCR 6.4.0
