---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists
    body:
      encoding: UTF-8
      string: '{"name":"f47485e324e0b668b863e0dcb7ac839a","dynamic":false,"portal_id":null}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fa86dea7-52a7-40cd-b433-3fa0403e390f
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248415'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BA3E7755D05E60215521C705426489E9A0EAE4D07000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":459,"internalListId":459,"createdAt":1659970218301,"updatedAt":1659970218301,"name":"f47485e324e0b668b863e0dcb7ac839a","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1659970218301,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Mon, 08 Aug 2022 14:50:18 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/batch?listId=461
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 56845012-80ba-4253-aee6-f8ea23380c9b
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248412'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BB0F283DFE338BCAD08F9A46DD8BBF3BAA2344CAB000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"offset":3,"lists":[{"portalId":<PORTAL_ID>,"listId":459,"internalListId":459,"createdAt":1659970218301,"updatedAt":1659970218301,"name":"f47485e324e0b668b863e0dcb7ac839a","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1659970218595,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false},{"portalId":<PORTAL_ID>,"listId":460,"internalListId":460,"createdAt":1659970218934,"updatedAt":1659970218934,"name":"483fa43dd64fa14128ba15d899ac2a87","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1659970219182,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false},{"portalId":<PORTAL_ID>,"listId":461,"internalListId":461,"createdAt":1659970219467,"updatedAt":1659970219467,"name":"fe1647269bb5164106ff7d8ade49e471","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1659970219656,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}],"has-more":false}'
  recorded_at: Mon, 08 Aug 2022 14:50:19 GMT
recorded_with: VCR 6.0.0
