---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/testingapis@hubspot.com/profile?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 64118a2a-a45e-4ff5-b6e1-d6ca8cf561fe
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994126'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '199'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '19'
      X-Trace:
      - 2BE9CC77FDB0FCAC147B4DDFD833E483BFB379EFBA000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":12676274,"canonical-vid":12676274,"merged-vids":[],"portal-id":62515,"is-contact":true,"properties":{"hs_analytics_last_url":{"value":"https://share.hsforms.com/1A46BnFJiTBOFUIyr44xDCQ1c8j","versions":[{"value":"https://share.hsforms.com/1A46BnFJiTBOFUIyr44xDCQ1c8j","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1629436821998,"selected":false}]},"hapikey":{"value":"60d69bec-8ef0-47b1-8b94-78e083847fa4","versions":[{"value":"60d69bec-8ef0-47b1-8b94-78e083847fa4","source-type":"ANALYTICS","source-id":"e9f3693d-171c-3bb5-95c8-76ac6d90b116","source-label":null,"updated-by-user-id":null,"timestamp":1648117670665,"selected":false}]},"num_unique_conversion_events":{"value":"1","versions":[{"value":"1","source-type":"MIGRATION","source-id":"BackfillReadtimeCalculatedPropertiesJob","source-label":null,"updated-by-user-id":null,"timestamp":1629464425798,"selected":false}]},"hs_latest_source":{"value":"DIRECT_TRAFFIC","versions":[{"value":"DIRECT_TRAFFIC","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1633026467758,"selected":false}]},"hs_analytics_revenue":{"value":"0.0","versions":[{"value":"0.0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1611076517247,"selected":false}]},"createdate":{"value":"1611076514122","versions":[{"value":"1611076514122","source-type":"ANALYTICS","source-id":"","source-label":null,"updated-by-user-id":null,"timestamp":1611076514122,"selected":false}]},"hs_email_optout":{"value":"true","versions":[{"value":"true","source-type":"EMAIL","source-id":"Updated
        in response to a contact being created.","source-label":"testingapis@hubspot.com","updated-by-user-id":null,"timestamp":1611076514122,"selected":false}]},"recent_conversion_event_name":{"value":"Example
        form with file upload","versions":[{"value":"Example form with file upload","source-type":"MIGRATION","source-id":"BackfillReadtimeCalculatedPropertiesJob","source-label":null,"updated-by-user-id":null,"timestamp":1629464425798,"selected":false}]},"hs_analytics_num_page_views":{"value":"2","versions":[{"value":"2","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1629436966099,"selected":false},{"value":"1","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1629436821998,"selected":false},{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1611076517247,"selected":false}]},"hs_latest_source_timestamp":{"value":"1629436745541","versions":[{"value":"1629436745541","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1648769524636,"selected":false}]},"hubspotscore":{"value":"0","versions":[{"value":"0","source-type":"WAL_INCREMENTAL","source-id":"csrsu-kafka@v1522746307447","source-label":null,"updated-by-user-id":null,"timestamp":1611076525086,"selected":false}]},"hs_timezone":{"value":"asia_slash_kolkata","versions":[{"value":"asia_slash_kolkata","source-type":"MIGRATION","source-id":"BackfillContactTimeZone","source-label":null,"updated-by-user-id":null,"timestamp":1637132664135,"selected":false}]},"hs_ip_timezone":{"value":"asia_slash_kolkata","versions":[{"value":"asia_slash_kolkata","source-type":"HEISENBERG","source-id":"FORM_SUBMISSION
        (9bc61b6d-0ba8-48d6-b375-70f6bdcf9272)","source-label":null,"updated-by-user-id":null,"timestamp":1629436819130,"selected":false}]},"upload_a_file":{"value":"https://api.hubspot.com/form-integrations/v1/uploaded-files/signed-url-redirect/53292806069?portalId=62515&sign=OXEAPxcovvt7FekiHyNgPd0ggyM%3D&conversionId=05863605-74c7-4c10-bac1-697a8f5e825e&filename=05863605-74c7-4c10-bac1-697a8f5e825e-upload_a_file-xss.svg","versions":[{"value":"https://api.hubspot.com/form-integrations/v1/uploaded-files/signed-url-redirect/53292806069?portalId=62515&sign=OXEAPxcovvt7FekiHyNgPd0ggyM%3D&conversionId=05863605-74c7-4c10-bac1-697a8f5e825e&filename=0586[...]
