---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/453/contacts/all?property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5f5d959f-d2c2-4105-8fca-ebc6e3c3e210
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248444'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B1E6741DEA972FC66DF1E72534CD31B5D78A72969000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"addedAt":1659970184737,"vid":21702,"canonical-vid":21702,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"lastmodifieddate":{"value":"1659970185082"},"email":{"value":"b8fd8e1e904aa2bb01e033f83735851a@hubspot.com"}},"form-submissions":[],"identity-profiles":[{"vid":21702,"saved-at-timestamp":1659970184081,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"b8fd8e1e904aa2bb01e033f83735851a@hubspot.com","timestamp":1659970184071,"is-primary":true},{"type":"LEAD_GUID","value":"0db8c979-a357-4d98-bfa4-a5107948a72c","timestamp":1659970184080}]}],"merge-audits":[]},{"addedAt":1659970195922,"vid":21703,"canonical-vid":21703,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"lastmodifieddate":{"value":"1659970195525"},"email":{"value":"fc92bc2ddcbe990886085a9f94aa21be@hubspot.com"}},"form-submissions":[],"identity-profiles":[{"vid":21703,"saved-at-timestamp":1659970194993,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"fc92bc2ddcbe990886085a9f94aa21be@hubspot.com","timestamp":1659970194983,"is-primary":true},{"[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/453/contacts/all?count=4&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 67d87030-5a02-4b66-8fbd-ea09536a7655
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hu[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/453
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b77030af-caa5-4a90-98bc-7a0692ee4568
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248439'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BE98318B6BBF28E929B89E1AF38605409B96BFB68000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":453,"internalListId":453,"createdAt":1659970180476,"updatedAt":1659970180476,"name":"contacts
        list d4e005db32b9e5102a2e397ddb53ee71","listType":"STATIC","authorId":3326038,"parentId":0,"filters":[],"metaData":{"size":25,"lastSizeChangeAt":1659970205988,"processing":"DONE","lastProcessingStateChangeAt":1659970180662,"error":"","listReferencesCount":null,"parentFolderId":0},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Mon, 08 Aug 2022 14:50:08 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/453/contacts/all?count=2&offset=2&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2ba6e109-9806-4384-ab4b-e3c3126a23f9
      X-Hubspot-Ratelimit-Daily:
      - '250000'
 [...]
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/lists/307/contacts/all?property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      X-Hubspot-Correlation-Id:
      - '019daf7e-7ca1-7a02-bccb-1389ae0f82fd'
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Resource not found</p>
        </body>
        </html>
  recorded_at: Tue, 21 Apr 2026 10:03:15 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/lists/313/memberships?limit=25&offset=&offset_param=after
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019daf94-b947-7234-b2dc-97ec7effeabf'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249796'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '98'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"membershipTimestamp":"2026-04-21T10:27:32.255Z","recordId":"216872874927"},{"membershipTimestamp":"2026-04-21T10:27:32.255Z","recordId":"216873646717"},{"membershipTimestamp":"2026-04-21T10:27:32.255Z","recordId":"216873646734"},{"membershipTimestamp":"2026-04-21T10:27:32.255Z","recordId":"216874467191"},{"membershipTimestamp":"2026-04-21T10:27:32.255Z","recordId":"216874729394"},{"membershipTimestamp":"2026-04-21T10:27:32.255Z","recordId":"216874767896"},{"membershipTimestamp":"2026-04-21T10:27:32.255Z","recordId":"216875049083"},{"membershipTimestamp"[...]
[...]
