---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/124897?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 253a7cc0-59d3-49d9-b693-8f998e7b4f3e
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994134'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '199'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '19'
      X-Trace:
      - 2B9777778A7DEAE9E95D42597176594FB90A8E07F3000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":62515,"listId":124897,"internalListId":524091,"createdAt":1441960245097,"updatedAt":1441960245097,"name":"Marketing
        John Persona - MQLs","listType":"DYNAMIC","authorId":215482,"parentId":0,"filters":[[{"withinTimeMode":"PAST","operator":"SET_ANY","type":"enumeration","property":"hs_persona","value":"persona_10"},{"withinTimeMode":"PAST","operator":"SET_ANY","type":"enumeration","property":"lifecyclestage","value":"marketingqualifiedlead"}]],"metaData":{"size":0,"lastSizeChangeAt":1608743267834,"processing":"DONE","lastProcessingStateChangeAt":1608743267764,"error":"","listReferencesCount":null,"parentFolderId":0},"archived":false,"teamIds":[],"deleteable":false,"dynamic":true,"readOnly":true}'
  recorded_at: Wed, 22 Jun 2022 08:47:53 GMT
recorded_with: VCR 6.1.0
