---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/lists/
    body:
      encoding: UTF-8
      string: '{"name":"updated list name"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019daf73-348b-70a6-8797-efcca86f0be5'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249890'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '89'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Invalid input JSON on line 1, column 28.
        Some required fields were not set: [objectTypeId, processingType]","correlationId":"019daf73-348b-70a6-8797-efcca86f0be5","category":"VALIDATION_ERROR"}'
  recorded_at: Tue, 21 Apr 2026 09:50:56 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm/v3/lists/
    body:
      encoding: UTF-8
      string: '{"name":"updated list name"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Allow:
      - POST,GET,OPTIONS
      X-Hubspot-Correlation-Id:
      - '019daf79-bf94-7f96-836a-9b16320a5440'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Apr 2026 09:58:05 GMT
[...]
- request:
    method: put
    uri: https://api.hubapi.com/crm/v3/lists/301
    body:
      encoding: UTF-8
      string: '{"name":"updated list name"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Allow:
      - DELETE,GET,OPTIONS
      X-Hubspot-Correlation-Id:
      - '019dafc5-cfde-77a2-acd0-328b071c1fb6'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Apr 2026 11:21:09 GMT
[...]
- request:
    method: put
    uri: https://api.hubapi.com/crm/v3/lists/551/update-list-name
    body:
      encoding: UTF-8
      string: '{"listName":"updated list name"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db05d-fcb2-7d58-907f-4b7ea46be3eb'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248530'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '98'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"There was a problem with the request.","correlationId":"019db05d-fcb2-7d58-907f-4b7ea46be3eb"}'
  recorded_at: Tue, 21 Apr 2026 14:07:22 GMT
[...]
- request:
    method: put
    uri: https://api.hubapi.com/crm/v3/lists/553/update-list-name?listName=updated%20list%20name
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db05e-6d0b-7b6c-8171-baf250a44f9f'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248524'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '98'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"updatedList":{"listId":"553","listVersion":1,"createdAt":"2026-04-21T14:07:51.043Z","updatedAt":"2026-04-21T14:07:51.043Z","filtersUpdatedAt":"2026-04-21T14:07:51.043Z","processingStatus":"COMPLETE","createdById":"5555888","updatedById":"5555888","processingType":"MANUAL","objectTypeId":"0-1","name":"updated
        list name","listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}}}'
  recorded_at: Tue, 21 Apr 2026 14:07:51 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/lists
    body:
      encoding: UTF-8
      string: '{"name":"static list 57c8368bf8ac60df7023013a156f0672","objectTypeId":"0-1","processingType":"MANUAL"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db072-9269-7e23-afdf-ea66861b4ccb'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248465'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '85'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"list":{"listId":"576","listVersion":1,"createdAt":"2026-04-21T14:29:51.926Z","updatedAt":"2026-04-21T14:29:51.926Z","filtersUpdatedAt":"2026-04-21T14:29:51.926Z","processingStatus":"COMPLETE","createdById":"5555888","updatedById":"5555888","processingType":"MANUAL","objectTypeId":"0-1","name":"static
        list 57c8368bf8ac60df7023013a156f0672","listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}}}'
  recorded_at: Tue, 21 Apr 2026 14:29:52 GMT
[...]
- request:
    method: delete
    uri: https://api.hubapi.com/crm/v3/lists/577
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - '019db072-9bff-7f15-a716-a9850a0a67a7'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248460'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Apr 2026 14:29:54 GMT
recorded_with: VCR 6.4.0
