---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?count=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db071-f995-7e3c-b272-cb0579e8b997'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249062'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '96'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"offset":4,"total":null,"lists":[{"portalId":<PORTAL_ID>,"listId":1,"createdAt":1659451892920,"updatedAt":1659451893026,"name":"contacts
        list 779f7e0e0f58b3a93c02deb9d3687bdc","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":1776772681301,"processing":"DONE","lastProcessingStateChangeAt":1659451893411,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"ilsFilterBranch":"","dynamic":false,"internal":false,"readOnly":false,"limitExempt":false},{"portalId":<PORTAL_ID>,"listId":2,"createdAt":1659451928287,"updatedAt":1659451928464,"name":"testing
        list 671124e4fb8270a236f1eb71396306dd","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":1659451928649,"processing":"DONE","lastProcessingStateChangeAt":1659451928710,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"ilsFilterBranch":"","dynamic":false,"internal":false,"readOnly":false,"limitExempt":false}],"has-more":true}'
  recorded_at: Tue, 21 Apr 2026 14:29:12 GMT
recorded_with: VCR 6.4.0
