---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"ebecbcc1cc7af2f6840817e0e28a204b","dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f5e00bfd-82a3-4fce-af47-01d2775c9a0d
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498816'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B1B389501AE240F9AB1B9435F2A364832CEF9571F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":1434,"internalListId":1434,"createdAt":1655818083994,"updatedAt":1655818083994,"name":"ebecbcc1cc7af2f6840817e0e28a204b","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655818083994,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Tue, 21 Jun 2022 13:28:04 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/batch?hapikey=<HAPI_KEY>&listId=1436
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b7b650fe-5670-40ac-93d0-dac5a1a1e78b
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498813'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '137'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BD54E972099AAA19E563631C1BAB067991122902A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"offset":3,"lists":[{"portalId":<PORTAL_ID>,"listId":1434,"internalListId":1434,"createdAt":1655818083994,"updatedAt":1655818083994,"name":"ebecbcc1cc7af2f6840817e0e28a204b","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655818084201,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false},{"portalId":<PORTAL_ID>,"listId":1435,"internalListId":1435,"createdAt":1655818084477,"updatedAt":1655818084477,"name":"7bc7cf6ef524809499317f8d436311bc","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655818084732,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false},{"portalId":<PORTAL_ID>,"listId":1436,"internalListId":1436,"createdAt":1655818084956,"updatedAt":1655818084956,"name":"4f4b2c474e56ded04574df40927aecf3","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655818085171,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}],"has-more":false}'
  recorded_at: Tue, 21 Jun 2022 13:28:05 GMT
recorded_with: VCR 6.1.0
