---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"static list 2bd85311db0a2bccb5d05e12e86940c8","dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f5086edc-d7bc-426e-bcf2-4dac6e99c547
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498792'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B2868E42012C545687E649DA82B12716E2D03B401000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":1442,"internalListId":1442,"createdAt":1655818094029,"updatedAt":1655818094029,"name":"static
        list 2bd85311db0a2bccb5d05e12e86940c8","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655818094029,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Tue, 21 Jun 2022 13:28:14 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v1/lists/1442?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - b28da085-e008-41d5-b61e-25f843fc9f84
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498791'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '127'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B33684833DE4FABB2D544682C10AE4992C5792C93000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:28:14 GMT
recorded_with: VCR 6.1.0
