---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/466
    body:
      encoding: UTF-8
      string: '{"name":"updated list name"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7458134e-a6a9-4ac3-9bd6-76417d9b3669
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248391'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B96F3276E123E93F62F7CB0986EB7C2A0BF9F7C84000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":466,"internalListId":466,"createdAt":1659970228889,"updatedAt":1659970229648,"name":"updated
        list name","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1659970229124,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Mon, 08 Aug 2022 14:50:30 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists
    body:
      encoding: UTF-8
      string: '{"name":"static list ef4db6d7f2e2167071a53b4f8fc5ab5e","dynamic":false,"portal_id":null}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 01a4f066-b602-43a8-ae36-f4fb10a319b1
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248389'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BDFE2D0886D6154EE6AEAB45BE2E672EAF1B3F43E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":467,"internalListId":467,"createdAt":1659970230864,"updatedAt":1659970230864,"name":"static
        list ef4db6d7f2e2167071a53b4f8fc5ab5e","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1659970230864,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Mon, 08 Aug 2022 14:50:31 GMT
[...]
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v1/lists/467
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 8ebc6162-82f8-4e35-84b4-71fc0dbb6892
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248387'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B098DB9BA7F1AF811334BA36D2D5DC1C1A40002D7000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2022 14:50:32 GMT
recorded_with: VCR 6.0.0
