---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/1380/contacts/all?hapikey=<HAPI_KEY>&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e11c674a-d68c-4614-88f6-8b586ec8e35f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498884'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BD7DFB21B4796EF315D9E7DC2FD05F572E0A0433E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"addedAt":1655818050107,"vid":47507,"canonical-vid":47507,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"lastmodifieddate":{"value":"1655818050615"},"email":{"value":"5547c3dd03f0fb481c3895acf293bbef@hubspot.com"}},"form-submissions":[],"identity-profiles":[{"vid":47507,"saved-at-timestamp":1655818049716,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"5547c3dd03f0fb481c3895acf293bbef@hubspot.com","timestamp":1655818049641,"is-primary":true},{"type":"LEAD_GUID","value":"e713aa5d-78f8-4e22-87a9-031d7df9e56c","timestamp":1655818049714}]}],"merge-audits":[]},{"addedAt":1655818024836,"vid":49001,"canonical-vid":49001,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"lastmodifieddate":{"value":"1655818031521"},"email":{"value":"7921f08588e143679bf0495248dc33f6@hubspot.com"}},"form-submissions":[],"identity-profiles":[{"vid":49001,"saved-at-timestamp":1655818024354,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"7921f08588e143679bf0495248dc33f6@hubspot.com","timestamp":1655818024325,"is-primary":true},{"[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/1380?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b115fed8-b4d9-4c2f-9e25-60a7eb126d81
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498883'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '125'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B45695A2A9FCC5E29A289A5908DB0CA50F9398155000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":1380,"internalListId":1380,"createdAt":1655818023820,"updatedAt":1655818023820,"name":"contacts
        list 461e63c7d9d3d731b6055018d6a419e2","listType":"STATIC","parentId":0,"filters":[],"metaData":{"size":24,"lastSizeChangeAt":1655818050919,"processing":"DONE","lastProcessingStateChangeAt":1655818024064,"error":"","listReferencesCount":null,"parentFolderId":0},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Tue, 21 Jun 2022 13:27:31 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/1380/contacts/all?count=2&hapikey=<HAPI_KEY>&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d85e7ead-1437-4ab3-98c5-0c302e160723
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/1380/contacts/all?count=2&hapikey=<HAPI_KEY>&offset=2&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8708fd3a-7294-46ae-8631-cacccf6f2a3c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-[...]
