---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/124897?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7ca74e84-1608-41bb-ad1c-172525d6d75c
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '993914'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '178'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '17'
      X-Trace:
      - 2BC36441A224EFA4D4D25D3546CD96F2793BBB4309000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":62515,"listId":124897,"internalListId":524091,"createdAt":1441960245097,"updatedAt":1441960245097,"name":"Marketing
        John Persona - MQLs","listType":"DYNAMIC","authorId":215482,"parentId":0,"filters":[[{"withinTimeMode":"PAST","operator":"SET_ANY","type":"enumeration","property":"hs_persona","value":"persona_10"},{"withinTimeMode":"PAST","operator":"SET_ANY","type":"enumeration","property":"lifecyclestage","value":"marketingqualifiedlead"}]],"metaData":{"size":0,"lastSizeChangeAt":1608743267834,"processing":"DONE","lastProcessingStateChangeAt":1608743267764,"error":"","listReferencesCount":null,"parentFolderId":0},"archived":false,"teamIds":[],"deleteable":false,"dynamic":true,"readOnly":true}'
  recorded_at: Mon, 08 Aug 2022 09:35:10 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 12ea6318-a8fc-4c5b-9255-f19212692512
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249883'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '94'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B1FBFEA9A4FAAB0C1B958001FA97B2B331710DC0B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"offset":1,"lists":[{"portalId":<PORTAL_ID>,"listId":204,"internalListId":204,"createdAt":1659544422564,"updatedAt":1659544422564,"name":"contacts
        list 6ca7b71e7085db5ec4f18d6e823ba5cb","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":25,"lastSizeChangeAt":1659544447052,"processing":"DONE","lastProcessingStateChangeAt":1659544422807,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}],"has-more":true}'
  recorded_at: Mon, 08 Aug 2022 12:09:11 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/static?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e786013e-9ba9-4bf3-b3cc-3066e3585ff4
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249341'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B79BA959EF7D20A1E007AE6CD20A8AE7FA0630AFA000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"offset":1,"lists":[{"portalId":<PORTAL_ID>,"listId":204,"internalListId":204,"createdAt":1659544422564,"updatedAt":1659544422564,"name":"contacts
        list 6ca7b71e7085db5ec4f18d6e823ba5cb","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":25,"lastSizeChangeAt":1659544447052,"processing":"DONE","lastProcessingStateChangeAt":1659544422807,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}],"has-more":true}'
  recorded_at: Mon, 08 Aug 2022 12:48:15 GMT
recorded_with: VCR 6.0.0
