---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/lists
    body:
      encoding: UTF-8
      string: '{"name":"c42bc93b50fadcb01122dc3a6a8f9882","objectTypeId":"0-1","processingType":"MANUAL"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db07f-5d98-712d-9178-9e14dcb2407f'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248451'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '95'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"list":{"listId":"581","listVersion":1,"createdAt":"2026-04-21T14:43:50.366Z","updatedAt":"2026-04-21T14:43:50.366Z","filtersUpdatedAt":"2026-04-21T14:43:50.366Z","processingStatus":"COMPLETE","createdById":"5555888","updatedById":"5555888","processingType":"MANUAL","objectTypeId":"0-1","name":"c42bc93b50fadcb01122dc3a6a8f9882","listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}}}'
  recorded_at: Tue, 21 Apr 2026 14:43:50 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/lists?listIds=583
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db07f-639e-7f95-9c3f-a68e47cf1cb3'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248448'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '92'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"listId":"581","listVersion":1,"createdAt":"2026-04-21T14:43:50.366Z","updatedAt":"2026-04-21T14:43:50.366Z","filtersUpdatedAt":"2026-04-21T14:43:50.366Z","processingStatus":"COMPLETE","createdById":"5555888","updatedById":"5555888","processingType":"MANUAL","objectTypeId":"0-1","name":"c42bc93b50fadcb01122dc3a6a8f9882","size":0,"listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}},{"listId":"582","listVersion":1,"createdAt":"2026-04-21T14:43:50.872Z","updatedAt":"2026-04-21T14:43:50.872Z","filtersUpdatedAt":"2026-04-21T14:43:50.872Z","processingStatus":"COMPLETE","createdById":"5555888","updatedById":"5555888","processingType":"MANUAL","objectTypeId":"0-1","name":"8f80cafe862fba1deb4273e4f924135b","size":0,"listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}},{"listId":"583","listVersion":1,"createdAt":"2026-04-21T14:43:51.422Z","updatedAt":"2026-04-21T14:43:51.422Z","filtersUpdatedAt":"2026-04-21T14:43:51.422Z","processingStatus":"COMPLETE","createdById":"5555888","updatedById":"5555888","processingType":"MANUAL","objectTypeId":"0-1","name":"ad719482eb2336b1abf3a2f259f1aea9","listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}}]}'
  recorded_at: Tue, 21 Apr 2026 14:43:52 GMT
recorded_with: VCR 6.4.0
