---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/lists/560/memberships?limit=25&offset=&offset_param=after
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db07f-5629-7e17-a1a4-b1ef9803db44'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248455'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"membershipTimestamp":"2026-04-21T14:29:31.333Z","recordId":"216907872614"},{"membershipTimestamp":"2026-04-21T14:29:31.333Z","recordId":"216908367503"},{"membershipTimestamp":"2026-04-21T14:29:31.333Z","recordId":"216908367509"},{"membershipTimestamp":"2026-04-21T14:29:31.333Z","recordId":"216908415320"},{"membershipTimestamp":"2026-04-21T14:29:31.333Z","recordId":"216908762506"},{"membershipTimestamp":"2026-04-21T14:29:31.333Z","recordId":"216908817222"},{"membershipTimestamp":"2026-04-21T14:29:31.333Z","recordId":"216908841020"},{"membershipTimestamp"[...]
