---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/lists
    body:
      encoding: UTF-8
      string: '{"name":"6e7d562c20db6ee53c59048e660ec244","objectTypeId":"0-1","processingType":"MANUAL"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db07f-581e-7453-9db5-15a7c47c133e'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248454'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '98'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"list":{"listId":"580","listVersion":1,"createdAt":"2026-04-21T14:43:48.965Z","updatedAt":"2026-04-21T14:43:48.965Z","filtersUpdatedAt":"2026-04-21T14:43:48.965Z","processingStatus":"COMPLETE","createdById":"5555888","updatedById":"5555888","processingType":"MANUAL","objectTypeId":"0-1","name":"6e7d562c20db6ee53c59048e660ec244","listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}}}'
  recorded_at: Tue, 21 Apr 2026 14:43:49 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/lists/580
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db07f-5a5d-7c75-ba70-79672c979ad1'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248453'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '97'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"list":{"listId":"580","listVersion":1,"createdAt":"2026-04-21T14:43:48.965Z","updatedAt":"2026-04-21T14:43:48.965Z","filtersUpdatedAt":"2026-04-21T14:43:48.965Z","processingStatus":"COMPLETE","createdById":"5555888","updatedById":"5555888","processingType":"MANUAL","objectTypeId":"0-1","name":"6e7d562c20db6ee53c59048e660ec244","listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}}}'
  recorded_at: Tue, 21 Apr 2026 14:43:49 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/lists/-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db07f-5c2c-7c51-a73d-0a13d169f4c2'
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248452'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '96'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"List does not exist with ID -1.","correlationId":"019db07f-5c2c-7c51-a73d-0a13d169f4c2","context":{"listId":["-1"]},"category":"OBJECT_NOT_FOUND","subCategory":"ListError.LIST_ID_DOES_NOT_EXIST"}'
  recorded_at: Tue, 21 Apr 2026 14:43:50 GMT
recorded_with: VCR 6.4.0
