---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/1506/contacts/all?hapikey=<HAPI_KEY>&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ee197d93-0aaf-46f0-8381-75d24b1231b4
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498521'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BAA7A98D390BF3C62AF4160B5B2C177C1D78FDE29000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"addedAt":1655887691378,"vid":66701,"canonical-vid":66701,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"lastmodifieddate":{"value":"1655887705035"},"email":{"value":"e78c2d8f19020126430286425ebc6bc9@hubspot.com"}},"form-submissions":[],"identity-profiles":[{"vid":66701,"saved-at-timestamp":1655887691005,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"e78c2d8f19020126430286425ebc6bc9@hubspot.com","timestamp":1655887690923,"is-primary":true},{"type":"LEAD_GUID","value":"a9965081-502a-43ae-bf74-b2f301294b1a","timestamp":1655887691001}]}],"merge-audits":[]},{"addedAt":1655887691971,"vid":66751,"canonical-vid":66751,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"lastmodifieddate":{"value":"1655887704020"},"email":{"value":"69fc396365f810571f1371f82d7dc808@hubspot.com"}},"form-submissions":[],"identity-profiles":[{"vid":66751,"saved-at-timestamp":1655887691612,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"69fc396365f810571f1371f82d7dc808@hubspot.com","timestamp":1655887691584,"is-primary":true},{"[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/1506?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7eac49d9-ff4f-4012-84f5-408b3ab2f600
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498520'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '125'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B3158C5668EAE6B3D8592953A216EC994F115C003000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":1506,"internalListId":1506,"createdAt":1655887677391,"updatedAt":1655887677391,"name":"contacts
        list 6b17301d89a73db33b05d5fb8b319f5b","listType":"STATIC","parentId":0,"filters":[],"metaData":{"size":24,"lastSizeChangeAt":1655887706508,"processing":"DONE","lastProcessingStateChangeAt":1655887690705,"error":"","listReferencesCount":null,"parentFolderId":0},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Wed, 22 Jun 2022 08:48:27 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/1506/contacts/all?count=2&hapikey=<HAPI_KEY>&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 99968902-f75b-4276-82a4-f02a7d574d6e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/1506/contacts/all?count=2&hapikey=<HAPI_KEY>&offset=2&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f2ea3a84-7078-43c1-af22-3954d1e96076
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-[...]
