---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/conversations/v3/conversations/threads/3176297853?association=TICKET
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 90a4238d-eb3d-42b0-8488-01f004daf0f6
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249880'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"3176297853","createdAt":"2022-09-15T08:50:43.939Z","status":"OPEN","originalChannelId":"1000","originalChannelAccountId":"52683413","latestMessageTimestamp":"2022-09-15T08:50:44.040Z","latestMessageReceivedTimestamp":"2022-09-15T08:50:44.040Z","spam":false,"inboxId":"792593","associatedContactId":"162201","archived":false,"threadAssociations":{"associatedTicketId":"21514722825"}}'
  recorded_at: Thu, 20 Mar 2025 10:52:48 GMT
- request:
    method: get
    uri: https://api.hubapi.com/conversations/v3/conversations/threads/996174569112?association=TICKET
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      X-Hubspot-Correlation-Id:
      - 57d43696-77ea-4851-9fbd-bbe7a9b4c355
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249879'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '98'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Resource not found</p>
        </body>
        </html>
  recorded_at: Thu, 20 Mar 2025 10:52:49 GMT
recorded_with: VCR 6.3.1
