---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"contacts list 6b17301d89a73db33b05d5fb8b319f5b","dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d2bda064-3de3-4df3-98c8-856a8be45abc
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498572'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '111'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BA67985070CA5D7794D53733EABF24B434024F01C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":1506,"internalListId":1506,"createdAt":1655887677391,"updatedAt":1655887677391,"name":"contacts
        list 6b17301d89a73db33b05d5fb8b319f5b","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655887677391,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Wed, 22 Jun 2022 08:48:10 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"e78c2d8f19020126430286425ebc6bc9@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b093f34f-5415-402a-b40a-7476a7bbc244
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498571'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B9E9000B4ED9E82D44C0604521B5E5307056FBEBC000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":66701,"canonical-vid":66701,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"e78c2d8f19020126430286425ebc6bc9@hubspot.com","versions":[{"value":"e78c2d8f19020126430286425ebc6bc9@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887690917,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":66701,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"e78c2d8f19020126430286425ebc6bc9@hubspot.com","timestamp":1655887690923,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"a9965081-502a-43ae-bf74-b2f301294b1a","timestamp":1655887691001,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:48:11 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/1506/add?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vids":[66701]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - bf8175d7-0616-4a0c-86a7-43680e30e360
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498570'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B378085DB718915BEBE040242CC45915B52E35E49000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"updated":[66701],"discarded":[],"invalidVids":[],"invalidEmails":[]}'
  recorded_at: Wed, 22 Jun 2022 08:48:11 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/1506/add?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vids":[67451]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 07eb959f-3f0e-4964-b976-87b1fa531e23
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498522'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '127'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B4B289F308B0217DBE14BF2D12D02F369D3F6FAE0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"updated":[67451],"discarded":[],"invalidVids":[],"invalidEmails":[]}'
  recorded_at: Wed, 22 Jun 2022 08:48:26 GMT
recorded_with: VCR 6.1.0
