---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists
    body:
      encoding: UTF-8
      string: '{"name":"testing list 6ebade4067427bc20bb253b9f438cf6e","dynamic":false,"portal_id":null}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 95ffd8fb-98f1-4011-adac-dd3146c540f3
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248432'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B3BE1F8CB4DB74533E6CE86D61B334AE554F8E1EE000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":457,"internalListId":457,"createdAt":1659970212107,"updatedAt":1659970212107,"name":"testing
        list 6ebade4067427bc20bb253b9f438cf6e","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1659970212107,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Mon, 08 Aug 2022 14:50:12 GMT
recorded_with: VCR 6.0.0
