---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"testing list 025916f0738b364f917bd8df505acf83","dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5ea5912d-191b-43b6-a8ac-2d41765ef614
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498878'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B2B8182DBC7BF77E4005933ED8DE74DC59FAA6A4D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":1381,"internalListId":1381,"createdAt":1655818052987,"updatedAt":1655818052987,"name":"testing
        list 025916f0738b364f917bd8df505acf83","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655818052987,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Tue, 21 Jun 2022 13:27:33 GMT
recorded_with: VCR 6.1.0
