---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"contacts list 461e63c7d9d3d731b6055018d6a419e2","dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 98712c00-36c5-45d7-be38-c77989859954
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498935'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BD180B1D41C7C0A2A404D1A81C39E950D1DA4BDD3000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":1380,"internalListId":1380,"createdAt":1655818023820,"updatedAt":1655818023820,"name":"contacts
        list 461e63c7d9d3d731b6055018d6a419e2","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655818023820,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Tue, 21 Jun 2022 13:27:04 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"7921f08588e143679bf0495248dc33f6@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e54e7335-f8f4-4329-bc05-259acd4d2b9b
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498934'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '139'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B7B8C633C66156520B3151BCC9D3AC2C9A76E32CD000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":49001,"canonical-vid":49001,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"7921f08588e143679bf0495248dc33f6@hubspot.com","versions":[{"value":"7921f08588e143679bf0495248dc33f6@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818024319,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":49001,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"7921f08588e143679bf0495248dc33f6@hubspot.com","timestamp":1655818024325,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"2c558099-4dec-41fe-a9c7-47b790260dd9","timestamp":1655818024350,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:27:04 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/1380/add?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vids":[49001]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ad54d188-6795-49f1-9447-478620a4990d
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498933'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '138'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BD8D313E5A869EE276F4D9E3B95016B7E41626F01000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"updated":[49001],"discarded":[],"invalidVids":[],"invalidEmails":[]}'
  recorded_at: Tue, 21 Jun 2022 13:27:04 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/1380/add?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vids":[50101]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '05349c09-e640-43c1-96fc-dc975abf7098'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498885'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '127'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B0C2B149B28432436F6B30533409C59AD5DDB115F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"updated":[50101],"discarded":[],"invalidVids":[],"invalidEmails":[]}'
  recorded_at: Tue, 21 Jun 2022 13:27:30 GMT
recorded_with: VCR 6.1.0
