---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/pipelines
    body:
      encoding: UTF-8
      string: '{"label":"New Pipeline 2f05a9d2dcea952c18414d877c6b0a82"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Api-Deprecated:
      - 'This endpoint is deprecated. See more details here: https://developers.hubspot.com/docs/faq/deprecated-apis'
      X-Hubspot-Correlation-Id:
      - 822c6e84-e332-467e-9637-0d747ab9df21
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248314'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BF1D82BEF8251B47169F80BEEDA90F9EA60D8AB94000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"pipelineId":"0ed1721c-f32b-4137-a1e3-d1eddf924fd6","stages":[{"stageId":"30533174","label":"Appointment
        Scheduled","probability":0.2,"active":true,"displayOrder":0,"closedWon":false},{"stageId":"30533175","label":"Qualified
        To Buy","probability":0.4,"active":true,"displayOrder":1,"closedWon":false},{"stageId":"30533176","label":"Presentation
        Scheduled","probability":0.6,"active":true,"displayOrder":2,"closedWon":false},{"stageId":"30533177","label":"Decision
        Maker Bought-In","probability":0.8,"active":true,"displayOrder":3,"closedWon":false},{"stageId":"30533178","label":"Contract
        Sent","probability":0.9,"active":true,"displayOrder":4,"closedWon":false},{"stageId":"30533179","label":"Closed
        Won","probability":1.0,"active":true,"displayOrder":5,"closedWon":true},{"stageId":"30533180","label":"Closed
        Lost","probability":0.0,"active":true,"displayOrder":6,"closedWon":false}],"label":"New
        Pipeline 2f05a9d2dcea952c18414d877c6b0a82","active":true,"displayOrder":0,"staticDefault":false}'
  recorded_at: Mon, 08 Aug 2022 14:51:10 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/pipelines/0ed1721c-f32b-4137-a1e3-d1eddf924fd6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Api-Deprecated:
      - 'This endpoint is deprecated. See more details here: https://developers.hubspot.com/docs/faq/deprecated-apis'
      X-Hubspot-Correlation-Id:
      - cf8b5707-049d-4900-bec0-c5f24132dddd
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248313'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '85'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B5D097CE58A407EE0102874AC1D53AB276DBDD089000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2022 14:51:11 GMT
recorded_with: VCR 6.0.0
