---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/lists
    body:
      encoding: UTF-8
      string: '{"name":"ea59a475323d5c9af73116b66a6d0aa1","filterBranch":{"filterBranches":[{"filterBranches":[],"filterBranchType":"AND","filters":[{"filterType":"PROPERTY","property":"twitterhandle","operation":{"operationType":"STRING","operator":"IS_EQUAL_TO","value":"@hubspot"}}]}],"filterBranchType":"OR","filters":[]},"dynamic":false,"portal_id":null,"objectTypeId":"0-1","processingType":"DYNAMIC"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019daf72-540b-709d-a462-0af19a3571ea'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249946'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"list":{"listId":"243","listVersion":1,"createdAt":"2026-04-21T09:49:58.801Z","updatedAt":"2026-04-21T09:49:58.801Z","filtersUpdatedAt":"2026-04-21T09:49:58.801Z","processingStatus":"PROCESSING","createdById":"5555888","updatedById":"5555888","processingType":"DYNAMIC","objectTypeId":"0-1","name":"ea59a475323d5c9af73116b66a6d0aa1","filterBranch":{"filterBranches":[{"filterBranches":[],"filters":[{"property":"twitterhandle","operation":{"operator":"IS_EQUAL_TO","includeObjectsWithNoValueSet":false,"value":"@hubspot","operationType":"STRING"},"filterType":"PROPERTY"}],"filterBranchType":"AND","filterBranchOperator":"AND"}],"filters":[],"filterBranchType":"OR","filterBranchOperator":"OR"},"listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}}}'
  recorded_at: Tue, 21 Apr 2026 09:49:59 GMT
[...]
