---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/pipelines?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"label":"New Pipeline f537a023dfb1548a298e57fa0e26f6d2"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Api-Deprecated:
      - 'This endpoint is deprecated. See more details here: https://developers.hubspot.com/docs/faq/deprecated-apis'
      X-Hubspot-Correlation-Id:
      - 1a017b48-8073-4a20-ba5d-8d1b993b7158
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498724'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B92F1D2BB1A2022680FC01AA3040926EE04362553000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"pipelineId":"4a27a22f-b76c-45e3-a42a-a69f217aaf01","stages":[{"stageId":"26470695","label":"Appointment
        Scheduled","probability":0.2,"active":true,"displayOrder":0,"closedWon":false},{"stageId":"26470696","label":"Qualified
        To Buy","probability":0.4,"active":true,"displayOrder":1,"closedWon":false},{"stageId":"26470697","label":"Presentation
        Scheduled","probability":0.6,"active":true,"displayOrder":2,"closedWon":false},{"stageId":"26470698","label":"Decision
        Maker Bought-In","probability":0.8,"active":true,"displayOrder":3,"closedWon":false},{"stageId":"26470699","label":"Contract
        Sent","probability":0.9,"active":true,"displayOrder":4,"closedWon":false},{"stageId":"26470700","label":"Closed
        Won","probability":1.0,"active":true,"displayOrder":5,"closedWon":true},{"stageId":"26470701","label":"Closed
        Lost","probability":0.0,"active":true,"displayOrder":6,"closedWon":false}],"label":"New
        Pipeline f537a023dfb1548a298e57fa0e26f6d2","active":true,"displayOrder":0,"staticDefault":false}'
  recorded_at: Tue, 21 Jun 2022 13:28:39 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/pipelines/4a27a22f-b76c-45e3-a42a-a69f217aaf01?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Api-Deprecated:
      - 'This endpoint is deprecated. See more details here: https://developers.hubspot.com/docs/faq/deprecated-apis'
      X-Hubspot-Correlation-Id:
      - '0433829c-1dae-4da7-b5d6-c89ce9d8bcb9'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498723'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B92AD98350FFEF7903CACEC16369891F9AB5BE5E0000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:28:39 GMT
recorded_with: VCR 6.1.0
