---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/pipelines?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"label":"New Pipeline 956a7e29c670382de52e73e1931f1ffa"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Api-Deprecated:
      - 'This endpoint is deprecated. See more details here: https://developers.hubspot.com/docs/faq/deprecated-apis'
      X-Hubspot-Correlation-Id:
      - '0823887c-e09d-4d93-8cac-37fd39472daf'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498361'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '135'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B0DD6B5074D9182BCF937196C4DA4E32157688DB8000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"pipelineId":"96adf745-2cd8-4ac5-9b99-ff217a6de0dd","stages":[{"stageId":"26546771","label":"Appointment
        Scheduled","probability":0.2,"active":true,"displayOrder":0,"closedWon":false},{"stageId":"26546772","label":"Qualified
        To Buy","probability":0.4,"active":true,"displayOrder":1,"closedWon":false},{"stageId":"26546773","label":"Presentation
        Scheduled","probability":0.6,"active":true,"displayOrder":2,"closedWon":false},{"stageId":"26546774","label":"Decision
        Maker Bought-In","probability":0.8,"active":true,"displayOrder":3,"closedWon":false},{"stageId":"26546775","label":"Contract
        Sent","probability":0.9,"active":true,"displayOrder":4,"closedWon":false},{"stageId":"26546776","label":"Closed
        Won","probability":1.0,"active":true,"displayOrder":5,"closedWon":true},{"stageId":"26546777","label":"Closed
        Lost","probability":0.0,"active":true,"displayOrder":6,"closedWon":false}],"label":"New
        Pipeline 956a7e29c670382de52e73e1931f1ffa","active":true,"displayOrder":0,"staticDefault":false}'
  recorded_at: Wed, 22 Jun 2022 08:49:23 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/pipelines/96adf745-2cd8-4ac5-9b99-ff217a6de0dd?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Api-Deprecated:
      - 'This endpoint is deprecated. See more details here: https://developers.hubspot.com/docs/faq/deprecated-apis'
      X-Hubspot-Correlation-Id:
      - c1207619-a112-4668-b433-0acbf6515fa9
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498360'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '134'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B2F1FD45FBA58ADFBC8ABAB5303638C5A60F01842000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:49:24 GMT
recorded_with: VCR 6.1.0
