---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/groups?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 43e58040-73a8-466c-b346-fa9b337e14fa
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498349'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BA714637F5F8CD02A41CB7AC99BC5809405C5A231000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"deal_activity","fulcrumPortalId":8008758,"fulcrumTimestamp":1593475199999,"displayName":"Deal
        activity","displayOrder":-1,"hubspotDefined":true},{"name":"deal_revenue","fulcrumPortalId":8008758,"fulcrumTimestamp":1593475199999,"displayName":"Deal
        revenue","displayOrder":-1,"hubspotDefined":true},{"name":"dealinformation","fulcrumPortalId":0,"fulcrumTimestamp":0,"displayName":"Deal
        information","displayOrder":0,"hubspotDefined":true},{"name":"analyticsinformation","fulcrumPortalId":0,"fulcrumTimestamp":0,"displayName":"Analytics
        history","displayOrder":1,"hubspotDefined":true},{"name":"ff_group_c6cb95c8bb827f[...]
