---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"752b2460732d9201342154553cf68f17@hubspot.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ca2ed92b-167c-4ce9-9759-3939e009c71e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248286'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B09D4B505EFA1CE6D4AD2D377A710F1FA9C9D2C15000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23103,"canonical-vid":23103,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"752b2460732d9201342154553cf68f17@hubspot.com","versions":[{"value":"752b2460732d9201342154553cf68f17@hubspot.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970283397,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23103,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"752b2460732d9201342154553cf68f17@hubspot.com","timestamp":1659970283405,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"541dee7d-fb3a-4236-8bba-8573f27bee9e","timestamp":1659970283418,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:24 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"33b56878e9d7b895dac11122e7f1cc5a"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 50b61f02-cc7e-4c13-b9cf-e06e36da14a4
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248285'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B1EE4542956CCDEA4E8A0272C378DD263C93257A7000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337682815,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1659970284221","timestamp":1659970284221,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970284221","timestamp":1659970284221,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"50b61f02-cc7e-4c13-b9cf-e06e36da14a4"}]},"name":{"value":"33b56878e9d7b895dac11122e7f1cc5a","timestamp":1659970284221,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"33b56878e9d7b895dac11122e7f1cc5a","timestamp":1659970284221,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"50b61f02-cc7e-4c13-b9cf-e06e36da14a4"}]},"hs_object_id":{"value":"9337682815","timestamp":1659970284221,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337682815","timestamp":1659970284221,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"50b61f02-cc7e-4c13-b9cf-e06e36da14a4"}]},"createdate":{"value":"1659970284221","timestamp":1659970284221,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970284221","timestamp":1659970284221,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"50b61f02-cc7e-4c13-b9cf-e06e36da14a4"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:24 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[9337682815],"associatedVids":[23103]},"properties":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d047802f-d572-4efe-a7cd-1dd0dc862d05
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248284'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B0510B0C7502D88E07B6AECC00E23EA321AA08521000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9756317333,"isDeleted":false,"associations":{"associatedVids":[23103],"associatedCompanyIds":[9337682815],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1659970284727,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1659970284727,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1659970284727,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1659970284727,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1659970284727,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1659970284727,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1659970284727,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1659970284727,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1659970284727","timestamp":1659970284727,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970284727","timestamp":1659970284727,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"d047802f-d572-4efe-a7cd-1dd0dc862d05"}]},"hs_createdate":{"value":"1659970284727","timestamp":1659970284727,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1659970284727","timestamp":1659970284727,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d047802f-d572-4efe-a7cd-1dd0dc862d05"}]},"hs_object_id":{"value":"9756317333","timestamp":1659970284727,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9756317333","timestamp":1659970284727,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d047802f-d572-4efe-a7cd-1dd0dc862d05"}]},"createdate":{"value":"1659970284727","timestamp":1659970284727,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970284727","timestamp":1659970284727,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d047802f-d572-4efe-a7cd-1dd0dc862d05"}]},"hs_projected_amount":{"value":"0","timestamp":1659970284727,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1659970284727,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1659970284727,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1659970284727,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1659970284727,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1659970284727,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1659970284727,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1659970284727,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:24 GMT
recorded_with: VCR 6.0.0
