---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/groups?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 610371b6-8f8c-44f6-b94c-6ebc441e05c0
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '986150'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '193'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '19'
      X-Trace:
      - 2BB66C8C8D8CCAB29B1A410C77E198E847AC3D7F7E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"deal_activity","fulcrumPortalId":0,"fulcrumTimestamp":0,"displayName":"Deal
        activity","displayOrder":-1,"hubspotDefined":true},{"name":"dealinformation","displayName":"Deal
        Information","displayOrder":0,"hubspotDefined":false},{"name":"analyticsinformation","fulcrumPortalId":0,"fulcrumTimestamp":0,"displayName":"Analytics
        history","displayOrder":1,"hubspotDefined":true},{"name":"salesforceinformation","displayName":"Salesforce
        Information","displayOrder":101,"hubspotDefined":false},{"name":"onboardinggroup","displayName":"Onboarding","displayOrder":80944,"hubspotDefined":false},{"name":"mk_group_fit_segment","displayName":"MadKudo
        Company Fit","displayOrder":80947,"hubspotDefined":false},{"name":"ip__ecomm_bridge__ecomm_bridge","displayName":"ECommerce","displayOrder":80948,"hubspotDefined":false},{"name":"internal3","displayName":"Internal
        (Read Only)","displayOrder":80951,"hubspotDefined":false},{"name":"ip__sync_extension__sync_extension","displayName":"SyncExtension","displayOrder":80952,"hubspotDefined":false}]'
  recorded_at: Wed, 03 Aug 2022 13:46:04 GMT
recorded_with: VCR 6.0.0
