---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"91dad6d45c34b792ba64f58c39dd48ab"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4c70820b-2a43-4757-b0df-7fe84c3ea6cc
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498678'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B0707DB8F61964B669AD4C89D2BCF6C564FF3F64A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956429734,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655818134984","timestamp":1655818134984,"source":"CALCULATED","sourceId":"4c70820b-2a43-4757-b0df-7fe84c3ea6cc","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818134984","timestamp":1655818134984,"sourceId":"4c70820b-2a43-4757-b0df-7fe84c3ea6cc","source":"CALCULATED","sourceVid":[],"requestId":"4c70820b-2a43-4757-b0df-7fe84c3ea6cc"}]},"name":{"value":"91dad6d45c34b792ba64f58c39dd48ab","timestamp":1655818134984,"source":"API","sourceId":"4c70820b-2a43-4757-b0df-7fe84c3ea6cc","updatedByUserId":null,"versions":[{"name":"name","value":"91dad6d45c34b792ba64f58c39dd48ab","timestamp":1655818134984,"sourceId":"4c70820b-2a43-4757-b0df-7fe84c3ea6cc","source":"API","sourceVid":[],"requestId":"4c70820b-2a43-4757-b0df-7fe84c3ea6cc"}]},"hs_object_id":{"value":"8956429734","timestamp":1655818134984,"source":"API","sourceId":"4c70820b-2a43-4757-b0df-7fe84c3ea6cc","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956429734","timestamp":1655818134984,"sourceId":"4c70820b-2a43-4757-b0df-7fe84c3ea6cc","source":"API","sourceVid":[],"requestId":"4c70820b-2a43-4757-b0df-7fe84c3ea6cc"}]},"createdate":{"value":"1655818134984","timestamp":1655818134984,"source":"API","sourceId":"4c70820b-2a43-4757-b0df-7fe84c3ea6cc","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818134984","timestamp":1655818134984,"sourceId":"4c70820b-2a43-4757-b0df-7fe84c3ea6cc","source":"API","sourceVid":[],"requestId":"4c70820b-2a43-4757-b0df-7fe84c3ea6cc"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:54 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"67205217b9ea4b53586594d7fb6030cf@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 871900fb-22da-4173-8ff8-a984e9cda65f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498677'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B32AB1662D1DDAC233355A4EF08C0B3775C3B92B2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":51401,"canonical-vid":51401,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"67205217b9ea4b53586594d7fb6030cf@hubspot.com","versions":[{"value":"67205217b9ea4b53586594d7fb6030cf@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818136824,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":51401,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"67205217b9ea4b53586594d7fb6030cf@hubspot.com","timestamp":1655818136832,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"188fad5c-a65a-4763-bc7e-84890b5d97e1","timestamp":1655818136840,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:56 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[8956429734],"associatedVids":[51401]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1bc3dc5e-ba58-47c5-9344-337945b37f70
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498676'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B4F21CB9D44B7612A7CE66399123974B9C3AB9092000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9260133816,"isDeleted":false,"associations":{"associatedVids":[51401],"associatedCompanyIds":[8956429734],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655818137230,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655818137230,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"amount":{"value":"30","timestamp":1655818137230,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"amount","value":"30","timestamp":1655818137230,"source":"API","sourceVid":[],"requestId":"1bc3dc5e-ba58-47c5-9344-337945b37f70"}]},"hs_is_closed_won":{"value":"false","timestamp":1655818137230,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655818137230,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_forecast_amount":{"value":"30","timestamp":1655818137230,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_forecast_amount","value":"30","timestamp":1655818137230,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"createdate":{"value":"1655818137230","timestamp":1655818137230,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818137230","timestamp":1655818137230,"source":"API","sourceVid":[],"requestId":"1bc3dc5e-ba58-47c5-9344-337945b37f70"}]},"amount_in_home_currency":{"value":"30","timestamp":1655818137230,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"amount_in_home_currency","value":"30","timestamp":1655818137230,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655818137230,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655818137230,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655818137230,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655818137230,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655818137230,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655818137230,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655818137230","timestamp":1655818137230,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818137230","timestamp":1655818137230,"source":"CALCULATED","sourceVid":[],"requestId":"1bc3dc5e-ba58-47c5-9344-337945b37f70"}]},"hs_createdate":{"value":"1655818137230","timestamp":1655818137230,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655818137230","timestamp":1655818137230,"source":"API","sourceVid":[],"requestId":"1bc3dc5e-ba58-47c5-9344-337945b37f70"}]},"hs_object_id":{"value":"9260133816","timestamp":1655818137230,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9260133816","timestamp":1655818137230,"source":"API","sourceVid":[],"requestId":"1bc3dc5e-ba58-47c5-9344-337945b37f70"}]},"hs_is_deal_split":{"value":"false","timestamp":1655818137230,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655818137230,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount":{"value":"0","timestamp":1655818137230,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655818137230,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655818137230,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655818137230,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:57 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9260133816?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - db7447b1-1095-48e9-887e-1a4ba811b57d
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498675'
      X-Hubspot[...]
