---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/groups/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"ff_group_28dfd4efb9a39bdd75da000aed8da42c","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 66ca7c54-5ad4-4dd0-bf2e-75f6890e41c2
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498709'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B0F433DE5006052AF2767E7FE69F0EAFD5DB849C3000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"name":"ff_group_28dfd4efb9a39bdd75da000aed8da42c","displayOrder":100}'
  recorded_at: Tue, 21 Jun 2022 13:28:43 GMT
recorded_with: VCR 6.1.0
