---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/groups/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"ff_group_a5d4e2b06d54e1c4d746b96c13961142","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1a2a371a-a683-41a1-8d8a-d276561cb5a7
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498346'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BE30E185F89746078A5C79B00F6A531897CD4E751000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"name":"ff_group_a5d4e2b06d54e1c4d746b96c13961142","displayOrder":100}'
  recorded_at: Wed, 22 Jun 2022 08:49:27 GMT
recorded_with: VCR 6.1.0
