---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/properties/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property_99a4579db3b1afca3d7bc3ac8c343911","groupName":"dealinformation","description":"How
        much money do you have?","fieldType":"text","formField":true,"type":"string","displayOrder":0,"label":"This
        is my new property","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9b7d5aae-1061-494f-85cc-fd16e42918f9
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498715'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BD0F6AAB17C84BE3AD1BACB4E4EDCF8261FACFC57000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"my_new_property_99a4579db3b1afca3d7bc3ac8c343911","label":"This
        is my new property","description":"How much money do you have?","groupName":"dealinformation","type":"string","fieldType":"text","fieldLevelPermission":null,"options":[],"deleted":false,"updatedAt":1655818122112,"createdAt":1655818122112,"referencedObjectType":null,"externalOptionsReferenceType":null,"optionSortStrategy":null,"createdUserId":null,"searchableInGlobalSearch":false,"hasUniqueValue":false,"numberDisplayHint":null,"currencyPropertyName":null,"isCustomizedDefault":false,"updatedUserId":null,"textDisplayHint":null,"optionsAreMutable":null,"searchTextAnalysisMode":null,"hidden":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":null,"readOnlyDefinition":false,"formField":true,"displayOrder":0,"readOnlyValue":false}'
  recorded_at: Tue, 21 Jun 2022 13:28:42 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/properties/named/my_new_property_99a4579db3b1afca3d7bc3ac8c343911?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 499f486d-d836-46da-81e0-9962f3ad797e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498714'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '121'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B6A104BA935F18153BFE298559958D596C339E363000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:28:42 GMT
recorded_with: VCR 6.1.0
