---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"12ad85b63768d66020af295d5dd7ee40"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 357a5368-abbd-4795-a0f6-d6878b0fef58
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248252'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B6555814DCF5FF9FE4DAB8CDE1FC1618602D4EDA2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337687306,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1659970299911","timestamp":1659970299911,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970299911","timestamp":1659970299911,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"357a5368-abbd-4795-a0f6-d6878b0fef58"}]},"name":{"value":"12ad85b63768d66020af295d5dd7ee40","timestamp":1659970299911,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"12ad85b63768d66020af295d5dd7ee40","timestamp":1659970299911,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"357a5368-abbd-4795-a0f6-d6878b0fef58"}]},"hs_object_id":{"value":"9337687306","timestamp":1659970299911,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337687306","timestamp":1659970299911,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"357a5368-abbd-4795-a0f6-d6878b0fef58"}]},"createdate":{"value":"1659970299911","timestamp":1659970299911,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970299911","timestamp":1659970299911,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"357a5368-abbd-4795-a0f6-d6878b0fef58"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:40 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"772a117e5d581757247f70e9a28117c2@hubspot.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fc0cedd8-d070-4273-9f27-31ac47e613e7
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248251'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BB2B049B724C792D72EA461E0184FCAE1AD2D596F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":24301,"canonical-vid":24301,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"772a117e5d581757247f70e9a28117c2@hubspot.com","versions":[{"value":"772a117e5d581757247f70e9a28117c2@hubspot.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970300427,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":24301,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"772a117e5d581757247f70e9a28117c2@hubspot.com","timestamp":1659970300436,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"216faedd-1f1c-4f77-96b9-bd6d8d8dcde8","timestamp":1659970300448,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:40 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[9337687306],"associatedVids":[24301]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cf147872-1fb0-4e11-839f-5278510c274f
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248250'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B7F2D55813399BF469D1D4773CAA6882C8E4805D7000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9756341127,"isDeleted":false,"associations":{"associatedVids":[24301],"associatedCompanyIds":[9337687306],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1659970301134,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1659970301134,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"amount":{"value":"30","timestamp":1659970301134,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"amount","value":"30","timestamp":1659970301134,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"cf147872-1fb0-4e11-839f-5278510c274f"}]},"hs_is_closed_won":{"value":"false","timestamp":1659970301134,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1659970301134,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_forecast_amount":{"value":"30","timestamp":1659970301134,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_forecast_amount","value":"30","timestamp":1659970301134,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"createdate":{"value":"1659970301134","timestamp":1659970301134,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970301134","timestamp":1659970301134,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"cf147872-1fb0-4e11-839f-5278510c274f"}]},"amount_in_home_currency":{"value":"30","timestamp":1659970301134,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"amount_in_home_currency","value":"30","timestamp":1659970301134,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1659970301134,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1659970301134,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1659970301134,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1659970301134,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1659970301134,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1659970301134,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1659970301134","timestamp":1659970301134,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970301134","timestamp":1659970301134,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"cf147872-1fb0-4e11-839f-5278510c274f"}]},"hs_createdate":{"value":"1659970301134","timestamp":1659970301134,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1659970301134","timestamp":1659970301134,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"cf147872-1fb0-4e11-839f-5278510c274f"}]},"hs_object_id":{"value":"9756341127","timestamp":1659970301134,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9756341127","timestamp":1659970301134,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"cf147872-1fb0-4e11-839f-5278510c274f"}]},"hs_is_deal_split":{"value":"false","timestamp":1659970301134,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1659970301134,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount":{"value":"0","timestamp":1659970301134,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1659970301134,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1659970301134,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1659970301134,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:41 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9756341127
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9a626526-240c-44aa-8d72-7cc4eb76f258
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
[...]
