---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/groups?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0713c19d-ef78-4d31-8655-438fba457999
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994098'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '181'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
      X-Trace:
      - 2B567FC6F1882B06B3089A090C047C452766691BE4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"deal_activity","fulcrumPortalId":0,"fulcrumTimestamp":0,"displayName":"Deal
        activity","displayOrder":-1,"hubspotDefined":true},{"name":"dealinformation","displayName":"Deal
        Information","displayOrder":0,"hubspotDefined":false},{"name":"analyticsinformation","fulcrumPortalId":0,"fulcrumTimestamp":0,"displayName":"Analytics
        history","displayOrder":1,"hubspotDefined":true},{"name":"salesforceinformation","displayName":"Salesforce
        Information","displayOrder":101,"hubspotDefined":false},{"name":"onboardinggroup","displayName":"Onboarding","displayOrder":80944,"hubspotDefined":false},{"name":"mk_group_fit_segment","displayName":"MadKudo
        Company Fit","displayOrder":80947,"hubspotDefined":false},{"name":"ip__ecomm_bridge__ecomm_bridge","displayName":"ECommerce","displayOrder":80948,"hubspotDefined":false},{"name":"internal3","displayName":"Internal
        (Read Only)","displayOrder":80951,"hubspotDefined":false},{"name":"ip__sync_extension__sync_extension","displayName":"SyncExtension","displayOrder":80952,"hubspotDefined":false}]'
  recorded_at: Wed, 22 Jun 2022 08:50:00 GMT
recorded_with: VCR 6.1.0
