---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/properties/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property_ddd077fd6a6699d03c14aa5347b2a02d","groupName":"dealinformation","description":"How
        much money do you have?","fieldType":"text","formField":true,"type":"string","displayOrder":0,"label":"This
        is my new property","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6a103b5f-23d1-454c-82ea-c283f37b9cac
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498355'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B8B397593DC95886EC1DC9CDE68DFB0F3370DA799000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"my_new_property_ddd077fd6a6699d03c14aa5347b2a02d","label":"This
        is my new property","description":"How much money do you have?","groupName":"dealinformation","type":"string","fieldType":"text","fieldLevelPermission":null,"options":[],"deleted":false,"updatedAt":1655887765557,"createdAt":1655887765557,"referencedObjectType":null,"externalOptionsReferenceType":null,"optionSortStrategy":null,"createdUserId":null,"searchableInGlobalSearch":false,"hasUniqueValue":false,"numberDisplayHint":null,"currencyPropertyName":null,"isCustomizedDefault":false,"updatedUserId":null,"textDisplayHint":null,"optionsAreMutable":null,"searchTextAnalysisMode":null,"hidden":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":null,"readOnlyDefinition":false,"formField":true,"displayOrder":0,"readOnlyValue":false}'
  recorded_at: Wed, 22 Jun 2022 08:49:25 GMT
recorded_with: VCR 6.1.0
