---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/groups/named/ff_group1?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"ff_group1","displayName":"Test Group OneA","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a2480ba0-d775-4e59-aaf1-3e36d17c8d40
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498345'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B875673AABB911DD1A2506FB022645C989F076B74000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ff_group1","displayName":"Test Group OneA","displayOrder":100,"hubspotDefined":false}'
  recorded_at: Wed, 22 Jun 2022 08:49:28 GMT
recorded_with: VCR 6.1.0
