---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/properties/named/i_do_not_exist?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 735607e7-e962-4b95-9efe-402e16da11a0
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498350'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BE4D902D6F078E27D1E88AB719BF7B8011CE84F2A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''i_do_not_exist''","correlationId":"735607e7-e962-4b95-9efe-402e16da11a0","propertiesErrorCode":"PROPERTY_NOT_FOUND"}'
  recorded_at: Wed, 22 Jun 2022 08:49:26 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/properties/named/i_do_not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c5271a6f-119c-428d-8c2f-0c7aad7a7fa5
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249639'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '83'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BE35BFBB10C45C9D5516332907AB6AA0E4CDE65D0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''i_do_not_exist''","correlationId":"c5271a6f-119c-428d-8c2f-0c7aad7a7fa5","propertiesErrorCode":"PROPERTY_NOT_FOUND"}'
  recorded_at: Tue, 02 Aug 2022 14:53:36 GMT
recorded_with: VCR 6.0.0
