---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/groups/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"ff_group1","displayName":"Test Group One","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4e363dbf-aae9-47c9-af8d-dac7760d426c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498710'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '121'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B074479AB4C43CDF01EB8EBDB38DBC3AF174B5676000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"name":"ff_group1","displayName":"Test Group
        One","displayOrder":100,"deleted":false}'
  recorded_at: Tue, 21 Jun 2022 13:28:43 GMT
recorded_with: VCR 6.1.0
