---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/properties/
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property_f070d35a4d0be1168c5e5d1e342fdd91","groupName":"dealinformation","description":"How
        much money do you have?","fieldType":"text","formField":true,"type":"string","displayOrder":0,"label":"This
        is my new property","options":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0452f282-f193-46ac-8108-881ec165e95a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248308'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BD86E90428AD13FD248CF52F429CCEA45D2DEEF46000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"my_new_property_f070d35a4d0be1168c5e5d1e342fdd91","label":"This
        is my new property","description":"How much money do you have?","groupName":"dealinformation","type":"string","fieldType":"text","fieldLevelPermission":null,"options":[],"createdAt":1659970272991,"referencedObjectType":null,"externalOptionsReferenceType":null,"optionSortStrategy":null,"numberDisplayHint":null,"createdUserId":3326038,"searchableInGlobalSearch":false,"hasUniqueValue":false,"isCustomizedDefault":false,"optionsAreMutable":null,"searchTextAnalysisMode":null,"currencyPropertyName":null,"textDisplayHint":null,"updatedUserId":3326038,"hidden":false,"readOnlyValue":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":null,"formField":true,"displayOrder":0,"readOnlyDefinition":false,"deleted":false,"updatedAt":1659970272991}'
  recorded_at: Mon, 08 Aug 2022 14:51:13 GMT
recorded_with: VCR 6.0.0
