---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/groups/named/ff_group1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 74e60c09-6fee-45ae-8542-265789067cf8
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248296'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B07D38127D82B262824EAD98BEFD13EAEF7BBF75A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''ff_group1''.","correlationId":"74e60c09-6fee-45ae-8542-265789067cf8","groupsErrorCode":"GROUP_NOT_FOUND"}'
  recorded_at: Mon, 08 Aug 2022 14:51:18 GMT
recorded_with: VCR 6.0.0
