---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/properties/named/i_do_not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - bb245bd8-71ad-4c47-a9ed-372d9c5b6c6a
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248303'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B5133E77D4C4E7A699EA82E61C30F31FB4E9F404C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''i_do_not_exist''","correlationId":"bb245bd8-71ad-4c47-a9ed-372d9c5b6c6a","propertiesErrorCode":"PROPERTY_NOT_FOUND"}'
  recorded_at: Mon, 08 Aug 2022 14:51:16 GMT
recorded_with: VCR 6.0.0
