---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/groups/
    body:
      encoding: UTF-8
      string: '{"name":"ff_group_c45313ed90bcd374964779b7e60b2751","displayOrder":100}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b59be384-6a7b-4e65-a04a-62fbb2217b8c
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248299'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B41C672283671E290CDFE3CCD8CC143CCBB16306B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"name":"ff_group_c45313ed90bcd374964779b7e60b2751","displayOrder":100}'
  recorded_at: Mon, 08 Aug 2022 14:51:17 GMT
recorded_with: VCR 6.0.0
