---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/groups/
    body:
      encoding: UTF-8
      string: '{"name":"ff_group1","displayName":"Test Group One","displayOrder":100}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6aa63585-f486-40d1-8ea0-d73d9e0d28b6
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248300'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BB4DB4C5EA3D73D69832D9D2713A12CE39E18201A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"name":"ff_group1","displayName":"Test Group
        One","displayOrder":100,"deleted":false}'
  recorded_at: Mon, 08 Aug 2022 14:51:17 GMT
recorded_with: VCR 6.0.0
