---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/properties/
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property_4380a707b1cbb649e6d035c255249223","groupName":"dealinformation","description":"How
        much money do you have?","fieldType":"text","formField":true,"type":"string","displayOrder":0,"label":"This
        is my new property","options":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 452e1795-c6e0-47b2-a39f-418d935badee
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248307'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BA21567F3A663E6647244B97E64C005299E52B793000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"my_new_property_4380a707b1cbb649e6d035c255249223","label":"This
        is my new property","description":"How much money do you have?","groupName":"dealinformation","type":"string","fieldType":"text","fieldLevelPermission":null,"options":[],"createdAt":1659970273516,"referencedObjectType":null,"externalOptionsReferenceType":null,"optionSortStrategy":null,"numberDisplayHint":null,"createdUserId":3326038,"searchableInGlobalSearch":false,"hasUniqueValue":false,"isCustomizedDefault":false,"optionsAreMutable":null,"searchTextAnalysisMode":null,"currencyPropertyName":null,"textDisplayHint":null,"updatedUserId":3326038,"hidden":false,"readOnlyValue":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":null,"formField":true,"displayOrder":0,"readOnlyDefinition":false,"deleted":false,"updatedAt":1659970273516}'
  recorded_at: Mon, 08 Aug 2022 14:51:13 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/properties/named/my_new_property_4380a707b1cbb649e6d035c255249223
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property_4380a707b1cbb649e6d035c255249223","groupName":"dealinformation","description":"What
        is their favorite flavor?","fieldType":"text","formField":true,"type":"string","displayOrder":0,"label":"This
        is my new property","options":[]}'
    headers:
      Authorization:
      - Bearer [...]
