---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/properties/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property_1ce1bdddb3cd3cf364544298880b669e","groupName":"dealinformation","description":"How
        much money do you have?","fieldType":"text","formField":true,"type":"string","displayOrder":0,"label":"This
        is my new property","options":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2176b8b1-3b2b-4c5e-8e0c-b64ac7d4039c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498717'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B7AA1FF02E9B52808C1E0AA44CF658190E5E53329000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"my_new_property_1ce1bdddb3cd3cf364544298880b669e","label":"This
        is my new property","description":"How much money do you have?","groupName":"dealinformation","type":"string","fieldType":"text","fieldLevelPermission":null,"options":[],"deleted":false,"updatedAt":1655818121392,"createdAt":1655818121392,"referencedObjectType":null,"externalOptionsReferenceType":null,"optionSortStrategy":null,"createdUserId":null,"searchableInGlobalSearch":false,"hasUniqueValue":false,"numberDisplayHint":null,"currencyPropertyName":null,"isCustomizedDefault":false,"updatedUserId":null,"textDisplayHint":null,"optionsAreMutable":null,"searchTextAnalysisMode":null,"hidden":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":null,"readOnlyDefinition":false,"formField":true,"displayOrder":0,"readOnlyValue":false}'
  recorded_at: Tue, 21 Jun 2022 13:28:41 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/properties/named/my_new_property_1ce1bdddb3cd3cf364544298880b669e?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property_1ce1bdddb3cd3cf364544298880b669e","groupName":"dealinformation","description":"What
        is their favorite flavor?","fieldType":"text","formField":true,"type":"string","displayOrder":0,"label":"This
        is my new property","options":[]}'
    headers:
      Content-Typ[...]
