---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/properties/named/i_do_not_exist?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 332782e2-05d8-4a5a-bd6c-6a01e53bf0fc
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498713'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BA5978CD15C48F84D0B31443996AAD57016AFC285000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''i_do_not_exist''","correlationId":"332782e2-05d8-4a5a-bd6c-6a01e53bf0fc","propertiesErrorCode":"PROPERTY_NOT_FOUND"}'
  recorded_at: Tue, 21 Jun 2022 13:28:42 GMT
recorded_with: VCR 6.1.0
