---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/pipelines?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"label":"New Pipeline 801e2c9f41ea734d1700c2931000f5a9"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Api-Deprecated:
      - 'This endpoint is deprecated. See more details here: https://developers.hubspot.com/docs/faq/deprecated-apis'
      X-Hubspot-Correlation-Id:
      - 03aa6da2-eb22-4bd0-8489-f2f632996a1a
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498359'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '133'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BEB7C703FBBDEA25C1213EC0E3FE540F2538B726E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"pipelineId":"a4e29501-a8c5-4e29-9d40-ee285be48ed4","stages":[{"stageId":"26544539","label":"Appointment
        Scheduled","probability":0.2,"active":true,"displayOrder":0,"closedWon":false},{"stageId":"26544540","label":"Qualified
        To Buy","probability":0.4,"active":true,"displayOrder":1,"closedWon":false},{"stageId":"26544541","label":"Presentation
        Scheduled","probability":0.6,"active":true,"displayOrder":2,"closedWon":false},{"stageId":"26544542","label":"Decision
        Maker Bought-In","probability":0.8,"active":true,"displayOrder":3,"closedWon":false},{"stageId":"26544543","label":"Contract
        Sent","probability":0.9,"active":true,"displayOrder":4,"closedWon":false},{"stageId":"26544544","label":"Closed
        Won","probability":1.0,"active":true,"displayOrder":5,"closedWon":true},{"stageId":"26544545","label":"Closed
        Lost","probability":0.0,"active":true,"displayOrder":6,"closedWon":false}],"label":"New
        Pipeline 801e2c9f41ea734d1700c2931000f5a9","active":true,"displayOrder":0,"staticDefault":false}'
  recorded_at: Wed, 22 Jun 2022 08:49:24 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/pipelines/a4e29501-a8c5-4e29-9d40-ee285be48ed4?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Api-Deprecated:
      - 'This endpoint is deprecated. See more details here: https://developers.hubspot.com/docs/faq/deprecated-apis'
      X-Hubspot-Correlation-Id:
      - 2454ff93-a71c-4bdd-a96e-bc4eeee0fa25
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498358'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '132'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BFEE2C4DF72ABA211BE30A36A891B022E883325CF000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:49:24 GMT
recorded_with: VCR 6.1.0
