---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"b3fd1d5d2348468a4a482fd5da84f781"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8e6c1bf2-072a-4125-8a6a-de5662f7d89e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498660'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B7A7027B88DE9B758F8F9606DA505D0722AF2D89E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956462139,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655818143543","timestamp":1655818143543,"source":"CALCULATED","sourceId":"8e6c1bf2-072a-4125-8a6a-de5662f7d89e","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818143543","timestamp":1655818143543,"sourceId":"8e6c1bf2-072a-4125-8a6a-de5662f7d89e","source":"CALCULATED","sourceVid":[],"requestId":"8e6c1bf2-072a-4125-8a6a-de5662f7d89e"}]},"name":{"value":"b3fd1d5d2348468a4a482fd5da84f781","timestamp":1655818143543,"source":"API","sourceId":"8e6c1bf2-072a-4125-8a6a-de5662f7d89e","updatedByUserId":null,"versions":[{"name":"name","value":"b3fd1d5d2348468a4a482fd5da84f781","timestamp":1655818143543,"sourceId":"8e6c1bf2-072a-4125-8a6a-de5662f7d89e","source":"API","sourceVid":[],"requestId":"8e6c1bf2-072a-4125-8a6a-de5662f7d89e"}]},"hs_object_id":{"value":"8956462139","timestamp":1655818143543,"source":"API","sourceId":"8e6c1bf2-072a-4125-8a6a-de5662f7d89e","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956462139","timestamp":1655818143543,"sourceId":"8e6c1bf2-072a-4125-8a6a-de5662f7d89e","source":"API","sourceVid":[],"requestId":"8e6c1bf2-072a-4125-8a6a-de5662f7d89e"}]},"createdate":{"value":"1655818143543","timestamp":1655818143543,"source":"API","sourceId":"8e6c1bf2-072a-4125-8a6a-de5662f7d89e","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818143543","timestamp":1655818143543,"sourceId":"8e6c1bf2-072a-4125-8a6a-de5662f7d89e","source":"API","sourceVid":[],"requestId":"8e6c1bf2-072a-4125-8a6a-de5662f7d89e"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:29:03 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"5c13bd7ba925262aba0ca76f3396c03b@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1a3b97de-e250-4bfb-94c3-c6cde94fe7b8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498659'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '127'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BB620641060FE6E64B9090AA38712952DCD7612CA000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":51551,"canonical-vid":51551,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"5c13bd7ba925262aba0ca76f3396c03b@hubspot.com","versions":[{"value":"5c13bd7ba925262aba0ca76f3396c03b@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818143892,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":51551,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"5c13bd7ba925262aba0ca76f3396c03b@hubspot.com","timestamp":1655818143917,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"5269272a-4f3f-4223-929b-2f9da269a85f","timestamp":1655818143928,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:29:04 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[8956462139],"associatedVids":[51551]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 732b9b4b-f1ad-4395-8a53-e612522a1106
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498658'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '130'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BD2CD8144601DE33317032DB1E23D11D870A2E34F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9260453939,"isDeleted":false,"associations":{"associatedVids":[51551],"associatedCompanyIds":[8956462139],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655818144307,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655818144307,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"amount":{"value":"30","timestamp":1655818144307,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"amount","value":"30","timestamp":1655818144307,"source":"API","sourceVid":[],"requestId":"732b9b4b-f1ad-4395-8a53-e612522a1106"}]},"hs_is_closed_won":{"value":"false","timestamp":1655818144307,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655818144307,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_forecast_amount":{"value":"30","timestamp":1655818144307,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_forecast_amount","value":"30","timestamp":1655818144307,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"createdate":{"value":"1655818144307","timestamp":1655818144307,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818144307","timestamp":1655818144307,"source":"API","sourceVid":[],"requestId":"732b9b4b-f1ad-4395-8a53-e612522a1106"}]},"amount_in_home_currency":{"value":"30","timestamp":1655818144307,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"amount_in_home_currency","value":"30","timestamp":1655818144307,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655818144307,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655818144307,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655818144307,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655818144307,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655818144307,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655818144307,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655818144307","timestamp":1655818144307,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818144307","timestamp":1655818144307,"source":"CALCULATED","sourceVid":[],"requestId":"732b9b4b-f1ad-4395-8a53-e612522a1106"}]},"hs_createdate":{"value":"1655818144307","timestamp":1655818144307,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655818144307","timestamp":1655818144307,"source":"API","sourceVid":[],"requestId":"732b9b4b-f1ad-4395-8a53-e612522a1106"}]},"hs_object_id":{"value":"9260453939","timestamp":1655818144307,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9260453939","timestamp":1655818144307,"source":"API","sourceVid":[],"requestId":"732b9b4b-f1ad-4395-8a53-e612522a1106"}]},"hs_is_deal_split":{"value":"false","timestamp":1655818144307,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655818144307,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount":{"value":"0","timestamp":1655818144307,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655818144307,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655818144307,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655818144307,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Tue, 21 Jun 2022 13:29:04 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/deals/v1/deal/9260453939?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - f7d453f4-920d-44aa-a4dd-3188835166f1
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498657'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B7D0565B8DD7B70F32623567300440C91C1C5FBBE000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:29:04 GMT
recorded_with: VCR 6.1.0
