---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/FAKE_TYPE/1/paged?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7327fb4b-ae6b-4434-abb7-f3ee78b5f536
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498278'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B8FF635A10382DB4E0AD326029E82BB1A1027AB41000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Invalid enum constant ''FAKE_TYPE'' for
        class ObjectType","correlationId":"7327fb4b-ae6b-4434-abb7-f3ee78b5f536"}'
  recorded_at: Wed, 22 Jun 2022 08:49:46 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/FAKE_TYPE/1/paged
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a7fdbd06-aa9a-4803-98eb-9aaf957015b7
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249549'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B27E4C0CF7D17C8D92A130A89DB3A5F126F8DD701000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Invalid enum constant ''FAKE_TYPE'' for
        class ObjectType","correlationId":"a7fdbd06-aa9a-4803-98eb-9aaf957015b7"}'
  recorded_at: Tue, 02 Aug 2022 14:54:23 GMT
recorded_with: VCR 6.0.0
