---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/3981023?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d705461c-eac7-41a4-99e4-e4f49a74df7a
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '988325'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '199'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '19'
      X-Trace:
      - 2B86D764EB887ADB94AC8F814804A33E53A2F8026F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"engagement":{"id":3981023,"portalId":62515,"active":true,"createdAt":1427805706555,"lastUpdated":1565303897789,"ownerId":1,"type":"PUBLISHING_TASK","uid":"null-2682673052","timestamp":1409172644778,"allAccessibleTeamIds":[],"bodyPreview":"a
        new note body","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n a new note body\n </body>\n</html>"},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"scheduledTasks":[],"metadata":{"body":"a
        new note body"}}'
  recorded_at: Tue, 21 Jun 2022 13:29:04 GMT
recorded_with: VCR 6.1.0
