---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"CALL"},"associations":{"contactIds":[null],"dealIds":[null],"ownerIds":[null]},"metadata":{"body":"test
        call","status":"COMPLETED","durationMilliseconds":0}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b5c6e070-d749-4454-92b7-7e934e00a182
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498259'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '116'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BA24DDEE13DCCB3848CCEDB4957CE8C8D34C97818000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"associationCreateFailures":[],"engagement":{"id":22885644581,"portalId":<PORTAL_ID>,"active":true,"createdAt":1655887791991,"lastUpdated":1655887791991,"type":"CALL","timestamp":1655887791991,"allAccessibleTeamIds":[],"bodyPreview":"test
        call","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n test call\n </body>\n</html>"},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"status":"COMPLETED","durationMilliseconds":0,"body":"test
        call"}}'
  recorded_at: Wed, 22 Jun 2022 08:49:52 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/22885644581?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 499e7685-8fb7-44da-ab3a-e0f925bf02c7
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498258'
 [...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/22885644581?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      X-Hubspot-Correlation-Id:
      - 5d9759fd-507a-497f-bb30-80a53cfc1f7e
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498256'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '115'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B2622DEB83C4FE8BDF36FC041FB35E9970F9D1C09000000000000000000
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Resource not found</p>
        </body>
        </html>
  recorded_at: Wed, 22 Jun 2022 08:49:52 GMT
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"CALL"},"associations":{"contactIds":[null],"dealIds":[null],"ownerIds":[null]},"metadata":{"body":"test
        call","status":"COMPLETED","durationMilliseconds":0}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 79a58802-0109-4ca0-8e04-8b4be4021687
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249527'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B3D248533DAA0A0F2F6315F0CAF5395C1F39C6BC8000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"associationCreateFailures":[],"engagement":{"id":24203895065,"portalId":<PORTAL_ID>,"active":true,"createdAt":1659452075672,"lastUpdated":1659452075672,"type":"CALL","timestamp":1659452075672,"allAccessibleTeamIds":[],"bodyPreview":"test
        call","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n test call\n </body>\n</html>"},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"status":"COMPLETED","durationMilliseconds":0,"body":"test
        call"}}'
  recorded_at: Tue, 02 Aug 2022 14:54:35 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/24203895065
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f306f137-3dfa-4f75-901a-060b09cc57c7
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Dai[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/24203895065
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      X-Hubspot-Correlation-Id:
      - 98774934-3b31-439e-8d8b-b6d1f38154e9
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249524'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B89C63242BA71F329A1D9C48E0582796AE4204408000000000000000000
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Resource not found</p>
        </body>
        </html>
  recorded_at: Tue, 02 Aug 2022 14:54:36 GMT
recorded_with: VCR 6.0.0
