---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"NOTE"},"associations":{"contactIds":[null]},"metadata":{"body":"note"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f60e24cc-ef5f-4648-9c24-64485837bcca
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498271'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B8CC2126D1673E1457B53BD133FA9BFC0FDA0A7E0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"associationCreateFailures":[],"engagement":{"id":22886113427,"portalId":<PORTAL_ID>,"active":true,"createdAt":1655887789134,"lastUpdated":1655887789134,"type":"NOTE","timestamp":1655887789134,"allAccessibleTeamIds":[],"bodyPreview":"note","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n note\n </body>\n</html>"},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"note"}}'
  recorded_at: Wed, 22 Jun 2022 08:49:49 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"200e0a169118fedfffbfd06049084e7e@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fcd5a832-88d9-49f1-a8b3-62a96c12d714
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498270'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BC2B8942EA7F0C20DC4968D28C59874D81B7A1214000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":68553,"canonical-vid":68553,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"200e0a169118fedfffbfd06049084e7e@hubspot.com","versions":[{"value":"200e0a169118fedfffbfd06049084e7e@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887789351,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":68553,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"200e0a169118fedfffbfd06049084e7e@hubspot.com","timestamp":1655887789357,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"da9b66e7-f53d-42e4-a3e1-d824311552b0","timestamp":1655887789366,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:49 GMT
- request:
    method: put
    uri: https://api.hubapi.com/engagements/v1/engagements/22886113427/associations/contact/68553?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - a858734f-e31b-4295-8eaa-5e3628c06abc
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498269'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B90F058B57299F9FDE0BF9E438B79EDA99CF7B0D0000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:49:49 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/CONTACT/68553/paged?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ee9028b7-f988-4df7-be39-d300248be909
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498268'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B160C5D4C4CDF81AAE5D644FECCAA4DA065EFA3BE000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"engagement":{"id":22886113427,"portalId":<PORTAL_ID>,"active":true,"createdAt":1655887789134,"lastUpdated":1655887789134,"type":"NOTE","timestamp":1655887789134,"allAccessibleTeamIds":[],"bodyPreview":"note","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n note\n </body>\n</html>"},"associations":{"contactIds":[68553],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"note"}}],"hasMore":false,"offset":22886113427}'
  recorded_at: Wed, 22 Jun 2022 08:49:49 GMT
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"NOTE"},"associations":{"contactIds":[null]},"metadata":{"body":"note"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 46d69a24-b07a-49a3-bceb-b5dc04fbdf31
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249540'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B7477BB5D7334BCA8A22EB5BF631735E304711E73000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"associationCreateFailures":[],"engagement":{"id":24203832347,"portalId":<PORTAL_ID>,"active":true,"createdAt":1659452068053,"lastUpdated":1659452068053,"type":"NOTE","timestamp":1659452068053,"allAccessibleTeamIds":[],"bodyPreview":"note","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n note\n </body>\n</html>"},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"note"}}'
  recorded_at: Tue, 02 Aug 2022 14:54:28 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"f126eebc7acca9d4cef70adbc9f9308e@hubspot.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - [...]
- request:
    method: put
    uri: https://api.hubapi.com/engagements/v1/engagements/24203832347/associations/contact/160651
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 5a570185-3434-44ee-b946-91ad2daa3761
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249538'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B23F70F4E783983F471D6115D27B2E37325A13AEE000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Aug 2022 14:54:29 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/CONTACT/160651/paged
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ccdc2d12-be5c-4ae3-8a61-9e0d61403f3e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-H[...]
