---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/FAKE_TYPE/1/paged
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - af842992-233b-4129-8f9c-36f22a24b45e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248213'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B573466C52EBB9B29BED1DF38983AE3332658E1C2000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Invalid enum constant ''FAKE_TYPE'' for
        class ObjectType","correlationId":"af842992-233b-4129-8f9c-36f22a24b45e"}'
  recorded_at: Mon, 08 Aug 2022 14:51:56 GMT
recorded_with: VCR 6.0.0
