---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"08284080e0a0f815266302ecba8d8990@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f60a949c-b1a2-4ab1-8c3b-015d508209d4
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498289'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '137'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BCE87EB50C5409A43A5B59F56E98CA1B5199DE3B6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":68751,"canonical-vid":68751,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"08284080e0a0f815266302ecba8d8990@hubspot.com","versions":[{"value":"08284080e0a0f815266302ecba8d8990@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887783353,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":68751,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"08284080e0a0f815266302ecba8d8990@hubspot.com","timestamp":1655887783361,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"eb7cfeb3-9a69-42cf-a6be-8083cb4d98d2","timestamp":1655887783385,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:43 GMT
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"NOTE"},"associations":{"contactIds":[68751]},"metadata":{"body":"foo"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 73432adf-cf4e-4cd1-bc6b-9c02ee69964f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498288'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '136'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B675B1689918ADF172ADA78C0A961229D9737F404000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"associationCreateFailures":[],"engagement":{"id":22886072194,"portalId":<PORTAL_ID>,"active":true,"createdAt":1655887783715,"lastUpdated":1655887783715,"type":"NOTE","timestamp":1655887783715,"allAccessibleTeamIds":[],"bodyPreview":"foo","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n foo\n </body>\n</html>"},"associations":{"contactIds":[68751],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"foo"}}'
  recorded_at: Wed, 22 Jun 2022 08:49:43 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/22886072194?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8d4f8e5e-3246-486b-9f14-0a234dc57e51
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498287'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '135'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B9A066B7EDD3D98AC951D16F3E2DFCB3C45700741000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"engagement":{"id":22886072194,"portalId":<PORTAL_ID>,"active":true,"createdAt":1655887783715,"lastUpdated":1655887783715,"type":"NOTE","timestamp":1655887783715,"allAccessibleTeamIds":[],"bodyPreview":"foo","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n foo\n </body>\n</html>"},"associations":{"contactIds":[68751],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"foo"}}'
  recorded_at: Wed, 22 Jun 2022 08:49:44 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"fa9ccac73c71a9ab6fd3bd0073b72dbb@hubspot.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 23acc8b5-e32f-48f8-a62f-66451534886f
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249560'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"NOTE"},"associations":{"contactIds":[159954]},"metadata":{"body":"foo"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id[...]
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/24201201965
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1f8996c7-ee43-42c3-9d9f-9a2cc7a309ac
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Dai[...]
