---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"d300ae99ec9709a8ac6bb7713bf1e443@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c2ea9880-9067-44e4-a55b-a689994a1b03
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498652'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '138'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B923835D0A1BE305AA265618E5232BE3782E301BA000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":51651,"canonical-vid":51651,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"d300ae99ec9709a8ac6bb7713bf1e443@hubspot.com","versions":[{"value":"d300ae99ec9709a8ac6bb7713bf1e443@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818146581,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":51651,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"d300ae99ec9709a8ac6bb7713bf1e443@hubspot.com","timestamp":1655818146588,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"d7fc401c-cc48-41c0-8d0d-956b5b7efccb","timestamp":1655818146600,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:29:06 GMT
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"NOTE"},"associations":{"contactIds":[51651]},"metadata":{"body":"foo"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d8790ee0-dced-43f9-a195-cd9a2bcbc9ab
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498651'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '137'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B8B0EF4B28E11C25B3B003C3512F9EDEE92B078BF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"associationCreateFailures":[],"engagement":{"id":22851243357,"portalId":<PORTAL_ID>,"active":true,"createdAt":1655818147043,"lastUpdated":1655818147043,"type":"NOTE","timestamp":1655818147043,"allAccessibleTeamIds":[],"bodyPreview":"foo","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n foo\n </body>\n</html>"},"associations":{"contactIds":[51651],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"foo"}}'
  recorded_at: Tue, 21 Jun 2022 13:29:07 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"96b82ff03a646526f6ea3327ecc1f9b0"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4a0f43c3-7a14-4094-a903-550c69c2de11
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498650'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '136'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BA6FF6E919A7BAB58B9007165D2052675EADA1041000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956462148,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655818147434","timestamp":1655818147434,"source":"CALCULATED","sourceId":"4a0f43c3-7a14-4094-a903-550c69c2de11","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818147434","timestamp":1655818147434,"sourceId":"4a0f43c3-7a14-4094-a903-550c69c2de11","source":"CALCULATED","sourceVid":[],"requestId":"4a0f43c3-7a14-4094-a903-550c69c2de11"}]},"name":{"value":"96b82ff03a646526f6ea3327ecc1f9b0","timestamp":1655818147434,"source":"API","sourceId":"4a0f43c3-7a14-4094-a903-550c69c2de11","updatedByUserId":null,"versions":[{"name":"name","value":"96b82ff03a646526f6ea3327ecc1f9b0","timestamp":1655818147434,"sourceId":"4a0f43c3-7a14-4094-a903-550c69c2de11","source":"API","sourceVid":[],"requestId":"4a0f43c3-7a14-4094-a903-550c69c2de11"}]},"hs_object_id":{"value":"8956462148","timestamp":1655818147434,"source":"API","sourceId":"4a0f43c3-7a14-4094-a903-550c69c2de11","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956462148","timestamp":1655818147434,"sourceId":"4a0f43c3-7a14-4094-a903-550c69c2de11","source":"API","sourceVid":[],"requestId":"4a0f43c3-7a14-4094-a903-550c69c2de11"}]},"createdate":{"value":"1655818147434","timestamp":1655818147434,"source":"API","sourceId":"4a0f43c3-7a14-4094-a903-550c69c2de11","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818147434","timestamp":1655818147434,"sourceId":"4a0f43c3-7a14-4094-a903-550c69c2de11","source":"API","sourceVid":[],"requestId":"4a0f43c3-7a14-4094-a903-550c69c2de11"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:29:07 GMT
- request:
    method: put
    uri: https://api.hubapi.com/engagements/v1/engagements/22851243357/associations/Company/8956462148?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - b6416819-ee64-44be-a930-e68f64fb1f3b
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498649'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '135'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B195D4FC60842357A677E9488765AF4E63407D4A9000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:29:07 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/COMPANY/8956462148/paged?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2f1371cd-b945-4bb0-86c7-fddea96dcb01
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498648'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '134'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BC67982CDA8351CF6CED6C2C2C4E2943AAD1B5B18000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"engagement":{"id":22851243357,"portalId":<PORTAL_ID>,"active":true,"createdAt":1655818147043,"lastUpdated":1655818147043,"type":"NOTE","timestamp":1655818147043,"allAccessibleTeamIds":[],"bodyPreview":"foo","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n foo\n </body>\n</html>"},"associations":{"contactIds":[51651],"companyIds":[8956462148],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"foo"}}],"hasMore":false,"offset":22851243357}'
  recorded_at: Tue, 21 Jun 2022 13:29:07 GMT
recorded_with: VCR 6.1.0
