---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"9e0ac321ee3c56cc4be12d1e731fdd29@hubspot.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 58cca616-0e21-4bb5-a166-965432e32a86
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248194'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B84610EB64A096B41B1C849008EE7C0B2A0B96706000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":24502,"canonical-vid":24502,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"9e0ac321ee3c56cc4be12d1e731fdd29@hubspot.com","versions":[{"value":"9e0ac321ee3c56cc4be12d1e731fdd29@hubspot.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970325108,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":24502,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"9e0ac321ee3c56cc4be12d1e731fdd29@hubspot.com","timestamp":1659970325117,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"0f07e079-aa96-4fc1-bba5-0e66b1e5279d","timestamp":1659970325128,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:52:05 GMT
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"CALL"},"associations":{"contactIds":[24502],"dealIds":[null],"ownerIds":[null]},"metadata":{"body":"foo","status":"COMPLETED","durationMilliseconds":42}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2e57ec73-adaa-4ef2-a6f2-1c034d3ff244
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248193'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B03A34D430AD1B8EE2E06EEBA900C36BB7E202406000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"associationCreateFailures":[],"engagement":{"id":24386466099,"portalId":<PORTAL_ID>,"active":true,"createdAt":1659970325714,"lastUpdated":1659970325714,"type":"CALL","timestamp":1659970325714,"allAccessibleTeamIds":[],"bodyPreview":"foo","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n foo\n </body>\n</html>"},"associations":{"contactIds":[24502],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"status":"COMPLETED","durationMilliseconds":42,"body":"foo"}}'
  recorded_at: Mon, 08 Aug 2022 14:52:06 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/24386466099
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 534359f2-575f-4125-b8e2-246d892c6dee
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Dai[...]
