---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"2bbb3605bbc5c3dc61d5475b90662928@hubspot.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9f901ad7-53df-404b-904e-20a4a87d8571
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248221'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BD9B4AAE315513B07706A7B19D384501CF3BE0AB7000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":24551,"canonical-vid":24551,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"2bbb3605bbc5c3dc61d5475b90662928@hubspot.com","versions":[{"value":"2bbb3605bbc5c3dc61d5475b90662928@hubspot.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970313198,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":24551,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"2bbb3605bbc5c3dc61d5475b90662928@hubspot.com","timestamp":1659970313207,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"fe3d1247-38b0-4b7b-82b7-10db4b5d03d6","timestamp":1659970313216,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:53 GMT
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"NOTE"},"associations":{"contactIds":[24551]},"metadata":{"body":"foo"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2751bf78-fb32-41dd-8e88-d3a694c3e45d
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248220'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BD44A6696B2E60FB28F8D9AD877B428B824BB9B7F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"associationCreateFailures":[],"engagement":{"id":24386769995,"portalId":<PORTAL_ID>,"active":true,"createdAt":1659970313774,"lastUpdated":1659970313774,"type":"NOTE","timestamp":1659970313774,"allAccessibleTeamIds":[],"bodyPreview":"foo","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n foo\n </body>\n</html>"},"associations":{"contactIds":[24551],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"foo"}}'
  recorded_at: Mon, 08 Aug 2022 14:51:54 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"82d2b40f3bd7ba5f651181b58c63437f"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 11008d8f-3a53-4662-a025-e56e8dd0877f
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248219'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B54BE947FC69B614F62D22489D74613822E8B5156000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337717418,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1659970314334","timestamp":1659970314334,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970314334","timestamp":1659970314334,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"11008d8f-3a53-4662-a025-e56e8dd0877f"}]},"name":{"value":"82d2b40f3bd7ba5f651181b58c63437f","timestamp":1659970314334,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"82d2b40f3bd7ba5f651181b58c63437f","timestamp":1659970314334,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"11008d8f-3a53-4662-a025-e56e8dd0877f"}]},"hs_object_id":{"value":"9337717418","timestamp":1659970314334,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337717418","timestamp":1659970314334,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"11008d8f-3a53-4662-a025-e56e8dd0877f"}]},"createdate":{"value":"1659970314334","timestamp":1659970314334,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970314334","timestamp":1659970314334,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"11008d8f-3a53-4662-a025-e56e8dd0877f"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:54 GMT
- request:
    method: put
    uri: https://api.hubapi.com/engagements/v1/engagements/24386769995/associations/Company/9337717418
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - a671e670-ccb2-4e22-a728-64a51fe02b25
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248218'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BEF86F23342B3630D2FA74B2A944774169B43CE7C000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2022 14:51:55 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/COMPANY/9337717418/paged
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - da4824e4-8adf-43e7-802b-b634d2e005ee
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248217'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B88A61386F72CA6723D879E2C4BBF5C97B6B8BA0A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"engagement":{"id":24386769995,"portalId":<PORTAL_ID>,"active":true,"createdAt":1659970313774,"lastUpdated":1659970313774,"type":"NOTE","timestamp":1659970313774,"allAccessibleTeamIds":[],"bodyPreview":"foo","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n foo\n </body>\n</html>"},"associations":{"contactIds":[24551],"companyIds":[9337717418],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"foo"}}],"hasMore":false,"offset":24386769995}'
  recorded_at: Mon, 08 Aug 2022 14:51:55 GMT
recorded_with: VCR 6.0.0
