---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"9d244a6c39206ca1e583a83121e18a47@hubspot.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d88b3913-8ecb-408f-8761-87af1b78136e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248216'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BA16EF877AB2C2325BD51AC61B37C2D5A56294C47000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":24601,"canonical-vid":24601,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"9d244a6c39206ca1e583a83121e18a47@hubspot.com","versions":[{"value":"9d244a6c39206ca1e583a83121e18a47@hubspot.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970315598,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":24601,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"9d244a6c39206ca1e583a83121e18a47@hubspot.com","timestamp":1659970315607,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"4e1b60dd-1cbe-46ee-86dd-684822a731c0","timestamp":1659970315656,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:56 GMT
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"NOTE"},"associations":{"contactIds":[24601]},"metadata":{"body":"foo"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 55fb5f5c-a81d-4b2e-81f0-1c6c14ec869b
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248215'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BC4F24BF9A291AFDD50A126E192B6989087CC5587000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"associationCreateFailures":[],"engagement":{"id":24386727091,"portalId":<PORTAL_ID>,"active":true,"createdAt":1659970316321,"lastUpdated":1659970316321,"type":"NOTE","timestamp":1659970316321,"allAccessibleTeamIds":[],"bodyPreview":"foo","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n foo\n </body>\n</html>"},"associations":{"contactIds":[24601],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"foo"}}'
  recorded_at: Mon, 08 Aug 2022 14:51:56 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/CONTACT/24601/paged
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 34d78502-de92-4b4e-83bb-f77913777443
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248214'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B9A42BDD458EAF6BF680CEBE040DFF086FD3AFB3B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"engagement":{"id":24386727091,"portalId":<PORTAL_ID>,"active":true,"createdAt":1659970316321,"lastUpdated":1659970316321,"type":"NOTE","timestamp":1659970316321,"allAccessibleTeamIds":[],"bodyPreview":"foo","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n foo\n </body>\n</html>"},"associations":{"contactIds":[24601],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"foo"}}],"hasMore":false,"offset":24386727091}'
  recorded_at: Mon, 08 Aug 2022 14:51:56 GMT
recorded_with: VCR 6.0.0
