---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"CALL"},"associations":{"contactIds":[null],"dealIds":[null],"ownerIds":[null]},"metadata":{"body":"test
        call","status":"COMPLETED","durationMilliseconds":0}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a0a497aa-4460-4d40-bfc6-ea9010874a45
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248191'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BBE67A441CC3E06376E3D573350057C409C81E334000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"associationCreateFailures":[],"engagement":{"id":24384342577,"portalId":<PORTAL_ID>,"active":true,"createdAt":1659970326598,"lastUpdated":1659970326598,"type":"CALL","timestamp":1659970326598,"allAccessibleTeamIds":[],"bodyPreview":"test
        call","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n test call\n </body>\n</html>"},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"status":"COMPLETED","durationMilliseconds":0,"body":"test
        call"}}'
  recorded_at: Mon, 08 Aug 2022 14:52:06 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/24384342577
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d2eaad7f-16ee-4bad-b950-7d7e1e72e3d5
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Dai[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/24384342577
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      X-Hubspot-Correlation-Id:
      - '09053227-fc98-477b-b6ac-f1421f6346ce'
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248188'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B108FBC2B4157602238C8457296FB65144AB84BF4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Resource not found</p>
        </body>
        </html>
  recorded_at: Mon, 08 Aug 2022 14:52:07 GMT
recorded_with: VCR 6.0.0
