---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/FAKE_TYPE/1/paged?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7327fb4b-ae6b-4434-abb7-f3ee78b5f536
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498278'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B8FF635A10382DB4E0AD326029E82BB1A1027AB41000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Invalid enum constant ''FAKE_TYPE'' for
        class ObjectType","correlationId":"7327fb4b-ae6b-4434-abb7-f3ee78b5f536"}'
  recorded_at: Wed, 22 Jun 2022 08:49:46 GMT
recorded_with: VCR 6.1.0
