---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/FAKE_TYPE/1/paged?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a3bb776f-f4ee-4405-a891-a5a12a5610b8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498644'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '130'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BD406E7B9711729CEF961A3376B4E5000C3C90E4F000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Invalid enum constant ''FAKE_TYPE'' for
        class ObjectType","correlationId":"a3bb776f-f4ee-4405-a891-a5a12a5610b8"}'
  recorded_at: Tue, 21 Jun 2022 13:29:09 GMT
recorded_with: VCR 6.1.0
