---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/3981023?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 995c30ae-b582-4689-9d18-04dc487ab6fc
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '984613'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '196'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '19'
      X-Trace:
      - 2BCA452BA7DBADFC79369DAE94BD1BB0E0B418E381000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"engagement":{"id":3981023,"portalId":62515,"active":true,"createdAt":1427805706555,"lastUpdated":1565303897789,"type":"PUBLISHING_TASK","uid":"null-2682673052","timestamp":1409172644778,"allAccessibleTeamIds":[],"bodyPreview":"a
        new note body","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n a new note body\n </body>\n</html>"},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"scheduledTasks":[],"metadata":{"body":"a
        new note body"}}'
  recorded_at: Tue, 02 Aug 2022 14:54:17 GMT
recorded_with: VCR 6.0.0
