---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"15982022a0e924c22e4bb1c0460f4e52@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 90741b8e-85ad-4f91-88f3-b9e8e8997c16
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498286'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '134'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BBBD9DE19D6374D30BC57D65D2E8F652035A8BB76000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":68801,"canonical-vid":68801,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"15982022a0e924c22e4bb1c0460f4e52@hubspot.com","versions":[{"value":"15982022a0e924c22e4bb1c0460f4e52@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887784211,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":68801,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"15982022a0e924c22e4bb1c0460f4e52@hubspot.com","timestamp":1655887784220,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"44a61294-c599-44cf-ab61-8a6760a76c30","timestamp":1655887784288,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:44 GMT
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"NOTE"},"associations":{"contactIds":[68801]},"metadata":{"body":"foo"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4b9a8fb7-9e98-46f9-96d2-ad5386278b3c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498285'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '133'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B6926FDADD44E962E433D3C9595A921BDE7461B58000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"associationCreateFailures":[],"engagement":{"id":22885797425,"portalId":<PORTAL_ID>,"active":true,"createdAt":1655887784653,"lastUpdated":1655887784653,"type":"NOTE","timestamp":1655887784653,"allAccessibleTeamIds":[],"bodyPreview":"foo","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n foo\n </body>\n</html>"},"associations":{"contactIds":[68801],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"foo"}}'
  recorded_at: Wed, 22 Jun 2022 08:49:44 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"6ab0891678d71cd8da5b09df7e96f693"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ce7db49e-2837-46ae-9a19-6e7969e479cd
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498284'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '132'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B0296700D64BA6AA09B2A6E329C2D5D779DE9AB8C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963374230,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655887784906","timestamp":1655887784906,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887784906","timestamp":1655887784906,"source":"CALCULATED","sourceVid":[],"requestId":"ce7db49e-2837-46ae-9a19-6e7969e479cd"}]},"name":{"value":"6ab0891678d71cd8da5b09df7e96f693","timestamp":1655887784906,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"6ab0891678d71cd8da5b09df7e96f693","timestamp":1655887784906,"source":"API","sourceVid":[],"requestId":"ce7db49e-2837-46ae-9a19-6e7969e479cd"}]},"hs_object_id":{"value":"8963374230","timestamp":1655887784906,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963374230","timestamp":1655887784906,"source":"API","sourceVid":[],"requestId":"ce7db49e-2837-46ae-9a19-6e7969e479cd"}]},"createdate":{"value":"1655887784906","timestamp":1655887784906,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887784906","timestamp":1655887784906,"source":"API","sourceVid":[],"requestId":"ce7db49e-2837-46ae-9a19-6e7969e479cd"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:44 GMT
- request:
    method: put
    uri: https://api.hubapi.com/engagements/v1/engagements/22885797425/associations/Company/8963374230?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 64394fb2-46cb-42af-aeaf-a3649ca83f84
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498283'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '131'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B07B404A3D7D0733706642C6125D6A5DE190D65C7000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:49:45 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/associated/COMPANY/8963374230/paged?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cbc50a97-27ec-4413-8d03-fac7de099312
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498282'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '130'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B53F8F1187BF8ABE8C1E0D9EED8A25AC9EB2B8F58000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"engagement":{"id":22885797425,"portalId":<PORTAL_ID>,"active":true,"createdAt":1655887784653,"lastUpdated":1655887784653,"type":"NOTE","timestamp":1655887784653,"allAccessibleTeamIds":[],"bodyPreview":"foo","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n foo\n </body>\n</html>"},"associations":{"contactIds":[68801],"companyIds":[8963374230],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"foo"}}],"hasMore":false,"offset":22885797425}'
  recorded_at: Wed, 22 Jun 2022 08:49:45 GMT
recorded_with: VCR 6.1.0
