---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":null,"dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7398b380-2cc1-4429-8900-d0dab8bd1afb
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498513'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BA4059F0368935222B6C4EABA8B1DBA00FD23C5D5000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"{\"status\":\"error\",\"message\":\"Every
        list must have a name.\",\"correlationId\":\"7398b380-2cc1-4429-8900-d0dab8bd1afb\"}","correlationId":"7398b380-2cc1-4429-8900-d0dab8bd1afb"}'
  recorded_at: Wed, 22 Jun 2022 08:48:29 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists
    body:
      encoding: UTF-8
      string: '{"name":null,"dynamic":false,"portal_id":null}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6d822305-6fb6-4051-a439-c63046710bd5
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249394'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '85'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B32AF03853EB0A25FE4DA3FC6263B3BE396C8A3A9000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"{\"status\":\"error\",\"message\":\"Every
        list must have a name.\",\"correlationId\":\"6d822305-6fb6-4051-a439-c63046710bd5\"}","correlationId":"6d822305-6fb6-4051-a439-c63046710bd5"}'
  recorded_at: Mon, 08 Aug 2022 12:38:23 GMT
recorded_with: VCR 6.0.0
