---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6f340ba1-95cf-4bea-be5b-9dbd826991b3
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498620'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B349FFC37CBF4E8BAC30206D85341DBD4553CA303000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Form name is required, form guid ''93889dcb-c2e0-4103-8a33-22be1850bc8c''","correlationId":"6f340ba1-95cf-4bea-be5b-9dbd826991b3","type":"MISSING_NAME"}'
  recorded_at: Tue, 21 Jun 2022 13:29:19 GMT
recorded_with: VCR 6.1.0
