---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":null,"dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7398b380-2cc1-4429-8900-d0dab8bd1afb
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498513'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BA4059F0368935222B6C4EABA8B1DBA00FD23C5D5000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"{\"status\":\"error\",\"message\":\"Every
        list must have a name.\",\"correlationId\":\"7398b380-2cc1-4429-8900-d0dab8bd1afb\"}","correlationId":"7398b380-2cc1-4429-8900-d0dab8bd1afb"}'
  recorded_at: Wed, 22 Jun 2022 08:48:29 GMT
recorded_with: VCR 6.1.0
