---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":null,"dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 60bfa368-9e74-488a-9d5f-7df9341d4949
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498876'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BEC48FEC67D9D455A2D8B22A7EB50878BC21AFBA1000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"{\"status\":\"error\",\"message\":\"Every
        list must have a name.\",\"correlationId\":\"60bfa368-9e74-488a-9d5f-7df9341d4949\"}","correlationId":"60bfa368-9e74-488a-9d5f-7df9341d4949"}'
  recorded_at: Tue, 21 Jun 2022 13:27:33 GMT
recorded_with: VCR 6.1.0
