---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists
    body:
      encoding: UTF-8
      string: '{"name":null,"dynamic":false,"portal_id":null}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ec800086-1a59-4438-82b3-abf1874e2b06
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248430'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B62C7F98F90708892A055C8DF903C155AD08116D3000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"{\"status\":\"error\",\"message\":\"Every
        list must have a name.\",\"correlationId\":\"ec800086-1a59-4438-82b3-abf1874e2b06\"}","correlationId":"ec800086-1a59-4438-82b3-abf1874e2b06"}'
  recorded_at: Mon, 08 Aug 2022 14:50:13 GMT
recorded_with: VCR 6.0.0
