---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b754e120-9660-4f5f-9cd0-b0bf66835327
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498254'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B0892E81EB9FB335270BD4DBCA4331357D7E94734000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Form name is required, form guid ''30f522ad-e6ea-4668-ab15-7e65509ab453''","correlationId":"b754e120-9660-4f5f-9cd0-b0bf66835327","type":"MISSING_NAME"}'
  recorded_at: Wed, 22 Jun 2022 08:49:54 GMT
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a56705ee-0455-4498-ace1-16310183a59b
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249859'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '85'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BEFE6E8DBAC4365642C0266F7E2405CF83EA8E4C5000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Form name is required, form guid ''7196945e-a914-47dc-8583-de88e4c99a62''","correlationId":"a56705ee-0455-4498-ace1-16310183a59b","type":"MISSING_NAME"}'
  recorded_at: Wed, 03 Aug 2022 13:12:58 GMT
recorded_with: VCR 6.0.0
