---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b754e120-9660-4f5f-9cd0-b0bf66835327
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498254'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B0892E81EB9FB335270BD4DBCA4331357D7E94734000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Form name is required, form guid ''30f522ad-e6ea-4668-ab15-7e65509ab453''","correlationId":"b754e120-9660-4f5f-9cd0-b0bf66835327","type":"MISSING_NAME"}'
  recorded_at: Wed, 22 Jun 2022 08:49:54 GMT
recorded_with: VCR 6.1.0
