---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4a5ead38-2b88-4f9e-b904-1e69a78848ce
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248171'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '73'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BAF299BD895F86E096A470B16468468156AD4BC14000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Form name is required, form guid ''66483ac3-619b-416d-9e29-5b77a0e5a078''","correlationId":"4a5ead38-2b88-4f9e-b904-1e69a78848ce","type":"MISSING_NAME"}'
  recorded_at: Mon, 08 Aug 2022 14:52:13 GMT
recorded_with: VCR 6.0.0
