---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/fields/038e819c-5262-4c13-8550-8cabe38c4309?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ad763023-6d20-414a-b157-04b5f9f7260d
      X-Trace:
      - 2B5D6D1F306F853716506E10F0CDBE7AD8ECEDD6EC000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Request implies conflicting values for
        hub-id: <PORTAL_ID> from [oauth-token (<ACCESS_TOKEN>)] vs. 62515 from hapikey
        (demo)","correlationId":"ad763023-6d20-414a-b157-04b5f9f7260d"}'
  recorded_at: Tue, 02 Aug 2022 14:54:43 GMT
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/fields/038e819c-5262-4c13-8550-8cabe38c4309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cbb25df4-d682-4594-9d5c-391ec6f7da40
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249990'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '90'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B5986581831F06E5487253D3405D8A22DCAEAF814000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"No form found with guid ''038e819c-5262-4c13-8550-8cabe38c4309''","correlationId":"cbb25df4-d682-4594-9d5c-391ec6f7da40","type":"NOT_FOUND"}'
  recorded_at: Wed, 03 Aug 2022 13:03:37 GMT
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/fields/06c41992-74d6-43da-8acb-289f1cad70ef
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - df242dee-bd90-45a8-8917-2e7cd71f3b92
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249854'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B1229082F1FAA62FD954BB7D01D0CC1D1591DA56E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"email","label":"Email","type":"string","fieldType":"text","description":"","groupName":"contactinformation","displayOrder":-1,"required":true,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false,"propertyObjectType":"CONTACT","metaData":[],"objectTypeId":"0-1"}]'
  recorded_at: Wed, 03 Aug 2022 13:13:00 GMT
recorded_with: VCR 6.0.0
