---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/filemanager/api/v3/files/upload
    body:
      encoding: UTF-8
      string: "--------------------------orxHXubhY0MUx-eP\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"null\"\r\nContent-Type: application/octet-stream\r\n\r\n\r\n--------------------------orxHXubhY0MUx-eP\r\nContent-Disposition:
        form-data; name=\"options\"\r\n\r\n{\"access\":\"PRIVATE\",\"ttl\":\"P1M\",\"overwrite\":false}\r\n--------------------------orxHXubhY0MUx-eP\r\nContent-Disposition:
        form-data; name=\"folderPath\"\r\n\r\n/\r\n--------------------------orxHXubhY0MUx-eP--\r\n"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - multipart/form-data; boundary=------------------------orxHXubhY0MUx-eP
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 416a6646-187f-4c4f-b94c-19605648e510
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248187'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B5A747DE8B61FAC28DD81DB4FDC8B37D151FC3433000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"objects":[{"id":81421334089,"portal_id":<PORTAL_ID>,"name":"null-Aug-08-2022-02-52-07-87-PM","size":0,"height":null,"width":null,"encoding":null,"type":"OTHER","extension":"","cloud_key":"hubfs/<PORTAL_ID>/null-Aug-08-2022-02-52-07-87-PM","s3_url":"http://cdn1.hubspot.com/hubfs/<PORTAL_ID>/null-Aug-08-2022-02-52-07-87-PM","friendly_url":"https://<PORTAL_ID>.fs1.hubspotusercontent-na1.net/hubfs/<PORTAL_ID>/null-Aug-08-2022-02-52-07-87-PM","alt_key":"hubfs/<PORTAL_ID>/null-aug-08-2022-02-52-07-87-pm","alt_key_hash":"996963769f33b40ba0db72bac816d2a2","title":"null-Aug-08-2022-02-52-07-87-PM","meta":{"url_scheme":"SIMPLIFIED","allows_anonymous_access":false,"expires_at":1662648727867,"indexable":false},"created":1659970327876,"updated":1659970327876,"deleted_at":0,"folder_id":null,"hidden":false,"cloud_key_hash":"e5c1d40a0f3d6a196c7b510306748736","archived":false,"created_by":3326038,"deleted_by":null,"replaceable":true,"default_hosting_url":"https://<PORTAL_ID>.fs1.hubspotusercontent-na1.net/hubfs/<PORTAL_ID>/null-Aug-08-2022-02-52-07-87-PM","teams":[],"url":"https://<PORTAL_ID>.fs1.hubspotusercontent-na1.net/hubfs/<PORTAL_ID>/null-Aug-08-2022-02-52-07-87-PM","is_indexable":false,"cdn_purge_embargo_time":null,"file_hash":"d41d8cd98f00b204e9800998ecf8427e"}]}'
  recorded_at: Mon, 08 Aug 2022 14:52:08 GMT
recorded_with: VCR 6.0.0
