---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/filemanager/api/v2/files/5323360053?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d9c72627-421e-4766-b98e-c2deec83c4a5
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994116'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '198'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '19'
      X-Trace:
      - 2B7894D68A4BA5E06F0CDBF1B867699295EF12F07A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":5323360053,"portal_id":62515,"name":"ScrollMagic","size":35938,"height":null,"width":null,"encoding":null,"type":"OTHER","extension":"js","cloud_key":"hubfs/62515/plugins/scrollmagic/uncompressed/ScrollMagic.js","s3_url":"http://cdn1.hubspot.com/hubfs/62515/plugins/scrollmagic/uncompressed/ScrollMagic.js","friendly_url":"https://62515.fs1.hubspotusercontent-na1.net/hubfs/62515/plugins/scrollmagic/uncompressed/ScrollMagic.js","alt_key":"hubfs/62515/plugins/scrollmagic/uncompressed/scrollmagic","alt_key_hash":"1769708800fd59e887ec299715cd6118","title":"ScrollMagic","meta":{"url_scheme":"SIMPLIFIED","allows_anonymous_access":true},"created":1504354553352,"updated":1504354553453,"deleted_at":0,"folder_id":5323360027,"hidden":false,"cloud_key_hash":"8bd641bca694eef1e2c47dc8eefc3ea3","archived":false,"created_by":null,"deleted_by":null,"replaceable":true,"default_hosting_url":"https://62515.fs1.hubspotusercontent-na1.net/hubfs/62515/plugins/scrollmagic/uncompressed/ScrollMagic.js","teams":[],"is_indexable":true,"url":"https://62515.fs1.hubspotusercontent-na1.net/hubfs/62515/plugins/scrollmagic/uncompressed/ScrollMagic.js","cdn_purge_embargo_time":null,"file_hash":null}'
  recorded_at: Wed, 22 Jun 2022 08:49:52 GMT
recorded_with: VCR 6.1.0
