---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 608c4f79-1047-42e3-8bce-710197838175
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498462'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BCB9703C5E37A18747A72FE8C946825FC7ECA9CDC000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"offset":20,"lists":[{"portalId":<PORTAL_ID>,"listId":1,"internalListId":1,"createdAt":1655459025454,"updatedAt":1655459025454,"name":"testing
        list","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655459025705,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false},{"portalId":<PORTAL_ID>,"listId":2,"internalListId":2,"createdAt":1655459026679,"updatedAt":1655459026679,"name":"list
        with filters","listType":"STATIC","filters":[[{"withinTimeMode":"PAST","operator":"EQ","filterFamily":"PropertyValue","type":"string","property":"twitterhandle","value":"@hubspot"}]],"metaData":{"size":0,"lastSizeChangeAt":1655459046673,"processing":"DONE","lastProcessingStateChangeAt":1655459046622,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false},{"portalId":<PORTAL_ID>,"listId":4,"internalListId":4,"createdAt":1655459032088,"updatedAt":1655459032088,"name":"my-contacts-list","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":1655459034364,"processing":"DONE","lastProcessingStateC[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?count=2&hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 86d15f84-8f46-4fb2-b4ec-4746e5d2b93c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498461'
      X-Hubspo[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?count=2&hapikey=<HAPI_KEY>&offset=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8228aa55-8c75-46b1-9f1d-49ad97232ab1
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498459'
     [...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 471b6b28-1eab-4391-8109-ceb448ce5d31
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249393'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B4A9BFA6D5DF5FFB26E16B16401056228EAA9E0C3000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"offset":20,"lists":[{"portalId":<PORTAL_ID>,"listId":224,"internalListId":224,"createdAt":1659544465982,"updatedAt":1659544465982,"name":"d8ceca1320b10e45437acef0d1e2e754","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1659544466157,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false},{"portalId":<PORTAL_ID>,"listId":204,"internalListId":204,"createdAt":1659544422564,"updatedAt":1659544422564,"name":"contacts
        list 6ca7b71e7085db5ec4f18d6e823ba5cb","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":25,"lastSizeChangeAt[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?count=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2f527d19-ad78-4ac6-91f4-ab8cf4e0c3b3
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?count=2&offset=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e888e23e-fa00-4203-adc6-a4e250c01743
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-R[...]
