---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/dynamic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3d93b374-3def-4293-b08b-302ce33e8220
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248423'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BD32AD3CE659A24FC9AE3C448905B9C1523BBF0E2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"offset":3,"lists":[{"portalId":<PORTAL_ID>,"listId":247,"internalListId":247,"createdAt":1659544490287,"updatedAt":1659544490287,"name":"my-contacts-list-60c8632032677189e91d4f6d4b255ae5","listType":"DYNAMIC","authorId":3326038,"filters":[[{"operator":"EQ","filterFamily":"PropertyValue","withinTimeMode":"PAST","type":"string","property":"email","value":"@hubspot.com"}]],"metaData":{"size":0,"lastSizeChangeAt":1659544519762,"processing":"DONE","lastProcessingStateChangeAt":1659544519677,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":true},{"portalId":<PORTAL_ID>,"listId":294,"internalListId":294,"createdAt":1659545128569,"updatedAt":1659545128569,"name":"my-contacts-list-dd8c951d70892bd910c9ef7f639208af","listType":"DYNAMIC","authorId":3326038,"filters":[[{"operator":"EQ","filterFamily":"PropertyValue","withinTimeMode":"PAST","type":"string","property":"email","value":"@hubspot.com"}]],"metaData":{"size":0,"lastSizeChangeAt":1659545146037,"processing":"DONE","lastProcessingStateChangeAt":1659545145928,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":true},{"portalId":<PORTAL_ID>,"listId":371,"internalListId":371,"createdAt":1659961487202,"updatedAt":1659961487202,"name":"my-contacts-list-7000d05be1bec72fbc18532aeb1b87fc","listType":"DYNAMIC","authorId":3326038,"filters":[[{"operator":"EQ","filterFamily":"PropertyValue","withinTimeMode":"PAST","type":"string","property":"email","value":"@hubspot.com"}]],"metaData":{"size":0,"lastSizeChangeAt":1659961506878,"processing":"DONE","lastProcessingStateChangeAt":1659961506798,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":true}],"has-more":false}'
  recorded_at: Mon, 08 Aug 2022 14:50:15 GMT
recorded_with: VCR 6.0.0
