---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - bb019369-eb07-43a6-a3f1-4af6b4c4bf6a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248429'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B38A28B714BB78CD688D64CDE37263C46581B6965000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"offset":20,"lists":[{"portalId":<PORTAL_ID>,"listId":224,"internalListId":224,"createdAt":1659544465982,"updatedAt":1659544465982,"name":"d8ceca1320b10e45437acef0d1e2e754","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1659544466157,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false},{"portalId":<PORTAL_ID>,"listId":204,"internalListId":204,"createdAt":1659544422564,"updatedAt":1659544422564,"name":"contacts
        list 6ca7b71e7085db5ec4f18d6e823ba5cb","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":19,"lastSizeChangeAt":1659969872417,"processing":"DONE","lastProcessingStateChangeAt":1659544422807,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false},{"portalId":<PORTAL_ID>,"listId":205,"in[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?count=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9d5deba0-9411-49fe-98d7-981c744a9451
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?count=2&offset=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6ba1da2e-2643-4865-9c9d-417e9d90097c
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-R[...]
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/lists?count=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019dafce-12a7-7896-afa1-b87ccd6a6cab'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249652'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '90'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"lists":[]}'
  recorded_at: Tue, 21 Apr 2026 11:30:11 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/lists?count=2&offset=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019dafce-143a-7250-b034-4725438cdea1'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249651'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '89'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: '{"lists":[]}'
  recorded_at: Tue, 21 Apr 2026 11:30:11 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db036-ab1e-712e-81f6-0cfeb88a4092'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248577'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '93'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"lists":[]}'
  recorded_at: Tue, 21 Apr 2026 13:24:26 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/lists/search?query=
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db044-bb4a-7c1e-9973-c35b61e7f79d'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248542'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"validation error","correlationId":"019db044-bb4a-7c1e-9973-c35b61e7f79d","errors":["The
        request body may not be null"]}'
  recorded_at: Tue, 21 Apr 2026 13:39:47 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/lists/search
    body:
      encoding: UTF-8
      string: '{"query":""}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019db072-4f01-7cf0-ab16-b093e0731737'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248495'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '93'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"offset":20,"hasMore":true,"lists":[{"listId":"2","listVersion":1,"createdAt":"2022-08-02T14:51:32.920Z","updatedAt":"2024-05-21T06:51:22.549Z","filtersUpdatedAt":"2022-08-02T14:51:32.920Z","processingStatus":"COMPLETE","createdById":"3326038","processingType":"MANUAL","objectTypeId":"0-1","name":"contacts
        list 779f7e0e0f58b3a93c02deb9d3687bdc","additionalProperties":{"hs_list_reference_count":"0","hs_last_record_added_at":"1659451921899","hs_last_record_removed_at":"1776772431809","hs_list_size":"0"}},{"listId":"3","listVersion":1,"createdAt":"2022-08-02T14:52:08.287Z","updatedAt":"2024-05-21T06:51:22.553Z","filtersUpdatedAt":"2022-08-02T14:52:08.287Z","processingStatus":"COMPLETE","createdById":"3326038","processingType":"MANUAL","objectTypeId":"0-1","name":"testing
        list 671124e4fb8270a236f1eb71396306dd","additionalProperties":{"hs_list_reference_count":"0","hs_list_size":"0"}},{"listId":"4","listVersion":1,"createdAt":"2022-08-02T14:52:09.037Z","updatedAt":"2024-05-21T06:51:22[...]
