---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/paged
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - bf182536-77db-48cc-a649-93d32e68023d
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248210'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BCB9C4CCC915BA5F0082A00B560744D670CB13BBB000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"engagement":{"id":24384157319,"portalId":<PORTAL_ID>,"active":true,"createdAt":1659969575232,"lastUpdated":1659969575232,"type":"NOTE","timestamp":1659969575232,"allAccessibleTeamIds":[],"bodyPreview":"Test
        note","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n Test note\n </body>\n</html>"},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"Test
        note"}},{"engagement":{"id":24384157564,"portalId":<PORTAL_ID>,"active":true,"createdAt":1659969589983,"lastUpdated":1659969590354,"type":"CALL","timestamp":1659969589983,"allAccessibleTeamIds":[],"bodyPreview":"Test
        call","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n Test call\n </body>\n</html>"},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"status":"COMPLETED","durationMilliseconds":0,"body":"Test
        call","title":"Call with unknown contact"}},{"engagement":{"id":24384198808,"portalId":<PORTAL_ID>,"active":true,"createdAt":1659969577682,"lastUpdated":1659969577682,"type":"NOTE","timestamp":1659969577682,"allAccessibleTeamIds":[],"bodyPreview":"foo","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n foo\n </body>\n</html>"},"associations":{"contactIds":[19701],"companyIds":[9337406602],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"cced6924e69f51d6c94f302399ebb1bc@hubspot.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 812978bf-f9b7-44a9-9707-5027fb2bf878
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248209'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BF0524F34F9934BDCECEFF23541CEF1B9384A33C4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":24651,"canonical-vid":24651,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"cced6924e69f51d6c94f302399ebb1bc@hubspot.com","versions":[{"value":"cced6924e69f51d6c94f302399ebb1bc@hubspot.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970318878,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":24651,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"cced6924e69f51d6c94f302399ebb1bc@hubspot.com","timestamp":1659970318887,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"d4c3e857-fb07-4142-b6d8-8528d64ad4ab","timestamp":1659970318944,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:59 GMT
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"NOTE"},"associations":{"contactIds":[24651]},"metadata":{"body":"foo"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5ca3093d-ef24-4527-a6dd-70f850520ad2
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248208'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B0DFBBA82845132AF08F22995979BF52F69574867000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"associationCreateFailures":[],"engagement":{"id":24386567749,"portalId":<PORTAL_ID>,"active":true,"createdAt":1659970319313,"lastUpdated":1659970319313,"type":"NOTE","timestamp":1659970319313,"allAccessibleTeamIds":[],"bodyPreview":"foo","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n foo\n </body>\n</html>"},"associations":{"contactIds":[24651],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"foo"}}'
  recorded_at: Mon, 08 Aug 2022 14:51:59 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/paged?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 67f498e5-5087-42cb-8e42-9295cc4b8726
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-D[...]
