---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"b5f9aa01bb0653d38ee9935d376eb794"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e9160a44-21e5-4596-a27b-9c55c52486fa
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498667'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B0B4284AAAF2C0F59E56B04FF7F5B8F3CDEB7DED3000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956876372,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655818139895","timestamp":1655818139895,"source":"CALCULATED","sourceId":"e9160a44-21e5-4596-a27b-9c55c52486fa","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818139895","timestamp":1655818139895,"sourceId":"e9160a44-21e5-4596-a27b-9c55c52486fa","source":"CALCULATED","sourceVid":[],"requestId":"e9160a44-21e5-4596-a27b-9c55c52486fa"}]},"name":{"value":"b5f9aa01bb0653d38ee9935d376eb794","timestamp":1655818139895,"source":"API","sourceId":"e9160a44-21e5-4596-a27b-9c55c52486fa","updatedByUserId":null,"versions":[{"name":"name","value":"b5f9aa01bb0653d38ee9935d376eb794","timestamp":1655818139895,"sourceId":"e9160a44-21e5-4596-a27b-9c55c52486fa","source":"API","sourceVid":[],"requestId":"e9160a44-21e5-4596-a27b-9c55c52486fa"}]},"hs_object_id":{"value":"8956876372","timestamp":1655818139895,"source":"API","sourceId":"e9160a44-21e5-4596-a27b-9c55c52486fa","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956876372","timestamp":1655818139895,"sourceId":"e9160a44-21e5-4596-a27b-9c55c52486fa","source":"API","sourceVid":[],"requestId":"e9160a44-21e5-4596-a27b-9c55c52486fa"}]},"createdate":{"value":"1655818139895","timestamp":1655818139895,"source":"API","sourceId":"e9160a44-21e5-4596-a27b-9c55c52486fa","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818139895","timestamp":1655818139895,"sourceId":"e9160a44-21e5-4596-a27b-9c55c52486fa","source":"API","sourceVid":[],"requestId":"e9160a44-21e5-4596-a27b-9c55c52486fa"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:59 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"090830c40e3e78c00f83512c28eff8e7@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a870b0ea-d880-4542-aae7-6ca7bdc62158
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498666'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BED75EB6831FCF8CABCF14CA2C215D3928DF70B61000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":51501,"canonical-vid":51501,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"090830c40e3e78c00f83512c28eff8e7@hubspot.com","versions":[{"value":"090830c40e3e78c00f83512c28eff8e7@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818140128,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":51501,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"090830c40e3e78c00f83512c28eff8e7@hubspot.com","timestamp":1655818140138,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"2eed5f50-f44d-490d-8730-af89d79fe338","timestamp":1655818140150,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:29:00 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[8956876372],"associatedVids":[51501]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7d81bcad-d57c-4b5c-8f44-d35493babcfb
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498665'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '125'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BE71ABDB30C7ADE1C6A494EDFB72B804AFA223CBB000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9260059911,"isDeleted":false,"associations":{"associatedVids":[51501],"associatedCompanyIds":[8956876372],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655818140512,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655818140512,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"amount":{"value":"30","timestamp":1655818140512,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"amount","value":"30","timestamp":1655818140512,"source":"API","sourceVid":[],"requestId":"7d81bcad-d57c-4b5c-8f44-d35493babcfb"}]},"hs_is_closed_won":{"value":"false","timestamp":1655818140512,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655818140512,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_forecast_amount":{"value":"30","timestamp":1655818140512,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_forecast_amount","value":"30","timestamp":1655818140512,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"createdate":{"value":"1655818140512","timestamp":1655818140512,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818140512","timestamp":1655818140512,"source":"API","sourceVid":[],"requestId":"7d81bcad-d57c-4b5c-8f44-d35493babcfb"}]},"amount_in_home_currency":{"value":"30","timestamp":1655818140512,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"amount_in_home_currency","value":"30","timestamp":1655818140512,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655818140512,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655818140512,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655818140512,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655818140512,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655818140512,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655818140512,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655818140512","timestamp":1655818140512,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818140512","timestamp":1655818140512,"source":"CALCULATED","sourceVid":[],"requestId":"7d81bcad-d57c-4b5c-8f44-d35493babcfb"}]},"hs_createdate":{"value":"1655818140512","timestamp":1655818140512,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655818140512","timestamp":1655818140512,"source":"API","sourceVid":[],"requestId":"7d81bcad-d57c-4b5c-8f44-d35493babcfb"}]},"hs_object_id":{"value":"9260059911","timestamp":1655818140512,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9260059911","timestamp":1655818140512,"source":"API","sourceVid":[],"requestId":"7d81bcad-d57c-4b5c-8f44-d35493babcfb"}]},"hs_projected_amount":{"value":"0","timestamp":1655818140512,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655818140512,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1655818140512,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655818140512,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655818140512,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655818140512,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Tue, 21 Jun 2022 13:29:00 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/recent/modified?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 48c413e5-b81f-4cb9-acb7-9e5475768bdc
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498664'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B3A57D50C80ACC6706FA65B704A45220983B0E544000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"portalId":<PORTAL_ID>,"dealId":9260141136,"isDeleted":false,"associations":{"associatedVids":[51451],"associatedCompanyIds":[],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655818139119,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655818139119,"sourceId":"CalculatedPropertyComputer","source":"CAL[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/recent/modified?count=2&hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - dbea8563-c80b-489b-b652-11de82122868
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498661'
  [...]
