---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/dynamic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 32e97796-6bf4-414c-b646-774374326c6d
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249387'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BCB5A56E5906EB803DD348FDADC0DF11FC880A107000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"offset":4,"lists":[{"portalId":<PORTAL_ID>,"listId":247,"internalListId":247,"createdAt":1659544490287,"updatedAt":1659544490287,"name":"my-contacts-list-60c8632032677189e91d4f6d4b255ae5","listType":"DYNAMIC","authorId":3326038,"filters":[[{"withinTimeMode":"PAST","operator":"EQ","filterFamily":"PropertyValue","type":"string","property":"email","value":"@hubspot.com"}]],"metaData":{"size":0,"lastSizeChangeAt":1659544519762,"processing":"DONE","lastProcessingStateChangeAt":1659544519677,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":true},{"portalId":<PORTAL_ID>,"listId":294,"internalListId":294,"createdAt":1659545128569,"updatedAt":1659545128569,"name":"my-contacts-list-dd8c951d70892bd910c9ef7f639208af","listType":"DYNAMIC","authorId":3326038,"filters":[[{"withinTimeMode":"PAST","operator":"EQ","filterFamily":"PropertyValue","type":"string","property":"email","value":"@hubspot.com"}]],"metaData":{"size":0,"lastSizeChangeAt":1659545146037,"processing":"DONE","lastProcessingStateChangeAt":1659545145928,"error":"","listRefere[...]
