---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/dynamic?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8a2c9f6e-ed5f-4b8f-a9d9-b297c318c3ba
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498457'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '127'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B24F9EC78835DDAE5F081284A8C7C3CC68C97703F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"offset":535,"lists":[{"portalId":<PORTAL_ID>,"listId":123,"internalListId":123,"createdAt":1655471607267,"updatedAt":1655471607267,"name":"0a12ae9d1a7ffb7c8a80a14e4370d5ea","listType":"DYNAMIC","filters":[[{"filterFamily":"PropertyValue","operator":"EQ","withinTimeMode":"PAST","type":"string","property":"twitterhandle","value":"@hubspot"}]],"metaData":{"size":0,"lastSizeChangeAt":1655471626322,"processing":"DONE","lastProcessingStateChangeAt":1655471626270,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":true},{"portalId":<PORTAL_ID>,"listId":124,"internalListId":124,"createdAt":1655471607757,"updatedAt":1655471607757,"name":"f7240923e84bdb17b625d9ff0a983400","listType":"DYNAMIC","filters":[[{"filterFamily":"PropertyValue","operator":"EQ","withinTimeMode":"PAST","type":"string","property":"twitterhandle","value":"@hubspot"}]],"metaData":{"size":0,"lastSizeChangeAt":1655471632271,"processing":"DONE","lastProcessingStateChangeAt":1655471632229,"error":"","listReferencesCount":null,"parentFolderId"[...]
