---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 608c4f79-1047-42e3-8bce-710197838175
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498462'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BCB9703C5E37A18747A72FE8C946825FC7ECA9CDC000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"offset":20,"lists":[{"portalId":<PORTAL_ID>,"listId":1,"internalListId":1,"createdAt":1655459025454,"updatedAt":1655459025454,"name":"testing
        list","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655459025705,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false},{"portalId":<PORTAL_ID>,"listId":2,"internalListId":2,"createdAt":1655459026679,"updatedAt":1655459026679,"name":"list
        with filters","listType":"STATIC","filters":[[{"withinTimeMode":"PAST","operator":"EQ","filterFamily":"PropertyValue","type":"string","property":"twitterhandle","value":"@hubspot"}]],"metaData":{"size":0,"lastSizeChangeAt":1655459046673,"processing":"DONE","lastProcessingStateChangeAt":1655459046622,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false},{"portalId":<PORTAL_ID>,"listId":4,"internalListId":4,"createdAt":1655459032088,"updatedAt":1655459032088,"name":"my-contacts-list","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":1655459034364,"processing":"DONE","lastProcessingStateC[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?count=2&hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 86d15f84-8f46-4fb2-b4ec-4746e5d2b93c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498461'
      X-Hubspo[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?count=2&hapikey=<HAPI_KEY>&offset=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8228aa55-8c75-46b1-9f1d-49ad97232ab1
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498459'
     [...]
