---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a7536d2f-eb7b-4cba-9808-3939400d87cd
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498825'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '134'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BA2038E24BC32CC13F41D99E030FB413E1605C116000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"offset":20,"lists":[{"portalId":<PORTAL_ID>,"listId":1,"internalListId":1,"createdAt":1655459025454,"updatedAt":1655459025454,"name":"testing
        list","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655459025705,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false},{"portalId":<PORTAL_ID>,"listId":2,"internalListId":2,"createdAt":1655459026679,"updatedAt":1655459026679,"name":"list
        with filters","listType":"STATIC","filters":[[{"withinTimeMode":"PAST","operator":"EQ","filterFamily":"PropertyValue","type":"string","property":"twitterhandle","value":"@hubspot"}]],"metaData":{"size":0,"lastSizeChangeAt":1655459046673,"processing":"DONE","lastProcessingStateChangeAt":1655459046622,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false},{"portalId":<PORTAL_ID>,"listId":4,"internalListId":4,"createdAt":1655459032088,"updatedAt":1655459032088,"name":"my-contacts-list","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":1655459034364,"processing":"DONE","lastProcessingStateC[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?count=2&hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - bb7bf012-f51c-496d-959a-73c869f2d53e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498824'
      X-Hubspo[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists?count=2&hapikey=<HAPI_KEY>&offset=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - de8dc67b-4991-4f11-a121-4547113f3b44
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498822'
     [...]
