---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"a12c55295338fb37a001617f2a8bb742@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1a5fa0cb-fbb6-4086-b648-9b385b792789
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498277'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '125'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BE5C0355025D1E21C160EBFD673FCCD79A1DFF0E5000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":68851,"canonical-vid":68851,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"a12c55295338fb37a001617f2a8bb742@hubspot.com","versions":[{"value":"a12c55295338fb37a001617f2a8bb742@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887786533,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":68851,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"a12c55295338fb37a001617f2a8bb742@hubspot.com","timestamp":1655887786539,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"ae814b74-13ba-4e89-8968-af7ac678a96b","timestamp":1655887786592,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:46 GMT
- request:
    method: post
    uri: https://api.hubapi.com/engagements/v1/engagements?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"engagement":{"type":"NOTE"},"associations":{"contactIds":[68851]},"metadata":{"body":"foo"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ceffcab0-d49c-4d65-a238-b3828d910a15
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498276'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B8D6AC888909476BAEE507E3E86A5FB667B0D45A4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"associationCreateFailures":[],"engagement":{"id":22885644559,"portalId":<PORTAL_ID>,"active":true,"createdAt":1655887786898,"lastUpdated":1655887786898,"type":"NOTE","timestamp":1655887786898,"allAccessibleTeamIds":[],"bodyPreview":"foo","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n foo\n </body>\n</html>"},"associations":{"contactIds":[68851],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quoteIds":[]},"attachments":[],"metadata":{"body":"foo"}}'
  recorded_at: Wed, 22 Jun 2022 08:49:46 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/paged?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 165c37b8-d07d-44ab-82c5-3da7ae9c0bca
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498275'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B685615D92042E8CDB49969A7FB6F4C46D11F971F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"engagement":{"id":22753632614,"portalId":<PORTAL_ID>,"active":true,"createdAt":1655457111070,"lastUpdated":1655457111070,"type":"NOTE","timestamp":1655457111070,"allAccessibleTeamIds":[],"bodyPreview":"Test
        note","queueMembershipIds":[],"bodyPreviewIsTruncated":false,"bodyPreviewHtml":"<html>\n
        <head></head>\n <body>\n Test note\n </body>\n</html>"},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[],"quote[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/paged?hapikey=<HAPI_KEY>&limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 27fce298-cff6-4c6c-8271-131de21d1fd2
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498272'[...]
