---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/recent/modified
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4b7a90c4-a30c-4315-a53f-c089969b1fac
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248237'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B16B5C751FDF4184216C5260CC20AE35D9E9218B2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"portalId":<PORTAL_ID>,"dealId":9755383303,"isDeleted":false,"associations":{"associatedVids":[24151],"associatedCompanyIds":[9337713503],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"dealname":{"value":"super
        deal","timestamp":1659970291905,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"dealname","value":"super
        deal","timestamp":1659970291905,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"cf5eee78-7f2b-43a1-bb0b-18635be82937"}]},"hs_is_closed_won":{"value":"false","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"amount":{"value":"30","timestamp":1659970291314,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"amount","value":"30","timestamp":1659970291314,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c3af5def-c5d4-41ad-9cc7-e32f2bd899bd"}]},"num_associated_contacts":{"value":"1","timestamp":1659970305124,"source":"CALCULATED","sourceId":"RollupProperties","updatedByUserId":null,"versions":[{"name":"num_associated_contacts","value":"1","timestamp":1659970305124,"sourceId":"RollupProperties","source":"CALCULATED","sourceVid":[]}]},"hs_num_associated_deal_registrations":{"value":"0","timestamp":1659970305124,"source":"CALCULATED","sourceId":"RollupProperties","updatedByUserId":null,"versions":[{"name":"hs_num_associated_deal_registrations","value":"0","timestamp":1659970305124,"sourceId":"RollupProperties","source":"CALCULATED","sourceVid":[]}]},"hs_forecast_amount":{"value":"30","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_forecast_amount","value":"30","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"createdate":{"value":"1659970291314","timestamp":1659970291314,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970291314","timestamp":1659970291314,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c3af5def-c5d4-41ad-9cc7-e32f2bd899bd"}]},"amount_in_home_currency":{"value":"30","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"amount_in_home_currency","value":"30","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_num_associated_active_deal_registrations":{"value":"0","timestamp":1659970305127,"source":"CALCULATED","sourceId":"RollupProperties","updatedByUserId":null,"versions":[{"name":"hs_num_associated_active_deal_registrations","value":"0","timestamp":1659970305127,"sourceId":"RollupProperties","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1659970305190","timestamp":1659970305190,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970305190","timestamp":1659970305190,"source":"CALCULATED","sourceVid":[]}]},"hs_num_associated_deal_splits":{"value":"0","timestamp":1659970305124,"source":"CALCULATED","sourceId":"RollupProperties","updatedByUserId":null,"versions":[{"name":"hs_num_associated_deal_splits","value":"0","timestamp":1659970305124,"sourceId":"RollupProperties","source":"CALCULATED","sourceVid":[]}]},"hs_createdate":{"value":"1659970291314","timestamp":1659970291314,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1659970291314","timestamp":1659970291314,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c3af5def-c5d4-41ad-9cc7-e32f2bd899bd"}]},"hs_object_id":{"value":"9755383303","timestamp":1659970291314,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9755383303","timestamp":1659970291314,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c3af5def-c5d4-41ad-9cc7-e32f2bd899bd"}]},"hs_projected_amount":{"value":"0","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_num_target_accounts":{"value":"0","timestamp":1659970305124,"source":"CALCULATED","sourceId":"RollupProperties","updatedByUserId":null,"versions":[{"name":"hs_num_target_accounts","value":"0","timestamp":1659970305124,"sourceId":"RollupProperties","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]},{"portalId":<PORTAL_ID>,"dealId":9756302149,"isDeleted":false,"associations":{"associatedVids":[24351],"associatedCompanyIds":[],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1659970304226,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1659970304226,"sourceId":"CalculatedPropertyComputer","source":"[...]
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"4829b94219c2479d7dfbc929dd0931be"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4b1b1966-0433-483c-a5c5-cf50b637e821
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248236'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BAF9E45748AD8F44ECA2F0C422CC8F809FBACCEA5000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337713539,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1659970306862","timestamp":1659970306862,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970306862","timestamp":1659970306862,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"4b1b1966-0433-483c-a5c5-cf50b637e821"}]},"name":{"value":"4829b94219c2479d7dfbc929dd0931be","timestamp":1659970306862,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"4829b94219c2479d7dfbc929dd0931be","timestamp":1659970306862,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"4b1b1966-0433-483c-a5c5-cf50b637e821"}]},"hs_object_id":{"value":"9337713539","timestamp":1659970306862,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337713539","timestamp":1659970306862,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"4b1b1966-0433-483c-a5c5-cf50b637e821"}]},"createdate":{"value":"1659970306862","timestamp":1659970306862,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970306862","timestamp":1659970306862,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"4b1b1966-0433-483c-a5c5-cf50b637e821"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:47 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"766f1c5213b4d0fc3950c05120afe3d1@hubspot.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 644e0d12-1bf6-4521-b06f-14bc66df2612
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248235'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BFEE9555AEA05171574192BF2A68F4F789A8E68AC000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":24451,"canonical-vid":24451,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"766f1c5213b4d0fc3950c05120afe3d1@hubspot.com","versions":[{"value":"766f1c5213b4d0fc3950c05120afe3d1@hubspot.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970307211,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":24451,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"766f1c5213b4d0fc3950c05120afe3d1@hubspot.com","timestamp":1659970307221,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"ef935f8e-79ab-4308-9b44-df874b96f7f6","timestamp":1659970307233,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:47 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[9337713539],"associatedVids":[24451]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;char[...]
[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/recent/modified?count=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0a955d89-07b9-4be9-80f9-b2c1df27b95e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Dail[...]
