---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"Demo Form 869b94efba1a7d6caf7af92a4ad8466c","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","leadNurturingCampaignId":"","notifyRecipients":"","embeddedCode":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 04d07b8c-dc4c-4d63-866a-00faafc5613f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498250'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B342956173EB0434B479FB65ADBB7D460960E415C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"guid":"6634d9bd-f0bb-4941-b14a-aa04fb4e4080","name":"Demo
        Form 869b94efba1a7d6caf7af92a4ad8466c","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":1655887796433,"updatedAt":1655887796433,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":"canvas","parentId":0,"style":"","isPublished":true,"publishAt":0,"unpublishAt":0,"publishedAt":0,"kickbackEmailWorkflowId":0,"kickbackEmailsJson":"","customUid":"","createMarketableContact":true,"editVersion":0,"thankYouMessageJson":"","themeColor":"","alwaysCreateNewCompany":false,"internalUpdatedAt":1655887796433,"businessUnitId":0,"portableKey":"2a707827-23b1-4647-b30c-aafe5c23fbfb","paymentSessionTemplateIds":[],"selectedExternalOptions":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:56 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/forms/v2/forms/6634d9bd-f0bb-4941-b14a-aa04fb4e4080?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 5142f104-53e6-411b-ad6f-a0562bf4de3a
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498249'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BE7CA966942CFB9BB6423F73476509A38A50A2AC6000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:49:56 GMT
recorded_with: VCR 6.1.0
