---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms
    body:
      encoding: UTF-8
      string: '{"name":"Demo Form e50655127addbbbe2337845cd0ee5ae0","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","leadNurturingCampaignId":"","notifyRecipients":"","embeddedCode":""}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a2f8b143-a8b6-43eb-8e21-1c5a4d31c2f4
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248157'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BBFE0A213513CB54083724FFE1C468DE62569FD11000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"guid":"eacfe1f3-718c-483a-9166-7e9abf12d34f","name":"Demo
        Form e50655127addbbbe2337845cd0ee5ae0","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":1659970339051,"updatedAt":1659970339051,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[{"name":"createdByAppId","value":"1024781"}],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":"canvas","parentId":0,"style":"","isPublished":true,"publishAt":0,"unpublishAt":0,"publishedAt":0,"kickbackEmailWorkflowId":0,"kickbackEmailsJson":"","customUid":"","createMarketableContact":true,"editVersion":0,"thankYouMessageJson":"","themeColor":"","alwaysCreateNewCompany":false,"internalUpdatedAt":1659970339051,"businessUnitId":0,"portableKey":"d4c28e6d-e1bf-4aa6-8933-21bc59487e5b","paymentSessionTemplateIds":[],"selectedExternalOptions":[]}'
  recorded_at: Mon, 08 Aug 2022 14:52:19 GMT
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms/eacfe1f3-718c-483a-9166-7e9abf12d34f
    body:
      encoding: UTF-8
      string: '{"name":"updated form name fdc29cb48c0771985169266404a0b195","redirect":"http://hubspot.com"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X[...]
