---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"Demo Form da35122f738fa049a10f3464f40531f7","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","leadNurturingCampaignId":"","notifyRecipients":"","embeddedCode":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2ddc8f70-ae89-4b35-aeba-ae3cff30bbf3
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498252'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BEF9CD88BA8A3F6BA0935990191CE7D4E835AC44A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"guid":"eed2db8d-3f30-4d40-89d9-d2a1e4057c37","name":"Demo
        Form da35122f738fa049a10f3464f40531f7","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":1655887795910,"updatedAt":1655887795910,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":"canvas","parentId":0,"style":"","isPublished":true,"publishAt":0,"unpublishAt":0,"publishedAt":0,"kickbackEmailWorkflowId":0,"kickbackEmailsJson":"","customUid":"","createMarketableContact":true,"editVersion":0,"thankYouMessageJson":"","themeColor":"","alwaysCreateNewCompany":false,"internalUpdatedAt":1655887795910,"businessUnitId":0,"portableKey":"72e5e463-ab3c-4f42-ae1a-cb71ae937c78","paymentSessionTemplateIds":[],"selectedExternalOptions":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:55 GMT
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms/eed2db8d-3f30-4d40-89d9-d2a1e4057c37?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"updated form name f17de8ff0c657fc555cc2bc4b3b7262e","redirect":"http://hubspot.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      -[...]
