---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"Demo Form c94c690463f70c70a7bd5128c65d9527","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","leadNurturingCampaignId":"","notifyRecipients":"","embeddedCode":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 95c56460-37f2-4fe4-8d29-39dbd02ac142
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498253'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BE7154DBA548C628E48CA6F9E029D9DB3D6D29FC6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"guid":"4bfadbbe-c113-455e-b1ac-119eaf292ec9","name":"Demo
        Form c94c690463f70c70a7bd5128c65d9527","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":1655887794919,"updatedAt":1655887794919,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":"canvas","parentId":0,"style":"","isPublished":true,"publishAt":0,"unpublishAt":0,"publishedAt":0,"kickbackEmailWorkflowId":0,"kickbackEmailsJson":"","customUid":"","createMarketableContact":true,"editVersion":0,"thankYouMessageJson":"","themeColor":"","alwaysCreateNewCompany":false,"internalUpdatedAt":1655887794919,"businessUnitId":0,"portableKey":"5266dfca-95e5-4d20-af19-bd8586b1add4","paymentSessionTemplateIds":[],"selectedExternalOptions":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:54 GMT
- request:
    method: post
    uri: https://forms.hubspot.com/uploads/form/v2/<PORTAL_ID>/4bfadbbe-c113-455e-b1ac-119eaf292ec9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 5fe5ab35-a177-4401-bba0-a2dae010e050
      X-Trace:
      - 2B3323FB0727C6E34AD35F549B0A41920856E00868000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:49:55 GMT
- request:
    method: post
    uri: https://forms.hubspot.com/uploads/form/v2/xxx/4bfadbbe-c113-455e-b1ac-119eaf292ec9
    body:
      encoding: UTF-8
      string: unknown_field=bogus_value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 664acc4a-08c1-4dc4-837c-cb5487fbfffa
      X-Trace:
      - 2B00027C5770AD0E6C33E83BE9DC52B0EE8D579507000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Unable to parse value for path parameter:
        portalId","correlationId":"664acc4a-08c1-4dc4-837c-cb5487fbfffa"}'
  recorded_at: Wed, 22 Jun 2022 08:49:55 GMT
recorded_with: VCR 6.1.0
