---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/forms/v2/forms/748de833-966f-4f2f-8396-988cad91be5d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - dcfafd9c-7495-4727-9319-38059ffd187b
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248154'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B52775E13E9AB9BF9B17E22685174E8695393DD15000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2022 14:52:20 GMT
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms
    body:
      encoding: UTF-8
      string: '{"name":"Demo Form df98a724ea1a967d7c85ebd7782a9d74","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","leadNurturingCampaignId":"","notifyRecipients":"","embeddedCode":""}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c8a85660-b8fe-4be0-8ef0-df15cb41515a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248153'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '75'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B613FE9244FDA90E1ED0353FAAC05C12C5A3F8EA4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"guid":"4f587ecf-603f-4baf-9e44-e3cdb7520998","name":"Demo
        Form df98a724ea1a967d7c85ebd7782a9d74","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":1659970340788,"updatedAt":1659970340788,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[{"name":"createdByAppId","value":"1024781"}],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":"canvas","parentId":0,"style":"","isPublished":true,"publishAt":0,"unpublishAt":0,"publishedAt":0,"kickbackEmailWorkflowId":0,"kickbackEmailsJson":"","customUid":"","createMarketableContact":true,"editVersion":0,"thankYouMessageJson":"","themeColor":"","alwaysCreateNewCompany":false,"internalUpdatedAt":1659970340788,"businessUnitId":0,"portableKey":"b6d52162-832a-4cf3-8f7e-86e7d7861f79","paymentSessionTemplateIds":[],"selectedExternalOptions":[]}'
  recorded_at: Mon, 08 Aug 2022 14:52:20 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/forms/v2/forms/4f587ecf-603f-4baf-9e44-e3cdb7520998
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 79026270-66df-488e-af28-633bbcac7cfd
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248152'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B4DFFFC977D8384AEB59468BEF501B79CBAABA968000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2022 14:52:21 GMT
recorded_with: VCR 6.0.0
