---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms/354d9185-2f93-42c3-9e91-f483fb0d12c5
    body:
      encoding: UTF-8
      string: '{"name":"updated form name 25ea6c52100c66f211ca52e4a56000bb","redirect":"http://hubspot.com"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - af228669-d719-4f6a-aae0-e37e8b6a5017
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249878'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B8D8C92AFBA976DBC1A413EF0E769096620256C77000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"guid":"354d9185-2f93-42c3-9e91-f483fb0d12c5","name":"updated
        form name 25ea6c52100c66f211ca52e4a56000bb","action":"","method":"","cssClass":"","redirect":"http://hubspot.com","submitText":"","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":1659532210587,"updatedAt":1659532211005,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":"","parentId":0,"style":"","isPublished":true,"publishAt":0,"unpublishAt":0,"publishedAt":0,"kickbackEmailWorkflowId":0,"kickbackEmailsJson":"","customUid":"","createMarketableContact":true,"editVersion":0,"thankYouMessageJson":"","themeColor":"","alwaysCreateNewCompany":false,"internalUpdatedAt":1659532211005,"businessUnitId":0,"portableKey":"ded3386e-008d-475a-a32b-1a7051261938","paymentSessionTemplateIds":[],"selectedExternalOptions":[]}'
  recorded_at: Wed, 03 Aug 2022 13:10:11 GMT
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms
    body:
      encoding: UTF-8
      string: '{"name":"Demo Form ce6cf585aa967385c124ea95702478ad","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","leadNurturingCampaignId":"","notifyRecipients":"","embeddedCode":""}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c630782f-db7c-4f49-b360-4c9a0b584005
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249845'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B922BF5286CAE161F069624324D3DD0FBA597E49D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"guid":"c3b3361b-724a-41b2-aa1f-6f9c2fffd558","name":"Demo
        Form ce6cf585aa967385c124ea95702478ad","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":1659532385979,"updatedAt":1659532385979,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[{"name":"createdByAppId","value":"1024781"}],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":"canvas","parentId":0,"style":"","isPublished":true,"publishAt":0,"unpublishAt":0,"publishedAt":0,"kickbackEmailWorkflowId":0,"kickbackEmailsJson":"","customUid":"","createMarketableContact":true,"editVersion":0,"thankYouMessageJson":"","themeColor":"","alwaysCreateNewCompany":false,"internalUpdatedAt":1659532385979,"businessUnitId":0,"portableKey":"3f383493-38fa-4180-a7c9-54d7ccb948ac","paymentSessionTemplateIds":[],"selectedExternalOptions":[]}'
  recorded_at: Wed, 03 Aug 2022 13:13:06 GMT
[...]
