---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/forms/v2/forms/038e819c-5262-4c13-8550-8cabe38c4309/?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7316557a-6982-454c-801c-08ba1a5cb865
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994115'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '197'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '19'
      X-Trace:
      - 2BF5CC165D01A5B0C7DBC1633B743C0D09259E1242000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":62515,"guid":"038e819c-5262-4c13-8550-8cabe38c4309","name":"Example
        form with file upload","action":"","method":"POST","cssClass":"hs-form stacked","redirect":"","submitText":"Submit","followUpId":"","notifyRecipients":"100097","leadNurturingCampaignId":"","formFieldGroups":[{"fields":[{"name":"email","label":"Email","type":"string","fieldType":"text","description":"","groupName":"contactinformation","displayOrder":-1,"required":true,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false,"propertyObjectType":"CONTACT","metaData":[],"objectTypeId":"0-1"}],"default":true,"isSmartGroup":false,"richText":{"content":"","type":"TEXT"},"isPageBreak":false},{"fields":[{"name":"upload_a_file","label":"Upload
        a file","type":"string","fieldType":"file","description":"","groupName":"contactinformation","displayOrder":-1,"required":false,"selectedOptions":[],"options":[],"validation":{"name":"","message":"","data":"","useDefaultBlockList":false,"blockedEmailAddresses":[]},"enabled":true,"hidden":false,"defaultValue":"","isSmartField":false,"unselectedLabel":"","placeholder":"","dependentFieldFilters":[],"labelHidden":false,"propertyObjectType":"CONTACT","metaData":[],"objectTypeId":"0-1"}],"default":true,"isSmartGroup":false,"richText":{"content":"","type":"TEXT"},"isPageBreak":false}],"createdAt":1572891297226,"updatedAt":1572897032433,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[{"name":"lang","value":"en"}],"deletable":true,"inlineMessage":"Thanks
        for submitting the form.","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":"canvas","parentId":0,"style":"{\"fontFamily\":\"helvetica\",\"backgroundWidth\":\"100%\",\"labelTextColor\":\"#33475b\",\"labelTextSize\":\"13px\",\"helpTextColor\":\"#7C98B6\",\"helpTextSize\":\"11px\",\"legalConsentTextColor\":\"#33475b\",\"legalConsentTextSize\":\"14px\",\"submitColor\":\"#ff7a59\",\"submitAlignment\":\"left\",\"submitFontColor\":\"#ffffff\",\"submitSize\":\"12px\"}","isPublished":true,"publishAt":0,"unpublishAt":0,"publishedAt":0,"kickbackEmailWorkflowId":0,"kickbackEmailsJson":"","customUid":"","createMarketableContact":true,"editVersion":0,"thankYouMessageJson":"","themeColor":"","alwaysCreateNewCompany":true,"internalUpdatedAt":1632793248939,"businessUnitId":0,"portableKey":"d1cd93f2-1fa7-4794-b718-68e40b40c643","paymentSessionTemplateIds":[],"selectedExternalOptions":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:53 GMT
recorded_with: VCR 6.1.0
