---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"Demo Form 6cfd75bdf8408c822977a1fc58c2a614","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","leadNurturingCampaignId":"","notifyRecipients":"","embeddedCode":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5df9c590-fd79-43ba-a213-4eb8aff5a892
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498618'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '130'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B8DA8F18A3A14F0E644693837362975EFDBC2392A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"guid":"9c4c252f-d6d6-421c-8442-215717160920","name":"Demo
        Form 6cfd75bdf8408c822977a1fc58c2a614","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":1655818161542,"updatedAt":1655818161542,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":"canvas","parentId":0,"style":"","isPublished":true,"publishAt":0,"unpublishAt":0,"publishedAt":0,"kickbackEmailWorkflowId":0,"kickbackEmailsJson":"","customUid":"","createMarketableContact":true,"editVersion":0,"thankYouMessageJson":"","themeColor":"","alwaysCreateNewCompany":false,"internalUpdatedAt":1655818161542,"businessUnitId":0,"portableKey":"32385ee3-bb49-4ab3-ac2a-372d61f5de5f","paymentSessionTemplateIds":[],"selectedExternalOptions":[]}'
  recorded_at: Tue, 21 Jun 2022 13:29:21 GMT
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms/9c4c252f-d6d6-421c-8442-215717160920?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"updated form name 710dfb5f1e128379c28463278aca6b9d","redirect":"http://hubspot.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      -[...]
