---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/forms/v2/forms?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"Demo Form b6440736b27fa9e33385ce5129e2c562","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","leadNurturingCampaignId":"","notifyRecipients":"","embeddedCode":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cffb525a-20ed-4e61-b534-378611e9a4a0
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498619'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B196E8797A954F58F2FA129ADEBF1A4FDDDC58D81000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"guid":"4afe466d-5767-44e9-80a2-4c77a5c90199","name":"Demo
        Form b6440736b27fa9e33385ce5129e2c562","action":"","method":"POST","cssClass":"hs-form
        stacked","redirect":"","submitText":"Sign Up","followUpId":"","notifyRecipients":"","leadNurturingCampaignId":"","formFieldGroups":[],"createdAt":1655818160346,"updatedAt":1655818160346,"performableHtml":"","migratedFrom":"","ignoreCurrentValues":false,"metaData":[],"deletable":true,"inlineMessage":"","tmsId":"","captchaEnabled":false,"campaignGuid":"","cloneable":true,"editable":true,"formType":"HUBSPOT","deletedAt":0,"themeName":"canvas","parentId":0,"style":"","isPublished":true,"publishAt":0,"unpublishAt":0,"publishedAt":0,"kickbackEmailWorkflowId":0,"kickbackEmailsJson":"","customUid":"","createMarketableContact":true,"editVersion":0,"thankYouMessageJson":"","themeColor":"","alwaysCreateNewCompany":false,"internalUpdatedAt":1655818160346,"businessUnitId":0,"portableKey":"520958ef-dd82-4db1-af0d-98d9b43aa93e","paymentSessionTemplateIds":[],"selectedExternalOptions":[]}'
  recorded_at: Tue, 21 Jun 2022 13:29:20 GMT
- request:
    method: post
    uri: https://forms.hubspot.com/uploads/form/v2/<PORTAL_ID>/4afe466d-5767-44e9-80a2-4c77a5c90199
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 9628775b-433b-4924-a4d2-5f25229d1ef3
      X-Trace:
      - 2BD14F5BD7B7810BE7D9FFD10F46168AE7FD87E956000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:29:20 GMT
- request:
    method: post
    uri: https://forms.hubspot.com/uploads/form/v2/xxx/4afe466d-5767-44e9-80a2-4c77a5c90199
    body:
      encoding: UTF-8
      string: unknown_field=bogus_value
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c5626120-1bbb-47f6-9d6f-fa51b22801a3
      X-Trace:
      - 2BDF45B227B177CD769D98989DED3792D801C35E77000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Unable to parse value for path parameter:
        portalId","correlationId":"c5626120-1bbb-47f6-9d6f-fa51b22801a3"}'
  recorded_at: Tue, 21 Jun 2022 13:29:21 GMT
recorded_with: VCR 6.1.0
