---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Hamill, West and Donnelly"},{"name":"domain","value":"rohan.info"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8e507914-6b5d-4848-8c5e-8d7959d2de0a
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499080'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '145'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BA440C327CA10DB042BC578548561F7D7BAB39EBC000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956828582,"isDeleted":false,"properties":{"website":{"value":"rohan.info","timestamp":1655817974520,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"rohan.info","timestamp":1655817974520,"source":"CALCULATED","sourceVid":[],"requestId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a"}]},"hs_lastmodifieddate":{"value":"1655817974520","timestamp":1655817974520,"source":"CALCULATED","sourceId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655817974520","timestamp":1655817974520,"sourceId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a","source":"CALCULATED","sourceVid":[],"requestId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a"}]},"domain":{"value":"rohan.info","timestamp":1655817974520,"source":"API","sourceId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a","updatedByUserId":null,"versions":[{"name":"domain","value":"rohan.info","timestamp":1655817974520,"sourceId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a","source":"API","sourceVid":[],"requestId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a"}]},"name":{"value":"Hamill,
        West and Donnelly","timestamp":1655817974520,"source":"API","sourceId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a","updatedByUserId":null,"versions":[{"name":"name","value":"Hamill,
        West and Donnelly","timestamp":1655817974520,"sourceId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a","source":"API","sourceVid":[],"requestId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a"}]},"hs_object_id":{"value":"8956828582","timestamp":1655817974520,"source":"API","sourceId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956828582","timestamp":1655817974520,"sourceId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a","source":"API","sourceVid":[],"requestId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a"}]},"createdate":{"value":"1655817974520","timestamp":1655817974520,"source":"API","sourceId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655817974520","timestamp":1655817974520,"sourceId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a","source":"API","sourceVid":[],"requestId":"8e507914-6b5d-4848-8c5e-8d7959d2de0a"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:14 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":8956828582,"toObjectId":1234,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5ca1d61c-687d-44c0-ae35-5511a2d797cf
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499079'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '144'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BA9972C8608EAB77112C6C7705CAF0E4BA7E2427D000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"One or more associations are invalid","correlationId":"5ca1d61c-687d-44c0-ae35-5511a2d797cf","errors":["CONTACT=1234
        is not valid"]}'
  recorded_at: Tue, 21 Jun 2022 13:26:14 GMT
recorded_with: VCR 6.1.0
