---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Mohr, Hirthe and Crooks"},{"name":"domain","value":"macejkovic.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 20af1001-ed86-4811-8eac-5bfcdebadfe5
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498993'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '127'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B776E6AFB7AE4E0E57B030988D7AD303E82C85CC5000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956833370,"isDeleted":false,"properties":{"website":{"value":"macejkovic.biz","timestamp":1655818006213,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"macejkovic.biz","timestamp":1655818006213,"source":"CALCULATED","sourceVid":[],"requestId":"20af1001-ed86-4811-8eac-5bfcdebadfe5"}]},"hs_lastmodifieddate":{"value":"1655818006213","timestamp":1655818006213,"source":"CALCULATED","sourceId":"20af1001-ed86-4811-8eac-5bfcdebadfe5","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818006213","timestamp":1655818006213,"sourceId":"20af1001-ed86-4811-8eac-5bfcdebadfe5","source":"CALCULATED","sourceVid":[],"requestId":"20af1001-ed86-4811-8eac-5bfcdebadfe5"}]},"domain":{"value":"macejkovic.biz","timestamp":1655818006213,"source":"API","sourceId":"20af1001-ed86-4811-8eac-5bfcdebadfe5","updatedByUserId":null,"versions":[{"name":"domain","value":"macejkovic.biz","timestamp":1655818006213,"sourceId":"20af1001-ed86-4811-8eac-5bfcdebadfe5","source":"API","sourceVid":[],"requestId":"20af1001-ed86-4811-8eac-5bfcdebadfe5"}]},"name":{"value":"Mohr,
        Hirthe and Crooks","timestamp":1655818006213,"source":"API","sourceId":"20af1001-ed86-4811-8eac-5bfcdebadfe5","updatedByUserId":null,"versions":[{"name":"name","value":"Mohr,
        Hirthe and Crooks","timestamp":1655818006213,"sourceId":"20af1001-ed86-4811-8eac-5bfcdebadfe5","source":"API","sourceVid":[],"requestId":"20af1001-ed86-4811-8eac-5bfcdebadfe5"}]},"hs_object_id":{"value":"8956833370","timestamp":1655818006213,"source":"API","sourceId":"20af1001-ed86-4811-8eac-5bfcdebadfe5","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956833370","timestamp":1655818006213,"sourceId":"20af1001-ed86-4811-8eac-5bfcdebadfe5","source":"API","sourceVid":[],"requestId":"20af1001-ed86-4811-8eac-5bfcdebadfe5"}]},"createdate":{"value":"1655818006213","timestamp":1655818006213,"source":"API","sourceId":"20af1001-ed86-4811-8eac-5bfcdebadfe5","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818006213","timestamp":1655818006213,"sourceId":"20af1001-ed86-4811-8eac-5bfcdebadfe5","source":"API","sourceVid":[],"requestId":"20af1001-ed86-4811-8eac-5bfcdebadfe5"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:46 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/8956833370?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 38b870e0-aafd-46c0-a26d-dfcc9b91384c
      X-Hubspot-Ratelimit[...]
