---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Dooley LLC"},{"name":"domain","value":"lubowitz.name"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c52b3b00-8ced-4c38-a21a-94d500037bc2
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248553'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B2335C8860485DA88CFDE309C8BFC5E61568970F9000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337735189,"isDeleted":false,"properties":{"website":{"value":"lubowitz.name","timestamp":1659970157829,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"lubowitz.name","timestamp":1659970157829,"source":"CALCULATED","sourceVid":[],"requestId":"c52b3b00-8ced-4c38-a21a-94d500037bc2"}]},"hs_lastmodifieddate":{"value":"1659970157829","timestamp":1659970157829,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970157829","timestamp":1659970157829,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"c52b3b00-8ced-4c38-a21a-94d500037bc2"}]},"domain":{"value":"lubowitz.name","timestamp":1659970157829,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"lubowitz.name","timestamp":1659970157829,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c52b3b00-8ced-4c38-a21a-94d500037bc2"}]},"name":{"value":"Dooley
        LLC","timestamp":1659970157829,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Dooley
        LLC","timestamp":1659970157829,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c52b3b00-8ced-4c38-a21a-94d500037bc2"}]},"hs_object_id":{"value":"9337735189","timestamp":1659970157829,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337735189","timestamp":1659970157829,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c52b3b00-8ced-4c38-a21a-94d500037bc2"}]},"createdate":{"value":"1659970157829","timestamp":1659970157829,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970157829","timestamp":1659970157829,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c52b3b00-8ced-4c38-a21a-94d500037bc2"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:18 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/9337735189
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"},{"name":"description","value":"My
        Corporation"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspo[...]
