---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Greenholt-Nikolaus"},{"name":"domain","value":"cormier.io"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0c289014-4e70-468d-a21f-8b208f98885e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498636'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '114'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B8FA14B53F0939289E1DE85C5DC7CAB8118B43869000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963335713,"isDeleted":false,"properties":{"website":{"value":"cormier.io","timestamp":1655887658344,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"cormier.io","timestamp":1655887658344,"source":"CALCULATED","sourceVid":[],"requestId":"0c289014-4e70-468d-a21f-8b208f98885e"}]},"hs_lastmodifieddate":{"value":"1655887658344","timestamp":1655887658344,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887658344","timestamp":1655887658344,"source":"CALCULATED","sourceVid":[],"requestId":"0c289014-4e70-468d-a21f-8b208f98885e"}]},"domain":{"value":"cormier.io","timestamp":1655887658344,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"cormier.io","timestamp":1655887658344,"source":"API","sourceVid":[],"requestId":"0c289014-4e70-468d-a21f-8b208f98885e"}]},"name":{"value":"Greenholt-Nikolaus","timestamp":1655887658344,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Greenholt-Nikolaus","timestamp":1655887658344,"source":"API","sourceVid":[],"requestId":"0c289014-4e70-468d-a21f-8b208f98885e"}]},"hs_object_id":{"value":"8963335713","timestamp":1655887658344,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963335713","timestamp":1655887658344,"source":"API","sourceVid":[],"requestId":"0c289014-4e70-468d-a21f-8b208f98885e"}]},"createdate":{"value":"1655887658344","timestamp":1655887658344,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887658344","timestamp":1655887658344,"source":"API","sourceVid":[],"requestId":"0c289014-4e70-468d-a21f-8b208f98885e"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:38 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/8963335713?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 19735bbf-3538-4403-bd08-77899249da82
      X-Hubspot-Ratelimit[...]
