---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Stan"},{"property":"lastname","value":"Ortiz"},{"property":"email","value":"carolyne@example.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b89d1dda-8b53-421e-9702-490937500e1b
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248329'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B14893CE28FC4F6F25BD1100D0F9124F4F2ED32C9000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23751,"canonical-vid":23751,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Stan","versions":[{"value":"Stan","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970261257,"selected":false}]},"email":{"value":"carolyne@example.com","versions":[{"value":"carolyne@example.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970261257,"selected":false}]},"lastname":{"value":"Ortiz","versions":[{"value":"Ortiz","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970261257,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23751,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"carolyne@example.com","timestamp":1659970261264,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"0a55fa1a-9a37-4950-9d21-a7ef47a1f588","timestamp":1659970261287,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:01 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/23751/
    body:
      encoding: UTF-8
      string: '{"vidToMerge":23801}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - dc4f7e64-036f-4eb2-a19e-c34ac2c6ce45
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248327'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BCD187BC78E5B18CF99E9F079A2A46C88A8BF0130000000000000000000
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Mon, 08 Aug 2022 14:51:03 GMT
recorded_with: VCR 6.0.0
