---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Schinner-Dickinson"},{"name":"domain","value":"robel-toy.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '0569010b-0021-49ff-b328-f14d4ae09464'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499059'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B3C228E54273B169A278C60BFDA000F0F9214A21D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956810649,"isDeleted":false,"properties":{"website":{"value":"robel-toy.net","timestamp":1655817980629,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"robel-toy.net","timestamp":1655817980629,"source":"CALCULATED","sourceVid":[],"requestId":"0569010b-0021-49ff-b328-f14d4ae09464"}]},"hs_lastmodifieddate":{"value":"1655817980629","timestamp":1655817980629,"source":"CALCULATED","sourceId":"0569010b-0021-49ff-b328-f14d4ae09464","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655817980629","timestamp":1655817980629,"sourceId":"0569010b-0021-49ff-b328-f14d4ae09464","source":"CALCULATED","sourceVid":[],"requestId":"0569010b-0021-49ff-b328-f14d4ae09464"}]},"domain":{"value":"robel-toy.net","timestamp":1655817980629,"source":"API","sourceId":"0569010b-0021-49ff-b328-f14d4ae09464","updatedByUserId":null,"versions":[{"name":"domain","value":"robel-toy.net","timestamp":1655817980629,"sourceId":"0569010b-0021-49ff-b328-f14d4ae09464","source":"API","sourceVid":[],"requestId":"0569010b-0021-49ff-b328-f14d4ae09464"}]},"name":{"value":"Schinner-Dickinson","timestamp":1655817980629,"source":"API","sourceId":"0569010b-0021-49ff-b328-f14d4ae09464","updatedByUserId":null,"versions":[{"name":"name","value":"Schinner-Dickinson","timestamp":1655817980629,"sourceId":"0569010b-0021-49ff-b328-f14d4ae09464","source":"API","sourceVid":[],"requestId":"0569010b-0021-49ff-b328-f14d4ae09464"}]},"hs_object_id":{"value":"8956810649","timestamp":1655817980629,"source":"API","sourceId":"0569010b-0021-49ff-b328-f14d4ae09464","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956810649","timestamp":1655817980629,"sourceId":"0569010b-0021-49ff-b328-f14d4ae09464","source":"API","sourceVid":[],"requestId":"0569010b-0021-49ff-b328-f14d4ae09464"}]},"createdate":{"value":"1655817980629","timestamp":1655817980629,"source":"API","sourceId":"0569010b-0021-49ff-b328-f14d4ae09464","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655817980629","timestamp":1655817980629,"sourceId":"0569010b-0021-49ff-b328-f14d4ae09464","source":"API","sourceVid":[],"requestId":"0569010b-0021-49ff-b328-f14d4ae09464"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:20 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Ramona"},{"property":"lastname","value":"Smitham"},{"property":"email","value":"oliva_batz@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a993b2c4-01d6-4067-b644-9e0af4e5b313
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499058'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B4A9C44F658D9E7A6D7939E51AE522A35DC144A5C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":48651,"canonical-vid":48651,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Ramona","versions":[{"value":"Ramona","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817980922,"selected":false}]},"email":{"value":"oliva_batz@example.org","versions":[{"value":"oliva_batz@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817980922,"selected":false}]},"lastname":{"value":"Smitham","versions":[{"value":"Smitham","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817980922,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":48651,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"oliva_batz@example.org","timestamp":1655817980927,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"81eb19f6-acd5-49c3-88d6-fd67237c3a70","timestamp":1655817980965,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:21 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[8956810649],"associatedVids":[48651]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - be8394ca-3f51-4549-9e62-286bcce1c673
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499057'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B134D6564A31AC6CD7DAC6995595A42F6D563B7C0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9260073822,"isDeleted":false,"associations":{"associatedVids":[48651],"associatedCompanyIds":[8956810649],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655817981360,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655817981360,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655817981360,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655817981360,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1655817981360,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655817981360,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655817981360,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655817981360,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655817981360","timestamp":1655817981360,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655817981360","timestamp":1655817981360,"source":"CALCULATED","sourceVid":[],"requestId":"be8394ca-3f51-4549-9e62-286bcce1c673"}]},"hs_createdate":{"value":"1655817981360","timestamp":1655817981360,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655817981360","timestamp":1655817981360,"source":"API","sourceVid":[],"requestId":"be8394ca-3f51-4549-9e62-286bcce1c673"}]},"hs_object_id":{"value":"9260073822","timestamp":1655817981360,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9260073822","timestamp":1655817981360,"source":"API","sourceVid":[],"requestId":"be8394ca-3f51-4549-9e62-286bcce1c673"}]},"createdate":{"value":"1655817981360","timestamp":1655817981360,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655817981360","timestamp":1655817981360,"source":"API","sourceVid":[],"requestId":"be8394ca-3f51-4549-9e62-286bcce1c673"}]},"hs_is_deal_split":{"value":"false","timestamp":1655817981360,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655817981360,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount":{"value":"0","timestamp":1655817981360,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655817981360,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655817981360,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655817981360,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655817981360,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655817981360,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:21 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/delete-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":9260073822,"toObjectId":48651,"category":"HUBSPOT_DEFINED","definitionId":3},{"fromObjectId":9260073822,"toObjectId":8956810649,"category":"HUBSPOT_DEFINED","definitionId":5}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 18df7524-66e3-4853-a888-09f61409b8ee
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499056'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '121'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BD2571FDFDB7FD28D0BA5FB1A6CEC57E6F244B89F000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:26:21 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9260073822?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 63af8602-1643-44e5-b929-26c456210b23
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499055'
      X-Hubspot[...]
