---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Ngan"},{"property":"lastname","value":"Turner"},{"property":"email","value":"cedric@example.net"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f4dc7f6e-6389-493a-823a-7814d44f37f0
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248519'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '75'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B1FF00723A6F7BF8FD1876025593D747FC502D7C5000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":21601,"canonical-vid":21601,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Ngan","versions":[{"value":"Ngan","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970170892,"selected":false}]},"email":{"value":"cedric@example.net","versions":[{"value":"cedric@example.net","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970170892,"selected":false}]},"lastname":{"value":"Turner","versions":[{"value":"Turner","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970170892,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":21601,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"cedric@example.net","timestamp":1659970170903,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"fb4e7706-4b6d-4b47-ba64-08fcc5d64596","timestamp":1659970170954,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:31 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Satterfield, Boyer and Harris"},{"name":"domain","value":"leffler.name"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 245b2ba5-b7ef-44ee-ad19-3a16840b8a44
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248518'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B279A888DA3831CAB80004804FFABE0BF90E487B7000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337669418,"isDeleted":false,"properties":{"website":{"value":"leffler.name","timestamp":1659970171335,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"leffler.name","timestamp":1659970171335,"source":"CALCULATED","sourceVid":[],"requestId":"245b2ba5-b7ef-44ee-ad19-3a16840b8a44"}]},"hs_lastmodifieddate":{"value":"1659970171335","timestamp":1659970171335,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970171335","timestamp":1659970171335,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"245b2ba5-b7ef-44ee-ad19-3a16840b8a44"}]},"domain":{"value":"leffler.name","timestamp":1659970171335,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"leffler.name","timestamp":1659970171335,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"245b2ba5-b7ef-44ee-ad19-3a16840b8a44"}]},"name":{"value":"Satterfield,
        Boyer and Harris","timestamp":1659970171335,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Satterfield,
        Boyer and Harris","timestamp":1659970171335,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"245b2ba5-b7ef-44ee-ad19-3a16840b8a44"}]},"hs_object_id":{"value":"9337669418","timestamp":1659970171335,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337669418","timestamp":1659970171335,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"245b2ba5-b7ef-44ee-ad19-3a16840b8a44"}]},"createdate":{"value":"1659970171335","timestamp":1659970171335,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970171335","timestamp":1659970171335,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"245b2ba5-b7ef-44ee-ad19-3a16840b8a44"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:31 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/9337669418/vids?count=25&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1cd8cc14-fab7-4e9a-bee7-d9ed10d52cc0
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248517'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B7203AF8CC206FCFE4A748B007179F94AA399DF40000000000000000000
    body:
      encoding: UTF-8
      string: '{"vids":[],"vidOffset":0,"hasMore":false}'
  recorded_at: Mon, 08 Aug 2022 14:49:31 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9337669418},"to":{"id":21601},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 774df1ea-c0c0-4c70-9c7c-ee9763c174af
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248516'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '75'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B67B059DFDDCE6194E69D38AAA8B07F3DADF1F04E000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":9337669418,"toObjectTypeId":"0-1","toObjectId":21601,"labels":["Primary
        Company"]}],"startedAt":"2022-08-08T14:49:31.909Z","completedAt":"2022-08-08T14:49:32.045Z"}'
  recorded_at: Mon, 08 Aug 2022 14:49:32 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/9337669418/vids?count=25&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c6e49a18-8e3a-448b-afef-43ea9aad14c0
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248515'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BB3A00D6D99A51E39942BBAD2A2347F5D3D14FD63000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vids":[21601],"vidOffset":21601,"hasMore":false}'
  recorded_at: Mon, 08 Aug 2022 14:49:32 GMT
recorded_with: VCR 6.0.0
