---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Allison"},{"property":"email","value":"hugh@example.org"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ce4e0975-c9f2-4770-908a-d5f35bf3ff67
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248342'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B8413DEFA050D8C821E16D0DE41CAC580A0EE195E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23501,"canonical-vid":23501,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Allison","versions":[{"value":"Allison","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970255103,"selected":false}]},"email":{"value":"hugh@example.org","versions":[{"value":"hugh@example.org","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970255103,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23501,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"hugh@example.org","timestamp":1659970255110,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"a6635d0b-3653-4ba6-9061-2595f125bb69","timestamp":1659970255133,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:55 GMT
recorded_with: VCR 6.0.0
