---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Miller, Schmeler and Rempel"},{"name":"domain","value":"wolf.co"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2ee5876b-ce81-45aa-b837-a7ee4f2a32e0
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498615'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '132'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B282F1FC49F3A324F081980C8796F10865AC1EF0B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963342207,"isDeleted":false,"properties":{"website":{"value":"wolf.co","timestamp":1655887662951,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"wolf.co","timestamp":1655887662951,"source":"CALCULATED","sourceVid":[],"requestId":"2ee5876b-ce81-45aa-b837-a7ee4f2a32e0"}]},"hs_lastmodifieddate":{"value":"1655887662951","timestamp":1655887662951,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887662951","timestamp":1655887662951,"source":"CALCULATED","sourceVid":[],"requestId":"2ee5876b-ce81-45aa-b837-a7ee4f2a32e0"}]},"domain":{"value":"wolf.co","timestamp":1655887662951,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"wolf.co","timestamp":1655887662951,"source":"API","sourceVid":[],"requestId":"2ee5876b-ce81-45aa-b837-a7ee4f2a32e0"}]},"name":{"value":"Miller,
        Schmeler and Rempel","timestamp":1655887662951,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Miller,
        Schmeler and Rempel","timestamp":1655887662951,"source":"API","sourceVid":[],"requestId":"2ee5876b-ce81-45aa-b837-a7ee4f2a32e0"}]},"hs_object_id":{"value":"8963342207","timestamp":1655887662951,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963342207","timestamp":1655887662951,"source":"API","sourceVid":[],"requestId":"2ee5876b-ce81-45aa-b837-a7ee4f2a32e0"}]},"createdate":{"value":"1655887662951","timestamp":1655887662951,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887662951","timestamp":1655887662951,"source":"API","sourceVid":[],"requestId":"2ee5876b-ce81-45aa-b837-a7ee4f2a32e0"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:42 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8963342207?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f80f785f-f963-49ce-a5b0-87c7e159d4ef
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498614'
      [...]
