---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/1/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3c36f443-b6ff-40a2-970d-2bc8137df825
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498373'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BF693D441ADABE47007C4C0C8FED82D30738AD4F7000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"canonical vid is not a valid contact or
        is already in the process of being merged","correlationId":"3c36f443-b6ff-40a2-970d-2bc8137df825"}'
  recorded_at: Wed, 22 Jun 2022 08:49:20 GMT
recorded_with: VCR 6.1.0
