---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Ira"},{"property":"lastname","value":"Paucek"},{"property":"email","value":"berna@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d85133d1-c034-4cbe-bc59-6c57bbcb79d6
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498745'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BF2412457B0EC7E64167913DFFB6443F33BBF700C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50901,"canonical-vid":50901,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Ira","versions":[{"value":"Ira","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111900,"selected":false}]},"email":{"value":"berna@example.com","versions":[{"value":"berna@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111900,"selected":false}]},"lastname":{"value":"Paucek","versions":[{"value":"Paucek","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111900,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50901,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"berna@example.com","timestamp":1655818111918,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"976c744c-3c8d-4113-9b83-11a73bcef6a6","timestamp":1655818111979,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:32 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/berna@example.com/profile?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1261b71e-fa8e-4fd5-bd71-24291f0625a7
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498744'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BC045AE37A8DF3B440715DD68EE830AF5FFB06A66000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50901,"canonical-vid":50901,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_is_unworked":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":"CalculatedPropertyComputer","source-label":null,"updated-by-user-id":null,"timestamp":1655818111918,"selected":false}]},"firstname":{"value":"Ira","versions":[{"value":"Ira","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111900,"selected":false}]},"lastmodifieddate":{"value":"1655818111918","versions":[{"value":"1655818111918","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111918,"selected":false}]},"hs_pipeline":{"value":"contacts-lifecycle-pipeline","versions":[{"value":"contacts-lifecycle-pipeline","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111918,"selected":false}]},"createdate":{"value":"1655818111918","versions":[{"value":"1655818111918","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111918,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1655818111918","versions":[{"value":"1655818111918","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111918,"selected":false}]},"lastname":{"value":"Paucek","versions":[{"value":"Paucek","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111900,"selected":false}]},"hs_all_contact_vids":{"value":"50901","versions":[{"value":"50901","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111918,"selected":false}]},"hs_marketable_until_renewal":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111918,"selected":false}]},"hs_marketable_status":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111918,"selected":false}]},"hs_is_contact":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111918,"selected":false}]},"hs_object_id":{"value":"50901","versions":[{"value":"50901","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111918,"selected":false}]},"hs_email_domain":{"value":"example.com","versions":[{"value":"example.com","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111918,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111918,"selected":false}]},"email":{"value":"berna@example.com","versions":[{"value":"berna@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111918,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50901,"saved-at-timestamp":1655818111987,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"berna@example.com","timestamp":1655818111918,"is-primary":true},{"type":"LEAD_GUID","value":"976c744c-3c8d-4113-9b83-11a73bcef6a6","timestamp":1655818111979}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:32 GMT
recorded_with: VCR 6.1.0
