---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foo Bar Inc."}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e125d477-287c-4e69-bc76-ce0ccc4d8f47
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498618'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '135'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B23371278DC185F36FB031DEC25E2E87E46A765AE000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963348059,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655887662276","timestamp":1655887662276,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887662276","timestamp":1655887662276,"source":"CALCULATED","sourceVid":[],"requestId":"e125d477-287c-4e69-bc76-ce0ccc4d8f47"}]},"name":{"value":"Foo
        Bar Inc.","timestamp":1655887662276,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Foo
        Bar Inc.","timestamp":1655887662276,"source":"API","sourceVid":[],"requestId":"e125d477-287c-4e69-bc76-ce0ccc4d8f47"}]},"hs_object_id":{"value":"8963348059","timestamp":1655887662276,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963348059","timestamp":1655887662276,"source":"API","sourceVid":[],"requestId":"e125d477-287c-4e69-bc76-ce0ccc4d8f47"}]},"createdate":{"value":"1655887662276","timestamp":1655887662276,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887662276","timestamp":1655887662276,"source":"API","sourceVid":[],"requestId":"e125d477-287c-4e69-bc76-ce0ccc4d8f47"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:42 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foo Bar Inc."}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 606d3825-26c9-4862-a8dd-a32cce471ba7
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249896'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
