---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Catrina"},{"property":"lastname","value":"Wintheiser"},{"property":"email","value":"nicky@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0b9e4861-cfe2-4aea-b135-0f692257e6d8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498399'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BAB31CE75278E327D04CE5342D1FE34472CB598F7000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67951,"canonical-vid":67951,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Catrina","versions":[{"value":"Catrina","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887752046,"selected":false}]},"email":{"value":"nicky@example.org","versions":[{"value":"nicky@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887752046,"selected":false}]},"lastname":{"value":"Wintheiser","versions":[{"value":"Wintheiser","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887752046,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67951,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"nicky@example.org","timestamp":1655887752052,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"59dfd1a7-db5b-4417-b209-8903a877a2fe","timestamp":1655887752070,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:12 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/67951/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"},{"property":"lastname","value":"qwer"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 9b78a1a7-4f7e-4191-aace-508e562b0ea0
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498398'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BFB7D5AAB79EF08C31054CE2EB394E31B818B903B000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:49:12 GMT
recorded_with: VCR 6.1.0
