---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019dab0b-6a7c-7027-be99-1b61f6cd4513'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249974'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '92'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"51","properties":{"createdate":"2018-04-09T13:17:00.224Z","email":"bh@hubspot.com","firstname":"Brian","hs_object_id":"51","lastmodifieddate":"2022-07-08T03:16:44.972Z","lastname":"Halligan
        (Sample Contact)"},"createdAt":"2018-04-09T13:17:00.224Z","updatedAt":"2022-07-08T03:16:44.972Z","archived":false,"url":"https://app.hubspot.com/contacts/<PORTAL_ID>/record/0-1/51"}],"paging":{"next":{"after":"52","link":"https://api.hubapi.com/crm/objects/v3/contacts?offset_param=after&limit=1&after=52"}}}'
  recorded_at: Mon, 20 Apr 2026 13:19:05 GMT
recorded_with: VCR 6.4.0
