---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foo Bar Inc."}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ea4124f6-f9ee-464b-a892-0e4cf0325198
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248545'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B588DEEC98B98DE9E3A85B606669001B2B20FA223000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337407872,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1659970160438","timestamp":1659970160438,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970160438","timestamp":1659970160438,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"ea4124f6-f9ee-464b-a892-0e4cf0325198"}]},"name":{"value":"Foo
        Bar Inc.","timestamp":1659970160438,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Foo
        Bar Inc.","timestamp":1659970160438,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"ea4124f6-f9ee-464b-a892-0e4cf0325198"}]},"hs_object_id":{"value":"9337407872","timestamp":1659970160438,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337407872","timestamp":1659970160438,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"ea4124f6-f9ee-464b-a892-0e4cf0325198"}]},"createdate":{"value":"1659970160438","timestamp":1659970160438,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970160438","timestamp":1659970160438,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"ea4124f6-f9ee-464b-a892-0e4cf0325198"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:20 GMT
recorded_with: VCR 6.0.0
