---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Ward"},{"property":"lastname","value":"O''Hara"},{"property":"email","value":"freda.feeney@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0b7d17d3-0e2c-4d5e-8dc1-f357302d2996
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498382'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B063F5BC6CF974E86E95A677C5E2B87113228D248000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":68301,"canonical-vid":68301,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Ward","versions":[{"value":"Ward","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757595,"selected":false}]},"email":{"value":"freda.feeney@example.org","versions":[{"value":"freda.feeney@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757595,"selected":false}]},"lastname":{"value":"O''Hara","versions":[{"value":"O''Hara","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757595,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":68301,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"freda.feeney@example.org","timestamp":1655887757602,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"9b0415d8-ac6d-42e1-81df-58ddd5ff15db","timestamp":1655887757645,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:17 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/freda.feeney@example.org/profile?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1a7ebb77-941f-4cd2-ad4b-075a426addc1
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498381'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B734A8FAFF4F45CF34A3989876517E8050B903315000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":68301,"canonical-vid":68301,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_is_unworked":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":"CalculatedPropertyComputer","source-label":null,"updated-by-user-id":null,"timestamp":1655887757602,"selected":false}]},"firstname":{"value":"Ward","versions":[{"value":"Ward","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757595,"selected":false}]},"lastmodifieddate":{"value":"1655887757602","versions":[{"value":"1655887757602","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757602,"selected":false}]},"hs_pipeline":{"value":"contacts-lifecycle-pipeline","versions":[{"value":"contacts-lifecycle-pipeline","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757602,"selected":false}]},"createdate":{"value":"1655887757602","versions":[{"value":"1655887757602","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757602,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1655887757602","versions":[{"value":"1655887757602","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757602,"selected":false}]},"lastname":{"value":"O''Hara","versions":[{"value":"O''Hara","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757595,"selected":false}]},"hs_all_contact_vids":{"value":"68301","versions":[{"value":"68301","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757602,"selected":false}]},"hs_marketable_until_renewal":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757602,"selected":false}]},"hs_marketable_status":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757602,"selected":false}]},"hs_is_contact":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757602,"selected":false}]},"hs_object_id":{"value":"68301","versions":[{"value":"68301","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757602,"selected":false}]},"hs_email_domain":{"value":"example.org","versions":[{"value":"example.org","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757602,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757602,"selected":false}]},"email":{"value":"freda.feeney@example.org","versions":[{"value":"freda.feeney@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757602,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":68301,"saved-at-timestamp":1655887757649,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"freda.feeney@example.org","timestamp":1655887757602,"is-primary":true},{"type":"LEAD_GUID","value":"9b0415d8-ac6d-42e1-81df-58ddd5ff15db","timestamp":1655887757645}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:17 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Dustin"},{"property":"lastname","value":"Tromp"},{"property":"email","value":"yen@example.net"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e40531dd-8061-4056-90e0-5c71af217695
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249665'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/yen@example.net/profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d347281f-39e5-4872-b56a-214a502694de
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ra[...]
