---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":1,"toObjectId":1,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7186f55d-3ec5-4bd7-b9ba-5d6e1c7ad34f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498946'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B0F59309987B7E0266E16907A0E2B40B19F45D9D3000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"One or more associations are invalid","correlationId":"7186f55d-3ec5-4bd7-b9ba-5d6e1c7ad34f","errors":["COMPANY=1
        is not valid"]}'
  recorded_at: Tue, 21 Jun 2022 13:27:00 GMT
recorded_with: VCR 6.1.0
