---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Buckridge-Herzog"},{"name":"domain","value":"sporer.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 56aa9d9b-9226-43b6-bfba-105fc782cc74
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498395'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B918AB4CEE40184C40DD746AD5B35672ECC328D0E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963368632,"isDeleted":false,"properties":{"website":{"value":"sporer.net","timestamp":1655887753472,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"sporer.net","timestamp":1655887753472,"source":"CALCULATED","sourceVid":[],"requestId":"56aa9d9b-9226-43b6-bfba-105fc782cc74"}]},"hs_lastmodifieddate":{"value":"1655887753472","timestamp":1655887753472,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887753472","timestamp":1655887753472,"source":"CALCULATED","sourceVid":[],"requestId":"56aa9d9b-9226-43b6-bfba-105fc782cc74"}]},"domain":{"value":"sporer.net","timestamp":1655887753472,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"sporer.net","timestamp":1655887753472,"source":"API","sourceVid":[],"requestId":"56aa9d9b-9226-43b6-bfba-105fc782cc74"}]},"name":{"value":"Buckridge-Herzog","timestamp":1655887753472,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Buckridge-Herzog","timestamp":1655887753472,"source":"API","sourceVid":[],"requestId":"56aa9d9b-9226-43b6-bfba-105fc782cc74"}]},"hs_object_id":{"value":"8963368632","timestamp":1655887753472,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963368632","timestamp":1655887753472,"source":"API","sourceVid":[],"requestId":"56aa9d9b-9226-43b6-bfba-105fc782cc74"}]},"createdate":{"value":"1655887753472","timestamp":1655887753472,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887753472","timestamp":1655887753472,"source":"API","sourceVid":[],"requestId":"56aa9d9b-9226-43b6-bfba-105fc782cc74"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:13 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Britt"},{"property":"lastname","value":"Koch"},{"property":"email","value":"magaret@example.org"},{"property":"associatedcompanyid","value":8963368632}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 89261c88-4961-4546-a5f6-209357519d67
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498394'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BE8AC15D4E96E2DFF6887838850288805907B4A31000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":68051,"canonical-vid":68051,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"associatedcompanyid":{"value":"8963368632","versions":[{"value":"8963368632","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753746,"selected":false}]},"firstname":{"value":"Britt","versions":[{"value":"Britt","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753746,"selected":false}]},"email":{"value":"magaret@example.org","versions":[{"value":"magaret@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753746,"selected":false}]},"lastname":{"value":"Koch","versions":[{"value":"Koch","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753746,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":68051,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"magaret@example.org","timestamp":1655887753755,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"2a904f8f-12f7-4094-af42-7b30181433a5","timestamp":1655887753811,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:14 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/68051/profile?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a1274874-4e7e-4beb-895b-4f53e747306f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498393'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B627F7AEA104AFBAB4C70BC4EC27EE726A389641D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":68051,"canonical-vid":68051,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_is_unworked":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":"CalculatedPropertyComputer","source-label":null,"updated-by-user-id":null,"timestamp":1655887753755,"selected":false}]},"firstname":{"value":"Britt","versions":[{"value":"Britt","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753746,"selected":false}]},"lastmodifieddate":{"value":"1655887753755","versions":[{"value":"1655887753755","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753755,"selected":false}]},"hs_pipeline":{"value":"contacts-lifecycle-pipeline","versions":[{"value":"contacts-lifecycle-pipeline","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753755,"selected":false}]},"createdate":{"value":"1655887753755","versions":[{"value":"1655887753755","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753755,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1655887753755","versions":[{"value":"1655887753755","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753755,"selected":false}]},"lastname":{"value":"Koch","versions":[{"value":"Koch","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753746,"selected":false}]},"hs_all_contact_vids":{"value":"68051","versions":[{"value":"68051","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753755,"selected":false}]},"hs_marketable_until_renewal":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753755,"selected":false}]},"hs_marketable_status":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753755,"selected":false}]},"hs_is_contact":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753755,"selected":false}]},"hs_object_id":{"value":"68051","versions":[{"value":"68051","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753755,"selected":false}]},"hs_email_domain":{"value":"example.org","versions":[{"value":"example.org","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753755,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753755,"selected":false}]},"email":{"value":"magaret@example.org","versions":[{"value":"magaret@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887753755,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":68051,"saved-at-timestamp":1655887753815,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"magaret@example.org","timestamp":1655887753755,"is-primary":true},{"type":"LEAD_GUID","value":"2a904f8f-12f7-4094-af42-7b30181433a5","timestamp":1655887753811}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:14 GMT
recorded_with: VCR 6.1.0
