---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Kozey Inc"},{"name":"domain","value":"cassin.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 40144668-fc56-4ce6-a801-a0a577032399
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499054'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BF502F494C23A5DBA14D075F2DF754997D2A021C3000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956174154,"isDeleted":false,"properties":{"website":{"value":"cassin.net","timestamp":1655817982220,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"cassin.net","timestamp":1655817982220,"source":"CALCULATED","sourceVid":[],"requestId":"40144668-fc56-4ce6-a801-a0a577032399"}]},"hs_lastmodifieddate":{"value":"1655817982220","timestamp":1655817982220,"source":"CALCULATED","sourceId":"40144668-fc56-4ce6-a801-a0a577032399","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655817982220","timestamp":1655817982220,"sourceId":"40144668-fc56-4ce6-a801-a0a577032399","source":"CALCULATED","sourceVid":[],"requestId":"40144668-fc56-4ce6-a801-a0a577032399"}]},"domain":{"value":"cassin.net","timestamp":1655817982220,"source":"API","sourceId":"40144668-fc56-4ce6-a801-a0a577032399","updatedByUserId":null,"versions":[{"name":"domain","value":"cassin.net","timestamp":1655817982220,"sourceId":"40144668-fc56-4ce6-a801-a0a577032399","source":"API","sourceVid":[],"requestId":"40144668-fc56-4ce6-a801-a0a577032399"}]},"name":{"value":"Kozey
        Inc","timestamp":1655817982220,"source":"API","sourceId":"40144668-fc56-4ce6-a801-a0a577032399","updatedByUserId":null,"versions":[{"name":"name","value":"Kozey
        Inc","timestamp":1655817982220,"sourceId":"40144668-fc56-4ce6-a801-a0a577032399","source":"API","sourceVid":[],"requestId":"40144668-fc56-4ce6-a801-a0a577032399"}]},"hs_object_id":{"value":"8956174154","timestamp":1655817982220,"source":"API","sourceId":"40144668-fc56-4ce6-a801-a0a577032399","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956174154","timestamp":1655817982220,"sourceId":"40144668-fc56-4ce6-a801-a0a577032399","source":"API","sourceVid":[],"requestId":"40144668-fc56-4ce6-a801-a0a577032399"}]},"createdate":{"value":"1655817982220","timestamp":1655817982220,"source":"API","sourceId":"40144668-fc56-4ce6-a801-a0a577032399","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655817982220","timestamp":1655817982220,"sourceId":"40144668-fc56-4ce6-a801-a0a577032399","source":"API","sourceVid":[],"requestId":"40144668-fc56-4ce6-a801-a0a577032399"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:22 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Buddy"},{"property":"lastname","value":"Vandervort"},{"property":"email","value":"lanny_prosacco@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 440875b6-fa53-4278-9c34-f41d4ee8352f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499053'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B22EAEFDF09A6E6A64CD49B0E784121BCADBA4E9E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":48701,"canonical-vid":48701,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Buddy","versions":[{"value":"Buddy","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817982583,"selected":false}]},"email":{"value":"lanny_prosacco@example.net","versions":[{"value":"lanny_prosacco@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817982583,"selected":false}]},"lastname":{"value":"Vandervort","versions":[{"value":"Vandervort","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817982583,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":48701,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"lanny_prosacco@example.net","timestamp":1655817982593,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"5ae6d5de-062d-46d5-adda-b9cc8b81b5e7","timestamp":1655817982742,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:22 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[8956174154],"associatedVids":[48701]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e23e2f33-b074-410f-8e88-73380429564f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499052'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B88B78E8AA8E96E25C95C3F445B230C377FF01D2F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9260459950,"isDeleted":false,"associations":{"associatedVids":[48701],"associatedCompanyIds":[8956174154],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655817983142,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655817983142,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655817983142,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655817983142,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1655817983142,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655817983142,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655817983142,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655817983142,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655817983142","timestamp":1655817983142,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655817983142","timestamp":1655817983142,"source":"CALCULATED","sourceVid":[],"requestId":"e23e2f33-b074-410f-8e88-73380429564f"}]},"hs_createdate":{"value":"1655817983142","timestamp":1655817983142,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655817983142","timestamp":1655817983142,"source":"API","sourceVid":[],"requestId":"e23e2f33-b074-410f-8e88-73380429564f"}]},"hs_object_id":{"value":"9260459950","timestamp":1655817983142,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9260459950","timestamp":1655817983142,"source":"API","sourceVid":[],"requestId":"e23e2f33-b074-410f-8e88-73380429564f"}]},"createdate":{"value":"1655817983142","timestamp":1655817983142,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655817983142","timestamp":1655817983142,"source":"API","sourceVid":[],"requestId":"e23e2f33-b074-410f-8e88-73380429564f"}]},"hs_projected_amount":{"value":"0","timestamp":1655817983142,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655817983142,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1655817983142,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655817983142,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655817983142,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655817983142,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655817983142,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655817983142,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:23 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/delete-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":9260459950,"toObjectId":1234,"category":"HUBSPOT_DEFINED","definitionId":3},{"fromObjectId":9260459950,"toObjectId":8956174154,"category":"HUBSPOT_DEFINED","definitionId":5}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - ccd9e209-5273-4072-b465-10e400869d0f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499051'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BD0910F7003E4FF0FCB6A23FD71B449A573718F78000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:26:23 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9260459950?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '01218d51-5480-404e-933e-7ebff72a9f1e'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499050'
      X-Hubsp[...]
