---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Spencer, Heidenreich and Ziemann"},{"name":"domain","value":"marvin-buckridge.info"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fc43d4d5-1db1-4f9f-963b-f7c9a5070fd3
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248636'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BB20AECA01B33685F4C453EF10E8399746EBF15E9000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337388889,"isDeleted":false,"properties":{"website":{"value":"marvin-buckridge.info","timestamp":1659970121470,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"marvin-buckridge.info","timestamp":1659970121470,"source":"CALCULATED","sourceVid":[],"requestId":"fc43d4d5-1db1-4f9f-963b-f7c9a5070fd3"}]},"hs_lastmodifieddate":{"value":"1659970121470","timestamp":1659970121470,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970121470","timestamp":1659970121470,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"fc43d4d5-1db1-4f9f-963b-f7c9a5070fd3"}]},"domain":{"value":"marvin-buckridge.info","timestamp":1659970121470,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"marvin-buckridge.info","timestamp":1659970121470,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"fc43d4d5-1db1-4f9f-963b-f7c9a5070fd3"}]},"name":{"value":"Spencer,
        Heidenreich and Ziemann","timestamp":1659970121470,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Spencer,
        Heidenreich and Ziemann","timestamp":1659970121470,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"fc43d4d5-1db1-4f9f-963b-f7c9a5070fd3"}]},"hs_object_id":{"value":"9337388889","timestamp":1659970121470,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337388889","timestamp":1659970121470,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"fc43d4d5-1db1-4f9f-963b-f7c9a5070fd3"}]},"createdate":{"value":"1659970121470","timestamp":1659970121470,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970121470","timestamp":1659970121470,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"fc43d4d5-1db1-4f9f-963b-f7c9a5070fd3"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:41 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[9337388889,9337713252],"associatedVids":[]},"properties":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 53c287e0-0871-4476-a235-94c2a5117c1a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248634'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BBBA06BBFC11693CCB18B60BD49422D424058074F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9755292932,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[9337388889,9337713252],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1659970122423,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1659970122423,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1659970122423,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1659970122423,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1659970122423,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1659970122423,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1659970122423,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1659970122423,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1659970122423","timestamp":1659970122423,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970122423","timestamp":1659970122423,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"53c287e0-0871-4476-a235-94c2a5117c1a"}]},"hs_createdate":{"value":"1659970122423","timestamp":1659970122423,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1659970122423","timestamp":1659970122423,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"53c287e0-0871-4476-a235-94c2a5117c1a"}]},"hs_object_id":{"value":"9755292932","timestamp":1659970122423,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9755292932","timestamp":1659970122423,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"53c287e0-0871-4476-a235-94c2a5117c1a"}]},"createdate":{"value":"1659970122423","timestamp":1659970122423,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970122423","timestamp":1659970122423,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"53c287e0-0871-4476-a235-94c2a5117c1a"}]},"hs_projected_amount":{"value":"0","timestamp":1659970122423,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1659970122423,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1659970122423,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1659970122423,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1659970122423,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1659970122423,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1659970122423,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1659970122423,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:42 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Company/batch/archive
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9755292932},"to":[{"id":1234},{"id":9337388889}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ac4f4c8e-36ff-4ede-adc8-455d340b50da
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248633'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BB43E631C166DFCFFD99E340BB2F3D9F00C69CCB4000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2022 14:48:43 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9755292932
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7fc6c1e2-9eeb-4e5f-a359-a04fa5980953
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
[...]
