---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Kunde LLC"},{"name":"domain","value":"goodwin-okon.io"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f18e0fc3-907b-4350-b83f-05deea81f50c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498597'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '114'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B5FAB7A984820F3C93259E4C251CE1600BB28AF09000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963324571,"isDeleted":false,"properties":{"website":{"value":"goodwin-okon.io","timestamp":1655887666916,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"goodwin-okon.io","timestamp":1655887666916,"source":"CALCULATED","sourceVid":[],"requestId":"f18e0fc3-907b-4350-b83f-05deea81f50c"}]},"hs_lastmodifieddate":{"value":"1655887666916","timestamp":1655887666916,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887666916","timestamp":1655887666916,"source":"CALCULATED","sourceVid":[],"requestId":"f18e0fc3-907b-4350-b83f-05deea81f50c"}]},"domain":{"value":"goodwin-okon.io","timestamp":1655887666916,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"goodwin-okon.io","timestamp":1655887666916,"source":"API","sourceVid":[],"requestId":"f18e0fc3-907b-4350-b83f-05deea81f50c"}]},"name":{"value":"Kunde
        LLC","timestamp":1655887666916,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Kunde
        LLC","timestamp":1655887666916,"source":"API","sourceVid":[],"requestId":"f18e0fc3-907b-4350-b83f-05deea81f50c"}]},"hs_object_id":{"value":"8963324571","timestamp":1655887666916,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963324571","timestamp":1655887666916,"source":"API","sourceVid":[],"requestId":"f18e0fc3-907b-4350-b83f-05deea81f50c"}]},"createdate":{"value":"1655887666916","timestamp":1655887666916,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887666916","timestamp":1655887666916,"source":"API","sourceVid":[],"requestId":"f18e0fc3-907b-4350-b83f-05deea81f50c"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:46 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/domains/goodwin-okon.io/companies?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"limit":25,"requestOptions":{},"offset":{"isPrimary":true,"companyId":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5cce902a-eba4-4420-98d7-94c509169f6b
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498596'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '113'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B1CE5C8802D5E4B529843848413D9CB34519FA390000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"portalId":<PORTAL_ID>,"companyId":8963324571,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}],"hasMore":false,"offset":{"companyId":8963324571,"isPrimary":true}}'
  recorded_at: Wed, 22 Jun 2022 08:47:47 GMT
recorded_with: VCR 6.1.0
