---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[],"associatedVids":[]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1ec1b3ea-8b68-4b9d-a083-db9a0ae8726d
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499073'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '138'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B98DC9D6594BF2EBA262092C3D97CB77FC14A41FA000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9260417183,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655817976676,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655817976676,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655817976676,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655817976676,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1655817976676,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655817976676,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655817976676,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655817976676,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655817976676","timestamp":1655817976676,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655817976676","timestamp":1655817976676,"source":"CALCULATED","sourceVid":[],"requestId":"1ec1b3ea-8b68-4b9d-a083-db9a0ae8726d"}]},"hs_createdate":{"value":"1655817976676","timestamp":1655817976676,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655817976676","timestamp":1655817976676,"source":"API","sourceVid":[],"requestId":"1ec1b3ea-8b68-4b9d-a083-db9a0ae8726d"}]},"hs_object_id":{"value":"9260417183","timestamp":1655817976676,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9260417183","timestamp":1655817976676,"source":"API","sourceVid":[],"requestId":"1ec1b3ea-8b68-4b9d-a083-db9a0ae8726d"}]},"createdate":{"value":"1655817976676","timestamp":1655817976676,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655817976676","timestamp":1655817976676,"source":"API","sourceVid":[],"requestId":"1ec1b3ea-8b68-4b9d-a083-db9a0ae8726d"}]},"hs_projected_amount":{"value":"0","timestamp":1655817976676,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655817976676,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1655817976676,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655817976676,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655817976676,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655817976676,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655817976676,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655817976676,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:16 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Keeling, Pagac and Swaniawski"},{"name":"domain","value":"macgyver.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '090acbbd-56d6-4477-8a1d-2f1c5e380455'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499072'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '137'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BB39E97E0966E2EA9D8099D3174A5311A26D263A9000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956806581,"isDeleted":false,"properties":{"website":{"value":"macgyver.org","timestamp":1655817977009,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"macgyver.org","timestamp":1655817977009,"source":"CALCULATED","sourceVid":[],"requestId":"090acbbd-56d6-4477-8a1d-2f1c5e380455"}]},"hs_lastmodifieddate":{"value":"1655817977009","timestamp":1655817977009,"source":"CALCULATED","sourceId":"090acbbd-56d6-4477-8a1d-2f1c5e380455","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655817977009","timestamp":1655817977009,"sourceId":"090acbbd-56d6-4477-8a1d-2f1c5e380455","source":"CALCULATED","sourceVid":[],"requestId":"090acbbd-56d6-4477-8a1d-2f1c5e380455"}]},"domain":{"value":"macgyver.org","timestamp":1655817977009,"source":"API","sourceId":"090acbbd-56d6-4477-8a1d-2f1c5e380455","updatedByUserId":null,"versions":[{"name":"domain","value":"macgyver.org","timestamp":1655817977009,"sourceId":"090acbbd-56d6-4477-8a1d-2f1c5e380455","source":"API","sourceVid":[],"requestId":"090acbbd-56d6-4477-8a1d-2f1c5e380455"}]},"name":{"value":"Keeling,
        Pagac and Swaniawski","timestamp":1655817977009,"source":"API","sourceId":"090acbbd-56d6-4477-8a1d-2f1c5e380455","updatedByUserId":null,"versions":[{"name":"name","value":"Keeling,
        Pagac and Swaniawski","timestamp":1655817977009,"sourceId":"090acbbd-56d6-4477-8a1d-2f1c5e380455","source":"API","sourceVid":[],"requestId":"090acbbd-56d6-4477-8a1d-2f1c5e380455"}]},"hs_object_id":{"value":"8956806581","timestamp":1655817977009,"source":"API","sourceId":"090acbbd-56d6-4477-8a1d-2f1c5e380455","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956806581","timestamp":1655817977009,"sourceId":"090acbbd-56d6-4477-8a1d-2f1c5e380455","source":"API","sourceVid":[],"requestId":"090acbbd-56d6-4477-8a1d-2f1c5e380455"}]},"createdate":{"value":"1655817977009","timestamp":1655817977009,"source":"API","sourceId":"090acbbd-56d6-4477-8a1d-2f1c5e380455","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655817977009","timestamp":1655817977009,"sourceId":"090acbbd-56d6-4477-8a1d-2f1c5e380455","source":"API","sourceVid":[],"requestId":"090acbbd-56d6-4477-8a1d-2f1c5e380455"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:17 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":9260417183,"toObjectId":1234,"category":"HUBSPOT_DEFINED","definitionId":3},{"fromObjectId":9260417183,"toObjectId":8956806581,"category":"HUBSPOT_DEFINED","definitionId":5}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 427edc2c-55cd-4ef5-bb5d-54771e947299
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499071'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '136'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B63E36760B7C5D3C1DFC7E5F8A331DF910C822BAC000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"One or more associations are invalid","correlationId":"427edc2c-55cd-4ef5-bb5d-54771e947299","errors":["CONTACT=1234
        is not valid"]}'
  recorded_at: Tue, 21 Jun 2022 13:26:17 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9260417183?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 156ccddf-964a-49fb-add1-92cf8e51f132
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499070'
      X-Hubspot[...]
