---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/9756398191
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"super deal"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9100e23a-e888-4cbd-98ae-b53a58e17c77
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248280'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B998C98110D699F37F0389FA0119B31CBE25BA90F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9756398191,"isDeleted":false,"associations":{"associatedVids":[24051],"associatedCompanyIds":[9337389168],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1659970286097,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1659970286097,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"dealname":{"value":"super
        deal","timestamp":1659970286579,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"dealname","value":"super
        deal","timestamp":1659970286579,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"9100e23a-e888-4cbd-98ae-b53a58e17c77"}]},"hs_is_closed_won":{"value":"false","timestamp":1659970286097,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1659970286097,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"amount":{"value":"30","timestamp":1659970286097,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"amount","value":"30","timestamp":1659970286097,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"51b75cfe-fda0-4feb-bacc-359fd92bab6f"}]},"hs_forecast_amount":{"value":"30","timestamp":1659970286097,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_forecast_amount","value":"30","timestamp":1659970286097,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"createdate":{"value":"1659970286097","timestamp":1659970286097,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970286097","timestamp":1659970286097,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"51b75cfe-fda0-4feb-bacc-359fd92bab6f"}]},"amount_in_home_currency":{"value":"30","timestamp":1659970286097,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"amount_in_home_currency","value":"30","timestamp":1659970286097,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1659970286097,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1659970286097,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1659970286097,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1659970286097,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1659970286097,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1659970286097,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1659970286579","timestamp":1659970286579,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970286579","timestamp":1659970286579,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"9100e23a-e888-4cbd-98ae-b53a58e17c77"},{"name":"hs_lastmodifieddate","value":"1659970286097","timestamp":1659970286097,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"51b75cfe-fda0-4feb-bacc-359fd92bab6f"}]},"hs_createdate":{"value":"1659970286097","timestamp":1659970286097,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1659970286097","timestamp":1659970286097,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"51b75cfe-fda0-4feb-bacc-359fd92bab6f"}]},"hs_object_id":{"value":"9756398191","timestamp":1659970286097,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9756398191","timestamp":1659970286097,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"51b75cfe-fda0-4feb-bacc-359fd92bab6f"}]},"hs_projected_amount":{"value":"0","timestamp":1659970286097,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1659970286097,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1659970286097,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1659970286097,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1659970286097,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1659970286097,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:26 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"34a430bd97737133eda600e6c0a2e874"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b0149484-f352-423c-b93f-f75c9779a778
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248277'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B4A1D03B1D3046723F29C43989782A353665FEB79000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337690458,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1659970287337","timestamp":1659970287337,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970287337","timestamp":1659970287337,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"b0149484-f352-423c-b93f-f75c9779a778"}]},"name":{"value":"34a430bd97737133eda600e6c0a2e874","timestamp":1659970287337,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"34a430bd97737133eda600e6c0a2e874","timestamp":1659970287337,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"b0149484-f352-423c-b93f-f75c9779a778"}]},"hs_object_id":{"value":"9337690458","timestamp":1659970287337,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337690458","timestamp":1659970287337,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"b0149484-f352-423c-b93f-f75c9779a778"}]},"createdate":{"value":"1659970287337","timestamp":1659970287337,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970287337","timestamp":1659970287337,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"b0149484-f352-423c-b93f-f75c9779a778"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:27 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"d30ab13d76ec10476ee18fdcce94a5c6@hubspot.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5b63b634-9004-402a-a7e0-40bc7ce082d5
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248276'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B2C46C20C2A4E7B39579700FDDF79C42B59AAC52C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":24101,"canonical-vid":24101,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"d30ab13d76ec10476ee18fdcce94a5c6@hubspot.com","versions":[{"value":"d30ab13d76ec10476ee18fdcce94a5c6@hubspot.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970287618,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":24101,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"d30ab13d76ec10476ee18fdcce94a5c6@hubspot.com","timestamp":1659970287631,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"eb6eb7c2-5c0e-4390-84ac-9711a6da1722","timestamp":1659970287641,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:27 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[9337690458],"associatedVids":[24101]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;char[...]
[...]
