---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"an_invalid_email"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '09402e83-6983-41f5-8c49-ceec04380bee'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498748'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BBEEE5DE020AC4FCB6FA01C33018992D75C71627A000000000000000000
    body:
      encoding: UTF-8
      string: '{"validationResults":[{"isValid":false,"message":"Email address an_invalid_email
        is invalid","error":"INVALID_EMAIL","name":"email"}],"status":"error","message":"Property
        values were not valid","correlationId":"09402e83-6983-41f5-8c49-ceec04380bee"}'
  recorded_at: Tue, 21 Jun 2022 13:28:30 GMT
recorded_with: VCR 6.1.0
