---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Toy-Kemmer"},{"name":"domain","value":"flatley-franecki.info"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 568d9764-ab14-4499-b106-1ac03dd4f565
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498989'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BACDB743B056066C52C740F21436F05552F8A2499000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956174210,"isDeleted":false,"properties":{"website":{"value":"flatley-franecki.info","timestamp":1655818007192,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"flatley-franecki.info","timestamp":1655818007192,"source":"CALCULATED","sourceVid":[],"requestId":"568d9764-ab14-4499-b106-1ac03dd4f565"}]},"hs_lastmodifieddate":{"value":"1655818007192","timestamp":1655818007192,"source":"CALCULATED","sourceId":"568d9764-ab14-4499-b106-1ac03dd4f565","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818007192","timestamp":1655818007192,"sourceId":"568d9764-ab14-4499-b106-1ac03dd4f565","source":"CALCULATED","sourceVid":[],"requestId":"568d9764-ab14-4499-b106-1ac03dd4f565"}]},"domain":{"value":"flatley-franecki.info","timestamp":1655818007192,"source":"API","sourceId":"568d9764-ab14-4499-b106-1ac03dd4f565","updatedByUserId":null,"versions":[{"name":"domain","value":"flatley-franecki.info","timestamp":1655818007192,"sourceId":"568d9764-ab14-4499-b106-1ac03dd4f565","source":"API","sourceVid":[],"requestId":"568d9764-ab14-4499-b106-1ac03dd4f565"}]},"name":{"value":"Toy-Kemmer","timestamp":1655818007192,"source":"API","sourceId":"568d9764-ab14-4499-b106-1ac03dd4f565","updatedByUserId":null,"versions":[{"name":"name","value":"Toy-Kemmer","timestamp":1655818007192,"sourceId":"568d9764-ab14-4499-b106-1ac03dd4f565","source":"API","sourceVid":[],"requestId":"568d9764-ab14-4499-b106-1ac03dd4f565"}]},"hs_object_id":{"value":"8956174210","timestamp":1655818007192,"source":"API","sourceId":"568d9764-ab14-4499-b106-1ac03dd4f565","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956174210","timestamp":1655818007192,"sourceId":"568d9764-ab14-4499-b106-1ac03dd4f565","source":"API","sourceVid":[],"requestId":"568d9764-ab14-4499-b106-1ac03dd4f565"}]},"createdate":{"value":"1655818007192","timestamp":1655818007192,"source":"API","sourceId":"568d9764-ab14-4499-b106-1ac03dd4f565","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818007192","timestamp":1655818007192,"sourceId":"568d9764-ab14-4499-b106-1ac03dd4f565","source":"API","sourceVid":[],"requestId":"568d9764-ab14-4499-b106-1ac03dd4f565"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:47 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/8956174210?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"},{"name":"description","value":"My
        Corporation"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c597c1[...]
