---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/0/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cee11b73-47b5-40a1-a207-bd6f1e4ac1b6
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498768'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B603FBE4CCEE810AB6229B8B2E6B23F0BF67CCD3E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"contact does not exist","correlationId":"cee11b73-47b5-40a1-a207-bd6f1e4ac1b6","errors":[{"message":"The
        contact 0 does not exist."}],"category":"OBJECT_NOT_FOUND"}'
  recorded_at: Tue, 21 Jun 2022 13:28:22 GMT
recorded_with: VCR 6.1.0
