---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Keebler and Sons"},{"name":"domain","value":"streich.co"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 481c0191-79ac-496e-9302-5774c8c271a2
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248651'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '86'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BC8D1732C8FC064C009C24A0AAB296D83ECECD8F9000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337739668,"isDeleted":false,"properties":{"website":{"value":"streich.co","timestamp":1659970114373,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"streich.co","timestamp":1659970114373,"source":"CALCULATED","sourceVid":[],"requestId":"481c0191-79ac-496e-9302-5774c8c271a2"}]},"hs_lastmodifieddate":{"value":"1659970114373","timestamp":1659970114373,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970114373","timestamp":1659970114373,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"481c0191-79ac-496e-9302-5774c8c271a2"}]},"domain":{"value":"streich.co","timestamp":1659970114373,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"streich.co","timestamp":1659970114373,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"481c0191-79ac-496e-9302-5774c8c271a2"}]},"name":{"value":"Keebler
        and Sons","timestamp":1659970114373,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Keebler
        and Sons","timestamp":1659970114373,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"481c0191-79ac-496e-9302-5774c8c271a2"}]},"hs_object_id":{"value":"9337739668","timestamp":1659970114373,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337739668","timestamp":1659970114373,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"481c0191-79ac-496e-9302-5774c8c271a2"}]},"createdate":{"value":"1659970114373","timestamp":1659970114373,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970114373","timestamp":1659970114373,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"481c0191-79ac-496e-9302-5774c8c271a2"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:34 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Jeffery"},{"property":"lastname","value":"Stehr"},{"property":"email","value":"sheldon@example.net"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c870d1b8-aff4-42ba-b2af-6bbff45ff149
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248650'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '85'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BE1DF0883BBAC27E32017C202D83D9865A4BFBEAC000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":21351,"canonical-vid":21351,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Jeffery","versions":[{"value":"Jeffery","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970114730,"selected":false}]},"email":{"value":"sheldon@example.net","versions":[{"value":"sheldon@example.net","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970114730,"selected":false}]},"lastname":{"value":"Stehr","versions":[{"value":"Stehr","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970114730,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":21351,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"sheldon@example.net","timestamp":1659970114740,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"e22909fd-2e33-410c-b05a-3679ad757157","timestamp":1659970114792,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:35 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9337739668},"to":{"id":21351},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 816ca469-e602-45e0-95a8-1cca2d6634a8
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248649'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BAC46C06C56182E8308EFD7C1E7FD41D9375107E0000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":9337739668,"toObjectTypeId":"0-1","toObjectId":21351,"labels":["Primary
        Company"]}],"startedAt":"2022-08-08T14:48:35.365Z","completedAt":"2022-08-08T14:48:35.433Z"}'
  recorded_at: Mon, 08 Aug 2022 14:48:35 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/archive
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9337739668},"to":[{"id":21351}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2925e3a7-20b8-4ecc-a2f3-3b63c342d93f
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248648'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '83'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BF8F92D9E768FA2A8DCA9CE100599C5857D428ECD000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2022 14:48:35 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/9337739668/vids?count=25&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 52e200f7-c58c-4d58-8531-b187fe8e76c8
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248647'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BA6931B722550563950736BB27F3D6681375B4FA4000000000000000000
    body:
      encoding: UTF-8
      string: '{"vids":[],"vidOffset":0,"hasMore":false}'
  recorded_at: Mon, 08 Aug 2022 14:48:36 GMT
recorded_with: VCR 6.0.0
