---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Moore-Fisher"},{"name":"domain","value":"wunsch.co"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 13a1d7b0-a142-42fb-9f90-c404939228a5
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248534'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '75'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B3A0A6721F328178CFDCC595CD6D8B96E32B37117000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337664879,"isDeleted":false,"properties":{"website":{"value":"wunsch.co","timestamp":1659970164148,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"wunsch.co","timestamp":1659970164148,"source":"CALCULATED","sourceVid":[],"requestId":"13a1d7b0-a142-42fb-9f90-c404939228a5"}]},"hs_lastmodifieddate":{"value":"1659970164148","timestamp":1659970164148,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970164148","timestamp":1659970164148,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"13a1d7b0-a142-42fb-9f90-c404939228a5"}]},"domain":{"value":"wunsch.co","timestamp":1659970164148,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"wunsch.co","timestamp":1659970164148,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"13a1d7b0-a142-42fb-9f90-c404939228a5"}]},"name":{"value":"Moore-Fisher","timestamp":1659970164148,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Moore-Fisher","timestamp":1659970164148,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"13a1d7b0-a142-42fb-9f90-c404939228a5"}]},"hs_object_id":{"value":"9337664879","timestamp":1659970164148,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337664879","timestamp":1659970164148,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"13a1d7b0-a142-42fb-9f90-c404939228a5"}]},"createdate":{"value":"1659970164148","timestamp":1659970164148,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970164148","timestamp":1659970164148,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"13a1d7b0-a142-42fb-9f90-c404939228a5"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:24 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?limit=25&offset=9337664879
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e09d81ca-840e-4be5-9bd2-e08303ff36fa
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248533'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BDEE39FF4558ABC198486C9B81299C620153CF6B7000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"has-more":true,"offset":9337739701,"companies":[{"portalId":<PORTAL_ID>,"companyId":9337664879,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":9337667764,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":9337667905,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":9337669285,"isDeleted":false,"properties":{[...]
