---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Sammy"},{"property":"lastname","value":"Sauer"},{"property":"email","value":"marybelle@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 49ccfedd-5d93-4e69-94a0-82d454d72a88
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498376'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B96D8101300D562C4B2BBD46B5317514D711551FE000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67702,"canonical-vid":67702,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Sammy","versions":[{"value":"Sammy","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887759180,"selected":false}]},"email":{"value":"marybelle@example.com","versions":[{"value":"marybelle@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887759180,"selected":false}]},"lastname":{"value":"Sauer","versions":[{"value":"Sauer","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887759180,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67702,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"marybelle@example.com","timestamp":1655887759186,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"e5223553-6c01-464f-afea-90d3eb00d689","timestamp":1655887759206,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:19 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/67702/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":67952}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b0d6fcfb-c0a1-4d76-b8a4-3454ee3d24eb
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498374'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B1D40F770E664B1811A99992FDFE83AB9CCA3335C000000000000000000
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Wed, 22 Jun 2022 08:49:20 GMT
recorded_with: VCR 6.1.0
