---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Bauch Inc"},{"name":"domain","value":"ritchie.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 39e31d93-53cc-4479-a48d-7bec5a759c43
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498688'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '138'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BBA6A9D27901E648569707592F8B8AC6719139D90000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963335704,"isDeleted":false,"properties":{"website":{"value":"ritchie.net","timestamp":1655887641962,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"ritchie.net","timestamp":1655887641962,"source":"CALCULATED","sourceVid":[],"requestId":"39e31d93-53cc-4479-a48d-7bec5a759c43"}]},"hs_lastmodifieddate":{"value":"1655887641962","timestamp":1655887641962,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887641962","timestamp":1655887641962,"source":"CALCULATED","sourceVid":[],"requestId":"39e31d93-53cc-4479-a48d-7bec5a759c43"}]},"domain":{"value":"ritchie.net","timestamp":1655887641962,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"ritchie.net","timestamp":1655887641962,"source":"API","sourceVid":[],"requestId":"39e31d93-53cc-4479-a48d-7bec5a759c43"}]},"name":{"value":"Bauch
        Inc","timestamp":1655887641962,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Bauch
        Inc","timestamp":1655887641962,"source":"API","sourceVid":[],"requestId":"39e31d93-53cc-4479-a48d-7bec5a759c43"}]},"hs_object_id":{"value":"8963335704","timestamp":1655887641962,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963335704","timestamp":1655887641962,"source":"API","sourceVid":[],"requestId":"39e31d93-53cc-4479-a48d-7bec5a759c43"}]},"createdate":{"value":"1655887641962","timestamp":1655887641962,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887641962","timestamp":1655887641962,"source":"API","sourceVid":[],"requestId":"39e31d93-53cc-4479-a48d-7bec5a759c43"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:22 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[8963335704,8963320341],"associatedVids":[]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9d8d0ff2-c377-4481-9842-355781fe9ef5
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498686'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '136'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BF010334ADA2F29048D15A6F845721CD65E1B3F21000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9270240550,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[8963320341,8963335704],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655887642485,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655887642485,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655887642485,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655887642485,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1655887642485,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655887642485,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655887642485,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655887642485,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655887642485","timestamp":1655887642485,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887642485","timestamp":1655887642485,"source":"CALCULATED","sourceVid":[],"requestId":"9d8d0ff2-c377-4481-9842-355781fe9ef5"}]},"hs_createdate":{"value":"1655887642485","timestamp":1655887642485,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655887642485","timestamp":1655887642485,"source":"API","sourceVid":[],"requestId":"9d8d0ff2-c377-4481-9842-355781fe9ef5"}]},"hs_object_id":{"value":"9270240550","timestamp":1655887642485,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9270240550","timestamp":1655887642485,"source":"API","sourceVid":[],"requestId":"9d8d0ff2-c377-4481-9842-355781fe9ef5"}]},"createdate":{"value":"1655887642485","timestamp":1655887642485,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887642485","timestamp":1655887642485,"source":"API","sourceVid":[],"requestId":"9d8d0ff2-c377-4481-9842-355781fe9ef5"}]},"hs_is_deal_split":{"value":"false","timestamp":1655887642485,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655887642485,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount":{"value":"0","timestamp":1655887642485,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655887642485,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655887642485,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655887642485,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655887642485,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655887642485,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:22 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Company/batch/archive?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9270240550},"to":[{"id":1234},{"id":8963335704}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b6507172-142d-46a3-8022-067826170730
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498685'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '135'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BDC5B82EFCE1E06D09B38F9739F7D6E11921C2D7B000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:47:22 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9270240550?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7eb47c25-3718-466d-8630-558f42ea4ffc
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498684'
      X-Hubspot[...]
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Berge LLC"},{"name":"domain","value":"cremin-okeefe.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f67e6e1d-2478-4a70-acd9-39d373a4dd9a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249971'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
[...]
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[9290197085,9290228914],"associatedVids":[]},"properties":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Corr[...]
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Company/batch/archive
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9678299454},"to":[{"id":1234},{"id":9290197085}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 70a4ef7f-3259-4c96-8d7a-7efd926e3dfd
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249968'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BB0C305B553B0F0AA966C9A2731D50E52483F48DF000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Aug 2022 14:50:32 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9678299454
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 356758fc-d8e6-4ac7-aa09-9521af5ef808
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
[...]
