---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Marya"},{"property":"lastname","value":"Beer"},{"property":"email","value":"warner_rohan@example.net"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b43d76d6-8a4d-4e0b-99c1-43cfeee78314
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248367'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B4C005467B0DBFBD071F07A05498512F05FFC6361000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23101,"canonical-vid":23101,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Marya","versions":[{"value":"Marya","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970241241,"selected":false}]},"email":{"value":"warner_rohan@example.net","versions":[{"value":"warner_rohan@example.net","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970241241,"selected":false}]},"lastname":{"value":"Beer","versions":[{"value":"Beer","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970241241,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23101,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"warner_rohan@example.net","timestamp":1659970241271,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"0a1c8e42-74ff-463c-8bb6-71ee65367f3d","timestamp":1659970241322,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:41 GMT
recorded_with: VCR 6.0.0
