---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Runolfsdottir, Zboncak and Quitzon"},{"name":"domain","value":"weber-hegmann.name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9096a081-ef8e-4929-b718-9ae30e2590dc
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499084'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B88A5E8B101A114547D9D15C6B4FD41B69A4E4BFF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956420140,"isDeleted":false,"properties":{"website":{"value":"weber-hegmann.name","timestamp":1655817972903,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"weber-hegmann.name","timestamp":1655817972903,"source":"CALCULATED","sourceVid":[],"requestId":"9096a081-ef8e-4929-b718-9ae30e2590dc"}]},"hs_lastmodifieddate":{"value":"1655817972903","timestamp":1655817972903,"source":"CALCULATED","sourceId":"9096a081-ef8e-4929-b718-9ae30e2590dc","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655817972903","timestamp":1655817972903,"sourceId":"9096a081-ef8e-4929-b718-9ae30e2590dc","source":"CALCULATED","sourceVid":[],"requestId":"9096a081-ef8e-4929-b718-9ae30e2590dc"}]},"domain":{"value":"weber-hegmann.name","timestamp":1655817972903,"source":"API","sourceId":"9096a081-ef8e-4929-b718-9ae30e2590dc","updatedByUserId":null,"versions":[{"name":"domain","value":"weber-hegmann.name","timestamp":1655817972903,"sourceId":"9096a081-ef8e-4929-b718-9ae30e2590dc","source":"API","sourceVid":[],"requestId":"9096a081-ef8e-4929-b718-9ae30e2590dc"}]},"name":{"value":"Runolfsdottir,
        Zboncak and Quitzon","timestamp":1655817972903,"source":"API","sourceId":"9096a081-ef8e-4929-b718-9ae30e2590dc","updatedByUserId":null,"versions":[{"name":"name","value":"Runolfsdottir,
        Zboncak and Quitzon","timestamp":1655817972903,"sourceId":"9096a081-ef8e-4929-b718-9ae30e2590dc","source":"API","sourceVid":[],"requestId":"9096a081-ef8e-4929-b718-9ae30e2590dc"}]},"hs_object_id":{"value":"8956420140","timestamp":1655817972903,"source":"API","sourceId":"9096a081-ef8e-4929-b718-9ae30e2590dc","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956420140","timestamp":1655817972903,"sourceId":"9096a081-ef8e-4929-b718-9ae30e2590dc","source":"API","sourceVid":[],"requestId":"9096a081-ef8e-4929-b718-9ae30e2590dc"}]},"createdate":{"value":"1655817972903","timestamp":1655817972903,"source":"API","sourceId":"9096a081-ef8e-4929-b718-9ae30e2590dc","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655817972903","timestamp":1655817972903,"sourceId":"9096a081-ef8e-4929-b718-9ae30e2590dc","source":"API","sourceVid":[],"requestId":"9096a081-ef8e-4929-b718-9ae30e2590dc"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:12 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Courtney"},{"property":"lastname","value":"Ernser"},{"property":"email","value":"williams@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 17b59e58-be9a-4452-9697-83a0ea566aa5
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499083'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BCD0D45BC5E6DD2886C102621D724B1E469A2D0FF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":48501,"canonical-vid":48501,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Courtney","versions":[{"value":"Courtney","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817973193,"selected":false}]},"email":{"value":"williams@example.com","versions":[{"value":"williams@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817973193,"selected":false}]},"lastname":{"value":"Ernser","versions":[{"value":"Ernser","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817973193,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":48501,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"williams@example.com","timestamp":1655817973207,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"d80948d4-1782-4fb0-b2ce-5570beed67da","timestamp":1655817973611,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:13 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":8956420140,"toObjectId":48501,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 84e69966-0444-44f3-b034-bb086beff1d5
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499082'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '147'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B887B2829DADFE8D86066F6967502A33D1FAFC4AB000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:26:14 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8956420140/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8ad2630f-553e-4a4e-868e-a1ef16d768ab
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499081'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '146'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B59A10D87BC7977653865706888C5295C6A9AA593000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vids":[48501],"vidOffset":48501,"hasMore":false}'
  recorded_at: Tue, 21 Jun 2022 13:26:14 GMT
recorded_with: VCR 6.1.0
