---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Howell-Paucek"},{"name":"domain","value":"jast-braun.name"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c9b4a1c8-d5d5-4e55-88f0-f54dc64da390
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248646'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B2FC657E52BC538606EF36658836222D38A2FA1BD000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337669285,"isDeleted":false,"properties":{"website":{"value":"jast-braun.name","timestamp":1659970116541,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"jast-braun.name","timestamp":1659970116541,"source":"CALCULATED","sourceVid":[],"requestId":"c9b4a1c8-d5d5-4e55-88f0-f54dc64da390"}]},"hs_lastmodifieddate":{"value":"1659970116541","timestamp":1659970116541,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970116541","timestamp":1659970116541,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"c9b4a1c8-d5d5-4e55-88f0-f54dc64da390"}]},"domain":{"value":"jast-braun.name","timestamp":1659970116541,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"jast-braun.name","timestamp":1659970116541,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c9b4a1c8-d5d5-4e55-88f0-f54dc64da390"}]},"name":{"value":"Howell-Paucek","timestamp":1659970116541,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Howell-Paucek","timestamp":1659970116541,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c9b4a1c8-d5d5-4e55-88f0-f54dc64da390"}]},"hs_object_id":{"value":"9337669285","timestamp":1659970116541,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337669285","timestamp":1659970116541,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c9b4a1c8-d5d5-4e55-88f0-f54dc64da390"}]},"createdate":{"value":"1659970116541","timestamp":1659970116541,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970116541","timestamp":1659970116541,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c9b4a1c8-d5d5-4e55-88f0-f54dc64da390"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:36 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Yu"},{"property":"lastname","value":"Johnson"},{"property":"email","value":"german_kohler@example.net"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - eabecc62-7693-45c2-a2eb-b13ee7d92cf5
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248645'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BDED4F331A35ED3591FE80873F0A6A0BE62FE6F8D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":21401,"canonical-vid":21401,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Yu","versions":[{"value":"Yu","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970116840,"selected":false}]},"email":{"value":"german_kohler@example.net","versions":[{"value":"german_kohler@example.net","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970116840,"selected":false}]},"lastname":{"value":"Johnson","versions":[{"value":"Johnson","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970116840,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":21401,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"german_kohler@example.net","timestamp":1659970116859,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"b0228d13-d9dc-44ee-a820-3c177de91e1c","timestamp":1659970116904,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:37 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9337669285},"to":{"id":21401},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 831cf828-5723-4e09-ab48-7dc7af55b181
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248644'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B6C11929192D7D97F74006E773B9A2EE4483E78B4000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":9337669285,"toObjectTypeId":"0-1","toObjectId":21401,"labels":["Primary
        Company"]}],"startedAt":"2022-08-08T14:48:37.705Z","completedAt":"2022-08-08T14:48:37.857Z"}'
  recorded_at: Mon, 08 Aug 2022 14:48:38 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/archive
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9337669285},"to":[{"id":1234}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0134b724-a467-4b9b-8fed-884265f3aa82
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248643'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B470064C5264C915E2693F409DA9CBCA848A04C4A000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2022 14:48:38 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/9337669285/vids?count=25&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ac956c32-74d1-4560-9f29-e3cfa1d122e6
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248642'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B5A011DC55AE5E16F7DAC342398CF65ADE3F01A2C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vids":[21401],"vidOffset":21401,"hasMore":false}'
  recorded_at: Mon, 08 Aug 2022 14:48:38 GMT
recorded_with: VCR 6.0.0
