---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"03135f7ebcfe278bbb36459e8e336bd1"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c4b61cc9-9555-497f-bca9-53191d4e2dfc
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498691'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BB7E2CD62FD54AB52CE3FA1BBB499CCE24EA26C0C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956443247,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655818130434","timestamp":1655818130434,"source":"CALCULATED","sourceId":"c4b61cc9-9555-497f-bca9-53191d4e2dfc","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818130434","timestamp":1655818130434,"sourceId":"c4b61cc9-9555-497f-bca9-53191d4e2dfc","source":"CALCULATED","sourceVid":[],"requestId":"c4b61cc9-9555-497f-bca9-53191d4e2dfc"}]},"name":{"value":"03135f7ebcfe278bbb36459e8e336bd1","timestamp":1655818130434,"source":"API","sourceId":"c4b61cc9-9555-497f-bca9-53191d4e2dfc","updatedByUserId":null,"versions":[{"name":"name","value":"03135f7ebcfe278bbb36459e8e336bd1","timestamp":1655818130434,"sourceId":"c4b61cc9-9555-497f-bca9-53191d4e2dfc","source":"API","sourceVid":[],"requestId":"c4b61cc9-9555-497f-bca9-53191d4e2dfc"}]},"hs_object_id":{"value":"8956443247","timestamp":1655818130434,"source":"API","sourceId":"c4b61cc9-9555-497f-bca9-53191d4e2dfc","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956443247","timestamp":1655818130434,"sourceId":"c4b61cc9-9555-497f-bca9-53191d4e2dfc","source":"API","sourceVid":[],"requestId":"c4b61cc9-9555-497f-bca9-53191d4e2dfc"}]},"createdate":{"value":"1655818130434","timestamp":1655818130434,"source":"API","sourceId":"c4b61cc9-9555-497f-bca9-53191d4e2dfc","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818130434","timestamp":1655818130434,"sourceId":"c4b61cc9-9555-497f-bca9-53191d4e2dfc","source":"API","sourceVid":[],"requestId":"c4b61cc9-9555-497f-bca9-53191d4e2dfc"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:50 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"f25eb2f4756029e6d32ba0f5ef8f1174@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3e5c6d44-21be-4ae8-83ad-4b15e2913c59
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498690'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '121'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B757C39F175DDBBF4B087A69C2484DE3DF910DD66000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":51301,"canonical-vid":51301,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"f25eb2f4756029e6d32ba0f5ef8f1174@hubspot.com","versions":[{"value":"f25eb2f4756029e6d32ba0f5ef8f1174@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818130674,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":51301,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"f25eb2f4756029e6d32ba0f5ef8f1174@hubspot.com","timestamp":1655818130680,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"13940383-f75a-4f4d-8c6b-dd55bdbd20da","timestamp":1655818130689,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:50 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[8956443247],"associatedVids":[51301]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '0486922b-750e-4149-8b65-002f81caa47f'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498689'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BFCCC8786DE632A97BE8B861AEE02AE6A7A7ED7F2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9260059827,"isDeleted":false,"associations":{"associatedVids":[51301],"associatedCompanyIds":[8956443247],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655818131078,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655818131078,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"amount":{"value":"30","timestamp":1655818131078,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"amount","value":"30","timestamp":1655818131078,"source":"API","sourceVid":[],"requestId":"0486922b-750e-4149-8b65-002f81caa47f"}]},"hs_is_closed_won":{"value":"false","timestamp":1655818131078,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655818131078,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_forecast_amount":{"value":"30","timestamp":1655818131078,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_forecast_amount","value":"30","timestamp":1655818131078,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"createdate":{"value":"1655818131078","timestamp":1655818131078,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818131078","timestamp":1655818131078,"source":"API","sourceVid":[],"requestId":"0486922b-750e-4149-8b65-002f81caa47f"}]},"amount_in_home_currency":{"value":"30","timestamp":1655818131078,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"amount_in_home_currency","value":"30","timestamp":1655818131078,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655818131078,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655818131078,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655818131078,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655818131078,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655818131078,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655818131078,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655818131078","timestamp":1655818131078,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818131078","timestamp":1655818131078,"source":"CALCULATED","sourceVid":[],"requestId":"0486922b-750e-4149-8b65-002f81caa47f"}]},"hs_createdate":{"value":"1655818131078","timestamp":1655818131078,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655818131078","timestamp":1655818131078,"source":"API","sourceVid":[],"requestId":"0486922b-750e-4149-8b65-002f81caa47f"}]},"hs_object_id":{"value":"9260059827","timestamp":1655818131078,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9260059827","timestamp":1655818131078,"source":"API","sourceVid":[],"requestId":"0486922b-750e-4149-8b65-002f81caa47f"}]},"hs_projected_amount":{"value":"0","timestamp":1655818131078,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655818131078,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1655818131078,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655818131078,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655818131078,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655818131078,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:51 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/9260059827?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"super deal"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 56fde554-b081-4f81-ae77-e61414d953bf
      X-Hubspot-Ratelimit-[...]
