---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Lizabeth"},{"property":"lastname","value":"Bailey"},{"property":"email","value":"regenia@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 481894bf-4b8c-445b-97a6-25e3e9f661d7
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498414'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '125'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B901B5BDDBAB641B07CBC17F98A2B9B85B0149337000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67651,"canonical-vid":67651,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Lizabeth","versions":[{"value":"Lizabeth","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887747357,"selected":false}]},"email":{"value":"regenia@example.net","versions":[{"value":"regenia@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887747357,"selected":false}]},"lastname":{"value":"Bailey","versions":[{"value":"Bailey","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887747357,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67651,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"regenia@example.net","timestamp":1655887747363,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"4d3efe60-732f-4d1a-9318-42ecadeb50a3","timestamp":1655887747382,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:07 GMT
recorded_with: VCR 6.1.0
