---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Nolan, Ortiz and Abbott"},{"name":"domain","value":"rodriguez.info"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c89086db-aca0-4b2f-87b2-f70acb22c8b3
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498698'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '131'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B05DE6BBCD619EDA43AFC3E6FEB1DB2BE838CCE6E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963342187,"isDeleted":false,"properties":{"website":{"value":"rodriguez.info","timestamp":1655887639552,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"rodriguez.info","timestamp":1655887639552,"source":"CALCULATED","sourceVid":[],"requestId":"c89086db-aca0-4b2f-87b2-f70acb22c8b3"}]},"hs_lastmodifieddate":{"value":"1655887639552","timestamp":1655887639552,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887639552","timestamp":1655887639552,"source":"CALCULATED","sourceVid":[],"requestId":"c89086db-aca0-4b2f-87b2-f70acb22c8b3"}]},"domain":{"value":"rodriguez.info","timestamp":1655887639552,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"rodriguez.info","timestamp":1655887639552,"source":"API","sourceVid":[],"requestId":"c89086db-aca0-4b2f-87b2-f70acb22c8b3"}]},"name":{"value":"Nolan,
        Ortiz and Abbott","timestamp":1655887639552,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Nolan,
        Ortiz and Abbott","timestamp":1655887639552,"source":"API","sourceVid":[],"requestId":"c89086db-aca0-4b2f-87b2-f70acb22c8b3"}]},"hs_object_id":{"value":"8963342187","timestamp":1655887639552,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963342187","timestamp":1655887639552,"source":"API","sourceVid":[],"requestId":"c89086db-aca0-4b2f-87b2-f70acb22c8b3"}]},"createdate":{"value":"1655887639552","timestamp":1655887639552,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887639552","timestamp":1655887639552,"source":"API","sourceVid":[],"requestId":"c89086db-aca0-4b2f-87b2-f70acb22c8b3"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:19 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Lamont"},{"property":"lastname","value":"Mueller"},{"property":"email","value":"pa@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cf8f36fa-ef4d-4ea9-ba5d-1c3269ac0fc7
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498697'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '130'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BD77824E942288FC9CB93C5C4722FD29FDD1EAF96000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":66351,"canonical-vid":66351,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Lamont","versions":[{"value":"Lamont","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887639764,"selected":false}]},"email":{"value":"pa@example.net","versions":[{"value":"pa@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887639764,"selected":false}]},"lastname":{"value":"Mueller","versions":[{"value":"Mueller","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887639764,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":66351,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"pa@example.net","timestamp":1655887639771,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"6ba1bfc5-95c3-4c90-a97c-29370afa7b90","timestamp":1655887639789,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:19 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":8963342187},"to":{"id":66351},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 35b75e7c-f845-4af8-8eee-a420fbefd31f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498696'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B8F2F17B648CFED4F7CABB287FC792FDAE4163FFF000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":8963342187,"toObjectTypeId":"0-1","toObjectId":66351,"labels":["Primary
        Company"]}],"startedAt":"2022-06-22T08:47:20.123Z","completedAt":"2022-06-22T08:47:20.179Z"}'
  recorded_at: Wed, 22 Jun 2022 08:47:20 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/archive?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":8963342187},"to":[{"id":1234}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4fce5dff-d630-4093-9556-b056764f8317
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498695'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '145'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B92FC8B8ACB7393F1ED89B49957F5F12AC5780ACF000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:47:20 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8963342187/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 83c422e5-d7ca-4300-a92b-561cdf4fbc9c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498694'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '144'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BCCBC577DE289497D65370ADD4422A86075E7623A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vids":[66351],"vidOffset":66351,"hasMore":false}'
  recorded_at: Wed, 22 Jun 2022 08:47:20 GMT
recorded_with: VCR 6.1.0
