---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Jeniffer"},{"property":"lastname","value":"Waelchi"},{"property":"email","value":"gene@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a8190189-44c8-4bc9-b6b1-b42f92036972
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498590'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '107'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '10'
      X-Trace:
      - 2BC96C6EB04642883D43A34A20264F5D3EAB851EB6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":66551,"canonical-vid":66551,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Jeniffer","versions":[{"value":"Jeniffer","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887668741,"selected":false}]},"email":{"value":"gene@example.com","versions":[{"value":"gene@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887668741,"selected":false}]},"lastname":{"value":"Waelchi","versions":[{"value":"Waelchi","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887668741,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":66551,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"gene@example.com","timestamp":1655887668749,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"ff9e20a4-967b-400a-a7bc-a806f2bf2130","timestamp":1655887668790,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:48 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"O''Kon Group"},{"name":"domain","value":"terry.co"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - eeb5b038-bb71-46ba-86c6-8e3bbbcdc8d4
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498589'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '110'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B72B8EF32CD1F8637EE210DDF2187A473EFA3AA3F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963320353,"isDeleted":false,"properties":{"website":{"value":"terry.co","timestamp":1655887669096,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"terry.co","timestamp":1655887669096,"source":"CALCULATED","sourceVid":[],"requestId":"eeb5b038-bb71-46ba-86c6-8e3bbbcdc8d4"}]},"hs_lastmodifieddate":{"value":"1655887669096","timestamp":1655887669096,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887669096","timestamp":1655887669096,"source":"CALCULATED","sourceVid":[],"requestId":"eeb5b038-bb71-46ba-86c6-8e3bbbcdc8d4"}]},"domain":{"value":"terry.co","timestamp":1655887669096,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"terry.co","timestamp":1655887669096,"source":"API","sourceVid":[],"requestId":"eeb5b038-bb71-46ba-86c6-8e3bbbcdc8d4"}]},"name":{"value":"O''Kon
        Group","timestamp":1655887669096,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"O''Kon
        Group","timestamp":1655887669096,"source":"API","sourceVid":[],"requestId":"eeb5b038-bb71-46ba-86c6-8e3bbbcdc8d4"}]},"hs_object_id":{"value":"8963320353","timestamp":1655887669096,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963320353","timestamp":1655887669096,"source":"API","sourceVid":[],"requestId":"eeb5b038-bb71-46ba-86c6-8e3bbbcdc8d4"}]},"createdate":{"value":"1655887669096","timestamp":1655887669096,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887669096","timestamp":1655887669096,"source":"API","sourceVid":[],"requestId":"eeb5b038-bb71-46ba-86c6-8e3bbbcdc8d4"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:49 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8963320353/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 48490c3d-4649-40c7-980e-4943d1967a2c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498588'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '109'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '10'
      X-Trace:
      - 2B87D2669E429EF8061B9E1B81EC3F2EFE40E54EAF000000000000000000
    body:
      encoding: UTF-8
      string: '{"vids":[],"vidOffset":0,"hasMore":false}'
  recorded_at: Wed, 22 Jun 2022 08:47:49 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":8963320353},"to":{"id":66551},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8cd27751-ad1b-4470-9e58-badc58941d5c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498587'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '108'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '10'
      X-Trace:
      - 2BFB7CE9774B25FD6331792E50D1B88923961F5E6A000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":8963320353,"toObjectTypeId":"0-1","toObjectId":66551,"labels":["Primary
        Company"]}],"startedAt":"2022-06-22T08:47:49.544Z","completedAt":"2022-06-22T08:47:49.602Z"}'
  recorded_at: Wed, 22 Jun 2022 08:47:49 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8963320353/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9353b881-fde8-4f79-b767-e6af0c69048c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498586'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '107'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '10'
      X-Trace:
      - 2BEF088F235EE8A9D8539B899FD07D3748AF27366C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vids":[66551],"vidOffset":66551,"hasMore":false}'
  recorded_at: Wed, 22 Jun 2022 08:47:49 GMT
recorded_with: VCR 6.1.0
