---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Hammes, Stamm and Borer"},{"name":"domain","value":"lowe-mraz.co"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d421d9e0-4736-4341-a934-0805e6715831
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248559'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BF910AB7AD22A32B24E1798F9DDDF3FD4642CD4E8000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337706425,"isDeleted":false,"properties":{"website":{"value":"lowe-mraz.co","timestamp":1659970154638,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"lowe-mraz.co","timestamp":1659970154638,"source":"CALCULATED","sourceVid":[],"requestId":"d421d9e0-4736-4341-a934-0805e6715831"}]},"hs_lastmodifieddate":{"value":"1659970154638","timestamp":1659970154638,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970154638","timestamp":1659970154638,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"d421d9e0-4736-4341-a934-0805e6715831"}]},"domain":{"value":"lowe-mraz.co","timestamp":1659970154638,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"lowe-mraz.co","timestamp":1659970154638,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d421d9e0-4736-4341-a934-0805e6715831"}]},"name":{"value":"Hammes,
        Stamm and Borer","timestamp":1659970154638,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Hammes,
        Stamm and Borer","timestamp":1659970154638,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d421d9e0-4736-4341-a934-0805e6715831"}]},"hs_object_id":{"value":"9337706425","timestamp":1659970154638,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337706425","timestamp":1659970154638,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d421d9e0-4736-4341-a934-0805e6715831"}]},"createdate":{"value":"1659970154638","timestamp":1659970154638,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970154638","timestamp":1659970154638,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d421d9e0-4736-4341-a934-0805e6715831"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:15 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/9337706425
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4ef25bd4-35cb-426d-b23a-657851[...]
