---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Dicki, Will and Barton"},{"name":"domain","value":"schamberger.name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 736b4fc3-20ee-4880-95f1-38a72a282f29
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499064'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B12D8C1F48EABD1FDF54DDA483994DABF4BBEA369000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956434101,"isDeleted":false,"properties":{"website":{"value":"schamberger.name","timestamp":1655817979294,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"schamberger.name","timestamp":1655817979294,"source":"CALCULATED","sourceVid":[],"requestId":"736b4fc3-20ee-4880-95f1-38a72a282f29"}]},"hs_lastmodifieddate":{"value":"1655817979294","timestamp":1655817979294,"source":"CALCULATED","sourceId":"736b4fc3-20ee-4880-95f1-38a72a282f29","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655817979294","timestamp":1655817979294,"sourceId":"736b4fc3-20ee-4880-95f1-38a72a282f29","source":"CALCULATED","sourceVid":[],"requestId":"736b4fc3-20ee-4880-95f1-38a72a282f29"}]},"domain":{"value":"schamberger.name","timestamp":1655817979294,"source":"API","sourceId":"736b4fc3-20ee-4880-95f1-38a72a282f29","updatedByUserId":null,"versions":[{"name":"domain","value":"schamberger.name","timestamp":1655817979294,"sourceId":"736b4fc3-20ee-4880-95f1-38a72a282f29","source":"API","sourceVid":[],"requestId":"736b4fc3-20ee-4880-95f1-38a72a282f29"}]},"name":{"value":"Dicki,
        Will and Barton","timestamp":1655817979294,"source":"API","sourceId":"736b4fc3-20ee-4880-95f1-38a72a282f29","updatedByUserId":null,"versions":[{"name":"name","value":"Dicki,
        Will and Barton","timestamp":1655817979294,"sourceId":"736b4fc3-20ee-4880-95f1-38a72a282f29","source":"API","sourceVid":[],"requestId":"736b4fc3-20ee-4880-95f1-38a72a282f29"}]},"hs_object_id":{"value":"8956434101","timestamp":1655817979294,"source":"API","sourceId":"736b4fc3-20ee-4880-95f1-38a72a282f29","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956434101","timestamp":1655817979294,"sourceId":"736b4fc3-20ee-4880-95f1-38a72a282f29","source":"API","sourceVid":[],"requestId":"736b4fc3-20ee-4880-95f1-38a72a282f29"}]},"createdate":{"value":"1655817979294","timestamp":1655817979294,"source":"API","sourceId":"736b4fc3-20ee-4880-95f1-38a72a282f29","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655817979294","timestamp":1655817979294,"sourceId":"736b4fc3-20ee-4880-95f1-38a72a282f29","source":"API","sourceVid":[],"requestId":"736b4fc3-20ee-4880-95f1-38a72a282f29"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:19 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Roberto"},{"property":"lastname","value":"Monahan"},{"property":"email","value":"sammie.hansen@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 47fd45be-5efc-4d84-a909-5fdba1a6f6b0
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499063'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BB0F92812FA8EFBE4C52C85D33085AD9B6548583D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":47505,"canonical-vid":47505,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Roberto","versions":[{"value":"Roberto","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817979534,"selected":false}]},"email":{"value":"sammie.hansen@example.com","versions":[{"value":"sammie.hansen@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817979534,"selected":false}]},"lastname":{"value":"Monahan","versions":[{"value":"Monahan","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817979534,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":47505,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"sammie.hansen@example.com","timestamp":1655817979542,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"42541405-d12f-4962-a260-6e87b300c0b8","timestamp":1655817979588,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:19 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":8956434101,"toObjectId":47505,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 0fd4cc99-d4ce-4c72-9bc2-836af5cdf592
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499062'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '127'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B094948EC4F22AF0228DB2BF9EB21C9F5527528FC000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:26:19 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/delete-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":8956434101,"toObjectId":1234,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 27332bca-6e76-44d5-bf5d-9532bd0e16aa
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499061'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B52748F432684E9CE38C5587D0FDD848CA611389A000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:26:20 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8956434101/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b07b073d-47fd-472b-a71b-fede16a60cad
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499060'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '125'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B9FC643D5124FBD121236197B35E0FA5BBC013208000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vids":[47505],"vidOffset":47505,"hasMore":false}'
  recorded_at: Tue, 21 Jun 2022 13:26:20 GMT
recorded_with: VCR 6.1.0
