---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Gail"},{"property":"lastname","value":"Koepp"},{"property":"email","value":"winnifred@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 63cf3811-0487-4016-89e2-7539d884dcd8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498772'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BB7C91808DDC8B49E6D8ABF961AC4D2F9BD12C330000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50451,"canonical-vid":50451,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Gail","versions":[{"value":"Gail","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818100623,"selected":false}]},"email":{"value":"winnifred@example.net","versions":[{"value":"winnifred@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818100623,"selected":false}]},"lastname":{"value":"Koepp","versions":[{"value":"Koepp","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818100623,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50451,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"winnifred@example.net","timestamp":1655818100629,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"11691822-0f19-42e5-91a6-deabd84bf7f2","timestamp":1655818100650,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:20 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/50451/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 19badc11-749f-454a-afaf-f9a6825f37bb
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498771'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B666AF45107A2E090CA38B9ACB0860C99C685BFF9000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:28:21 GMT
recorded_with: VCR 6.1.0
