---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Stiedemann-Torp"},{"name":"domain","value":"powlowski.co"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6d704fff-d9c2-40da-89c7-f01327df3321
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498941'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BA2BE6198164A228A531A82F9DCCD4A26AE87FE76000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956816276,"isDeleted":false,"properties":{"website":{"value":"powlowski.co","timestamp":1655818021774,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"powlowski.co","timestamp":1655818021774,"source":"CALCULATED","sourceVid":[],"requestId":"6d704fff-d9c2-40da-89c7-f01327df3321"}]},"hs_lastmodifieddate":{"value":"1655818021774","timestamp":1655818021774,"source":"CALCULATED","sourceId":"6d704fff-d9c2-40da-89c7-f01327df3321","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818021774","timestamp":1655818021774,"sourceId":"6d704fff-d9c2-40da-89c7-f01327df3321","source":"CALCULATED","sourceVid":[],"requestId":"6d704fff-d9c2-40da-89c7-f01327df3321"}]},"domain":{"value":"powlowski.co","timestamp":1655818021774,"source":"API","sourceId":"6d704fff-d9c2-40da-89c7-f01327df3321","updatedByUserId":null,"versions":[{"name":"domain","value":"powlowski.co","timestamp":1655818021774,"sourceId":"6d704fff-d9c2-40da-89c7-f01327df3321","source":"API","sourceVid":[],"requestId":"6d704fff-d9c2-40da-89c7-f01327df3321"}]},"name":{"value":"Stiedemann-Torp","timestamp":1655818021774,"source":"API","sourceId":"6d704fff-d9c2-40da-89c7-f01327df3321","updatedByUserId":null,"versions":[{"name":"name","value":"Stiedemann-Torp","timestamp":1655818021774,"sourceId":"6d704fff-d9c2-40da-89c7-f01327df3321","source":"API","sourceVid":[],"requestId":"6d704fff-d9c2-40da-89c7-f01327df3321"}]},"hs_object_id":{"value":"8956816276","timestamp":1655818021774,"source":"API","sourceId":"6d704fff-d9c2-40da-89c7-f01327df3321","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956816276","timestamp":1655818021774,"sourceId":"6d704fff-d9c2-40da-89c7-f01327df3321","source":"API","sourceVid":[],"requestId":"6d704fff-d9c2-40da-89c7-f01327df3321"}]},"createdate":{"value":"1655818021774","timestamp":1655818021774,"source":"API","sourceId":"6d704fff-d9c2-40da-89c7-f01327df3321","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818021774","timestamp":1655818021774,"sourceId":"6d704fff-d9c2-40da-89c7-f01327df3321","source":"API","sourceVid":[],"requestId":"6d704fff-d9c2-40da-89c7-f01327df3321"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:27:01 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Libbie"},{"property":"lastname","value":"Ankunding"},{"property":"email","value":"megan@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ea05d27d-1076-4076-9888-1dc407ab393e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498940'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BA14213A564FF06C5948A6B84FB39ABCF144EF3DE000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":48951,"canonical-vid":48951,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Libbie","versions":[{"value":"Libbie","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818022090,"selected":false}]},"email":{"value":"megan@example.org","versions":[{"value":"megan@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818022090,"selected":false}]},"lastname":{"value":"Ankunding","versions":[{"value":"Ankunding","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818022090,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":48951,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"megan@example.org","timestamp":1655818022097,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"ac231735-e0a3-442c-81ba-008e44637062","timestamp":1655818022175,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:27:02 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":8956816276,"toObjectId":48951,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - b87c03d7-024c-40ec-bbeb-65a0e07362d2
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498939'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B737B95006C34F4E401CCB2C68EA47423727E0E22000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:27:02 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8956816276/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e2808764-f1c4-43c8-9922-aaa2ca3d0701
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498938'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BA6B52A236EF8E9D702ECA26FD203EBE8FDEA1370000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vids":[48951],"vidOffset":48951,"hasMore":false}'
  recorded_at: Tue, 21 Jun 2022 13:27:02 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/delete-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":8956816276,"toObjectId":48951,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 0caefff2-f2af-4684-af0d-9c013ecef735
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498937'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '121'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BD5AAB324A1D28E260BEBBFA6382453282889CF85000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:27:03 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8956816276/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3b535456-9b60-4650-b7f3-f33d0dd8801d
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498936'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B71071153F8C9CB6F91E57205C0B12CBF8394944E000000000000000000
    body:
      encoding: UTF-8
      string: '{"vids":[],"vidOffset":0,"hasMore":false}'
  recorded_at: Tue, 21 Jun 2022 13:27:03 GMT
recorded_with: VCR 6.1.0
