---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Botsford-Predovic"},{"name":"domain","value":"macgyver.co"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d8a881db-8718-47bc-a516-c5a7c04b8494
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248664'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B57F77D86F206BE5781134A2BAB86C472B8F1E10F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337743886,"isDeleted":false,"properties":{"website":{"value":"macgyver.co","timestamp":1659970109037,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"macgyver.co","timestamp":1659970109037,"source":"CALCULATED","sourceVid":[],"requestId":"d8a881db-8718-47bc-a516-c5a7c04b8494"}]},"hs_lastmodifieddate":{"value":"1659970109037","timestamp":1659970109037,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970109037","timestamp":1659970109037,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"d8a881db-8718-47bc-a516-c5a7c04b8494"}]},"domain":{"value":"macgyver.co","timestamp":1659970109037,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"macgyver.co","timestamp":1659970109037,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d8a881db-8718-47bc-a516-c5a7c04b8494"}]},"name":{"value":"Botsford-Predovic","timestamp":1659970109037,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Botsford-Predovic","timestamp":1659970109037,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d8a881db-8718-47bc-a516-c5a7c04b8494"}]},"hs_object_id":{"value":"9337743886","timestamp":1659970109037,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337743886","timestamp":1659970109037,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d8a881db-8718-47bc-a516-c5a7c04b8494"}]},"createdate":{"value":"1659970109037","timestamp":1659970109037,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970109037","timestamp":1659970109037,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d8a881db-8718-47bc-a516-c5a7c04b8494"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:29 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Aundrea"},{"property":"lastname","value":"Grady"},{"property":"email","value":"sarai@example.org"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6751717f-6472-4ec9-9c12-b654287942eb
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248663'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '98'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2BCD9C1FABD48A16D830EFD0C5EB5AE6D064F4268A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":21201,"canonical-vid":21201,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Aundrea","versions":[{"value":"Aundrea","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970109391,"selected":false}]},"email":{"value":"sarai@example.org","versions":[{"value":"sarai@example.org","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970109391,"selected":false}]},"lastname":{"value":"Grady","versions":[{"value":"Grady","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970109391,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":21201,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"sarai@example.org","timestamp":1659970109401,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"2460251e-90bf-4199-8f39-bd2983ac6943","timestamp":1659970109459,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:29 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9337743886},"to":{"id":21201},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8387c0f3-82d8-44a7-8d66-6c1ae9091c75
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248662'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '97'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B4E51F40567A8731EE95F4C941AFCE1ECC44B047A000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":9337743886,"toObjectTypeId":"0-1","toObjectId":21201,"labels":["Primary
        Company"]}],"startedAt":"2022-08-08T14:48:30.071Z","completedAt":"2022-08-08T14:48:30.137Z"}'
  recorded_at: Mon, 08 Aug 2022 14:48:30 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/9337743886/vids?count=25&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fcccbdf1-35ab-4147-987c-ffb61812eafc
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248661'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '96'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B3E71D553CD9134B6B431AFEBBB1D7523487EFFE7000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vids":[21201],"vidOffset":21201,"hasMore":false}'
  recorded_at: Mon, 08 Aug 2022 14:48:30 GMT
recorded_with: VCR 6.0.0
