---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Lehner Group"},{"name":"domain","value":"ritchie-waters.co"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - adbda7d5-ddaa-4358-84ee-2370c74405b7
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498639'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '114'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B5CA09D7F6A54A702E88BE3FB86B842D5819744DF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963368568,"isDeleted":false,"properties":{"website":{"value":"ritchie-waters.co","timestamp":1655887657612,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"ritchie-waters.co","timestamp":1655887657612,"source":"CALCULATED","sourceVid":[],"requestId":"adbda7d5-ddaa-4358-84ee-2370c74405b7"}]},"hs_lastmodifieddate":{"value":"1655887657612","timestamp":1655887657612,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887657612","timestamp":1655887657612,"source":"CALCULATED","sourceVid":[],"requestId":"adbda7d5-ddaa-4358-84ee-2370c74405b7"}]},"domain":{"value":"ritchie-waters.co","timestamp":1655887657612,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"ritchie-waters.co","timestamp":1655887657612,"source":"API","sourceVid":[],"requestId":"adbda7d5-ddaa-4358-84ee-2370c74405b7"}]},"name":{"value":"Lehner
        Group","timestamp":1655887657612,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Lehner
        Group","timestamp":1655887657612,"source":"API","sourceVid":[],"requestId":"adbda7d5-ddaa-4358-84ee-2370c74405b7"}]},"hs_object_id":{"value":"8963368568","timestamp":1655887657612,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963368568","timestamp":1655887657612,"source":"API","sourceVid":[],"requestId":"adbda7d5-ddaa-4358-84ee-2370c74405b7"}]},"createdate":{"value":"1655887657612","timestamp":1655887657612,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887657612","timestamp":1655887657612,"source":"API","sourceVid":[],"requestId":"adbda7d5-ddaa-4358-84ee-2370c74405b7"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:37 GMT
recorded_with: VCR 6.1.0
