---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/1/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 263bfad0-cb58-4e9e-8fc5-b9577d94e45f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498736'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B70E9B0878230950B327AC483A0E38AB31DA3D35D000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"canonical vid is not a valid contact or
        is already in the process of being merged","correlationId":"263bfad0-cb58-4e9e-8fc5-b9577d94e45f"}'
  recorded_at: Tue, 21 Jun 2022 13:28:35 GMT
recorded_with: VCR 6.1.0
