---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/0?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0afec280-89c4-489d-8ed7-77bf355fd31d
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498995'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BE3011710C8D56DB559169EB2957BCF903BF920B1000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a company with the ID ''0''
        in portal ''<PORTAL_ID>''","correlationId":"0afec280-89c4-489d-8ed7-77bf355fd31d","errors":[{"message":"This
        company 0 does not exist."}],"category":"OBJECT_NOT_FOUND","subCategory":"COMPANY_NOT_FOUND"}'
  recorded_at: Tue, 21 Jun 2022 13:26:45 GMT
recorded_with: VCR 6.1.0
