---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Jacalyn"},{"property":"lastname","value":"Mraz"},{"property":"email","value":"olivia@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e4e26fac-65bf-4842-b921-7b22de40c177
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498387'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '121'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B02DA1E862D53359ED9BF71E753EBAE7A2273451F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":68251,"canonical-vid":68251,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Jacalyn","versions":[{"value":"Jacalyn","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887756272,"selected":false}]},"email":{"value":"olivia@example.net","versions":[{"value":"olivia@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887756272,"selected":false}]},"lastname":{"value":"Mraz","versions":[{"value":"Mraz","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887756272,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":68251,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"olivia@example.net","timestamp":1655887756278,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"fb59b0ae-1f38-4fc2-8989-44da55db629d","timestamp":1655887756310,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:16 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"olivia@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ea4f4a63-809d-4a2a-80db-849597d2a849
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498386'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BADAB1AA1DC46A7C920AE20FD264A25C5791BFB4C000000000000000000
    body:
      encoding: UTF-8
      string: '{"message":"Contact already exists","identityProfile":{"vid":68251,"identity":[{"value":"olivia@example.net","type":"EMAIL","timestamp":1655887756278,"isPrimary":true},{"value":"fb59b0ae-1f38-4fc2-8989-44da55db629d","type":"LEAD_GUID","timestamp":1655887756310}],"linkedVid":[],"isContact":true,"savedAtTimestamp":1655887756315},"errors":[{"message":"A
        contact with email olivia@example.net already exists.","in":"email"}],"status":"error","correlationId":"ea4f4a63-809d-4a2a-80db-849597d2a849","category":"OBJECT_ALREADY_EXISTS","error":"CONTACT_EXISTS"}'
  recorded_at: Wed, 22 Jun 2022 08:49:16 GMT
recorded_with: VCR 6.1.0
