---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Sheba"},{"property":"lastname","value":"Wolff"},{"property":"email","value":"perry@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8848c101-432d-4666-9a45-43cee6483af2
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498777'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B72CB97DBF91051BF8551D7629BF37D8166DDAF3B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50251,"canonical-vid":50251,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Sheba","versions":[{"value":"Sheba","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818098569,"selected":false}]},"email":{"value":"perry@example.org","versions":[{"value":"perry@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818098569,"selected":false}]},"lastname":{"value":"Wolff","versions":[{"value":"Wolff","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818098569,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50251,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"perry@example.org","timestamp":1655818098575,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"e61ef77e-32c5-4d5b-a9ac-d4f56cd6ac0f","timestamp":1655818098609,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:18 GMT
recorded_with: VCR 6.1.0
