---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Marc"},{"property":"lastname","value":"Orn"},{"property":"email","value":"nathalie.farrell@example.net"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 410aaf5b-9fbf-4960-9712-8a24bc4671fb
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248322'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B207F2531821022732E08C8D69B0C904268F516C8000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23851,"canonical-vid":23851,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Marc","versions":[{"value":"Marc","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970265513,"selected":false}]},"email":{"value":"nathalie.farrell@example.net","versions":[{"value":"nathalie.farrell@example.net","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970265513,"selected":false}]},"lastname":{"value":"Orn","versions":[{"value":"Orn","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970265513,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23851,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"nathalie.farrell@example.net","timestamp":1659970265522,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"74009ca9-7729-4e9b-b58b-602e75093116","timestamp":1659970265542,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:05 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/23851/
    body:
      encoding: UTF-8
      string: '{"vidToMerge":23851}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3b9edd90-0f83-48a9-b17d-a3e41b9143ce
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248321'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '83'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BBA56CAC62A94B963179D6F96324E6E8F0EC85407000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"{\"status\":\"error\",\"message\":\"Cannot
        merge a contact with itself\",\"correlationId\":\"3b9edd90-0f83-48a9-b17d-a3e41b9143ce\"}","correlationId":"3b9edd90-0f83-48a9-b17d-a3e41b9143ce"}'
  recorded_at: Mon, 08 Aug 2022 14:51:06 GMT
recorded_with: VCR 6.0.0
