---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Keeling Group"},{"name":"domain","value":"klein.org"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - eb8f6289-bbe1-49f6-9a3b-1017c5b5b79a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248567'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B058EB2662AFEE30DB09873CF1FBA41CF577C6599000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337646599,"isDeleted":false,"properties":{"website":{"value":"klein.org","timestamp":1659970151165,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"klein.org","timestamp":1659970151165,"source":"CALCULATED","sourceVid":[],"requestId":"eb8f6289-bbe1-49f6-9a3b-1017c5b5b79a"}]},"hs_lastmodifieddate":{"value":"1659970151165","timestamp":1659970151165,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970151165","timestamp":1659970151165,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"eb8f6289-bbe1-49f6-9a3b-1017c5b5b79a"}]},"domain":{"value":"klein.org","timestamp":1659970151165,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"klein.org","timestamp":1659970151165,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"eb8f6289-bbe1-49f6-9a3b-1017c5b5b79a"}]},"name":{"value":"Keeling
        Group","timestamp":1659970151165,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Keeling
        Group","timestamp":1659970151165,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"eb8f6289-bbe1-49f6-9a3b-1017c5b5b79a"}]},"hs_object_id":{"value":"9337646599","timestamp":1659970151165,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337646599","timestamp":1659970151165,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"eb8f6289-bbe1-49f6-9a3b-1017c5b5b79a"}]},"createdate":{"value":"1659970151165","timestamp":1659970151165,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970151165","timestamp":1659970151165,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"eb8f6289-bbe1-49f6-9a3b-1017c5b5b79a"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:11 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/9337646599
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - aa3f329a-e58c-4f63-92e1-c59922[...]
