---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Tanika"},{"property":"lastname","value":"Reilly"},{"property":"email","value":"rigoberto@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 678f15e6-9c02-4d6e-93f2-851ff8b9f492
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498775'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B0AADBFCB817FA3866C11DB2000A31AD942E28989000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50351,"canonical-vid":50351,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Tanika","versions":[{"value":"Tanika","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818099387,"selected":false}]},"email":{"value":"rigoberto@example.com","versions":[{"value":"rigoberto@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818099387,"selected":false}]},"lastname":{"value":"Reilly","versions":[{"value":"Reilly","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818099387,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50351,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"rigoberto@example.com","timestamp":1655818099394,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"deedff00-8d2b-4b48-8a82-9cd612522be1","timestamp":1655818099414,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:19 GMT
recorded_with: VCR 6.1.0
