---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[],"associatedVids":[]},"properties":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 78e74fc4-f202-4667-a1a4-16965fe01cd0
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248263'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BFCDC319A8917FF0C61D4DEECD0D570C725ABDE78000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9756302124,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1659970294758,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1659970294758,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1659970294758,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1659970294758,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1659970294758,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1659970294758,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1659970294758,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1659970294758,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1659970294758","timestamp":1659970294758,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970294758","timestamp":1659970294758,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"78e74fc4-f202-4667-a1a4-16965fe01cd0"}]},"hs_createdate":{"value":"1659970294758","timestamp":1659970294758,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1659970294758","timestamp":1659970294758,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"78e74fc4-f202-4667-a1a4-16965fe01cd0"}]},"hs_object_id":{"value":"9756302124","timestamp":1659970294758,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9756302124","timestamp":1659970294758,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"78e74fc4-f202-4667-a1a4-16965fe01cd0"}]},"createdate":{"value":"1659970294758","timestamp":1659970294758,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970294758","timestamp":1659970294758,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"78e74fc4-f202-4667-a1a4-16965fe01cd0"}]},"hs_is_deal_split":{"value":"false","timestamp":1659970294758,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1659970294758,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount":{"value":"0","timestamp":1659970294758,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1659970294758,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1659970294758,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1659970294758,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1659970294758,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1659970294758,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:34 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"3833982066a986446939e3ac615e879d"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e28a6169-120c-4729-9783-8c9a81836244
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248262'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B2F5279F25CE603339B24FADB1A0878B01BF405F5000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337748626,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1659970295036","timestamp":1659970295036,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970295036","timestamp":1659970295036,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"e28a6169-120c-4729-9783-8c9a81836244"}]},"name":{"value":"3833982066a986446939e3ac615e879d","timestamp":1659970295036,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"3833982066a986446939e3ac615e879d","timestamp":1659970295036,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e28a6169-120c-4729-9783-8c9a81836244"}]},"hs_object_id":{"value":"9337748626","timestamp":1659970295036,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337748626","timestamp":1659970295036,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e28a6169-120c-4729-9783-8c9a81836244"}]},"createdate":{"value":"1659970295036","timestamp":1659970295036,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970295036","timestamp":1659970295036,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e28a6169-120c-4729-9783-8c9a81836244"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:35 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"9617974a05f759e89c571a8f130dcaf0@hubspot.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 995c79c9-36b9-4b96-a7ed-68e7ce77d43c
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248261'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B917BA69FBA53A546EE295A48021AA55AB9FAFFFF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":24251,"canonical-vid":24251,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"9617974a05f759e89c571a8f130dcaf0@hubspot.com","versions":[{"value":"9617974a05f759e89c571a8f130dcaf0@hubspot.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970295647,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":24251,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"9617974a05f759e89c571a8f130dcaf0@hubspot.com","timestamp":1659970295657,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"3607a984-7765-45a9-a686-6be99b8ea796","timestamp":1659970295709,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:36 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Company/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9756302124},"to":{"id":9337748626},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":5}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9db41454-1250-49cb-a0f3-f7d1d9ae192c
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248260'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B2DB327EF3110B8D5D770A086ED39CBBA6CD62DE6000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-3","fromObjectId":9756302124,"toObjectTypeId":"0-2","toObjectId":9337748626,"labels":["Primary"]}],"startedAt":"2022-08-08T14:51:36.303Z","completedAt":"2022-08-08T14:51:36.377Z"}'
  recorded_at: Mon, 08 Aug 2022 14:51:36 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9756302124},"to":{"id":24251},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":3}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 320eb14c-c2f7-4681-9b47-bd84541b7d3e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248259'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BC698940F359324D7CD0DF66D49AE84170AEA73A8000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-3","fromObjectId":9756302124,"toObjectTypeId":"0-1","toObjectId":24251,"labels":[]}],"startedAt":"2022-08-08T14:51:36.949Z","completedAt":"2022-08-08T14:51:36.988Z"}'
  recorded_at: Mon, 08 Aug 2022 14:51:37 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9756302124
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8e2c35e3-87c4-4d59-8365-836d33dcb9fb
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
[...]
