---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Hirthe, Quitzon and Braun"},{"name":"domain","value":"daugherty.name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fad7ea05-2bd1-42a1-9d68-129b81580a23
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498985'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B1EF465973D5458143AE4C5273F1509DE35EE4B10000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956850244,"isDeleted":false,"properties":{"website":{"value":"daugherty.name","timestamp":1655818008259,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"daugherty.name","timestamp":1655818008259,"source":"CALCULATED","sourceVid":[],"requestId":"fad7ea05-2bd1-42a1-9d68-129b81580a23"}]},"hs_lastmodifieddate":{"value":"1655818008259","timestamp":1655818008259,"source":"CALCULATED","sourceId":"fad7ea05-2bd1-42a1-9d68-129b81580a23","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818008259","timestamp":1655818008259,"sourceId":"fad7ea05-2bd1-42a1-9d68-129b81580a23","source":"CALCULATED","sourceVid":[],"requestId":"fad7ea05-2bd1-42a1-9d68-129b81580a23"}]},"domain":{"value":"daugherty.name","timestamp":1655818008259,"source":"API","sourceId":"fad7ea05-2bd1-42a1-9d68-129b81580a23","updatedByUserId":null,"versions":[{"name":"domain","value":"daugherty.name","timestamp":1655818008259,"sourceId":"fad7ea05-2bd1-42a1-9d68-129b81580a23","source":"API","sourceVid":[],"requestId":"fad7ea05-2bd1-42a1-9d68-129b81580a23"}]},"name":{"value":"Hirthe,
        Quitzon and Braun","timestamp":1655818008259,"source":"API","sourceId":"fad7ea05-2bd1-42a1-9d68-129b81580a23","updatedByUserId":null,"versions":[{"name":"name","value":"Hirthe,
        Quitzon and Braun","timestamp":1655818008259,"sourceId":"fad7ea05-2bd1-42a1-9d68-129b81580a23","source":"API","sourceVid":[],"requestId":"fad7ea05-2bd1-42a1-9d68-129b81580a23"}]},"hs_object_id":{"value":"8956850244","timestamp":1655818008259,"source":"API","sourceId":"fad7ea05-2bd1-42a1-9d68-129b81580a23","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956850244","timestamp":1655818008259,"sourceId":"fad7ea05-2bd1-42a1-9d68-129b81580a23","source":"API","sourceVid":[],"requestId":"fad7ea05-2bd1-42a1-9d68-129b81580a23"}]},"createdate":{"value":"1655818008259","timestamp":1655818008259,"source":"API","sourceId":"fad7ea05-2bd1-42a1-9d68-129b81580a23","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818008259","timestamp":1655818008259,"sourceId":"fad7ea05-2bd1-42a1-9d68-129b81580a23","source":"API","sourceVid":[],"requestId":"fad7ea05-2bd1-42a1-9d68-129b81580a23"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:48 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8956850244?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e315d16c-3bf0-4e6d-a894-9a0944c06e06
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498984'
      [...]
