---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Feest, Tillman and Ferry"},{"name":"domain","value":"moen.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498758'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '136'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BC315EA7280C89228B293794223B205B24EBFC9E4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956820089,"isDeleted":false,"properties":{"website":{"value":"moen.biz","timestamp":1655818105664,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"moen.biz","timestamp":1655818105664,"source":"CALCULATED","sourceVid":[],"requestId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9"}]},"hs_lastmodifieddate":{"value":"1655818105664","timestamp":1655818105664,"source":"CALCULATED","sourceId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818105664","timestamp":1655818105664,"sourceId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9","source":"CALCULATED","sourceVid":[],"requestId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9"}]},"domain":{"value":"moen.biz","timestamp":1655818105664,"source":"API","sourceId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9","updatedByUserId":null,"versions":[{"name":"domain","value":"moen.biz","timestamp":1655818105664,"sourceId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9","source":"API","sourceVid":[],"requestId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9"}]},"name":{"value":"Feest,
        Tillman and Ferry","timestamp":1655818105664,"source":"API","sourceId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9","updatedByUserId":null,"versions":[{"name":"name","value":"Feest,
        Tillman and Ferry","timestamp":1655818105664,"sourceId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9","source":"API","sourceVid":[],"requestId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9"}]},"hs_object_id":{"value":"8956820089","timestamp":1655818105664,"source":"API","sourceId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956820089","timestamp":1655818105664,"sourceId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9","source":"API","sourceVid":[],"requestId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9"}]},"createdate":{"value":"1655818105664","timestamp":1655818105664,"source":"API","sourceId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818105664","timestamp":1655818105664,"sourceId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9","source":"API","sourceVid":[],"requestId":"64fb6fd1-8f17-4e1f-b36c-7ee9c202e3e9"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:25 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Susanne"},{"property":"lastname","value":"Cole"},{"property":"email","value":"ross@example.com"},{"property":"associatedcompanyid","value":8956820089}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f14471dd-23ab-410a-adc0-3fff79033dbc
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498757'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '135'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BA0398C29D1672D9F325F0900F5FC522F2159DBCC000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50701,"canonical-vid":50701,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"associatedcompanyid":{"value":"8956820089","versions":[{"value":"8956820089","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105921,"selected":false}]},"firstname":{"value":"Susanne","versions":[{"value":"Susanne","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105921,"selected":false}]},"email":{"value":"ross@example.com","versions":[{"value":"ross@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105921,"selected":false}]},"lastname":{"value":"Cole","versions":[{"value":"Cole","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105921,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50701,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"ross@example.com","timestamp":1655818105931,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"e03baed7-3438-4a90-8615-fd907f34ec9a","timestamp":1655818105973,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:26 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/50701/profile?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9ec247f9-c268-4f81-88a3-f7068f061da8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498756'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '134'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B74E90FD90DFEC6F3CC8C50A68EF17EDB1514153D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50701,"canonical-vid":50701,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_is_unworked":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":"CalculatedPropertyComputer","source-label":null,"updated-by-user-id":null,"timestamp":1655818105931,"selected":false}]},"firstname":{"value":"Susanne","versions":[{"value":"Susanne","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105921,"selected":false}]},"lastmodifieddate":{"value":"1655818105931","versions":[{"value":"1655818105931","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105931,"selected":false}]},"hs_pipeline":{"value":"contacts-lifecycle-pipeline","versions":[{"value":"contacts-lifecycle-pipeline","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105931,"selected":false}]},"createdate":{"value":"1655818105931","versions":[{"value":"1655818105931","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105931,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1655818105931","versions":[{"value":"1655818105931","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105931,"selected":false}]},"lastname":{"value":"Cole","versions":[{"value":"Cole","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105921,"selected":false}]},"hs_all_contact_vids":{"value":"50701","versions":[{"value":"50701","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105931,"selected":false}]},"hs_marketable_until_renewal":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105931,"selected":false}]},"hs_marketable_status":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105931,"selected":false}]},"hs_is_contact":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105931,"selected":false}]},"hs_object_id":{"value":"50701","versions":[{"value":"50701","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105931,"selected":false}]},"hs_email_domain":{"value":"example.com","versions":[{"value":"example.com","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105931,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105931,"selected":false}]},"email":{"value":"ross@example.com","versions":[{"value":"ross@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818105931,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50701,"saved-at-timestamp":1655818105978,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"ross@example.com","timestamp":1655818105931,"is-primary":true},{"type":"LEAD_GUID","value":"e03baed7-3438-4a90-8615-fd907f34ec9a","timestamp":1655818105973}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:26 GMT
recorded_with: VCR 6.1.0
