---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foo Bar Inc."}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ccc65ad9-5fb0-4862-a805-9bcfc399c352
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498617'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '134'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BE700902658E4D789ACE65A965A1BAAB7942FB536000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963314832,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655887662491","timestamp":1655887662491,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887662491","timestamp":1655887662491,"source":"CALCULATED","sourceVid":[],"requestId":"ccc65ad9-5fb0-4862-a805-9bcfc399c352"}]},"name":{"value":"Foo
        Bar Inc.","timestamp":1655887662491,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Foo
        Bar Inc.","timestamp":1655887662491,"source":"API","sourceVid":[],"requestId":"ccc65ad9-5fb0-4862-a805-9bcfc399c352"}]},"hs_object_id":{"value":"8963314832","timestamp":1655887662491,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963314832","timestamp":1655887662491,"source":"API","sourceVid":[],"requestId":"ccc65ad9-5fb0-4862-a805-9bcfc399c352"}]},"createdate":{"value":"1655887662491","timestamp":1655887662491,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887662491","timestamp":1655887662491,"source":"API","sourceVid":[],"requestId":"ccc65ad9-5fb0-4862-a805-9bcfc399c352"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:42 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foo Bar Inc."}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 222becea-ab0a-4671-bfd0-c94289d08686
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249895'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
