---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2e781765-ce1b-474b-9208-03236a399373
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248548'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BF28F3F0699B824FA9AB693EDD025A1315D197983000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337724803,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1659970159506","timestamp":1659970159506,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970159506","timestamp":1659970159506,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"2e781765-ce1b-474b-9208-03236a399373"}]},"hs_object_id":{"value":"9337724803","timestamp":1659970159506,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337724803","timestamp":1659970159506,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"2e781765-ce1b-474b-9208-03236a399373"}]},"createdate":{"value":"1659970159506","timestamp":1659970159506,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970159506","timestamp":1659970159506,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"2e781765-ce1b-474b-9208-03236a399373"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:19 GMT
recorded_with: VCR 6.0.0
