---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Connelly, Muller and Rempel"},{"name":"domain","value":"hilll.name"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5e1590f9-e7be-4c8d-a7bd-3a19b724f108
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248641'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B7B44A637FB5E958C7D6A08F923A699F6AB3C0F9E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337580885,"isDeleted":false,"properties":{"website":{"value":"hilll.name","timestamp":1659970118993,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"hilll.name","timestamp":1659970118993,"source":"CALCULATED","sourceVid":[],"requestId":"5e1590f9-e7be-4c8d-a7bd-3a19b724f108"}]},"hs_lastmodifieddate":{"value":"1659970118993","timestamp":1659970118993,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970118993","timestamp":1659970118993,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"5e1590f9-e7be-4c8d-a7bd-3a19b724f108"}]},"domain":{"value":"hilll.name","timestamp":1659970118993,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"hilll.name","timestamp":1659970118993,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"5e1590f9-e7be-4c8d-a7bd-3a19b724f108"}]},"name":{"value":"Connelly,
        Muller and Rempel","timestamp":1659970118993,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Connelly,
        Muller and Rempel","timestamp":1659970118993,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"5e1590f9-e7be-4c8d-a7bd-3a19b724f108"}]},"hs_object_id":{"value":"9337580885","timestamp":1659970118993,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337580885","timestamp":1659970118993,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"5e1590f9-e7be-4c8d-a7bd-3a19b724f108"}]},"createdate":{"value":"1659970118993","timestamp":1659970118993,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970118993","timestamp":1659970118993,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"5e1590f9-e7be-4c8d-a7bd-3a19b724f108"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:39 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[9337580885,9337638160],"associatedVids":[]},"properties":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 17effb51-b149-42d2-8fa1-3e7a9749250a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248639'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BD65E31A9CB807068146AA5D98EEB2827E88A3878000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9756321893,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[9337580885,9337638160],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1659970120212,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1659970120212,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1659970120212,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1659970120212,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1659970120212,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1659970120212,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1659970120212,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1659970120212,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1659970120212","timestamp":1659970120212,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970120212","timestamp":1659970120212,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"17effb51-b149-42d2-8fa1-3e7a9749250a"}]},"hs_createdate":{"value":"1659970120212","timestamp":1659970120212,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1659970120212","timestamp":1659970120212,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"17effb51-b149-42d2-8fa1-3e7a9749250a"}]},"hs_object_id":{"value":"9756321893","timestamp":1659970120212,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9756321893","timestamp":1659970120212,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"17effb51-b149-42d2-8fa1-3e7a9749250a"}]},"createdate":{"value":"1659970120212","timestamp":1659970120212,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970120212","timestamp":1659970120212,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"17effb51-b149-42d2-8fa1-3e7a9749250a"}]},"hs_is_deal_split":{"value":"false","timestamp":1659970120212,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1659970120212,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount":{"value":"0","timestamp":1659970120212,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1659970120212,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1659970120212,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1659970120212,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1659970120212,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1659970120212,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:40 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Company/batch/archive
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9756321893},"to":[{"id":9337580885},{"id":9337638160}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a9e2d99b-a100-4f10-8268-ac3b76467398
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248638'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B1B1B0F9F443E6EA36F764F036906C845F4487E48000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2022 14:48:40 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9756321893
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 505f8ffe-2e51-4066-980d-397c78004470
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
[...]
