---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Larson-Kuvalis"},{"name":"domain","value":"will-feeney.co"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1e95321d-8dcd-4d73-be4d-aa524182e2c9
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498716'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BBDF27206DB1BF6437AEB286CD9A4BD03F45CE882000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963424018,"isDeleted":false,"properties":{"website":{"value":"will-feeney.co","timestamp":1655887634894,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"will-feeney.co","timestamp":1655887634894,"source":"CALCULATED","sourceVid":[],"requestId":"1e95321d-8dcd-4d73-be4d-aa524182e2c9"}]},"hs_lastmodifieddate":{"value":"1655887634894","timestamp":1655887634894,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887634894","timestamp":1655887634894,"source":"CALCULATED","sourceVid":[],"requestId":"1e95321d-8dcd-4d73-be4d-aa524182e2c9"}]},"domain":{"value":"will-feeney.co","timestamp":1655887634894,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"will-feeney.co","timestamp":1655887634894,"source":"API","sourceVid":[],"requestId":"1e95321d-8dcd-4d73-be4d-aa524182e2c9"}]},"name":{"value":"Larson-Kuvalis","timestamp":1655887634894,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Larson-Kuvalis","timestamp":1655887634894,"source":"API","sourceVid":[],"requestId":"1e95321d-8dcd-4d73-be4d-aa524182e2c9"}]},"hs_object_id":{"value":"8963424018","timestamp":1655887634894,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963424018","timestamp":1655887634894,"source":"API","sourceVid":[],"requestId":"1e95321d-8dcd-4d73-be4d-aa524182e2c9"}]},"createdate":{"value":"1655887634894","timestamp":1655887634894,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887634894","timestamp":1655887634894,"source":"API","sourceVid":[],"requestId":"1e95321d-8dcd-4d73-be4d-aa524182e2c9"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:14 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Donita"},{"property":"lastname","value":"Crist"},{"property":"email","value":"alexander_mayert@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c61f8870-a0dd-4b84-b4ee-068804597914
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498715'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BAEFE17E02AC99DD0C8DECFBCD7B290A336519A1C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":66151,"canonical-vid":66151,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Donita","versions":[{"value":"Donita","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887635116,"selected":false}]},"email":{"value":"alexander_mayert@example.com","versions":[{"value":"alexander_mayert@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887635116,"selected":false}]},"lastname":{"value":"Crist","versions":[{"value":"Crist","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887635116,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":66151,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"alexander_mayert@example.com","timestamp":1655887635123,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"591563e6-1974-49ef-8b08-d1cd3842cd01","timestamp":1655887635138,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:15 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":8963424018},"to":{"id":66151},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1b80b58c-c868-4e81-a078-f9bfed70eca9
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498714'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '147'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B188821E55BF3E9573325A382D8E31746079C59E6000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":8963424018,"toObjectTypeId":"0-1","toObjectId":66151,"labels":["Primary
        Company"]}],"startedAt":"2022-06-22T08:47:15.472Z","completedAt":"2022-06-22T08:47:15.535Z"}'
  recorded_at: Wed, 22 Jun 2022 08:47:15 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8963424018/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4db7b5da-fd5b-49bc-8f63-a632f8445f0d
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498713'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '146'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B4868AE8C239920AF92A22DAE0738DFE9679DE2AF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vids":[66151],"vidOffset":66151,"hasMore":false}'
  recorded_at: Wed, 22 Jun 2022 08:47:15 GMT
recorded_with: VCR 6.1.0
