---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=25&hapikey=<HAPI_KEY>&offset=&q=com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3517ac37-7095-452f-b08c-1e980e62426e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498380'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BD221B84DD9A6A9BAA40D7C3CD0C67EFB84CFFFBA000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"query":"com","offset":25,"has-more":true,"total":1403,"contacts":[{"vid":651,"canonical-vid":651,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_is_unworked":{"value":"true"},"hs_latest_source_data_1":{"value":"API"},"associatedcompanyid":{"value":"8935013647"},"firstname":{"value":"Willetta"},"hs_latest_source":{"value":"OFFLINE"},"num_unique_conversion_events":{"value":"0"},"hs_analytics_revenue":{"value":"0.0"},"hs_pipeline":{"value":"contacts-lifecycle-pipeline"},"createdate":{"value":"1655456788259"},"hs_social_num_broadcast_clicks":{"value":"0"},"hs_analytics_num_visits":{"value":"0"},"hs_sequences_actively_enrolled_count":{"value":"0"},"hs_marketable_until_renewal":{"value":"false"},"hs_social_linkedin_clicks":{"value":"0"},"hs_marketable_status":{"value":"false"},"hs_analytics_source":{"value":"OFFLINE"},"hs_analytics_num_page_views":{"value":"0"},"hs_email_domain":{"value":"example.com"},"email":{"value":"sharice_greenfelder@example.com"},"hs_latest_source_timestamp":{"value":"1655456788283"},"hs_analytics_first_timestamp":{"value":"1655456788259"},"lastmodifieddate":{"value":"1655456795655"},"hs_social_google_plus_clicks":{"value":"0"},"hs_lifecyclestage_subscriber_date":{"value":"1655456788259"},"hs_analytics_average_page_views":{"value":"0"},"hs_all_contact_vids":{"value":"651"},"lastname":{"value":"Zemlak"},"hs_social_facebook_clicks":{"value":"0"},"hs_is_contact":{"value":"true"},"num_conversion_events":{"value":"0"},"hs_object_id":{"value":"651"},"hs_analytics_num_event_completions":{"value":"0"},"hs_social_twitter_clicks":{"value":"0"},"hs_analytics_source_data_1":{"value":"API"},"lifecyclestage":{"value":"subscriber"}},"form-submissions":[],"identity-profiles":[{"vid":651,"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"sharice_greenfelder@example.com","timestamp":1655456788259,"is-primary":true},{"type":"LEAD_GUID","value":"a4be7166-4077-4b32-a0cd-69457cdb2b61","timestamp":1655456788280}]}],"merge-audits":[]},{"vid":1102,"canonical-vid":1102,"merged-vids":[1102,1551],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_is_unworked":{"value":"true"},"hs_latest_source_data_1":{"value":"API"},"firstname":{"value":"Weldon"},"hs_latest_source":{"value":"OFFLINE"},"num_unique_conversion_events":{"value":"0"},"hs_analytics_revenue":{"value":"0.0"},"hs_pipeline":{"value":"contacts-lifecycle-pipeline"},"createdate":{"value":"1655457062907"},"hs_social_num_broadcast_clicks":{"value":"0"},"hs_analytics_num_visits":{"value":"0"},"hs_sequences_actively_enrolled_count":{"value":"0"},"hs_marketable_until_renewal":{"value":"false"},"hs_social_linkedin_clicks":{"value":"0"},"recent_conversion_event_name":{"value":""},"hs_marketable_status":{"value":"false"},"hs_analytics_source":{"value":"OFFLINE"},"hs_analytics_num_page_views":{"value":"0"},"hs_email_domain":{"value":"example.com"},"email":{"value":"marvin_leannon@example.com"},"hs_latest_source_timestamp":{"value":"1655457062926"},"hs_calculated_merged_vids":{"value":"1551:1655457063818"},"hs_analytics_first_timestamp":{"value":"1655457062907"},"lastmodifieddate":{"value":"1655457082855"},"first_conversion_date":{"value":""},"hs_social_google_plus_clicks":{"value":"0"},"hs_calculated_form_submissions":{"value":""},"hs_lifecyclestage_subscriber_date":{"value":"1655457063404"},"hs_analytics_average_page_views":{"value":"0"},"hs_all_contact_vids":{"value":"1102;1551"},"lastname":{"value":"Bernhard"},"hs_additional_emails":{"value":"joan.sauer@example.com"},"hs_social_facebook_clicks":{"value":"0"},"hs_is_contact":{"value":"true"},"hs_predictivecontactscore_v2":{"value":"2.67"},"num_conversion_events":{"value":"0"},"hs_object_id":{"value":"1102"},"recent_conversion_date":{"value":""},"hs_analytics_num_event_completions":{"value":"0"},"hs_social_twitter_clicks":{"value":"0"},"hs_analytics_source_data_1":{"value":"API"},"lifecyclestage":{"value":"subscriber"},"first_conversion_event_name":{"value":""}},"form-submissions":[],"identity-profiles":[{"vid":1102,"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"marvin_leannon@example.com","timestamp":1655457062907,"is-primary":true},{"type":"LEAD_GUID","value":"254c428f-54e1-4c75-9c56-26e1b398e69f","timestamp":1655457062925},{"type":"EMAIL","value":"joan.sauer@example.com","timestamp":1655457063404,"is-secondary":true}]}],"merge-audits":[{"canonical-vid":1102,"vid-to-merge":1551,"timestamp":1655457063818,"entity-id":"{\"authName\":\"hapikey\",\"authLevel\":\"EXTERNAL\",\"zkGroup\":null,\"internalCookieProto\":null,\"hubId\":<PORTAL_ID>,\"userId\":null,\"appId\":null,\"originIpAddress\":\"2a01:cb08:b01:6200:58ea:913c:a0ff:408c\",\"loginId\":null,\"correlationId\":\"96ad15ce-b76e-41f5-9639-e70fce83e5c6\",\"clientServiceName\":null,\"actingUserId\":null}","num-properties-moved":21,"merged_from_email":{"value":"marvin_leannon@example.com","source-type":"MERGE_CONTACTS","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655457063909,"selected":false},"merged_to_email":{"value":"marvin_leannon@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655457062907,"selected":false},"first-name":"Weldon","last-name":"Bernhard"}]},{"vid":801,"canonical-vid":801,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_is_unworked":{"value":"true"},"hs_latest_source_data_1":{"value":"API"},"firstname":{"value":"Alisia"},"hs_latest_source":{"value":"OFFLINE"},"num_unique_conversion_events":{"value":"0"},"hs_analytics_revenue":{"value":"0.0"},"hs_pipeline":{"value":"contacts-lifecycle-pipeline"},"createdate":{"value":"1655457048748"},"hs_social_num_broadcast_clicks":{"value":"0"},"hs_analytic[...]
