---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Mraz LLC"},{"name":"domain","value":"towne.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9c331c26-6fbb-4010-9735-ffb2b54f3129
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498585'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '106'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '10'
      X-Trace:
      - 2B86765C73ABA5B635CEAD2CD81962D43791175AC1000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963424042,"isDeleted":false,"properties":{"website":{"value":"towne.net","timestamp":1655887669980,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"towne.net","timestamp":1655887669980,"source":"CALCULATED","sourceVid":[],"requestId":"9c331c26-6fbb-4010-9735-ffb2b54f3129"}]},"hs_lastmodifieddate":{"value":"1655887669980","timestamp":1655887669980,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887669980","timestamp":1655887669980,"source":"CALCULATED","sourceVid":[],"requestId":"9c331c26-6fbb-4010-9735-ffb2b54f3129"}]},"domain":{"value":"towne.net","timestamp":1655887669980,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"towne.net","timestamp":1655887669980,"source":"API","sourceVid":[],"requestId":"9c331c26-6fbb-4010-9735-ffb2b54f3129"}]},"name":{"value":"Mraz
        LLC","timestamp":1655887669980,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Mraz
        LLC","timestamp":1655887669980,"source":"API","sourceVid":[],"requestId":"9c331c26-6fbb-4010-9735-ffb2b54f3129"}]},"hs_object_id":{"value":"8963424042","timestamp":1655887669980,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963424042","timestamp":1655887669980,"source":"API","sourceVid":[],"requestId":"9c331c26-6fbb-4010-9735-ffb2b54f3129"}]},"createdate":{"value":"1655887669980","timestamp":1655887669980,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887669980","timestamp":1655887669980,"source":"API","sourceVid":[],"requestId":"9c331c26-6fbb-4010-9735-ffb2b54f3129"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:50 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":8963424042},"to":{"id":1234},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2b9cfd8f-a846-4bef-a854-a54182a6601c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498584'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '110'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B718CE86C2D30B860C7EB9C880AD82DADC0B2A750000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[],"numErrors":1,"errors":[{"status":"error","category":"VALIDATION_ERROR","message":"CONTACT=1234
        is not valid"}],"startedAt":"2022-06-22T08:47:50.198Z","completedAt":"2022-06-22T08:47:50.227Z"}'
  recorded_at: Wed, 22 Jun 2022 08:47:50 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Cole Inc"},{"name":"domain","value":"franecki-bechtelar.io"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7d1bd92d-2e5f-4789-a4a6-da8727dfeaf2
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249863'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9289246563},"to":{"id":1234},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d684f506-1485-43f8-be32-ff1608f03226
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249862'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B644EE1571E23CF078789127D33761C7733F3DDC6000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[],"numErrors":1,"errors":[{"status":"error","category":"VALIDATION_ERROR","message":"CONTACT=1234
        is not valid"}],"startedAt":"2022-08-02T14:51:23.389Z","completedAt":"2022-08-02T14:51:23.422Z"}'
  recorded_at: Tue, 02 Aug 2022 14:51:23 GMT
recorded_with: VCR 6.0.0
