---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Raynor-Schiller"},{"name":"domain","value":"altenwerth-sporer.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - be2d43b9-69ff-4071-b93b-1fe9f6e025a6
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499004'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BF1CA9EB9CB5F60117099F08E21F7FC25AC6AAE3A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956816266,"isDeleted":false,"properties":{"website":{"value":"altenwerth-sporer.com","timestamp":1655818003447,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"altenwerth-sporer.com","timestamp":1655818003447,"source":"CALCULATED","sourceVid":[],"requestId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6"}]},"hs_lastmodifieddate":{"value":"1655818003447","timestamp":1655818003447,"source":"CALCULATED","sourceId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818003447","timestamp":1655818003447,"sourceId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6","source":"CALCULATED","sourceVid":[],"requestId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6"}]},"domain":{"value":"altenwerth-sporer.com","timestamp":1655818003447,"source":"API","sourceId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6","updatedByUserId":null,"versions":[{"name":"domain","value":"altenwerth-sporer.com","timestamp":1655818003447,"sourceId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6","source":"API","sourceVid":[],"requestId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6"}]},"name":{"value":"Raynor-Schiller","timestamp":1655818003447,"source":"API","sourceId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6","updatedByUserId":null,"versions":[{"name":"name","value":"Raynor-Schiller","timestamp":1655818003447,"sourceId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6","source":"API","sourceVid":[],"requestId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6"}]},"hs_object_id":{"value":"8956816266","timestamp":1655818003447,"source":"API","sourceId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956816266","timestamp":1655818003447,"sourceId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6","source":"API","sourceVid":[],"requestId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6"}]},"createdate":{"value":"1655818003447","timestamp":1655818003447,"source":"API","sourceId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818003447","timestamp":1655818003447,"sourceId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6","source":"API","sourceVid":[],"requestId":"be2d43b9-69ff-4071-b93b-1fe9f6e025a6"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:43 GMT
recorded_with: VCR 6.1.0
