---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foo Bar Inc."}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 574aef18-6986-4d6a-96a9-1e86fa805674
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248546'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B2CA1D1DC28AFC98C8B723F55413491C90DA7FCA4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337656208,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1659970160144","timestamp":1659970160144,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970160144","timestamp":1659970160144,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"574aef18-6986-4d6a-96a9-1e86fa805674"}]},"name":{"value":"Foo
        Bar Inc.","timestamp":1659970160144,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Foo
        Bar Inc.","timestamp":1659970160144,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"574aef18-6986-4d6a-96a9-1e86fa805674"}]},"hs_object_id":{"value":"9337656208","timestamp":1659970160144,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337656208","timestamp":1659970160144,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"574aef18-6986-4d6a-96a9-1e86fa805674"}]},"createdate":{"value":"1659970160144","timestamp":1659970160144,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970160144","timestamp":1659970160144,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"574aef18-6986-4d6a-96a9-1e86fa805674"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:20 GMT
recorded_with: VCR 6.0.0
