---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Flatley-Aufderhar"},{"name":"domain","value":"heathcote.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 848466c3-caef-4ff9-988c-8f353a6c7810
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498956'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '116'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BD7E34D1110CFF0643EAD4164FA9709FC65468EB2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956839840,"isDeleted":false,"properties":{"website":{"value":"heathcote.net","timestamp":1655818016747,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"heathcote.net","timestamp":1655818016747,"source":"CALCULATED","sourceVid":[],"requestId":"848466c3-caef-4ff9-988c-8f353a6c7810"}]},"hs_lastmodifieddate":{"value":"1655818016747","timestamp":1655818016747,"source":"CALCULATED","sourceId":"848466c3-caef-4ff9-988c-8f353a6c7810","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818016747","timestamp":1655818016747,"sourceId":"848466c3-caef-4ff9-988c-8f353a6c7810","source":"CALCULATED","sourceVid":[],"requestId":"848466c3-caef-4ff9-988c-8f353a6c7810"}]},"domain":{"value":"heathcote.net","timestamp":1655818016747,"source":"API","sourceId":"848466c3-caef-4ff9-988c-8f353a6c7810","updatedByUserId":null,"versions":[{"name":"domain","value":"heathcote.net","timestamp":1655818016747,"sourceId":"848466c3-caef-4ff9-988c-8f353a6c7810","source":"API","sourceVid":[],"requestId":"848466c3-caef-4ff9-988c-8f353a6c7810"}]},"name":{"value":"Flatley-Aufderhar","timestamp":1655818016747,"source":"API","sourceId":"848466c3-caef-4ff9-988c-8f353a6c7810","updatedByUserId":null,"versions":[{"name":"name","value":"Flatley-Aufderhar","timestamp":1655818016747,"sourceId":"848466c3-caef-4ff9-988c-8f353a6c7810","source":"API","sourceVid":[],"requestId":"848466c3-caef-4ff9-988c-8f353a6c7810"}]},"hs_object_id":{"value":"8956839840","timestamp":1655818016747,"source":"API","sourceId":"848466c3-caef-4ff9-988c-8f353a6c7810","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956839840","timestamp":1655818016747,"sourceId":"848466c3-caef-4ff9-988c-8f353a6c7810","source":"API","sourceVid":[],"requestId":"848466c3-caef-4ff9-988c-8f353a6c7810"}]},"createdate":{"value":"1655818016747","timestamp":1655818016747,"source":"API","sourceId":"848466c3-caef-4ff9-988c-8f353a6c7810","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818016747","timestamp":1655818016747,"sourceId":"848466c3-caef-4ff9-988c-8f353a6c7810","source":"API","sourceVid":[],"requestId":"848466c3-caef-4ff9-988c-8f353a6c7810"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:56 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Paulette"},{"property":"lastname","value":"Bauch"},{"property":"email","value":"mariann@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f625ca6d-c0ec-4270-a329-7ce616018876
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498955'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B9272F4DA316F9E75A23F8EFA4B68450882AA7B08000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":47506,"canonical-vid":47506,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Paulette","versions":[{"value":"Paulette","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818017055,"selected":false}]},"email":{"value":"mariann@example.net","versions":[{"value":"mariann@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818017055,"selected":false}]},"lastname":{"value":"Bauch","versions":[{"value":"Bauch","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818017055,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":47506,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"mariann@example.net","timestamp":1655818017065,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"afe3d134-b342-4192-a2ec-55d6575b23f6","timestamp":1655818017082,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:57 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":8956839840,"toObjectId":47506,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - f072dc99-bb6a-45f3-9100-7958cfbbaf84
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498954'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B9EA605DD35125CA8203EA4A0BC47DDEC43B8BECF000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:26:57 GMT
recorded_with: VCR 6.1.0
