---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/0?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9b4395d6-ad3c-445a-b79a-06b701de7770
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498631'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '113'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B596C493CFB32E8120544C0B853A2B8F70EC2DC7A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a company with the ID ''0''
        in portal ''<PORTAL_ID>''","correlationId":"9b4395d6-ad3c-445a-b79a-06b701de7770","errors":[{"message":"This
        company 0 does not exist."}],"category":"OBJECT_NOT_FOUND","subCategory":"COMPANY_NOT_FOUND"}'
  recorded_at: Wed, 22 Jun 2022 08:47:39 GMT
recorded_with: VCR 6.1.0
