---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[],"associatedVids":[]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f2743fe4-9f6d-4308-a8e2-a931cbe273e8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498324'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '113'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BED092B928305BDDBE24F9A9FFEE936144B8E362C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9270646337,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655887773584,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655887773584,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655887773584,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655887773584,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1655887773584,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655887773584,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655887773584,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655887773584,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655887773584","timestamp":1655887773584,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887773584","timestamp":1655887773584,"source":"CALCULATED","sourceVid":[],"requestId":"f2743fe4-9f6d-4308-a8e2-a931cbe273e8"}]},"hs_createdate":{"value":"1655887773584","timestamp":1655887773584,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655887773584","timestamp":1655887773584,"source":"API","sourceVid":[],"requestId":"f2743fe4-9f6d-4308-a8e2-a931cbe273e8"}]},"hs_object_id":{"value":"9270646337","timestamp":1655887773584,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9270646337","timestamp":1655887773584,"source":"API","sourceVid":[],"requestId":"f2743fe4-9f6d-4308-a8e2-a931cbe273e8"}]},"createdate":{"value":"1655887773584","timestamp":1655887773584,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887773584","timestamp":1655887773584,"source":"API","sourceVid":[],"requestId":"f2743fe4-9f6d-4308-a8e2-a931cbe273e8"}]},"hs_projected_amount":{"value":"0","timestamp":1655887773584,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655887773584,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1655887773584,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655887773584,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655887773584,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655887773584,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655887773584,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655887773584,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:33 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"2f41cec36ba710b48ecac0ee96711ade"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8cb8d57c-8d8e-4b66-9021-553a1c49c72b
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498323'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '112'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BC3B7FE9859793189BC045FE41711AF824D1EB344000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963314971,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655887773875","timestamp":1655887773875,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887773875","timestamp":1655887773875,"source":"CALCULATED","sourceVid":[],"requestId":"8cb8d57c-8d8e-4b66-9021-553a1c49c72b"}]},"name":{"value":"2f41cec36ba710b48ecac0ee96711ade","timestamp":1655887773875,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"2f41cec36ba710b48ecac0ee96711ade","timestamp":1655887773875,"source":"API","sourceVid":[],"requestId":"8cb8d57c-8d8e-4b66-9021-553a1c49c72b"}]},"hs_object_id":{"value":"8963314971","timestamp":1655887773875,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963314971","timestamp":1655887773875,"source":"API","sourceVid":[],"requestId":"8cb8d57c-8d8e-4b66-9021-553a1c49c72b"}]},"createdate":{"value":"1655887773875","timestamp":1655887773875,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887773875","timestamp":1655887773875,"source":"API","sourceVid":[],"requestId":"8cb8d57c-8d8e-4b66-9021-553a1c49c72b"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:33 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"b5ac249af93a35c9904d30f1db259392@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 013b2346-f451-4edf-be88-719340898207
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498322'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '115'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B39EBE8104C43BD9BA6227719F46F2FC2A1CFDFA5000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":68551,"canonical-vid":68551,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"b5ac249af93a35c9904d30f1db259392@hubspot.com","versions":[{"value":"b5ac249af93a35c9904d30f1db259392@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887774109,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":68551,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"b5ac249af93a35c9904d30f1db259392@hubspot.com","timestamp":1655887774116,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"fcc2f402-bdfc-4d06-9448-80236af3b57a","timestamp":1655887774125,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:34 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Company/batch/create?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9270646337},"to":{"id":8963314971},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":5}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f5c419a5-c40d-42dd-9b58-34ad76913ff6
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498321'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '114'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B3A5A01BD3F9538964D54EFB21A777CC11AFAAD0C000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-3","fromObjectId":9270646337,"toObjectTypeId":"0-2","toObjectId":8963314971,"labels":["Primary"]}],"startedAt":"2022-06-22T08:49:34.458Z","completedAt":"2022-06-22T08:49:34.524Z"}'
  recorded_at: Wed, 22 Jun 2022 08:49:34 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Contact/batch/create?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9270646337},"to":{"id":68551},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":3}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d3891269-38cf-4d73-a013-d1f6232712b6
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498320'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '113'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B3E030B97F232825BFCB5F46D2A095217FA043849000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-3","fromObjectId":9270646337,"toObjectTypeId":"0-1","toObjectId":68551,"labels":[]}],"startedAt":"2022-06-22T08:49:34.690Z","completedAt":"2022-06-22T08:49:34.723Z"}'
  recorded_at: Wed, 22 Jun 2022 08:49:34 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9270646337?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 36783cf5-30e3-4a0c-8ad5-d87e32a4505f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498319'
      X-Hubspot[...]
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[],"associatedVids":[]},"properties":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7030665c-bbe5-4d89-b5a5-8f9b62369819
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249599'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"0e3f5e6c3f84a4d64700dcda6f6c04a0"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 757549dd-96ba[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"b5ac8b9c96228139dd2c76142450fa93@hubspot.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - [...]
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Company/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9677688997},"to":{"id":9290073603},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":5}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 830d326b-6150-4e7d-b3a1-8d218d35e2da
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249596'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B937215FFF7A1BE0A5BCC7B85EFB5857D0D14B99E000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-3","fromObjectId":9677688997,"toObjectTypeId":"0-2","toObjectId":9290073603,"labels":["Primary"]}],"startedAt":"2022-08-02T14:53:59.219Z","completedAt":"2022-08-02T14:53:59.322Z"}'
  recorded_at: Tue, 02 Aug 2022 14:53:59 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9677688997},"to":{"id":160251},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":3}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a52a4791-4a13-4ef9-b0e2-0d42a8e881d6
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249595'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B3DAD224C1E9214608C10DD3F9E05AAFD04AE70CD000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-3","fromObjectId":9677688997,"toObjectTypeId":"0-1","toObjectId":160251,"labels":[]}],"startedAt":"2022-08-02T14:53:59.696Z","completedAt":"2022-08-02T14:53:59.733Z"}'
  recorded_at: Tue, 02 Aug 2022 14:53:59 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9677688997
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2806dc01-a71f-4938-a9ba-1b6ad3bb6615
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
[...]
