---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foo Bar Inc."}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f00e1999-9d92-471d-854c-5225981d23c4
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498980'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '116'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BB9FBE3AF3F96717337652B4EC03760FC5B31F023000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956828709,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655818010131","timestamp":1655818010131,"source":"CALCULATED","sourceId":"f00e1999-9d92-471d-854c-5225981d23c4","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818010131","timestamp":1655818010131,"sourceId":"f00e1999-9d92-471d-854c-5225981d23c4","source":"CALCULATED","sourceVid":[],"requestId":"f00e1999-9d92-471d-854c-5225981d23c4"}]},"name":{"value":"Foo
        Bar Inc.","timestamp":1655818010131,"source":"API","sourceId":"f00e1999-9d92-471d-854c-5225981d23c4","updatedByUserId":null,"versions":[{"name":"name","value":"Foo
        Bar Inc.","timestamp":1655818010131,"sourceId":"f00e1999-9d92-471d-854c-5225981d23c4","source":"API","sourceVid":[],"requestId":"f00e1999-9d92-471d-854c-5225981d23c4"}]},"hs_object_id":{"value":"8956828709","timestamp":1655818010131,"source":"API","sourceId":"f00e1999-9d92-471d-854c-5225981d23c4","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956828709","timestamp":1655818010131,"sourceId":"f00e1999-9d92-471d-854c-5225981d23c4","source":"API","sourceVid":[],"requestId":"f00e1999-9d92-471d-854c-5225981d23c4"}]},"createdate":{"value":"1655818010131","timestamp":1655818010131,"source":"API","sourceId":"f00e1999-9d92-471d-854c-5225981d23c4","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818010131","timestamp":1655818010131,"sourceId":"f00e1999-9d92-471d-854c-5225981d23c4","source":"API","sourceVid":[],"requestId":"f00e1999-9d92-471d-854c-5225981d23c4"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:50 GMT
recorded_with: VCR 6.1.0
