---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Duane"},{"property":"lastname","value":"Willms"},{"property":"email","value":"hayley_crist@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e422bf55-7ee7-470e-b784-f0560c7de9ed
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498407'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B2EE231CC5885FB591C308418EBB82E0230FC0145000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67652,"canonical-vid":67652,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Duane","versions":[{"value":"Duane","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887749758,"selected":false}]},"email":{"value":"hayley_crist@example.net","versions":[{"value":"hayley_crist@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887749758,"selected":false}]},"lastname":{"value":"Willms","versions":[{"value":"Willms","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887749758,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67652,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"hayley_crist@example.net","timestamp":1655887749763,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"a8f91338-f484-46d1-abe6-2115f9bf7633","timestamp":1655887749780,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:09 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/67652/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 12b2d9fe-e46b-4a66-b3e5-cf1a0c775cb3
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498406'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BADF06293120EA7EF07CB7DCD8FD2680B15E77F70000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:49:10 GMT
recorded_with: VCR 6.1.0
