---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Turner-Kassulke"},{"name":"domain","value":"lueilwitz-heidenreich.io"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 96d22ba5-2f00-4ca2-a6a6-367c783fb29b
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248540'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BBD2DBE8BB3172DDC13B46DB2FA12FC68EF6715A4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337638186,"isDeleted":false,"properties":{"website":{"value":"lueilwitz-heidenreich.io","timestamp":1659970162315,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"lueilwitz-heidenreich.io","timestamp":1659970162315,"source":"CALCULATED","sourceVid":[],"requestId":"96d22ba5-2f00-4ca2-a6a6-367c783fb29b"}]},"hs_lastmodifieddate":{"value":"1659970162315","timestamp":1659970162315,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970162315","timestamp":1659970162315,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"96d22ba5-2f00-4ca2-a6a6-367c783fb29b"}]},"domain":{"value":"lueilwitz-heidenreich.io","timestamp":1659970162315,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"lueilwitz-heidenreich.io","timestamp":1659970162315,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"96d22ba5-2f00-4ca2-a6a6-367c783fb29b"}]},"name":{"value":"Turner-Kassulke","timestamp":1659970162315,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Turner-Kassulke","timestamp":1659970162315,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"96d22ba5-2f00-4ca2-a6a6-367c783fb29b"}]},"hs_object_id":{"value":"9337638186","timestamp":1659970162315,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337638186","timestamp":1659970162315,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"96d22ba5-2f00-4ca2-a6a6-367c783fb29b"}]},"createdate":{"value":"1659970162315","timestamp":1659970162315,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970162315","timestamp":1659970162315,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"96d22ba5-2f00-4ca2-a6a6-367c783fb29b"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:22 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/companies/9337638186
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5e053430-586d-4669-aee2-c849bee70217
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248539'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B86407D369E04C5A43E7A561445D1AE17127B9167000000000000000000
    body:
      encoding: UTF-8
      string: '{"companyId":9337638186,"deleted":true}'
  recorded_at: Mon, 08 Aug 2022 14:49:22 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/9337638186
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b376d9b4-20b1-4b4d-afee-733c8c34446c
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248538'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '75'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B1961FE9A80A9E5C672C9A96C320462D401BCDDE6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"resource not found","correlationId":"b376d9b4-20b1-4b4d-afee-733c8c34446c"}'
  recorded_at: Mon, 08 Aug 2022 14:49:22 GMT
recorded_with: VCR 6.0.0
