---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=25&hapikey=<HAPI_KEY>&offset=&q=123xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ab44573e-368d-4ed3-bf3d-6432a5b3a521
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498378'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B687647DE407C19A666814DFDA9BB0968E58D79D6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"query":"123xyz","offset":0,"has-more":false,"total":0,"contacts":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:18 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=25&offset=&q=123xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3db26868-9033-404a-a699-dbc7aa9edb26
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249661'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '83'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B0659BA2EA990FF18970CB388EB7309041CE86BB5000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"query":"123xyz","offset":0,"has-more":false,"total":0,"contacts":[]}'
  recorded_at: Tue, 02 Aug 2022 14:53:24 GMT
recorded_with: VCR 6.0.0
