---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Dickinson-Wisozk"},{"name":"domain","value":"mante.co"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - afdc1049-bcd8-427d-aa19-11c53cdeebb7
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498613'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '130'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B068CC92A41C3C7188A28E6E2030D25165A16E7A6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963324570,"isDeleted":false,"properties":{"website":{"value":"mante.co","timestamp":1655887663353,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"mante.co","timestamp":1655887663353,"source":"CALCULATED","sourceVid":[],"requestId":"afdc1049-bcd8-427d-aa19-11c53cdeebb7"}]},"hs_lastmodifieddate":{"value":"1655887663353","timestamp":1655887663353,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887663353","timestamp":1655887663353,"source":"CALCULATED","sourceVid":[],"requestId":"afdc1049-bcd8-427d-aa19-11c53cdeebb7"}]},"domain":{"value":"mante.co","timestamp":1655887663353,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"mante.co","timestamp":1655887663353,"source":"API","sourceVid":[],"requestId":"afdc1049-bcd8-427d-aa19-11c53cdeebb7"}]},"name":{"value":"Dickinson-Wisozk","timestamp":1655887663353,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Dickinson-Wisozk","timestamp":1655887663353,"source":"API","sourceVid":[],"requestId":"afdc1049-bcd8-427d-aa19-11c53cdeebb7"}]},"hs_object_id":{"value":"8963324570","timestamp":1655887663353,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963324570","timestamp":1655887663353,"source":"API","sourceVid":[],"requestId":"afdc1049-bcd8-427d-aa19-11c53cdeebb7"}]},"createdate":{"value":"1655887663353","timestamp":1655887663353,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887663353","timestamp":1655887663353,"source":"API","sourceVid":[],"requestId":"afdc1049-bcd8-427d-aa19-11c53cdeebb7"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:43 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/companies/8963324570?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - af822a37-047d-463d-9f9f-a22c4476ee22
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498612'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B044CF03783D907EF235452EC0D5CBD9FE1A36191000000000000000000
    body:
      encoding: UTF-8
      string: '{"companyId":8963324570,"deleted":true}'
  recorded_at: Wed, 22 Jun 2022 08:47:43 GMT
recorded_with: VCR 6.1.0
