---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Zieme Group"},{"name":"domain","value":"williamson.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2795e526-e318-4585-9fed-ec798fe99fb6
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498968'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '116'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BE5DF674FD6DF088085E633432D6E8D7285A14C72000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956833377,"isDeleted":false,"properties":{"website":{"value":"williamson.net","timestamp":1655818013424,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"williamson.net","timestamp":1655818013424,"source":"CALCULATED","sourceVid":[],"requestId":"2795e526-e318-4585-9fed-ec798fe99fb6"}]},"hs_lastmodifieddate":{"value":"1655818013424","timestamp":1655818013424,"source":"CALCULATED","sourceId":"2795e526-e318-4585-9fed-ec798fe99fb6","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818013424","timestamp":1655818013424,"sourceId":"2795e526-e318-4585-9fed-ec798fe99fb6","source":"CALCULATED","sourceVid":[],"requestId":"2795e526-e318-4585-9fed-ec798fe99fb6"}]},"domain":{"value":"williamson.net","timestamp":1655818013424,"source":"API","sourceId":"2795e526-e318-4585-9fed-ec798fe99fb6","updatedByUserId":null,"versions":[{"name":"domain","value":"williamson.net","timestamp":1655818013424,"sourceId":"2795e526-e318-4585-9fed-ec798fe99fb6","source":"API","sourceVid":[],"requestId":"2795e526-e318-4585-9fed-ec798fe99fb6"}]},"name":{"value":"Zieme
        Group","timestamp":1655818013424,"source":"API","sourceId":"2795e526-e318-4585-9fed-ec798fe99fb6","updatedByUserId":null,"versions":[{"name":"name","value":"Zieme
        Group","timestamp":1655818013424,"sourceId":"2795e526-e318-4585-9fed-ec798fe99fb6","source":"API","sourceVid":[],"requestId":"2795e526-e318-4585-9fed-ec798fe99fb6"}]},"hs_object_id":{"value":"8956833377","timestamp":1655818013424,"source":"API","sourceId":"2795e526-e318-4585-9fed-ec798fe99fb6","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956833377","timestamp":1655818013424,"sourceId":"2795e526-e318-4585-9fed-ec798fe99fb6","source":"API","sourceVid":[],"requestId":"2795e526-e318-4585-9fed-ec798fe99fb6"}]},"createdate":{"value":"1655818013424","timestamp":1655818013424,"source":"API","sourceId":"2795e526-e318-4585-9fed-ec798fe99fb6","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818013424","timestamp":1655818013424,"sourceId":"2795e526-e318-4585-9fed-ec798fe99fb6","source":"API","sourceVid":[],"requestId":"2795e526-e318-4585-9fed-ec798fe99fb6"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:53 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=<HAPI_KEY>&limit=25&offset=8956833377
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c884e96a-df47-4688-bdfb-dfce12d62aa8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498967'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '115'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BE14B20FF805F5540468FFD370ABE9877A59F1929000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"has-more":false,"offset":8956850245,"companies":[{"portalId":<PORTAL_ID>,"companyId":8956833377,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8956850241,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8956850244,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}]}'
  recorded_at: Tue, 21 Jun 2022 13:26:53 GMT
recorded_with: VCR 6.1.0
