---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/contacts?limit=25&offset=&offset_param=after
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019dab0b-5b6d-7ef5-8506-6afaec3bbc2b'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249979'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '97'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"51","properties":{"createdate":"2018-04-09T13:17:00.224Z","email":"bh@hubspot.com","firstname":"Brian","hs_object_id":"51","lastmodifieddate":"2022-07-08T03:16:44.972Z","lastname":"Halligan
        (Sample Contact)"},"createdAt":"2018-04-09T13:17:00.224Z","updatedAt":"2022-07-08T03:16:44.972Z","archived":false,"url":"https://app.hubspot.com/contacts/<PORTAL_ID>/record/0-1/51"},{"id":"101","properties":{"createdate":"2018-05-16T14:15:36.472Z","email":"plop@test.fr","firstname":"pweetff","hs_object_id":"101","lastmodifieddate":"2022-06-17T18:45:23.824Z","lastname":"dsfsdfhgfhretret5tretret"},"createdAt":"2018-05-16T14:15:36.472Z","updatedAt":"2022-06-17T18:45:23.824Z","archived":false,"url":"https://app.hubspot.com/contacts/<PORTAL_ID>/record/0-1/101"},{"id":"151","properties":{"createdate":"2018-05-17T09:20:36.551Z","email":"ewr@test.fr","firstname":""[...]
