---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Tillman-Parker"},{"name":"domain","value":"lueilwitz-mertz.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 17d813c6-627c-4c6d-976b-dd13ff3080b6
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498641'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '116'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B4DBCBFF64AC3EBA933619053D27130676D1E9BE6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963342199,"isDeleted":false,"properties":{"website":{"value":"lueilwitz-mertz.com","timestamp":1655887657130,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"lueilwitz-mertz.com","timestamp":1655887657130,"source":"CALCULATED","sourceVid":[],"requestId":"17d813c6-627c-4c6d-976b-dd13ff3080b6"}]},"hs_lastmodifieddate":{"value":"1655887657130","timestamp":1655887657130,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887657130","timestamp":1655887657130,"source":"CALCULATED","sourceVid":[],"requestId":"17d813c6-627c-4c6d-976b-dd13ff3080b6"}]},"domain":{"value":"lueilwitz-mertz.com","timestamp":1655887657130,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"lueilwitz-mertz.com","timestamp":1655887657130,"source":"API","sourceVid":[],"requestId":"17d813c6-627c-4c6d-976b-dd13ff3080b6"}]},"name":{"value":"Tillman-Parker","timestamp":1655887657130,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Tillman-Parker","timestamp":1655887657130,"source":"API","sourceVid":[],"requestId":"17d813c6-627c-4c6d-976b-dd13ff3080b6"}]},"hs_object_id":{"value":"8963342199","timestamp":1655887657130,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963342199","timestamp":1655887657130,"source":"API","sourceVid":[],"requestId":"17d813c6-627c-4c6d-976b-dd13ff3080b6"}]},"createdate":{"value":"1655887657130","timestamp":1655887657130,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887657130","timestamp":1655887657130,"source":"API","sourceVid":[],"requestId":"17d813c6-627c-4c6d-976b-dd13ff3080b6"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:37 GMT
recorded_with: VCR 6.1.0
