---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Carroll-Hessel"},{"name":"domain","value":"fritsch.name"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7a4cef6b-f741-46f7-8c1f-ea085ec1acd2
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248570'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B6466131F198F23DF46EBF040A9CAF92BA8DD25BF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337706421,"isDeleted":false,"properties":{"website":{"value":"fritsch.name","timestamp":1659970150024,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"fritsch.name","timestamp":1659970150024,"source":"CALCULATED","sourceVid":[],"requestId":"7a4cef6b-f741-46f7-8c1f-ea085ec1acd2"}]},"hs_lastmodifieddate":{"value":"1659970150024","timestamp":1659970150024,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970150024","timestamp":1659970150024,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"7a4cef6b-f741-46f7-8c1f-ea085ec1acd2"}]},"domain":{"value":"fritsch.name","timestamp":1659970150024,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"fritsch.name","timestamp":1659970150024,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"7a4cef6b-f741-46f7-8c1f-ea085ec1acd2"}]},"name":{"value":"Carroll-Hessel","timestamp":1659970150024,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Carroll-Hessel","timestamp":1659970150024,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"7a4cef6b-f741-46f7-8c1f-ea085ec1acd2"}]},"hs_object_id":{"value":"9337706421","timestamp":1659970150024,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337706421","timestamp":1659970150024,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"7a4cef6b-f741-46f7-8c1f-ea085ec1acd2"}]},"createdate":{"value":"1659970150024","timestamp":1659970150024,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970150024","timestamp":1659970150024,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"7a4cef6b-f741-46f7-8c1f-ea085ec1acd2"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:10 GMT
recorded_with: VCR 6.0.0
