---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Silvana"},{"property":"lastname","value":"Bartell"},{"property":"email","value":"evelyn@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1f4fd001-2af4-42d7-9802-6cead60344d2
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498413'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B5D11AF1B3762BD7A36B5E4BE14EE9650BA8440CA000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67701,"canonical-vid":67701,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Silvana","versions":[{"value":"Silvana","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887747798,"selected":false}]},"email":{"value":"evelyn@example.org","versions":[{"value":"evelyn@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887747798,"selected":false}]},"lastname":{"value":"Bartell","versions":[{"value":"Bartell","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887747798,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67701,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"evelyn@example.org","timestamp":1655887747803,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"586a1999-a5f3-4478-b859-08019b34e007","timestamp":1655887747821,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:07 GMT
recorded_with: VCR 6.1.0
