---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=25&offset=&q=123xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8f7baa4b-dfab-42fd-81ff-2327a26f06ec
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248330'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B463D620CC0A3DD031AAF66CB3176D35415D36B98000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"query":"123xyz","offset":0,"has-more":false,"total":0,"contacts":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:01 GMT
recorded_with: VCR 6.0.0
