---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foo Bar Inc."}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b15cbba8-36a5-49d3-b6e5-872141bd506f
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248547'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B0398CEAA5BF8F836A180A8111C055DF68055171E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337664860,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1659970159833","timestamp":1659970159833,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970159833","timestamp":1659970159833,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"b15cbba8-36a5-49d3-b6e5-872141bd506f"}]},"name":{"value":"Foo
        Bar Inc.","timestamp":1659970159833,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Foo
        Bar Inc.","timestamp":1659970159833,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"b15cbba8-36a5-49d3-b6e5-872141bd506f"}]},"hs_object_id":{"value":"9337664860","timestamp":1659970159833,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337664860","timestamp":1659970159833,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"b15cbba8-36a5-49d3-b6e5-872141bd506f"}]},"createdate":{"value":"1659970159833","timestamp":1659970159833,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970159833","timestamp":1659970159833,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"b15cbba8-36a5-49d3-b6e5-872141bd506f"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:19 GMT
recorded_with: VCR 6.0.0
