---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Grady Inc"},{"name":"domain","value":"keebler.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c1b74952-8493-4d73-a1f5-d14498a7fa23
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498624'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '141'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B1E8FEB8668E7A4D550552BA9A190F54826838737000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8962882684,"isDeleted":false,"properties":{"website":{"value":"keebler.net","timestamp":1655887660997,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"keebler.net","timestamp":1655887660997,"source":"CALCULATED","sourceVid":[],"requestId":"c1b74952-8493-4d73-a1f5-d14498a7fa23"}]},"hs_lastmodifieddate":{"value":"1655887660997","timestamp":1655887660997,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887660997","timestamp":1655887660997,"source":"CALCULATED","sourceVid":[],"requestId":"c1b74952-8493-4d73-a1f5-d14498a7fa23"}]},"domain":{"value":"keebler.net","timestamp":1655887660997,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"keebler.net","timestamp":1655887660997,"source":"API","sourceVid":[],"requestId":"c1b74952-8493-4d73-a1f5-d14498a7fa23"}]},"name":{"value":"Grady
        Inc","timestamp":1655887660997,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Grady
        Inc","timestamp":1655887660997,"source":"API","sourceVid":[],"requestId":"c1b74952-8493-4d73-a1f5-d14498a7fa23"}]},"hs_object_id":{"value":"8962882684","timestamp":1655887660997,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8962882684","timestamp":1655887660997,"source":"API","sourceVid":[],"requestId":"c1b74952-8493-4d73-a1f5-d14498a7fa23"}]},"createdate":{"value":"1655887660997","timestamp":1655887660997,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887660997","timestamp":1655887660997,"source":"API","sourceVid":[],"requestId":"c1b74952-8493-4d73-a1f5-d14498a7fa23"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:41 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/8962882684?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"},{"name":"description","value":"My
        Corporation"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9acda7[...]
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Heaney and Sons"},{"name":"domain","value":"larkin-lindgren.io"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - bf65db25-eda7-432e-8cf0-6535549bf5a8
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249902'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/9290108566
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"},{"name":"description","value":"My
        Corporation"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspo[...]
