---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Cruickshank-Klein"},{"name":"domain","value":"cronin.name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6eea2536-d9c8-4263-8dd9-a99caefd2094
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498966'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '114'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BB8D45610961E8AF6BD8035E8DF6AA0AC1B322121000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956819752,"isDeleted":false,"properties":{"website":{"value":"cronin.name","timestamp":1655818013901,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"cronin.name","timestamp":1655818013901,"source":"CALCULATED","sourceVid":[],"requestId":"6eea2536-d9c8-4263-8dd9-a99caefd2094"}]},"hs_lastmodifieddate":{"value":"1655818013901","timestamp":1655818013901,"source":"CALCULATED","sourceId":"6eea2536-d9c8-4263-8dd9-a99caefd2094","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818013901","timestamp":1655818013901,"sourceId":"6eea2536-d9c8-4263-8dd9-a99caefd2094","source":"CALCULATED","sourceVid":[],"requestId":"6eea2536-d9c8-4263-8dd9-a99caefd2094"}]},"domain":{"value":"cronin.name","timestamp":1655818013901,"source":"API","sourceId":"6eea2536-d9c8-4263-8dd9-a99caefd2094","updatedByUserId":null,"versions":[{"name":"domain","value":"cronin.name","timestamp":1655818013901,"sourceId":"6eea2536-d9c8-4263-8dd9-a99caefd2094","source":"API","sourceVid":[],"requestId":"6eea2536-d9c8-4263-8dd9-a99caefd2094"}]},"name":{"value":"Cruickshank-Klein","timestamp":1655818013901,"source":"API","sourceId":"6eea2536-d9c8-4263-8dd9-a99caefd2094","updatedByUserId":null,"versions":[{"name":"name","value":"Cruickshank-Klein","timestamp":1655818013901,"sourceId":"6eea2536-d9c8-4263-8dd9-a99caefd2094","source":"API","sourceVid":[],"requestId":"6eea2536-d9c8-4263-8dd9-a99caefd2094"}]},"hs_object_id":{"value":"8956819752","timestamp":1655818013901,"source":"API","sourceId":"6eea2536-d9c8-4263-8dd9-a99caefd2094","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956819752","timestamp":1655818013901,"sourceId":"6eea2536-d9c8-4263-8dd9-a99caefd2094","source":"API","sourceVid":[],"requestId":"6eea2536-d9c8-4263-8dd9-a99caefd2094"}]},"createdate":{"value":"1655818013901","timestamp":1655818013901,"source":"API","sourceId":"6eea2536-d9c8-4263-8dd9-a99caefd2094","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818013901","timestamp":1655818013901,"sourceId":"6eea2536-d9c8-4263-8dd9-a99caefd2094","source":"API","sourceVid":[],"requestId":"6eea2536-d9c8-4263-8dd9-a99caefd2094"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:53 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=<HAPI_KEY>&limit=25&offset=8956819752
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 426774e4-01ff-4aa7-9fd1-448b281e834a
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498965'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B7CAFFDC2E92788F98E0C8D385F261B83BA5F8333000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"has-more":false,"offset":8956850245,"companies":[{"portalId":<PORTAL_ID>,"companyId":8956819752,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8956824093,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8956824413,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8956828582,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8956828709,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8956833370,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8956833377,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8956850241,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8956850244,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}]}'
  recorded_at: Tue, 21 Jun 2022 13:26:54 GMT
recorded_with: VCR 6.1.0
