---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Russel Group"},{"name":"domain","value":"tillman.co"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 801c3016-11f9-4029-91ec-06a209100155
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498960'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '115'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B1EB8546328E6CD0926EA03F3EA36AD2156C47BBB000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956174219,"isDeleted":false,"properties":{"website":{"value":"tillman.co","timestamp":1655818015622,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"tillman.co","timestamp":1655818015622,"source":"CALCULATED","sourceVid":[],"requestId":"801c3016-11f9-4029-91ec-06a209100155"}]},"hs_lastmodifieddate":{"value":"1655818015622","timestamp":1655818015622,"source":"CALCULATED","sourceId":"801c3016-11f9-4029-91ec-06a209100155","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818015622","timestamp":1655818015622,"sourceId":"801c3016-11f9-4029-91ec-06a209100155","source":"CALCULATED","sourceVid":[],"requestId":"801c3016-11f9-4029-91ec-06a209100155"}]},"domain":{"value":"tillman.co","timestamp":1655818015622,"source":"API","sourceId":"801c3016-11f9-4029-91ec-06a209100155","updatedByUserId":null,"versions":[{"name":"domain","value":"tillman.co","timestamp":1655818015622,"sourceId":"801c3016-11f9-4029-91ec-06a209100155","source":"API","sourceVid":[],"requestId":"801c3016-11f9-4029-91ec-06a209100155"}]},"name":{"value":"Russel
        Group","timestamp":1655818015622,"source":"API","sourceId":"801c3016-11f9-4029-91ec-06a209100155","updatedByUserId":null,"versions":[{"name":"name","value":"Russel
        Group","timestamp":1655818015622,"sourceId":"801c3016-11f9-4029-91ec-06a209100155","source":"API","sourceVid":[],"requestId":"801c3016-11f9-4029-91ec-06a209100155"}]},"hs_object_id":{"value":"8956174219","timestamp":1655818015622,"source":"API","sourceId":"801c3016-11f9-4029-91ec-06a209100155","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956174219","timestamp":1655818015622,"sourceId":"801c3016-11f9-4029-91ec-06a209100155","source":"API","sourceVid":[],"requestId":"801c3016-11f9-4029-91ec-06a209100155"}]},"createdate":{"value":"1655818015622","timestamp":1655818015622,"source":"API","sourceId":"801c3016-11f9-4029-91ec-06a209100155","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818015622","timestamp":1655818015622,"sourceId":"801c3016-11f9-4029-91ec-06a209100155","source":"API","sourceVid":[],"requestId":"801c3016-11f9-4029-91ec-06a209100155"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:55 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/domains/tillman.co/companies?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"limit":25,"requestOptions":{},"offset":{"isPrimary":true,"companyId":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0d40bb7a-35b0-480f-b4c8-cc075931935d
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498959'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '114'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B8DFD19FF47A9DA068A81C55233A87C6B44C0066E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"portalId":<PORTAL_ID>,"companyId":8956174219,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}],"hasMore":false,"offset":{"companyId":8956174219,"isPrimary":true}}'
  recorded_at: Tue, 21 Jun 2022 13:26:55 GMT
recorded_with: VCR 6.1.0
