---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Wisoky, Schimmel and Kuphal"},{"name":"domain","value":"stokes.net"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 977f430c-0543-49d2-8d7c-5214088f9661
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248571'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BC58C233F41B7EBF6CAC6ADA254A75E583D61EAD2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337669391,"isDeleted":false,"properties":{"website":{"value":"stokes.net","timestamp":1659970149692,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"stokes.net","timestamp":1659970149692,"source":"CALCULATED","sourceVid":[],"requestId":"977f430c-0543-49d2-8d7c-5214088f9661"}]},"hs_lastmodifieddate":{"value":"1659970149692","timestamp":1659970149692,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970149692","timestamp":1659970149692,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"977f430c-0543-49d2-8d7c-5214088f9661"}]},"domain":{"value":"stokes.net","timestamp":1659970149692,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"stokes.net","timestamp":1659970149692,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"977f430c-0543-49d2-8d7c-5214088f9661"}]},"name":{"value":"Wisoky,
        Schimmel and Kuphal","timestamp":1659970149692,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Wisoky,
        Schimmel and Kuphal","timestamp":1659970149692,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"977f430c-0543-49d2-8d7c-5214088f9661"}]},"hs_object_id":{"value":"9337669391","timestamp":1659970149692,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337669391","timestamp":1659970149692,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"977f430c-0543-49d2-8d7c-5214088f9661"}]},"createdate":{"value":"1659970149692","timestamp":1659970149692,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970149692","timestamp":1659970149692,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"977f430c-0543-49d2-8d7c-5214088f9661"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:09 GMT
recorded_with: VCR 6.0.0
