---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/0
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"super deal"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5535299c-924f-473f-985f-d731ce09225c
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248278'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BD75C4C6D9A15AF3D75DD8B988CEB08DF6AC32D0D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"No deal found for dealId=0 portalId=<PORTAL_ID>","correlationId":"5535299c-924f-473f-985f-d731ce09225c","errors":[{"message":"This
        deal 0 does not exist."}],"category":"OBJECT_NOT_FOUND"}'
  recorded_at: Mon, 08 Aug 2022 14:51:27 GMT
recorded_with: VCR 6.0.0
