---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Scarlet"},{"property":"lastname","value":"Cronin"},{"property":"email","value":"johnathon_mcclure@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - eec3d284-55c4-4713-8411-5847904c5b6b
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498369'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '143'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BEEF8ED3A2AB74B0243A771C836A352260EE917C6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":68401,"canonical-vid":68401,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Scarlet","versions":[{"value":"Scarlet","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887761701,"selected":false}]},"email":{"value":"johnathon_mcclure@example.org","versions":[{"value":"johnathon_mcclure@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887761701,"selected":false}]},"lastname":{"value":"Cronin","versions":[{"value":"Cronin","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887761701,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":68401,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"johnathon_mcclure@example.org","timestamp":1655887761708,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"37a17dc8-dd05-43e3-ac4c-0ce668ccc687","timestamp":1655887761722,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:21 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/68401/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e9c0586c-590a-4373-8a82-eb50e85b34a0
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498368'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '142'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BE98AF8065DEA77C95802E9FCEEC26F72062822D7000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"vid to merge is not a valid contact or
        is already in the process of being merged","correlationId":"e9c0586c-590a-4373-8a82-eb50e85b34a0"}'
  recorded_at: Wed, 22 Jun 2022 08:49:22 GMT
recorded_with: VCR 6.1.0
