---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Bruen-Yost"},{"name":"domain","value":"hagenes.net"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4ccb9ecd-5646-4db3-9f80-d17414644621
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248511'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BC96C6110EBC7D141FCE77A75E1A9D10A30337DEB000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337656225,"isDeleted":false,"properties":{"website":{"value":"hagenes.net","timestamp":1659970174195,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"hagenes.net","timestamp":1659970174195,"source":"CALCULATED","sourceVid":[],"requestId":"4ccb9ecd-5646-4db3-9f80-d17414644621"}]},"hs_lastmodifieddate":{"value":"1659970174195","timestamp":1659970174195,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970174195","timestamp":1659970174195,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"4ccb9ecd-5646-4db3-9f80-d17414644621"}]},"domain":{"value":"hagenes.net","timestamp":1659970174195,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"hagenes.net","timestamp":1659970174195,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"4ccb9ecd-5646-4db3-9f80-d17414644621"}]},"name":{"value":"Bruen-Yost","timestamp":1659970174195,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Bruen-Yost","timestamp":1659970174195,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"4ccb9ecd-5646-4db3-9f80-d17414644621"}]},"hs_object_id":{"value":"9337656225","timestamp":1659970174195,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337656225","timestamp":1659970174195,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"4ccb9ecd-5646-4db3-9f80-d17414644621"}]},"createdate":{"value":"1659970174195","timestamp":1659970174195,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970174195","timestamp":1659970174195,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"4ccb9ecd-5646-4db3-9f80-d17414644621"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:34 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Elroy"},{"property":"lastname","value":"Gerhold"},{"property":"email","value":"hank.white@example.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 483019e0-234a-4ac5-ae47-faebba698fd9
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248510'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B8B73C9984D60257A583B8D26034B7FD8C64069AF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":21651,"canonical-vid":21651,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Elroy","versions":[{"value":"Elroy","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970174456,"selected":false}]},"email":{"value":"hank.white@example.com","versions":[{"value":"hank.white@example.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970174456,"selected":false}]},"lastname":{"value":"Gerhold","versions":[{"value":"Gerhold","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970174456,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":21651,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"hank.white@example.com","timestamp":1659970174467,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"3f828ed3-9799-46ff-b210-9b962ddc4c99","timestamp":1659970174520,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:34 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9337656225},"to":{"id":21651},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - afdb4cde-8811-4e0c-80c7-b734cfc57b2e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248509'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BAEEB6F618A6CAFC34AB6BA1ABA92771E7B7704EE000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":9337656225,"toObjectTypeId":"0-1","toObjectId":21651,"labels":["Primary
        Company"]}],"startedAt":"2022-08-08T14:49:35.081Z","completedAt":"2022-08-08T14:49:35.154Z"}'
  recorded_at: Mon, 08 Aug 2022 14:49:35 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/archive
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9337656225},"to":[{"id":21651}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1690376f-921f-4054-8f78-8233f78d4fd4
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248508'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BA4A636F7BACF0314386A4C02D831CA09E5DE3C98000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2022 14:49:35 GMT
recorded_with: VCR 6.0.0
