---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Altenwerth and Sons"},{"name":"domain","value":"wiegand.io"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f35bf9cc-9e6f-4cd9-b172-65acb92e2113
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498991'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '125'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B483D411FE8A712C29807CF4792355E641E902C7D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956850241,"isDeleted":false,"properties":{"website":{"value":"wiegand.io","timestamp":1655818006699,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"wiegand.io","timestamp":1655818006699,"source":"CALCULATED","sourceVid":[],"requestId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113"}]},"hs_lastmodifieddate":{"value":"1655818006699","timestamp":1655818006699,"source":"CALCULATED","sourceId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818006699","timestamp":1655818006699,"sourceId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113","source":"CALCULATED","sourceVid":[],"requestId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113"}]},"domain":{"value":"wiegand.io","timestamp":1655818006699,"source":"API","sourceId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113","updatedByUserId":null,"versions":[{"name":"domain","value":"wiegand.io","timestamp":1655818006699,"sourceId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113","source":"API","sourceVid":[],"requestId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113"}]},"name":{"value":"Altenwerth
        and Sons","timestamp":1655818006699,"source":"API","sourceId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113","updatedByUserId":null,"versions":[{"name":"name","value":"Altenwerth
        and Sons","timestamp":1655818006699,"sourceId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113","source":"API","sourceVid":[],"requestId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113"}]},"hs_object_id":{"value":"8956850241","timestamp":1655818006699,"source":"API","sourceId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956850241","timestamp":1655818006699,"sourceId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113","source":"API","sourceVid":[],"requestId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113"}]},"createdate":{"value":"1655818006699","timestamp":1655818006699,"source":"API","sourceId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818006699","timestamp":1655818006699,"sourceId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113","source":"API","sourceVid":[],"requestId":"f35bf9cc-9e6f-4cd9-b172-65acb92e2113"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:46 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/8956850241?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d3604d2c-ccf0-472a-9c63-b573df96c9a0
      X-Hubspot-Ratelimit[...]
