---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Osinski-Gerlach"},{"name":"domain","value":"botsford.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 264bf81c-fde3-45dc-8061-91a2a324970e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498703'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '136'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B3D3E38FEDE7FDAD154D2B0605562C0332980CBF5000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963362673,"isDeleted":false,"properties":{"website":{"value":"botsford.biz","timestamp":1655887638268,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"botsford.biz","timestamp":1655887638268,"source":"CALCULATED","sourceVid":[],"requestId":"264bf81c-fde3-45dc-8061-91a2a324970e"}]},"hs_lastmodifieddate":{"value":"1655887638268","timestamp":1655887638268,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887638268","timestamp":1655887638268,"source":"CALCULATED","sourceVid":[],"requestId":"264bf81c-fde3-45dc-8061-91a2a324970e"}]},"domain":{"value":"botsford.biz","timestamp":1655887638268,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"botsford.biz","timestamp":1655887638268,"source":"API","sourceVid":[],"requestId":"264bf81c-fde3-45dc-8061-91a2a324970e"}]},"name":{"value":"Osinski-Gerlach","timestamp":1655887638268,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Osinski-Gerlach","timestamp":1655887638268,"source":"API","sourceVid":[],"requestId":"264bf81c-fde3-45dc-8061-91a2a324970e"}]},"hs_object_id":{"value":"8963362673","timestamp":1655887638268,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963362673","timestamp":1655887638268,"source":"API","sourceVid":[],"requestId":"264bf81c-fde3-45dc-8061-91a2a324970e"}]},"createdate":{"value":"1655887638268","timestamp":1655887638268,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887638268","timestamp":1655887638268,"source":"API","sourceVid":[],"requestId":"264bf81c-fde3-45dc-8061-91a2a324970e"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:18 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Kami"},{"property":"lastname","value":"McLaughlin"},{"property":"email","value":"collin_gibson@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fcb7ffe1-1fbe-4bd3-b987-d238e97caea1
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498702'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '135'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B0D01BF826D9D23487FB6C8BF913B1575CECDEC69000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":66301,"canonical-vid":66301,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Kami","versions":[{"value":"Kami","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887638482,"selected":false}]},"email":{"value":"collin_gibson@example.org","versions":[{"value":"collin_gibson@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887638482,"selected":false}]},"lastname":{"value":"McLaughlin","versions":[{"value":"McLaughlin","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887638482,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":66301,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"collin_gibson@example.org","timestamp":1655887638489,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"bfc6adcc-43d5-4273-b48a-000e76bc5826","timestamp":1655887638547,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:18 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":8963362673},"to":{"id":66301},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0a385716-b937-42b0-8f20-50381407949c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498701'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '134'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B091F2F298FA80DCE5EAC33915E9B663C3E977DAC000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":8963362673,"toObjectTypeId":"0-1","toObjectId":66301,"labels":["Primary
        Company"]}],"startedAt":"2022-06-22T08:47:18.844Z","completedAt":"2022-06-22T08:47:18.904Z"}'
  recorded_at: Wed, 22 Jun 2022 08:47:18 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/archive?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":8963362673},"to":[{"id":66301}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7689ffd8-8b84-43fd-9e35-3d562894caa1
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498700'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '133'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B03FEE316006750E3BFDFAA37797D1586D03E7453000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:47:19 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8963362673/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 11aa369a-80f6-4d70-b385-1e625c760d5a
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498699'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '132'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BF514F32ED43ACDED0CDBB93C0E27E966A690E9D0000000000000000000
    body:
      encoding: UTF-8
      string: '{"vids":[],"vidOffset":0,"hasMore":false}'
  recorded_at: Wed, 22 Jun 2022 08:47:19 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Sporer and Sons"},{"name":"domain","value":"ortiz-langworth.name"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0504f56c-b8c5-43b8-8c44-727fc378298e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249986'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Nathanael"},{"property":"lastname","value":"Abernathy"},{"property":"email","value":"johnathon.weissnat@example.net"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
    [...]
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9290128287},"to":{"id":157451},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cab52598-8063-414c-b38a-5b2ef1ddd16b
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249984'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BB66D83398495E31D1880CACE47BF5B8330C0A491000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":9290128287,"toObjectTypeId":"0-1","toObjectId":157451,"labels":["Primary
        Company"]}],"startedAt":"2022-08-02T14:50:24.456Z","completedAt":"2022-08-02T14:50:24.533Z"}'
  recorded_at: Tue, 02 Aug 2022 14:50:24 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/archive
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9290128287},"to":[{"id":157451}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cb5e547d-1907-4eaa-91a6-94bf981d7319
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249983'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '83'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B2DB251A7B6F7808E7D5C25EE239C030CBF36774E000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Aug 2022 14:50:25 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/9290128287/vids?count=25&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2c2617f2-4b46-4e04-adf3-1140537a0e0c
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249982'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BA4A7A0FB0CAB1CA76F8E4EA4541D04861DCF2699000000000000000000
    body:
      encoding: UTF-8
      string: '{"vids":[],"vidOffset":0,"hasMore":false}'
  recorded_at: Tue, 02 Aug 2022 14:50:25 GMT
recorded_with: VCR 6.0.0
