---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foo Bar Inc."}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1f16b538-6799-4301-b550-567ec5d4ed84
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498616'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '133'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B3213B634839F4A1DFAF83FEA8BFA203FBCFF6990000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963357363,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655887662728","timestamp":1655887662728,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887662728","timestamp":1655887662728,"source":"CALCULATED","sourceVid":[],"requestId":"1f16b538-6799-4301-b550-567ec5d4ed84"}]},"name":{"value":"Foo
        Bar Inc.","timestamp":1655887662728,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Foo
        Bar Inc.","timestamp":1655887662728,"source":"API","sourceVid":[],"requestId":"1f16b538-6799-4301-b550-567ec5d4ed84"}]},"hs_object_id":{"value":"8963357363","timestamp":1655887662728,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963357363","timestamp":1655887662728,"source":"API","sourceVid":[],"requestId":"1f16b538-6799-4301-b550-567ec5d4ed84"}]},"createdate":{"value":"1655887662728","timestamp":1655887662728,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887662728","timestamp":1655887662728,"source":"API","sourceVid":[],"requestId":"1f16b538-6799-4301-b550-567ec5d4ed84"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:42 GMT
recorded_with: VCR 6.1.0
