---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Reichert, Zemlak and Gibson"},{"name":"domain","value":"bergnaum.name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 948eff20-2433-4bbe-988f-83d29ef5f7ca
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498630'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '112'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BB5AE494E563EED9464D5DABC104F535782DA2C8E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963342202,"isDeleted":false,"properties":{"website":{"value":"bergnaum.name","timestamp":1655887659678,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"bergnaum.name","timestamp":1655887659678,"source":"CALCULATED","sourceVid":[],"requestId":"948eff20-2433-4bbe-988f-83d29ef5f7ca"}]},"hs_lastmodifieddate":{"value":"1655887659678","timestamp":1655887659678,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887659678","timestamp":1655887659678,"source":"CALCULATED","sourceVid":[],"requestId":"948eff20-2433-4bbe-988f-83d29ef5f7ca"}]},"domain":{"value":"bergnaum.name","timestamp":1655887659678,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"bergnaum.name","timestamp":1655887659678,"source":"API","sourceVid":[],"requestId":"948eff20-2433-4bbe-988f-83d29ef5f7ca"}]},"name":{"value":"Reichert,
        Zemlak and Gibson","timestamp":1655887659678,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Reichert,
        Zemlak and Gibson","timestamp":1655887659678,"source":"API","sourceVid":[],"requestId":"948eff20-2433-4bbe-988f-83d29ef5f7ca"}]},"hs_object_id":{"value":"8963342202","timestamp":1655887659678,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963342202","timestamp":1655887659678,"source":"API","sourceVid":[],"requestId":"948eff20-2433-4bbe-988f-83d29ef5f7ca"}]},"createdate":{"value":"1655887659678","timestamp":1655887659678,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887659678","timestamp":1655887659678,"source":"API","sourceVid":[],"requestId":"948eff20-2433-4bbe-988f-83d29ef5f7ca"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:39 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/8963342202?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3f047b9e-4e16-429e-8c56-33d564c9079d
      X-Hubspot-Ratelimit[...]
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"D''Amore-Robel"},{"name":"domain","value":"casper.biz"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5f7405ad-dc88-4109-8171-2cf6ace31206
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249908'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/9290108564
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c6c5dc4d-25d9-4421-aa8d-e0d4af[...]
