---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foo Bar Inc."}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7fa8e8ba-1417-48d3-958f-4ada098d274b
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498979'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '115'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B5797885ABFECB7185ADB263B9EFDC1E68A7D2307000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956457843,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655818010385","timestamp":1655818010385,"source":"CALCULATED","sourceId":"7fa8e8ba-1417-48d3-958f-4ada098d274b","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818010385","timestamp":1655818010385,"sourceId":"7fa8e8ba-1417-48d3-958f-4ada098d274b","source":"CALCULATED","sourceVid":[],"requestId":"7fa8e8ba-1417-48d3-958f-4ada098d274b"}]},"name":{"value":"Foo
        Bar Inc.","timestamp":1655818010385,"source":"API","sourceId":"7fa8e8ba-1417-48d3-958f-4ada098d274b","updatedByUserId":null,"versions":[{"name":"name","value":"Foo
        Bar Inc.","timestamp":1655818010385,"sourceId":"7fa8e8ba-1417-48d3-958f-4ada098d274b","source":"API","sourceVid":[],"requestId":"7fa8e8ba-1417-48d3-958f-4ada098d274b"}]},"hs_object_id":{"value":"8956457843","timestamp":1655818010385,"source":"API","sourceId":"7fa8e8ba-1417-48d3-958f-4ada098d274b","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956457843","timestamp":1655818010385,"sourceId":"7fa8e8ba-1417-48d3-958f-4ada098d274b","source":"API","sourceVid":[],"requestId":"7fa8e8ba-1417-48d3-958f-4ada098d274b"}]},"createdate":{"value":"1655818010385","timestamp":1655818010385,"source":"API","sourceId":"7fa8e8ba-1417-48d3-958f-4ada098d274b","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818010385","timestamp":1655818010385,"sourceId":"7fa8e8ba-1417-48d3-958f-4ada098d274b","source":"API","sourceVid":[],"requestId":"7fa8e8ba-1417-48d3-958f-4ada098d274b"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:50 GMT
recorded_with: VCR 6.1.0
