---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/1/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3c36f443-b6ff-40a2-970d-2bc8137df825
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498373'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BF693D441ADABE47007C4C0C8FED82D30738AD4F7000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"canonical vid is not a valid contact or
        is already in the process of being merged","correlationId":"3c36f443-b6ff-40a2-970d-2bc8137df825"}'
  recorded_at: Wed, 22 Jun 2022 08:49:20 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/1/
    body:
      encoding: UTF-8
      string: '{"vidToMerge":2}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4c9a4908-c734-49a7-86b0-619a2ff3faa7
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249656'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B97C394CCEB71B1D172F0486E5150F07C70DE04C4000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"vid to merge is not a valid contact or
        is already in the process of being merged","correlationId":"4c9a4908-c734-49a7-86b0-619a2ff3faa7"}'
  recorded_at: Tue, 02 Aug 2022 14:53:26 GMT
recorded_with: VCR 6.0.0
