---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Cummerata-Schroeder"},{"name":"domain","value":"rath-beer.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fd08d9fc-9f99-46b3-a5c7-00ddef91dee8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498945'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B4FDB40E7C3C5CD778C2F047BFA1C5B2905B5BB19000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956816274,"isDeleted":false,"properties":{"website":{"value":"rath-beer.biz","timestamp":1655818020268,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"rath-beer.biz","timestamp":1655818020268,"source":"CALCULATED","sourceVid":[],"requestId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8"}]},"hs_lastmodifieddate":{"value":"1655818020268","timestamp":1655818020268,"source":"CALCULATED","sourceId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818020268","timestamp":1655818020268,"sourceId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8","source":"CALCULATED","sourceVid":[],"requestId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8"}]},"domain":{"value":"rath-beer.biz","timestamp":1655818020268,"source":"API","sourceId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8","updatedByUserId":null,"versions":[{"name":"domain","value":"rath-beer.biz","timestamp":1655818020268,"sourceId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8","source":"API","sourceVid":[],"requestId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8"}]},"name":{"value":"Cummerata-Schroeder","timestamp":1655818020268,"source":"API","sourceId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8","updatedByUserId":null,"versions":[{"name":"name","value":"Cummerata-Schroeder","timestamp":1655818020268,"sourceId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8","source":"API","sourceVid":[],"requestId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8"}]},"hs_object_id":{"value":"8956816274","timestamp":1655818020268,"source":"API","sourceId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956816274","timestamp":1655818020268,"sourceId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8","source":"API","sourceVid":[],"requestId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8"}]},"createdate":{"value":"1655818020268","timestamp":1655818020268,"source":"API","sourceId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818020268","timestamp":1655818020268,"sourceId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8","source":"API","sourceVid":[],"requestId":"fd08d9fc-9f99-46b3-a5c7-00ddef91dee8"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:27:00 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Jorge"},{"property":"lastname","value":"Wolf"},{"property":"email","value":"rosalind_okon@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c8eb74e3-77d6-4d18-a87d-62cf2fb8b26e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498944'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BF1FD3F5C0944D1F4324144DAF6BC3371FE0A1227000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":48901,"canonical-vid":48901,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Jorge","versions":[{"value":"Jorge","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818020530,"selected":false}]},"email":{"value":"rosalind_okon@example.com","versions":[{"value":"rosalind_okon@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818020530,"selected":false}]},"lastname":{"value":"Wolf","versions":[{"value":"Wolf","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818020530,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":48901,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"rosalind_okon@example.com","timestamp":1655818020538,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"7fc17ac3-5f1a-4426-bec4-2828d35c164e","timestamp":1655818020554,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:27:00 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":8956816274,"toObjectId":48901,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - a7166008-eaf0-4538-9993-0632d9b03d97
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498943'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B9DD2BC81C6C3A5324897BEEB1B494CA46E253A51000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:27:01 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/delete-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":8956816274,"toObjectId":48901,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 8d944e3e-b8cf-4a13-b538-00d728ad45fe
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498942'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BFBE9E1F19D73F3EF3BD797F4BCA6880F67338CD2000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:27:01 GMT
recorded_with: VCR 6.1.0
