---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Leigh"},{"property":"lastname","value":"Kovacek"},{"property":"email","value":"franklyn.bayer@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 88eed980-28d0-495b-946c-8a0cbb22ffb3
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498774'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B76B31D55F0F22A3C98B83AC6141CD0B9E3EE2F14000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50401,"canonical-vid":50401,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Leigh","versions":[{"value":"Leigh","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818099848,"selected":false}]},"email":{"value":"franklyn.bayer@example.org","versions":[{"value":"franklyn.bayer@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818099848,"selected":false}]},"lastname":{"value":"Kovacek","versions":[{"value":"Kovacek","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818099848,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50401,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"franklyn.bayer@example.org","timestamp":1655818099853,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"4b5a6054-2168-4032-a6c6-ac1419dc1be4","timestamp":1655818099870,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:19 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/50401/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - cb0abdfd-7ad2-4e50-9dbc-31439fc9f787
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498773'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B27439CE5DB0C3C60A3204C1F1E4C290D3B850945000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:28:20 GMT
recorded_with: VCR 6.1.0
