---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"O''Connell-Kiehn"},{"name":"domain","value":"abshire.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498999'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '133'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B9269C0FB9E5F554AC49989580204B083D0620F77000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956174207,"isDeleted":false,"properties":{"website":{"value":"abshire.org","timestamp":1655818004688,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"abshire.org","timestamp":1655818004688,"source":"CALCULATED","sourceVid":[],"requestId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78"}]},"hs_lastmodifieddate":{"value":"1655818004688","timestamp":1655818004688,"source":"CALCULATED","sourceId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818004688","timestamp":1655818004688,"sourceId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78","source":"CALCULATED","sourceVid":[],"requestId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78"}]},"domain":{"value":"abshire.org","timestamp":1655818004688,"source":"API","sourceId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78","updatedByUserId":null,"versions":[{"name":"domain","value":"abshire.org","timestamp":1655818004688,"sourceId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78","source":"API","sourceVid":[],"requestId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78"}]},"name":{"value":"O''Connell-Kiehn","timestamp":1655818004688,"source":"API","sourceId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78","updatedByUserId":null,"versions":[{"name":"name","value":"O''Connell-Kiehn","timestamp":1655818004688,"sourceId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78","source":"API","sourceVid":[],"requestId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78"}]},"hs_object_id":{"value":"8956174207","timestamp":1655818004688,"source":"API","sourceId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956174207","timestamp":1655818004688,"sourceId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78","source":"API","sourceVid":[],"requestId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78"}]},"createdate":{"value":"1655818004688","timestamp":1655818004688,"source":"API","sourceId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818004688","timestamp":1655818004688,"sourceId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78","source":"API","sourceVid":[],"requestId":"490f1253-d2ac-47f8-ba1e-4fbbf7ce1d78"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:44 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/8956174207?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - dcb8af27-3921-4c9f-9386-9e9f10bbfb2a
      X-Hubspot-Ratelimit[...]
