---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Braun-Reinger"},{"name":"domain","value":"brown.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d1a0d379-8565-4ea3-86eb-d244fca4d619
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248572'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B8415643F411FBB6B7E0921CED4C9C474AD874C2F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337717121,"isDeleted":false,"properties":{"website":{"value":"brown.com","timestamp":1659970149368,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"brown.com","timestamp":1659970149368,"source":"CALCULATED","sourceVid":[],"requestId":"d1a0d379-8565-4ea3-86eb-d244fca4d619"}]},"hs_lastmodifieddate":{"value":"1659970149368","timestamp":1659970149368,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970149368","timestamp":1659970149368,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"d1a0d379-8565-4ea3-86eb-d244fca4d619"}]},"domain":{"value":"brown.com","timestamp":1659970149368,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"brown.com","timestamp":1659970149368,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d1a0d379-8565-4ea3-86eb-d244fca4d619"}]},"name":{"value":"Braun-Reinger","timestamp":1659970149368,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Braun-Reinger","timestamp":1659970149368,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d1a0d379-8565-4ea3-86eb-d244fca4d619"}]},"hs_object_id":{"value":"9337717121","timestamp":1659970149368,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337717121","timestamp":1659970149368,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d1a0d379-8565-4ea3-86eb-d244fca4d619"}]},"createdate":{"value":"1659970149368","timestamp":1659970149368,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970149368","timestamp":1659970149368,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"d1a0d379-8565-4ea3-86eb-d244fca4d619"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:09 GMT
recorded_with: VCR 6.0.0
