---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Toya"},{"property":"lastname","value":"Rempel"},{"property":"email","value":"landon@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e6b889f7-331e-4934-9b05-a2c96f0d47ea
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498953'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '116'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B1881E9D56A2C4C6764F6D4E8B7C65FBC1444CC00000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":48851,"canonical-vid":48851,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Toya","versions":[{"value":"Toya","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818017861,"selected":false}]},"email":{"value":"landon@example.org","versions":[{"value":"landon@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818017861,"selected":false}]},"lastname":{"value":"Rempel","versions":[{"value":"Rempel","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818017861,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":48851,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"landon@example.org","timestamp":1655818017868,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"0aa85c30-f97b-465d-b237-6aecbfb26888","timestamp":1655818017945,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:58 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Smith-Collins"},{"name":"domain","value":"jakubowski-raynor.info"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2ca5dc42-3c1a-40d1-aaec-ea0eed162567
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498952'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B9307CE45747C2B4A0845DDF25DA2E6FFC180B292000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956420222,"isDeleted":false,"properties":{"website":{"value":"jakubowski-raynor.info","timestamp":1655818018334,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"jakubowski-raynor.info","timestamp":1655818018334,"source":"CALCULATED","sourceVid":[],"requestId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567"}]},"hs_lastmodifieddate":{"value":"1655818018334","timestamp":1655818018334,"source":"CALCULATED","sourceId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818018334","timestamp":1655818018334,"sourceId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567","source":"CALCULATED","sourceVid":[],"requestId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567"}]},"domain":{"value":"jakubowski-raynor.info","timestamp":1655818018334,"source":"API","sourceId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567","updatedByUserId":null,"versions":[{"name":"domain","value":"jakubowski-raynor.info","timestamp":1655818018334,"sourceId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567","source":"API","sourceVid":[],"requestId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567"}]},"name":{"value":"Smith-Collins","timestamp":1655818018334,"source":"API","sourceId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567","updatedByUserId":null,"versions":[{"name":"name","value":"Smith-Collins","timestamp":1655818018334,"sourceId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567","source":"API","sourceVid":[],"requestId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567"}]},"hs_object_id":{"value":"8956420222","timestamp":1655818018334,"source":"API","sourceId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956420222","timestamp":1655818018334,"sourceId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567","source":"API","sourceVid":[],"requestId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567"}]},"createdate":{"value":"1655818018334","timestamp":1655818018334,"source":"API","sourceId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818018334","timestamp":1655818018334,"sourceId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567","source":"API","sourceVid":[],"requestId":"2ca5dc42-3c1a-40d1-aaec-ea0eed162567"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:58 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8956420222/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1ccad374-3684-4395-9843-3820d6923dd9
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498951'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BB41E6FBD287998E52B317F25B7CF548AFDCC08FF000000000000000000
    body:
      encoding: UTF-8
      string: '{"vids":[],"vidOffset":0,"hasMore":false}'
  recorded_at: Tue, 21 Jun 2022 13:26:58 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":8956420222,"toObjectId":48851,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 5bfd5355-d478-445d-b0f0-d2c80e8ef312
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498950'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B78ED2C7DBB8014297BA7EA5541BF3E8082170E10000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:26:58 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8956420222/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 564bfec8-4fbe-48ac-8648-6ceedccbfd78
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498949'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B241D333EB7191E93C7994B659E72CBC861FB11FF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vids":[48851],"vidOffset":48851,"hasMore":false}'
  recorded_at: Tue, 21 Jun 2022 13:26:59 GMT
recorded_with: VCR 6.1.0
