---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Loni"},{"property":"lastname","value":"Carter"},{"property":"email","value":"heide@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3770e0ac-760f-4962-a870-b8b3afe6365c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499049'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BA47FDB96981E3C5A65CB2668DC0229ADA3C04A66000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":48751,"canonical-vid":48751,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Loni","versions":[{"value":"Loni","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983928,"selected":false}]},"email":{"value":"heide@example.com","versions":[{"value":"heide@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983928,"selected":false}]},"lastname":{"value":"Carter","versions":[{"value":"Carter","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983928,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":48751,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"heide@example.com","timestamp":1655817983935,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"d89bc87d-c074-4682-9bf3-f5251a3d5f5d","timestamp":1655817984034,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:24 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[],"associatedVids":[48751,48801]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b017d21b-78d2-48a9-be68-1172bb84b64b
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499047'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '137'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B22E6129AA06184AEDF4D677336AA4DF90C82FA1C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9260459957,"isDeleted":false,"associations":{"associatedVids":[48751,48801],"associatedCompanyIds":[],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655817984909,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655817984909,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655817984909,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655817984909,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1655817984909,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655817984909,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655817984909,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655817984909,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655817984909","timestamp":1655817984909,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655817984909","timestamp":1655817984909,"source":"CALCULATED","sourceVid":[],"requestId":"b017d21b-78d2-48a9-be68-1172bb84b64b"}]},"hs_createdate":{"value":"1655817984909","timestamp":1655817984909,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655817984909","timestamp":1655817984909,"source":"API","sourceVid":[],"requestId":"b017d21b-78d2-48a9-be68-1172bb84b64b"}]},"hs_object_id":{"value":"9260459957","timestamp":1655817984909,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9260459957","timestamp":1655817984909,"source":"API","sourceVid":[],"requestId":"b017d21b-78d2-48a9-be68-1172bb84b64b"}]},"createdate":{"value":"1655817984909","timestamp":1655817984909,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655817984909","timestamp":1655817984909,"source":"API","sourceVid":[],"requestId":"b017d21b-78d2-48a9-be68-1172bb84b64b"}]},"hs_projected_amount":{"value":"0","timestamp":1655817984909,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655817984909,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1655817984909,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655817984909,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655817984909,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655817984909,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655817984909,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655817984909,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:24 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm-associations/v1/associations/9260459957/HUBSPOT_DEFINED/3?hapikey=<HAPI_KEY>&limit=25&offset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a13684a9-03a5-439b-a2ec-e9e2d0195472
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499046'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '136'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B706487967985C9EAB61227D335C13E72AA0E9547000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[48751,48801],"hasMore":false,"offset":48801}'
  recorded_at: Tue, 21 Jun 2022 13:26:25 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/48751/profile?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ef209eff-b705-4259-9271-b39df7d19e03
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499045'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '135'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B932A6096A2C65965A6D1B1789B72D8FD6FBF22C2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":48751,"canonical-vid":48751,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_is_unworked":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":"CalculatedPropertyComputer","source-label":null,"updated-by-user-id":null,"timestamp":1655817983935,"selected":false}]},"firstname":{"value":"Loni","versions":[{"value":"Loni","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983928,"selected":false}]},"lastmodifieddate":{"value":"1655817984483","versions":[{"value":"1655817984483","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817984483,"selected":false},{"value":"1655817983935","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983935,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817984482,"selected":false}]},"hs_pipeline":{"value":"contacts-lifecycle-pipeline","versions":[{"value":"contacts-lifecycle-pipeline","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983935,"selected":false}]},"createdate":{"value":"1655817983935","versions":[{"value":"1655817983935","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983935,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1655817983935","versions":[{"value":"1655817983935","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983935,"selected":false}]},"lastname":{"value":"Carter","versions":[{"value":"Carter","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983928,"selected":false}]},"hs_all_contact_vids":{"value":"48751","versions":[{"value":"48751","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983935,"selected":false}]},"hs_marketable_until_renewal":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983935,"selected":false}]},"hs_marketable_status":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983935,"selected":false}]},"hs_is_contact":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983935,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817984482,"selected":false}]},"hs_object_id":{"value":"48751","versions":[{"value":"48751","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983935,"selected":false}]},"hs_email_domain":{"value":"example.com","versions":[{"value":"example.com","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983935,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983935,"selected":false}]},"email":{"value":"heide@example.com","versions":[{"value":"heide@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817983935,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":48751,"saved-at-timestamp":1655817984039,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"heide@example.com","timestamp":1655817983935,"is-primary":true},{"type":"LEAD_GUID","value":"d89bc87d-c074-4682-9bf3-f5251a3d5f5d","timestamp":1655817984034}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:25 GMT
[...]
