---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Tillman-Leuschke"},{"name":"domain","value":"kuhic.name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - db0cdbd6-2033-43b5-8c5a-4602f42a6e34
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499002'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B66359A46ABE038A3EB5182CFE2E0B01543C6EE5D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956816267,"isDeleted":false,"properties":{"website":{"value":"kuhic.name","timestamp":1655818003932,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"kuhic.name","timestamp":1655818003932,"source":"CALCULATED","sourceVid":[],"requestId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34"}]},"hs_lastmodifieddate":{"value":"1655818003932","timestamp":1655818003932,"source":"CALCULATED","sourceId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818003932","timestamp":1655818003932,"sourceId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34","source":"CALCULATED","sourceVid":[],"requestId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34"}]},"domain":{"value":"kuhic.name","timestamp":1655818003932,"source":"API","sourceId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34","updatedByUserId":null,"versions":[{"name":"domain","value":"kuhic.name","timestamp":1655818003932,"sourceId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34","source":"API","sourceVid":[],"requestId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34"}]},"name":{"value":"Tillman-Leuschke","timestamp":1655818003932,"source":"API","sourceId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34","updatedByUserId":null,"versions":[{"name":"name","value":"Tillman-Leuschke","timestamp":1655818003932,"sourceId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34","source":"API","sourceVid":[],"requestId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34"}]},"hs_object_id":{"value":"8956816267","timestamp":1655818003932,"source":"API","sourceId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956816267","timestamp":1655818003932,"sourceId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34","source":"API","sourceVid":[],"requestId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34"}]},"createdate":{"value":"1655818003932","timestamp":1655818003932,"source":"API","sourceId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818003932","timestamp":1655818003932,"sourceId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34","source":"API","sourceVid":[],"requestId":"db0cdbd6-2033-43b5-8c5a-4602f42a6e34"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:43 GMT
recorded_with: VCR 6.1.0
