---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Breanna"},{"property":"lastname","value":"Walsh"},{"property":"email","value":"dean_sauer@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d0d3687e-acda-4758-8593-f03efad95005
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498412'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B7D978E6E5C2C1DCCA557D3E1595F9E4514BEACC8000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67751,"canonical-vid":67751,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Breanna","versions":[{"value":"Breanna","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887748151,"selected":false}]},"email":{"value":"dean_sauer@example.org","versions":[{"value":"dean_sauer@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887748151,"selected":false}]},"lastname":{"value":"Walsh","versions":[{"value":"Walsh","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887748151,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67751,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"dean_sauer@example.org","timestamp":1655887748159,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"f954be11-3159-4038-b7cd-d0ebbbf84e9d","timestamp":1655887748172,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:08 GMT
recorded_with: VCR 6.1.0
