---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Dooley, McClure and Wuckert"},{"name":"domain","value":"gleichner.co"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8a75312c-484e-47c7-b0f1-bb790ed67359
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498997'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '131'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B5D36E5BF6025F9952D4DC32012BC16EE802F63AA000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956447863,"isDeleted":false,"properties":{"website":{"value":"gleichner.co","timestamp":1655818005235,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"gleichner.co","timestamp":1655818005235,"source":"CALCULATED","sourceVid":[],"requestId":"8a75312c-484e-47c7-b0f1-bb790ed67359"}]},"hs_lastmodifieddate":{"value":"1655818005235","timestamp":1655818005235,"source":"CALCULATED","sourceId":"8a75312c-484e-47c7-b0f1-bb790ed67359","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818005235","timestamp":1655818005235,"sourceId":"8a75312c-484e-47c7-b0f1-bb790ed67359","source":"CALCULATED","sourceVid":[],"requestId":"8a75312c-484e-47c7-b0f1-bb790ed67359"}]},"domain":{"value":"gleichner.co","timestamp":1655818005235,"source":"API","sourceId":"8a75312c-484e-47c7-b0f1-bb790ed67359","updatedByUserId":null,"versions":[{"name":"domain","value":"gleichner.co","timestamp":1655818005235,"sourceId":"8a75312c-484e-47c7-b0f1-bb790ed67359","source":"API","sourceVid":[],"requestId":"8a75312c-484e-47c7-b0f1-bb790ed67359"}]},"name":{"value":"Dooley,
        McClure and Wuckert","timestamp":1655818005235,"source":"API","sourceId":"8a75312c-484e-47c7-b0f1-bb790ed67359","updatedByUserId":null,"versions":[{"name":"name","value":"Dooley,
        McClure and Wuckert","timestamp":1655818005235,"sourceId":"8a75312c-484e-47c7-b0f1-bb790ed67359","source":"API","sourceVid":[],"requestId":"8a75312c-484e-47c7-b0f1-bb790ed67359"}]},"hs_object_id":{"value":"8956447863","timestamp":1655818005235,"source":"API","sourceId":"8a75312c-484e-47c7-b0f1-bb790ed67359","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956447863","timestamp":1655818005235,"sourceId":"8a75312c-484e-47c7-b0f1-bb790ed67359","source":"API","sourceVid":[],"requestId":"8a75312c-484e-47c7-b0f1-bb790ed67359"}]},"createdate":{"value":"1655818005235","timestamp":1655818005235,"source":"API","sourceId":"8a75312c-484e-47c7-b0f1-bb790ed67359","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818005235","timestamp":1655818005235,"sourceId":"8a75312c-484e-47c7-b0f1-bb790ed67359","source":"API","sourceVid":[],"requestId":"8a75312c-484e-47c7-b0f1-bb790ed67359"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:45 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/8956447863?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 07d81a8c-edd3-4228-8f26-a8d1d0a32579
      X-Hubspot-Ratelimit[...]
