---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/0
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"super deal"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - abeeec06-463c-4bcc-a0c9-6c2d6211904c
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248272'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B63A15BEF93AF587642FBF502786EB1CDF36F58C9000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"No deal found for dealId=0 portalId=<PORTAL_ID>","correlationId":"abeeec06-463c-4bcc-a0c9-6c2d6211904c","errors":[{"message":"This
        deal 0 does not exist."}],"category":"OBJECT_NOT_FOUND"}'
  recorded_at: Mon, 08 Aug 2022 14:51:29 GMT
recorded_with: VCR 6.0.0
