---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Simonis Inc"},{"name":"domain","value":"medhurst.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - bd2852b8-6d9f-41e1-98de-f44bc94a6d92
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498582'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '108'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '10'
      X-Trace:
      - 2B6E66B9E119E9509C218B49B710A35DE2506BB675000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963342210,"isDeleted":false,"properties":{"website":{"value":"medhurst.net","timestamp":1655887670615,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"medhurst.net","timestamp":1655887670615,"source":"CALCULATED","sourceVid":[],"requestId":"bd2852b8-6d9f-41e1-98de-f44bc94a6d92"}]},"hs_lastmodifieddate":{"value":"1655887670615","timestamp":1655887670615,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887670615","timestamp":1655887670615,"source":"CALCULATED","sourceVid":[],"requestId":"bd2852b8-6d9f-41e1-98de-f44bc94a6d92"}]},"domain":{"value":"medhurst.net","timestamp":1655887670615,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"medhurst.net","timestamp":1655887670615,"source":"API","sourceVid":[],"requestId":"bd2852b8-6d9f-41e1-98de-f44bc94a6d92"}]},"name":{"value":"Simonis
        Inc","timestamp":1655887670615,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Simonis
        Inc","timestamp":1655887670615,"source":"API","sourceVid":[],"requestId":"bd2852b8-6d9f-41e1-98de-f44bc94a6d92"}]},"hs_object_id":{"value":"8963342210","timestamp":1655887670615,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963342210","timestamp":1655887670615,"source":"API","sourceVid":[],"requestId":"bd2852b8-6d9f-41e1-98de-f44bc94a6d92"}]},"createdate":{"value":"1655887670615","timestamp":1655887670615,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887670615","timestamp":1655887670615,"source":"API","sourceVid":[],"requestId":"bd2852b8-6d9f-41e1-98de-f44bc94a6d92"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:50 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Deangelo"},{"property":"lastname","value":"Schroeder"},{"property":"email","value":"nannie_morar@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3d33a1d4-7264-4956-82bb-79e3554ac249
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498581'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '107'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '10'
      X-Trace:
      - 2BEB219545F9B1C603E5174EB8DFE949AA0D995111000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":66601,"canonical-vid":66601,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Deangelo","versions":[{"value":"Deangelo","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887670826,"selected":false}]},"email":{"value":"nannie_morar@example.net","versions":[{"value":"nannie_morar@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887670826,"selected":false}]},"lastname":{"value":"Schroeder","versions":[{"value":"Schroeder","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887670826,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":66601,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"nannie_morar@example.net","timestamp":1655887670832,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"81cde39b-4b08-4ea0-8f52-7cbc3b4c66a7","timestamp":1655887670887,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:51 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":8963342210},"to":{"id":66601},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6751f13b-1a5d-437e-b9fa-d02d64a73d6f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498580'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '110'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BC0A377F7190021C3701F154A22AF2E48E9E247C6000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":8963342210,"toObjectTypeId":"0-1","toObjectId":66601,"labels":["Primary
        Company"]}],"startedAt":"2022-06-22T08:47:51.194Z","completedAt":"2022-06-22T08:47:51.258Z"}'
  recorded_at: Wed, 22 Jun 2022 08:47:51 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/archive?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":8963342210},"to":[{"id":66601}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d6dcc4c8-e6eb-4b24-9696-11832679d573
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498579'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '109'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '10'
      X-Trace:
      - 2B0B482A67CD1EBDC04F15E1EE40F6D7670820F037000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:47:51 GMT
recorded_with: VCR 6.1.0
