---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Bradtke Group"},{"name":"domain","value":"funk-feest.biz"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - dce0239a-573a-4b37-b3fb-b8ac4d619dc1
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498978'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '114'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B0F354E1FAC748740B36CCB20B80071D630488221000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956816271,"isDeleted":false,"properties":{"website":{"value":"funk-feest.biz","timestamp":1655818010642,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"funk-feest.biz","timestamp":1655818010642,"source":"CALCULATED","sourceVid":[],"requestId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1"}]},"hs_lastmodifieddate":{"value":"1655818010642","timestamp":1655818010642,"source":"CALCULATED","sourceId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818010642","timestamp":1655818010642,"sourceId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1","source":"CALCULATED","sourceVid":[],"requestId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1"}]},"domain":{"value":"funk-feest.biz","timestamp":1655818010642,"source":"API","sourceId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1","updatedByUserId":null,"versions":[{"name":"domain","value":"funk-feest.biz","timestamp":1655818010642,"sourceId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1","source":"API","sourceVid":[],"requestId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1"}]},"name":{"value":"Bradtke
        Group","timestamp":1655818010642,"source":"API","sourceId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1","updatedByUserId":null,"versions":[{"name":"name","value":"Bradtke
        Group","timestamp":1655818010642,"sourceId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1","source":"API","sourceVid":[],"requestId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1"}]},"hs_object_id":{"value":"8956816271","timestamp":1655818010642,"source":"API","sourceId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956816271","timestamp":1655818010642,"sourceId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1","source":"API","sourceVid":[],"requestId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1"}]},"createdate":{"value":"1655818010642","timestamp":1655818010642,"source":"API","sourceId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818010642","timestamp":1655818010642,"sourceId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1","source":"API","sourceVid":[],"requestId":"dce0239a-573a-4b37-b3fb-b8ac4d619dc1"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:50 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8956816271?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ba604644-28eb-4edf-aa7c-1815c1cc9134
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498977'
      [...]
