---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"billie@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fbad8b04-94d6-44c6-9d3e-bc5d76b2de56
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498754'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '132'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BACE10233873F521DE37F022122B71CEB4FE95A4A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50751,"canonical-vid":50751,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"billie@example.com","versions":[{"value":"billie@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818106926,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50751,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"billie@example.com","timestamp":1655818106933,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"42f612d6-b89b-43ae-b9e2-94413c0635ea","timestamp":1655818106948,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:27 GMT
recorded_with: VCR 6.1.0
