---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Little Group"},{"name":"domain","value":"stoltenberg.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498976'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '116'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BEA0E9480C6F844D5A7DA4ED9ABDB03A9CB2B3394000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956174214,"isDeleted":false,"properties":{"website":{"value":"stoltenberg.net","timestamp":1655818011282,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"stoltenberg.net","timestamp":1655818011282,"source":"CALCULATED","sourceVid":[],"requestId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf"}]},"hs_lastmodifieddate":{"value":"1655818011282","timestamp":1655818011282,"source":"CALCULATED","sourceId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818011282","timestamp":1655818011282,"sourceId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf","source":"CALCULATED","sourceVid":[],"requestId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf"}]},"domain":{"value":"stoltenberg.net","timestamp":1655818011282,"source":"API","sourceId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf","updatedByUserId":null,"versions":[{"name":"domain","value":"stoltenberg.net","timestamp":1655818011282,"sourceId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf","source":"API","sourceVid":[],"requestId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf"}]},"name":{"value":"Little
        Group","timestamp":1655818011282,"source":"API","sourceId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf","updatedByUserId":null,"versions":[{"name":"name","value":"Little
        Group","timestamp":1655818011282,"sourceId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf","source":"API","sourceVid":[],"requestId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf"}]},"hs_object_id":{"value":"8956174214","timestamp":1655818011282,"source":"API","sourceId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956174214","timestamp":1655818011282,"sourceId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf","source":"API","sourceVid":[],"requestId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf"}]},"createdate":{"value":"1655818011282","timestamp":1655818011282,"source":"API","sourceId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818011282","timestamp":1655818011282,"sourceId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf","source":"API","sourceVid":[],"requestId":"3bc75ee9-63eb-4c6f-85b8-2f77b3c4cbaf"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:51 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/companies/8956174214?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1dc87180-d028-43d2-bdbc-5c6a5f70e829
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498975'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '115'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B94E3BCFC2A4CBAF714A5158F3296A870CF6A7A24000000000000000000
    body:
      encoding: UTF-8
      string: '{"companyId":8956174214,"deleted":true}'
  recorded_at: Tue, 21 Jun 2022 13:26:51 GMT
recorded_with: VCR 6.1.0
