---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Littel LLC"},{"name":"domain","value":"ruecker.info"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '08039307-7018-4a38-b14f-2a1f3ee25df2'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498611'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BE06426F59A5B9BC5ACB14C5EDC4ADC255DFD647C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963401604,"isDeleted":false,"properties":{"website":{"value":"ruecker.info","timestamp":1655887663954,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"ruecker.info","timestamp":1655887663954,"source":"CALCULATED","sourceVid":[],"requestId":"08039307-7018-4a38-b14f-2a1f3ee25df2"}]},"hs_lastmodifieddate":{"value":"1655887663954","timestamp":1655887663954,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887663954","timestamp":1655887663954,"source":"CALCULATED","sourceVid":[],"requestId":"08039307-7018-4a38-b14f-2a1f3ee25df2"}]},"domain":{"value":"ruecker.info","timestamp":1655887663954,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"ruecker.info","timestamp":1655887663954,"source":"API","sourceVid":[],"requestId":"08039307-7018-4a38-b14f-2a1f3ee25df2"}]},"name":{"value":"Littel
        LLC","timestamp":1655887663954,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Littel
        LLC","timestamp":1655887663954,"source":"API","sourceVid":[],"requestId":"08039307-7018-4a38-b14f-2a1f3ee25df2"}]},"hs_object_id":{"value":"8963401604","timestamp":1655887663954,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963401604","timestamp":1655887663954,"source":"API","sourceVid":[],"requestId":"08039307-7018-4a38-b14f-2a1f3ee25df2"}]},"createdate":{"value":"1655887663954","timestamp":1655887663954,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887663954","timestamp":1655887663954,"source":"API","sourceVid":[],"requestId":"08039307-7018-4a38-b14f-2a1f3ee25df2"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:43 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/companies/8963401604?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 54ed5e95-3ed1-431d-8cf0-59b192a99d3d
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498610'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '127'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B6ABB12DFD323CE6EB41DD5CA093B31A259126DCF000000000000000000
    body:
      encoding: UTF-8
      string: '{"companyId":8963401604,"deleted":true}'
  recorded_at: Wed, 22 Jun 2022 08:47:44 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8963401604?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0f46bd40-4c97-40eb-8dc7-a09f57583493
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498609'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B0DD6E5C9518FB5357A9856F6CA078A80F8729016000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"resource not found","correlationId":"0f46bd40-4c97-40eb-8dc7-a09f57583493"}'
  recorded_at: Wed, 22 Jun 2022 08:47:44 GMT
recorded_with: VCR 6.1.0
