---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Koelpin, Auer and Wunsch"},{"name":"domain","value":"cremin-crist.org"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e0a42fcf-61fa-4f1a-a44b-6b0cce31338e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248544'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BC33A1E8633F42E8B32D7E6D8D4D4A562D7901BE0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337739700,"isDeleted":false,"properties":{"website":{"value":"cremin-crist.org","timestamp":1659970160782,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"cremin-crist.org","timestamp":1659970160782,"source":"CALCULATED","sourceVid":[],"requestId":"e0a42fcf-61fa-4f1a-a44b-6b0cce31338e"}]},"hs_lastmodifieddate":{"value":"1659970160782","timestamp":1659970160782,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970160782","timestamp":1659970160782,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"e0a42fcf-61fa-4f1a-a44b-6b0cce31338e"}]},"domain":{"value":"cremin-crist.org","timestamp":1659970160782,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"cremin-crist.org","timestamp":1659970160782,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e0a42fcf-61fa-4f1a-a44b-6b0cce31338e"}]},"name":{"value":"Koelpin,
        Auer and Wunsch","timestamp":1659970160782,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Koelpin,
        Auer and Wunsch","timestamp":1659970160782,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e0a42fcf-61fa-4f1a-a44b-6b0cce31338e"}]},"hs_object_id":{"value":"9337739700","timestamp":1659970160782,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337739700","timestamp":1659970160782,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e0a42fcf-61fa-4f1a-a44b-6b0cce31338e"}]},"createdate":{"value":"1659970160782","timestamp":1659970160782,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970160782","timestamp":1659970160782,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e0a42fcf-61fa-4f1a-a44b-6b0cce31338e"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:21 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/9337739700
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a37b03ef-4cb8-4e78-b182-494ec958fb2b
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Re[...]
