---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"O''Keefe Inc"},{"name":"domain","value":"bosco.io"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0a7bb705-bc4b-41a5-a28f-8a9ab35eeef5
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498634'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '112'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B66AEBD91E41FDD401943F01351DEB7A956C6A285000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963401599,"isDeleted":false,"properties":{"website":{"value":"bosco.io","timestamp":1655887658801,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"bosco.io","timestamp":1655887658801,"source":"CALCULATED","sourceVid":[],"requestId":"0a7bb705-bc4b-41a5-a28f-8a9ab35eeef5"}]},"hs_lastmodifieddate":{"value":"1655887658801","timestamp":1655887658801,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887658801","timestamp":1655887658801,"source":"CALCULATED","sourceVid":[],"requestId":"0a7bb705-bc4b-41a5-a28f-8a9ab35eeef5"}]},"domain":{"value":"bosco.io","timestamp":1655887658801,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"bosco.io","timestamp":1655887658801,"source":"API","sourceVid":[],"requestId":"0a7bb705-bc4b-41a5-a28f-8a9ab35eeef5"}]},"name":{"value":"O''Keefe
        Inc","timestamp":1655887658801,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"O''Keefe
        Inc","timestamp":1655887658801,"source":"API","sourceVid":[],"requestId":"0a7bb705-bc4b-41a5-a28f-8a9ab35eeef5"}]},"hs_object_id":{"value":"8963401599","timestamp":1655887658801,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963401599","timestamp":1655887658801,"source":"API","sourceVid":[],"requestId":"0a7bb705-bc4b-41a5-a28f-8a9ab35eeef5"}]},"createdate":{"value":"1655887658801","timestamp":1655887658801,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887658801","timestamp":1655887658801,"source":"API","sourceVid":[],"requestId":"0a7bb705-bc4b-41a5-a28f-8a9ab35eeef5"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:38 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/8963401599?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 507b3fb2-ab7f-4568-bf34-34a40aa5c49e
      X-Hubspot-Ratelimit[...]
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/9290100093
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 15d4be5c-93dc-4298-b2fd-546d43e9a148
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249913'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"O''Hara-Morar"},{"name":"domain","value":"olson-haley.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-[...]
[...]
