---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Columbus"},{"property":"lastname","value":"Gibson"},{"property":"email","value":"romeo@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - db57e417-5805-4344-8fff-02eeb1d1a51e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498739'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B6B0B6DC4C155E217667F68F26B3700F45CCE18D0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50951,"canonical-vid":50951,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Columbus","versions":[{"value":"Columbus","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818113820,"selected":false}]},"email":{"value":"romeo@example.com","versions":[{"value":"romeo@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818113820,"selected":false}]},"lastname":{"value":"Gibson","versions":[{"value":"Gibson","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818113820,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50951,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"romeo@example.com","timestamp":1655818113826,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"cb5d08a8-c3a5-43dd-9c71-51ca0a133cac","timestamp":1655818113868,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:34 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/50951/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":51001}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5ce8b794-d39a-4714-a097-c085151046d3
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498737'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '127'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B61522FC8682812D86728FDC2A1A6C7C65A308C75000000000000000000
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Tue, 21 Jun 2022 13:28:35 GMT
recorded_with: VCR 6.1.0
