---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Wuckert LLC"},{"name":"domain","value":"reichert.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5b378998-ad20-4e8b-9e76-2153d4d148be
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499069'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '134'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BFB2F36B2C1645866376FAD5B8DC8DD7DB20FD601000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956447815,"isDeleted":false,"properties":{"website":{"value":"reichert.com","timestamp":1655817977782,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"reichert.com","timestamp":1655817977782,"source":"CALCULATED","sourceVid":[],"requestId":"5b378998-ad20-4e8b-9e76-2153d4d148be"}]},"hs_lastmodifieddate":{"value":"1655817977782","timestamp":1655817977782,"source":"CALCULATED","sourceId":"5b378998-ad20-4e8b-9e76-2153d4d148be","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655817977782","timestamp":1655817977782,"sourceId":"5b378998-ad20-4e8b-9e76-2153d4d148be","source":"CALCULATED","sourceVid":[],"requestId":"5b378998-ad20-4e8b-9e76-2153d4d148be"}]},"domain":{"value":"reichert.com","timestamp":1655817977782,"source":"API","sourceId":"5b378998-ad20-4e8b-9e76-2153d4d148be","updatedByUserId":null,"versions":[{"name":"domain","value":"reichert.com","timestamp":1655817977782,"sourceId":"5b378998-ad20-4e8b-9e76-2153d4d148be","source":"API","sourceVid":[],"requestId":"5b378998-ad20-4e8b-9e76-2153d4d148be"}]},"name":{"value":"Wuckert
        LLC","timestamp":1655817977782,"source":"API","sourceId":"5b378998-ad20-4e8b-9e76-2153d4d148be","updatedByUserId":null,"versions":[{"name":"name","value":"Wuckert
        LLC","timestamp":1655817977782,"sourceId":"5b378998-ad20-4e8b-9e76-2153d4d148be","source":"API","sourceVid":[],"requestId":"5b378998-ad20-4e8b-9e76-2153d4d148be"}]},"hs_object_id":{"value":"8956447815","timestamp":1655817977782,"source":"API","sourceId":"5b378998-ad20-4e8b-9e76-2153d4d148be","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956447815","timestamp":1655817977782,"sourceId":"5b378998-ad20-4e8b-9e76-2153d4d148be","source":"API","sourceVid":[],"requestId":"5b378998-ad20-4e8b-9e76-2153d4d148be"}]},"createdate":{"value":"1655817977782","timestamp":1655817977782,"source":"API","sourceId":"5b378998-ad20-4e8b-9e76-2153d4d148be","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655817977782","timestamp":1655817977782,"sourceId":"5b378998-ad20-4e8b-9e76-2153d4d148be","source":"API","sourceVid":[],"requestId":"5b378998-ad20-4e8b-9e76-2153d4d148be"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:17 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Colin"},{"property":"lastname","value":"Doyle"},{"property":"email","value":"wendy_kub@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f87842f9-3e17-40a1-aee0-0a8bbc4e8dbb
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499068'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '133'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B91AA61DCF4A131D36767D646BA475544FEFD49FE000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":48601,"canonical-vid":48601,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Colin","versions":[{"value":"Colin","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817978069,"selected":false}]},"email":{"value":"wendy_kub@example.net","versions":[{"value":"wendy_kub@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817978069,"selected":false}]},"lastname":{"value":"Doyle","versions":[{"value":"Doyle","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817978069,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":48601,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"wendy_kub@example.net","timestamp":1655817978076,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"b9313916-c0ac-4e23-bfd9-00d3d0ed4c4a","timestamp":1655817978127,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:18 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":8956447815,"toObjectId":48601,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 4c6d874c-22bd-407d-b075-922c36186912
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499067'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '132'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BBFDA5F8F0E2477491C056ABB6715D492C3175036000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:26:18 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/delete-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":8956447815,"toObjectId":48601,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 70e975af-fba6-4a6a-939c-bace797e1723
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499066'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '131'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B3362A62D161E0EFDC6732FAD4BED02ABC8E483A3000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:26:18 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8956447815/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d6a12b41-c11d-4be1-8fbd-6815c9222e35
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499065'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '130'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BBA4BB4638CDB06191A015E13B2F64E9EA4C7D806000000000000000000
    body:
      encoding: UTF-8
      string: '{"vids":[],"vidOffset":0,"hasMore":false}'
  recorded_at: Tue, 21 Jun 2022 13:26:19 GMT
recorded_with: VCR 6.1.0
