---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Cyndy"},{"property":"lastname","value":"Marquardt"},{"property":"email","value":"paulita@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d88bbc47-0725-44b0-9481-2a02fac2d3f4
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498735'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B5396105671FEE5E8A84586917FE6B9DFAD267152000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":51051,"canonical-vid":51051,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Cyndy","versions":[{"value":"Cyndy","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818115548,"selected":false}]},"email":{"value":"paulita@example.com","versions":[{"value":"paulita@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818115548,"selected":false}]},"lastname":{"value":"Marquardt","versions":[{"value":"Marquardt","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818115548,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":51051,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"paulita@example.com","timestamp":1655818115553,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"4558f6f8-37b1-4eae-8522-e8b221aa806a","timestamp":1655818115567,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:35 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/51051/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":51101}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7be959fc-dce5-46a2-957e-0e76579c3e75
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498733'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BFE5FCF66FBBD55893A9B027655063BD0EB04C584000000000000000000
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Tue, 21 Jun 2022 13:28:36 GMT
recorded_with: VCR 6.1.0
