---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Louella"},{"property":"lastname","value":"Hammes"},{"property":"email","value":"imelda_balistreri@example.org"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 50ec4171-a326-4123-a2fa-10fc60b386cd
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248325'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B38860052A7ED86958EA79938DF2139667776F5F8000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":22955,"canonical-vid":22955,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Louella","versions":[{"value":"Louella","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970263766,"selected":false}]},"email":{"value":"imelda_balistreri@example.org","versions":[{"value":"imelda_balistreri@example.org","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970263766,"selected":false}]},"lastname":{"value":"Hammes","versions":[{"value":"Hammes","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970263766,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":22955,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"imelda_balistreri@example.org","timestamp":1659970263779,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"346e1f50-3c2b-469d-bfd7-1bd3933bea54","timestamp":1659970263799,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:04 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/22955/
    body:
      encoding: UTF-8
      string: '{"vidToMerge":23752}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 63859e4a-793e-456d-8a2a-ef460f7dce96
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248323'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B06D547E3A7B58F51B66313CF45B195A0C34FDDE8000000000000000000
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Mon, 08 Aug 2022 14:51:05 GMT
recorded_with: VCR 6.0.0
