---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[],"associatedVids":[]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e05d0d13-6748-44ba-9bef-9bc048cd1ca9
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499078'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '143'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B5D0288AE4BE48410FF522A2FA73450467AF4C582000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9260112036,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655817975091,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655817975091,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655817975091,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655817975091,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1655817975091,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655817975091,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655817975091,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655817975091,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655817975091","timestamp":1655817975091,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655817975091","timestamp":1655817975091,"source":"CALCULATED","sourceVid":[],"requestId":"e05d0d13-6748-44ba-9bef-9bc048cd1ca9"}]},"hs_createdate":{"value":"1655817975091","timestamp":1655817975091,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655817975091","timestamp":1655817975091,"source":"API","sourceVid":[],"requestId":"e05d0d13-6748-44ba-9bef-9bc048cd1ca9"}]},"hs_object_id":{"value":"9260112036","timestamp":1655817975091,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9260112036","timestamp":1655817975091,"source":"API","sourceVid":[],"requestId":"e05d0d13-6748-44ba-9bef-9bc048cd1ca9"}]},"createdate":{"value":"1655817975091","timestamp":1655817975091,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655817975091","timestamp":1655817975091,"source":"API","sourceVid":[],"requestId":"e05d0d13-6748-44ba-9bef-9bc048cd1ca9"}]},"hs_projected_amount":{"value":"0","timestamp":1655817975091,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655817975091,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1655817975091,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655817975091,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655817975091,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655817975091,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655817975091,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655817975091,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:15 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Raymond"},{"property":"lastname","value":"Kshlerin"},{"property":"email","value":"sheba@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ce0e73d0-cd12-4f47-b348-02af60131bf7
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499077'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '142'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B1B655D03F4E0C280757802ED49F76C4346BBA3F0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":48551,"canonical-vid":48551,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Raymond","versions":[{"value":"Raymond","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817975437,"selected":false}]},"email":{"value":"sheba@example.org","versions":[{"value":"sheba@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817975437,"selected":false}]},"lastname":{"value":"Kshlerin","versions":[{"value":"Kshlerin","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655817975437,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":48551,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"sheba@example.org","timestamp":1655817975446,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"ecb07c69-633c-459e-b7e6-10574eeb7814","timestamp":1655817975527,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:15 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Ullrich, Kuhic and Dickens"},{"name":"domain","value":"walter.co"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 64fd0872-3d8a-4f42-acde-81e323b6c588
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499076'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '141'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B970D52BFE1C640508FD06A26CC9E4B15CC49293F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956137286,"isDeleted":false,"properties":{"website":{"value":"walter.co","timestamp":1655817975960,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"walter.co","timestamp":1655817975960,"source":"CALCULATED","sourceVid":[],"requestId":"64fd0872-3d8a-4f42-acde-81e323b6c588"}]},"hs_lastmodifieddate":{"value":"1655817975960","timestamp":1655817975960,"source":"CALCULATED","sourceId":"64fd0872-3d8a-4f42-acde-81e323b6c588","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655817975960","timestamp":1655817975960,"sourceId":"64fd0872-3d8a-4f42-acde-81e323b6c588","source":"CALCULATED","sourceVid":[],"requestId":"64fd0872-3d8a-4f42-acde-81e323b6c588"}]},"domain":{"value":"walter.co","timestamp":1655817975960,"source":"API","sourceId":"64fd0872-3d8a-4f42-acde-81e323b6c588","updatedByUserId":null,"versions":[{"name":"domain","value":"walter.co","timestamp":1655817975960,"sourceId":"64fd0872-3d8a-4f42-acde-81e323b6c588","source":"API","sourceVid":[],"requestId":"64fd0872-3d8a-4f42-acde-81e323b6c588"}]},"name":{"value":"Ullrich,
        Kuhic and Dickens","timestamp":1655817975960,"source":"API","sourceId":"64fd0872-3d8a-4f42-acde-81e323b6c588","updatedByUserId":null,"versions":[{"name":"name","value":"Ullrich,
        Kuhic and Dickens","timestamp":1655817975960,"sourceId":"64fd0872-3d8a-4f42-acde-81e323b6c588","source":"API","sourceVid":[],"requestId":"64fd0872-3d8a-4f42-acde-81e323b6c588"}]},"hs_object_id":{"value":"8956137286","timestamp":1655817975960,"source":"API","sourceId":"64fd0872-3d8a-4f42-acde-81e323b6c588","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956137286","timestamp":1655817975960,"sourceId":"64fd0872-3d8a-4f42-acde-81e323b6c588","source":"API","sourceVid":[],"requestId":"64fd0872-3d8a-4f42-acde-81e323b6c588"}]},"createdate":{"value":"1655817975960","timestamp":1655817975960,"source":"API","sourceId":"64fd0872-3d8a-4f42-acde-81e323b6c588","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655817975960","timestamp":1655817975960,"sourceId":"64fd0872-3d8a-4f42-acde-81e323b6c588","source":"API","sourceVid":[],"requestId":"64fd0872-3d8a-4f42-acde-81e323b6c588"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:15 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":9260112036,"toObjectId":48551,"category":"HUBSPOT_DEFINED","definitionId":3},{"fromObjectId":9260112036,"toObjectId":8956137286,"category":"HUBSPOT_DEFINED","definitionId":5}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - b7c96134-7da2-4668-a2d2-47af656635c6
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499075'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '140'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B44EE02B26C823050E211BE4D12B3B8444B143F3C000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:26:16 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9260112036?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - dc1fc760-3857-4492-b5db-d9a6660144e6
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499074'
      X-Hubspot[...]
