---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=25&hapikey=<HAPI_KEY>&offset=&q=123xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - add29409-cd51-4ee1-9877-832b953b2179
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498377'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B372D6F154F0C1C19DD073CA176715E3246CB8D51000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"query":"123xyz","offset":0,"has-more":false,"total":0,"contacts":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:18 GMT
recorded_with: VCR 6.1.0
