---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Keebler Inc"},{"name":"domain","value":"fritsch.info"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - de1d4995-425d-4617-b2c6-bb1fd489f1cb
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498974'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '114'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BCFD461944C75FBF91EBA0629F21E42A8402ABD46000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956132523,"isDeleted":false,"properties":{"website":{"value":"fritsch.info","timestamp":1655818011861,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"fritsch.info","timestamp":1655818011861,"source":"CALCULATED","sourceVid":[],"requestId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb"}]},"hs_lastmodifieddate":{"value":"1655818011861","timestamp":1655818011861,"source":"CALCULATED","sourceId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818011861","timestamp":1655818011861,"sourceId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb","source":"CALCULATED","sourceVid":[],"requestId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb"}]},"domain":{"value":"fritsch.info","timestamp":1655818011861,"source":"API","sourceId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb","updatedByUserId":null,"versions":[{"name":"domain","value":"fritsch.info","timestamp":1655818011861,"sourceId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb","source":"API","sourceVid":[],"requestId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb"}]},"name":{"value":"Keebler
        Inc","timestamp":1655818011861,"source":"API","sourceId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb","updatedByUserId":null,"versions":[{"name":"name","value":"Keebler
        Inc","timestamp":1655818011861,"sourceId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb","source":"API","sourceVid":[],"requestId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb"}]},"hs_object_id":{"value":"8956132523","timestamp":1655818011861,"source":"API","sourceId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956132523","timestamp":1655818011861,"sourceId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb","source":"API","sourceVid":[],"requestId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb"}]},"createdate":{"value":"1655818011861","timestamp":1655818011861,"source":"API","sourceId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818011861","timestamp":1655818011861,"sourceId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb","source":"API","sourceVid":[],"requestId":"de1d4995-425d-4617-b2c6-bb1fd489f1cb"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:51 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/companies/8956132523?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ad2b167f-a64b-429a-adcf-237f158e1888
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498973'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B8E707933E0F62CC838D70C1BAAEFEC0066F7E1C7000000000000000000
    body:
      encoding: UTF-8
      string: '{"companyId":8956132523,"deleted":true}'
  recorded_at: Tue, 21 Jun 2022 13:26:52 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8956132523?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ec9df748-f211-4344-b5e5-ede77d8ebc4f
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498972'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '116'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BEA9FE1B7FC8925EA22AFC4B082B520F67EC98585000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"resource not found","correlationId":"ec9df748-f211-4344-b5e5-ede77d8ebc4f"}'
  recorded_at: Tue, 21 Jun 2022 13:26:52 GMT
recorded_with: VCR 6.1.0
