---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Roberts-Braun"},{"name":"domain","value":"shanahan-homenick.io"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - addb8a56-0779-4f19-83d4-156853c58520
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498626'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '143'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BF48BD008E6451C5D5BE9A2DCCF30BDB8F45350F6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963368570,"isDeleted":false,"properties":{"website":{"value":"shanahan-homenick.io","timestamp":1655887660559,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"shanahan-homenick.io","timestamp":1655887660559,"source":"CALCULATED","sourceVid":[],"requestId":"addb8a56-0779-4f19-83d4-156853c58520"}]},"hs_lastmodifieddate":{"value":"1655887660559","timestamp":1655887660559,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887660559","timestamp":1655887660559,"source":"CALCULATED","sourceVid":[],"requestId":"addb8a56-0779-4f19-83d4-156853c58520"}]},"domain":{"value":"shanahan-homenick.io","timestamp":1655887660559,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"shanahan-homenick.io","timestamp":1655887660559,"source":"API","sourceVid":[],"requestId":"addb8a56-0779-4f19-83d4-156853c58520"}]},"name":{"value":"Roberts-Braun","timestamp":1655887660559,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Roberts-Braun","timestamp":1655887660559,"source":"API","sourceVid":[],"requestId":"addb8a56-0779-4f19-83d4-156853c58520"}]},"hs_object_id":{"value":"8963368570","timestamp":1655887660559,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963368570","timestamp":1655887660559,"source":"API","sourceVid":[],"requestId":"addb8a56-0779-4f19-83d4-156853c58520"}]},"createdate":{"value":"1655887660559","timestamp":1655887660559,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887660559","timestamp":1655887660559,"source":"API","sourceVid":[],"requestId":"addb8a56-0779-4f19-83d4-156853c58520"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:40 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/8963368570?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"},{"name":"description","value":"My
        Corporation"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5687a4[...]
