---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Weissnat, Jakubowski and Brakus"},{"name":"domain","value":"sipes.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - acbeacbe-e101-4bcf-b834-75d6cd24c8e6
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498622'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '139'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B2253C60DF3E598A001F8EB825E195BE1446BC364000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963352675,"isDeleted":false,"properties":{"website":{"value":"sipes.net","timestamp":1655887661478,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"sipes.net","timestamp":1655887661478,"source":"CALCULATED","sourceVid":[],"requestId":"acbeacbe-e101-4bcf-b834-75d6cd24c8e6"}]},"hs_lastmodifieddate":{"value":"1655887661478","timestamp":1655887661478,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887661478","timestamp":1655887661478,"source":"CALCULATED","sourceVid":[],"requestId":"acbeacbe-e101-4bcf-b834-75d6cd24c8e6"}]},"domain":{"value":"sipes.net","timestamp":1655887661478,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"sipes.net","timestamp":1655887661478,"source":"API","sourceVid":[],"requestId":"acbeacbe-e101-4bcf-b834-75d6cd24c8e6"}]},"name":{"value":"Weissnat,
        Jakubowski and Brakus","timestamp":1655887661478,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Weissnat,
        Jakubowski and Brakus","timestamp":1655887661478,"source":"API","sourceVid":[],"requestId":"acbeacbe-e101-4bcf-b834-75d6cd24c8e6"}]},"hs_object_id":{"value":"8963352675","timestamp":1655887661478,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963352675","timestamp":1655887661478,"source":"API","sourceVid":[],"requestId":"acbeacbe-e101-4bcf-b834-75d6cd24c8e6"}]},"createdate":{"value":"1655887661478","timestamp":1655887661478,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887661478","timestamp":1655887661478,"source":"API","sourceVid":[],"requestId":"acbeacbe-e101-4bcf-b834-75d6cd24c8e6"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:41 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8963352675?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d88571df-9182-4f1c-b988-a7c3f77ca812
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498621'
      [...]
