---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Hermina"},{"property":"lastname","value":"Veum"},{"property":"email","value":"aurelio@example.net"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - caa980e5-b37f-433f-8cfe-c92a7d6eae68
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248368'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B3EF22F92E40D8D055E3A0BBEA1B007FC3BBDF51D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23051,"canonical-vid":23051,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Hermina","versions":[{"value":"Hermina","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970240689,"selected":false}]},"email":{"value":"aurelio@example.net","versions":[{"value":"aurelio@example.net","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970240689,"selected":false}]},"lastname":{"value":"Veum","versions":[{"value":"Veum","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970240689,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23051,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"aurelio@example.net","timestamp":1659970240698,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"6bbb8bc7-73bb-4de3-9e7b-31da3a6027d0","timestamp":1659970240720,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:41 GMT
recorded_with: VCR 6.0.0
