---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/0?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"super deal"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 56fdc888-a214-46d9-84df-e0cbab2df9fb
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498333'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '114'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BE8BBC6D1782F01978C0983C13805DC8EDE341E47000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"No deal found for dealId=0 portalId=<PORTAL_ID>","correlationId":"56fdc888-a214-46d9-84df-e0cbab2df9fb","errors":[{"message":"This
        deal 0 does not exist."}],"category":"OBJECT_NOT_FOUND"}'
  recorded_at: Wed, 22 Jun 2022 08:49:31 GMT
recorded_with: VCR 6.1.0
