---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"an_invalid_email"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a961b4d2-230b-41c7-857a-4aa91c930956
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498385'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BE257207E75600F4D4DF5E35C9ABF96B883091D64000000000000000000
    body:
      encoding: UTF-8
      string: '{"validationResults":[{"isValid":false,"message":"Email address an_invalid_email
        is invalid","error":"INVALID_EMAIL","name":"email"}],"status":"error","message":"Property
        values were not valid","correlationId":"a961b4d2-230b-41c7-857a-4aa91c930956"}'
  recorded_at: Wed, 22 Jun 2022 08:49:16 GMT
recorded_with: VCR 6.1.0
