---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Hayes-Mayer"},{"name":"domain","value":"feil.co"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0ae7468e-ae60-4908-abcc-f71c8ba11668
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498578'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '108'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '10'
      X-Trace:
      - 2BA25866461FD490125A5678187F495C7A435C5E3B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963385220,"isDeleted":false,"properties":{"website":{"value":"feil.co","timestamp":1655887671744,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"feil.co","timestamp":1655887671744,"source":"CALCULATED","sourceVid":[],"requestId":"0ae7468e-ae60-4908-abcc-f71c8ba11668"}]},"hs_lastmodifieddate":{"value":"1655887671744","timestamp":1655887671744,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887671744","timestamp":1655887671744,"source":"CALCULATED","sourceVid":[],"requestId":"0ae7468e-ae60-4908-abcc-f71c8ba11668"}]},"domain":{"value":"feil.co","timestamp":1655887671744,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"feil.co","timestamp":1655887671744,"source":"API","sourceVid":[],"requestId":"0ae7468e-ae60-4908-abcc-f71c8ba11668"}]},"name":{"value":"Hayes-Mayer","timestamp":1655887671744,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Hayes-Mayer","timestamp":1655887671744,"source":"API","sourceVid":[],"requestId":"0ae7468e-ae60-4908-abcc-f71c8ba11668"}]},"hs_object_id":{"value":"8963385220","timestamp":1655887671744,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963385220","timestamp":1655887671744,"source":"API","sourceVid":[],"requestId":"0ae7468e-ae60-4908-abcc-f71c8ba11668"}]},"createdate":{"value":"1655887671744","timestamp":1655887671744,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887671744","timestamp":1655887671744,"source":"API","sourceVid":[],"requestId":"0ae7468e-ae60-4908-abcc-f71c8ba11668"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:51 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Sena"},{"property":"lastname","value":"Bogisich"},{"property":"email","value":"kandra@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e8ef2b5d-babe-45ac-aba6-dd150ac5dcf4
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498577'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '107'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '10'
      X-Trace:
      - 2B120D6CC6DBCA7502A154BA4E0C74974331A5D2F5000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":66651,"canonical-vid":66651,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Sena","versions":[{"value":"Sena","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887671980,"selected":false}]},"email":{"value":"kandra@example.net","versions":[{"value":"kandra@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887671980,"selected":false}]},"lastname":{"value":"Bogisich","versions":[{"value":"Bogisich","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887671980,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":66651,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"kandra@example.net","timestamp":1655887671989,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"5e0b814f-9c6a-47d9-a619-d3750ee3b688","timestamp":1655887672046,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:52 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":8963385220},"to":{"id":66651},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e3f842db-a520-4c00-a03c-707c890c050f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498576'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '111'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B61744D27717F8D1F055C1ED98D7521B35278DD5B000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":8963385220,"toObjectTypeId":"0-1","toObjectId":66651,"labels":["Primary
        Company"]}],"startedAt":"2022-06-22T08:47:52.457Z","completedAt":"2022-06-22T08:47:52.515Z"}'
  recorded_at: Wed, 22 Jun 2022 08:47:52 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/8963385220/vids?count=25&hapikey=<HAPI_KEY>&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 205d0e48-4d25-4a85-b84f-85b0d53427c6
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498575'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '110'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B8CD8FA48D21BBA860834B2BDD52F3BDE2FC1C552000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vids":[66651],"vidOffset":66651,"hasMore":false}'
  recorded_at: Wed, 22 Jun 2022 08:47:52 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/archive?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":8963385220},"to":[{"id":66651}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ed395e90-d996-4803-b6e0-361899e9cf45
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498574'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '109'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '10'
      X-Trace:
      - 2B753EAB45786364FD285FEC48333BC96A877BD0B1000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:47:52 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"McGlynn and Sons"},{"name":"domain","value":"koch.info"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 51208e41-94a9-4038-9236-53e25ec673d1
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249856'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Bao"},{"property":"lastname","value":"Ebert"},{"property":"email","value":"lieselotte@example.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/js[...]
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9289246565},"to":{"id":157801},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5962a54f-d59c-4fa0-bd01-dfcf74768fb5
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249854'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B1D96ABFD788E542ED7BE9D12A1571A3F6E086E42000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":9289246565,"toObjectTypeId":"0-1","toObjectId":157801,"labels":["Primary
        Company"]}],"startedAt":"2022-08-02T14:51:29.029Z","completedAt":"2022-08-02T14:51:29.141Z"}'
  recorded_at: Tue, 02 Aug 2022 14:51:29 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/9289246565/vids?count=25&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a63d66a9-4942-4666-9c6b-2dfd923b8cf0
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249853'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '83'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BE89DA0CF0EA96EC2755FF1411470E489EBDDC17F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vids":[157801],"vidOffset":157801,"hasMore":false}'
  recorded_at: Tue, 02 Aug 2022 14:51:29 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/archive
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9289246565},"to":[{"id":157801}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a1f6ff84-e7c2-4fab-bdcd-9b1564d4dfa8
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249852'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B8E0BD0EA26773EC5C05C1CFB4DB44354BDBEA9E1000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 02 Aug 2022 14:51:29 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/9289246565/vids?count=25&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0bc91183-be87-40a7-ae95-928a6ce7b22a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249851'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B4B111BD3C03E421D8A36171412903F7AD03F0655000000000000000000
    body:
      encoding: UTF-8
      string: '{"vids":[],"vidOffset":0,"hasMore":false}'
  recorded_at: Tue, 02 Aug 2022 14:51:29 GMT
recorded_with: VCR 6.0.0
