---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[],"associatedVids":[]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b2b805d2-1697-41e7-9509-b1b42c959ef1
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498318'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '114'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B18716E4CB097EBBE2F4BA8F504D16B5FEB7C3C3C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9270227278,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655887775112,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655887775112,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655887775112,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655887775112,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1655887775112,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655887775112,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655887775112,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655887775112,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655887775112","timestamp":1655887775112,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887775112","timestamp":1655887775112,"source":"CALCULATED","sourceVid":[],"requestId":"b2b805d2-1697-41e7-9509-b1b42c959ef1"}]},"hs_createdate":{"value":"1655887775112","timestamp":1655887775112,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655887775112","timestamp":1655887775112,"source":"API","sourceVid":[],"requestId":"b2b805d2-1697-41e7-9509-b1b42c959ef1"}]},"hs_object_id":{"value":"9270227278","timestamp":1655887775112,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9270227278","timestamp":1655887775112,"source":"API","sourceVid":[],"requestId":"b2b805d2-1697-41e7-9509-b1b42c959ef1"}]},"createdate":{"value":"1655887775112","timestamp":1655887775112,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887775112","timestamp":1655887775112,"source":"API","sourceVid":[],"requestId":"b2b805d2-1697-41e7-9509-b1b42c959ef1"}]},"hs_projected_amount":{"value":"0","timestamp":1655887775112,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655887775112,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1655887775112,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655887775112,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655887775112,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655887775112,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655887775112,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655887775112,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:35 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"77444641ee1a4fb13f061ed8c90d95d5"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 055e057d-191b-4f6d-b911-58c84dbd95bf
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498317'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '113'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B5251B5BE7031C608E4FC1BF8C49AD2D68EC5B4D1000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963362831,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655887775322","timestamp":1655887775322,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887775322","timestamp":1655887775322,"source":"CALCULATED","sourceVid":[],"requestId":"055e057d-191b-4f6d-b911-58c84dbd95bf"}]},"name":{"value":"77444641ee1a4fb13f061ed8c90d95d5","timestamp":1655887775322,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"77444641ee1a4fb13f061ed8c90d95d5","timestamp":1655887775322,"source":"API","sourceVid":[],"requestId":"055e057d-191b-4f6d-b911-58c84dbd95bf"}]},"hs_object_id":{"value":"8963362831","timestamp":1655887775322,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963362831","timestamp":1655887775322,"source":"API","sourceVid":[],"requestId":"055e057d-191b-4f6d-b911-58c84dbd95bf"}]},"createdate":{"value":"1655887775322","timestamp":1655887775322,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887775322","timestamp":1655887775322,"source":"API","sourceVid":[],"requestId":"055e057d-191b-4f6d-b911-58c84dbd95bf"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:35 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Company/batch/create?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9270227278},"to":{"id":8963362831},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":5}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b3b4396a-7c0c-44df-a51e-3391045939f8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498316'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '112'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B808AB78A670DA3E86CA3D5E633F69FFF17D2FD57000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-3","fromObjectId":9270227278,"toObjectTypeId":"0-2","toObjectId":8963362831,"labels":["Primary"]}],"startedAt":"2022-06-22T08:49:35.531Z","completedAt":"2022-06-22T08:49:35.585Z"}'
  recorded_at: Wed, 22 Jun 2022 08:49:35 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Contact/batch/create?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9270227278},"to":{"id":1234},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":3}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3279f4d8-c7e7-4a52-a62d-e74bed69f92e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498315'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '111'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BE87AA39965AE4B486EF14A852D9221EC13FEC773000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[],"numErrors":1,"errors":[{"status":"error","category":"VALIDATION_ERROR","message":"CONTACT=1234
        is not valid"}],"startedAt":"2022-06-22T08:49:35.778Z","completedAt":"2022-06-22T08:49:35.787Z"}'
  recorded_at: Wed, 22 Jun 2022 08:49:35 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9270227278?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 35cb614d-fdf7-4cbb-b94a-f741a6f699da
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498314'
      X-Hubspot[...]
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[],"associatedVids":[]},"properties":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 71cb047e-abbc-401f-a51c-078ab9a4c9b0
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249593'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"38f23133e45c70798edc607159466dea"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4ced4fbe-1995[...]
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Company/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9677635853},"to":{"id":9290133770},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":5}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5d348587-ca6e-483b-adf7-3a22ea9eae0d
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249591'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BDA71F9C29EDC20B7FF098DEF433C3E0F747435AF000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-3","fromObjectId":9677635853,"toObjectTypeId":"0-2","toObjectId":9290133770,"labels":["Primary"]}],"startedAt":"2022-08-02T14:54:01.415Z","completedAt":"2022-08-02T14:54:01.494Z"}'
  recorded_at: Tue, 02 Aug 2022 14:54:01 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9677635853},"to":{"id":1234},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":3}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 83b2fb52-0ec3-4d6f-80fa-7ce04d895fd3
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249590'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BD0FB9BE5102A582F8D2C57B24A5C0BF7D5A7B3C3000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[],"numErrors":1,"errors":[{"status":"error","category":"VALIDATION_ERROR","message":"CONTACT=1234
        is not valid"}],"startedAt":"2022-08-02T14:54:01.907Z","completedAt":"2022-08-02T14:54:01.923Z"}'
  recorded_at: Tue, 02 Aug 2022 14:54:02 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9677635853
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c206379b-95a4-4c66-8d2c-609184d61505
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
[...]
