---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Wendolyn"},{"property":"lastname","value":"Towne"},{"property":"email","value":"hollis@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d956bff0-1798-40e9-9a94-99d3fdbf5ee1
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498372'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '146'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BAE76BCB0C8C00EE887D4C96335F492EA136E81C8000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67202,"canonical-vid":67202,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Wendolyn","versions":[{"value":"Wendolyn","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887760554,"selected":false}]},"email":{"value":"hollis@example.com","versions":[{"value":"hollis@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887760554,"selected":false}]},"lastname":{"value":"Towne","versions":[{"value":"Towne","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887760554,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67202,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"hollis@example.com","timestamp":1655887760561,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"68bee581-782a-442e-b6ab-032e15de5fde","timestamp":1655887760594,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:20 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/67202/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":68351}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 175333c2-420a-4f0b-a10e-07a582191562
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498370'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '144'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B7C3E6CA76C39BA84E1CCDCE897ED11EA98BC6A34000000000000000000
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Wed, 22 Jun 2022 08:49:21 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Annmarie"},{"property":"lastname","value":"Bergstrom"},{"property":"email","value":"douglass_larson@example.net"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 812bb5d9-c45f-4b35-a0ef-b89857ceb2c6
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249655'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/159252/
    body:
      encoding: UTF-8
      string: '{"vidToMerge":159851}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 57cbe0d7-e50e-4eb4-8d5a-cc1a83726030
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249653'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B4A91EAA3D139B4687B7246F9A414058981FF496C000000000000000000
    body:
      encoding: UTF-8
      string: SUCCESS
  recorded_at: Tue, 02 Aug 2022 14:53:28 GMT
recorded_with: VCR 6.0.0
