---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Volkman-Kling"},{"name":"domain","value":"zboncak.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6cb5cee8-3065-48d6-b9e3-b27d637485e0
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498948'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B6FE6F8BCB3C463DE9E3B4B0B33A6562A9E7E3933000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956810788,"isDeleted":false,"properties":{"website":{"value":"zboncak.com","timestamp":1655818019448,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"zboncak.com","timestamp":1655818019448,"source":"CALCULATED","sourceVid":[],"requestId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0"}]},"hs_lastmodifieddate":{"value":"1655818019448","timestamp":1655818019448,"source":"CALCULATED","sourceId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818019448","timestamp":1655818019448,"sourceId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0","source":"CALCULATED","sourceVid":[],"requestId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0"}]},"domain":{"value":"zboncak.com","timestamp":1655818019448,"source":"API","sourceId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0","updatedByUserId":null,"versions":[{"name":"domain","value":"zboncak.com","timestamp":1655818019448,"sourceId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0","source":"API","sourceVid":[],"requestId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0"}]},"name":{"value":"Volkman-Kling","timestamp":1655818019448,"source":"API","sourceId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0","updatedByUserId":null,"versions":[{"name":"name","value":"Volkman-Kling","timestamp":1655818019448,"sourceId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0","source":"API","sourceVid":[],"requestId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0"}]},"hs_object_id":{"value":"8956810788","timestamp":1655818019448,"source":"API","sourceId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956810788","timestamp":1655818019448,"sourceId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0","source":"API","sourceVid":[],"requestId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0"}]},"createdate":{"value":"1655818019448","timestamp":1655818019448,"source":"API","sourceId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818019448","timestamp":1655818019448,"sourceId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0","source":"API","sourceVid":[],"requestId":"6cb5cee8-3065-48d6-b9e3-b27d637485e0"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:59 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm-associations/v1/associations/create-batch?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '[{"fromObjectId":8956810788,"toObjectId":1234,"category":"HUBSPOT_DEFINED","definitionId":2}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 67a8a605-57c9-4487-af25-1cb605f735db
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498947'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '116'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BEA86CFF59756E962F7C5B51C9E2C444AE39C0033000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"One or more associations are invalid","correlationId":"67a8a605-57c9-4487-af25-1cb605f735db","errors":["CONTACT=1234
        is not valid"]}'
  recorded_at: Tue, 21 Jun 2022 13:26:59 GMT
recorded_with: VCR 6.1.0
