---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"d268c7189f0e5a4eb1967d153a1f8999"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d7998e2f-f88f-44b0-8934-83e4c4a655fd
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498695'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B0D818B15AA5366F523392A474C1AC65A08253A2A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956876363,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655818128596","timestamp":1655818128596,"source":"CALCULATED","sourceId":"d7998e2f-f88f-44b0-8934-83e4c4a655fd","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818128596","timestamp":1655818128596,"sourceId":"d7998e2f-f88f-44b0-8934-83e4c4a655fd","source":"CALCULATED","sourceVid":[],"requestId":"d7998e2f-f88f-44b0-8934-83e4c4a655fd"}]},"name":{"value":"d268c7189f0e5a4eb1967d153a1f8999","timestamp":1655818128596,"source":"API","sourceId":"d7998e2f-f88f-44b0-8934-83e4c4a655fd","updatedByUserId":null,"versions":[{"name":"name","value":"d268c7189f0e5a4eb1967d153a1f8999","timestamp":1655818128596,"sourceId":"d7998e2f-f88f-44b0-8934-83e4c4a655fd","source":"API","sourceVid":[],"requestId":"d7998e2f-f88f-44b0-8934-83e4c4a655fd"}]},"hs_object_id":{"value":"8956876363","timestamp":1655818128596,"source":"API","sourceId":"d7998e2f-f88f-44b0-8934-83e4c4a655fd","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956876363","timestamp":1655818128596,"sourceId":"d7998e2f-f88f-44b0-8934-83e4c4a655fd","source":"API","sourceVid":[],"requestId":"d7998e2f-f88f-44b0-8934-83e4c4a655fd"}]},"createdate":{"value":"1655818128596","timestamp":1655818128596,"source":"API","sourceId":"d7998e2f-f88f-44b0-8934-83e4c4a655fd","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818128596","timestamp":1655818128596,"sourceId":"d7998e2f-f88f-44b0-8934-83e4c4a655fd","source":"API","sourceVid":[],"requestId":"d7998e2f-f88f-44b0-8934-83e4c4a655fd"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:48 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"290d4786486a13f4c910dd404ca2eda0@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c2ee13da-5b04-4c02-a16c-eeba4259d528
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498694'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '125'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BA416CC56DDFE873D19B14790FC3161FC1250EB09000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":51251,"canonical-vid":51251,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"290d4786486a13f4c910dd404ca2eda0@hubspot.com","versions":[{"value":"290d4786486a13f4c910dd404ca2eda0@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818129152,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":51251,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"290d4786486a13f4c910dd404ca2eda0@hubspot.com","timestamp":1655818129159,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"ab942386-2b52-41fa-bd7f-0786169bf388","timestamp":1655818129169,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:49 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[8956876363],"associatedVids":[51251]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 61d474bc-2807-40a5-b26f-0d18a5e38762
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498693'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BA00348F46CCA778FB67CEB7FA519246A8C27BFBB000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9260460679,"isDeleted":false,"associations":{"associatedVids":[51251],"associatedCompanyIds":[8956876363],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655818129773,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655818129773,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"amount":{"value":"30","timestamp":1655818129773,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"amount","value":"30","timestamp":1655818129773,"source":"API","sourceVid":[],"requestId":"61d474bc-2807-40a5-b26f-0d18a5e38762"}]},"hs_is_closed_won":{"value":"false","timestamp":1655818129773,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655818129773,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_forecast_amount":{"value":"30","timestamp":1655818129773,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_forecast_amount","value":"30","timestamp":1655818129773,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"createdate":{"value":"1655818129773","timestamp":1655818129773,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818129773","timestamp":1655818129773,"source":"API","sourceVid":[],"requestId":"61d474bc-2807-40a5-b26f-0d18a5e38762"}]},"amount_in_home_currency":{"value":"30","timestamp":1655818129773,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"amount_in_home_currency","value":"30","timestamp":1655818129773,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655818129773,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655818129773,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655818129773,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655818129773,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655818129773,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655818129773,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655818129773","timestamp":1655818129773,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818129773","timestamp":1655818129773,"source":"CALCULATED","sourceVid":[],"requestId":"61d474bc-2807-40a5-b26f-0d18a5e38762"}]},"hs_createdate":{"value":"1655818129773","timestamp":1655818129773,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655818129773","timestamp":1655818129773,"source":"API","sourceVid":[],"requestId":"61d474bc-2807-40a5-b26f-0d18a5e38762"}]},"hs_object_id":{"value":"9260460679","timestamp":1655818129773,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9260460679","timestamp":1655818129773,"source":"API","sourceVid":[],"requestId":"61d474bc-2807-40a5-b26f-0d18a5e38762"}]},"hs_projected_amount":{"value":"0","timestamp":1655818129773,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655818129773,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1655818129773,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655818129773,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655818129773,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655818129773,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:49 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/9260460679?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"super deal"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a4f25cca-1256-40e8-b582-2741cbb3a2da
      X-Hubspot-Ratelimit-[...]
