---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Britt"},{"property":"lastname","value":"Wintheiser"},{"property":"email","value":"moshe@example.org"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3dc2fcb6-9b5e-4468-9b23-37e21519bdde
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248364'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B5A83C5862206AEC2538DA816DB35C59E6582B437000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23151,"canonical-vid":23151,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Britt","versions":[{"value":"Britt","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970242813,"selected":false}]},"email":{"value":"moshe@example.org","versions":[{"value":"moshe@example.org","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970242813,"selected":false}]},"lastname":{"value":"Wintheiser","versions":[{"value":"Wintheiser","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970242813,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23151,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"moshe@example.org","timestamp":1659970242821,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"43521bf9-7d37-40f5-bbfe-f8622620e175","timestamp":1659970242853,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:43 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/23151/profile
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 847fb536-e037-4a9a-ae7d-a4e25f78df39
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248363'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BD294EBFE5C52F9FA6B1B9A037DA62A2E5338736C000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2022 14:50:43 GMT
recorded_with: VCR 6.0.0
