---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Allison"},{"property":"email","value":"lester.mcdermott@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f9eb5fdd-fcd6-4398-b6b5-3a844eb298b4
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498751'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B65FBEDE958BF88D7D7622B5622485E46E3DA4B0B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50851,"canonical-vid":50851,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Allison","versions":[{"value":"Allison","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818108278,"selected":false}]},"email":{"value":"lester.mcdermott@example.net","versions":[{"value":"lester.mcdermott@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818108278,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50851,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"lester.mcdermott@example.net","timestamp":1655818108285,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"158befb7-b9af-4297-8d19-02c111e1bc4c","timestamp":1655818108302,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:28 GMT
recorded_with: VCR 6.1.0
