---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Vernie"},{"property":"lastname","value":"Mayer"},{"property":"email","value":"jarrod@example.net"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4943e4c9-4a93-47f3-b93d-dc8b3d0f8c6c
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248337'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '83'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B00D2A10318A3A4FE92775E22F1E082B2DF33DC6A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23651,"canonical-vid":23651,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Vernie","versions":[{"value":"Vernie","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970257529,"selected":false}]},"email":{"value":"jarrod@example.net","versions":[{"value":"jarrod@example.net","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970257529,"selected":false}]},"lastname":{"value":"Mayer","versions":[{"value":"Mayer","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970257529,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23651,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"jarrod@example.net","timestamp":1659970257538,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"779622f1-2937-408e-bc85-a5422af29cb8","timestamp":1659970257559,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:57 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/jarrod@example.net/profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c521d127-f95e-49b2-9f25-db2c18ac2f5c
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248336'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BB6804DB0889B087859810C6CFE8870AF00EBC7E9000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23651,"canonical-vid":23651,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_is_unworked":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":"CalculatedPropertyComputer","source-label":null,"updated-by-user-id":null,"timestamp":1659970257538,"selected":false}]},"firstname":{"value":"Vernie","versions":[{"value":"Vernie","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970257529,"selected":false}]},"hs_is_contact":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1659970257538,"selected":false}]},"lastmodifieddate":{"value":"1659970257538","versions":[{"value":"1659970257538","source-type":"CALCULATED","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970257538,"selected":false}]},"hs_pipeline":{"value":"contacts-lifecycle-pipeline","versions":[{"value":"contacts-lifecycle-pipeline","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970257538,"selected":false}]},"hs_object_id":{"value":"23651","versions":[{"value":"23651","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970257538,"selected":false}]},"hs_email_domain":{"value":"example.net","versions":[{"value":"example.net","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1659970257538,"selected":false}]},"createdate":{"value":"1659970257538","versions":[{"value":"1659970257538","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970257538,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1659970257538","versions":[{"value":"1659970257538","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970257538,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970257538,"selected":false}]},"email":{"value":"jarrod@example.net","versions":[{"value":"jarrod@example.net","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970257538,"selected":false}]},"lastname":{"value":"Mayer","versions":[{"value":"Mayer","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970257529,"selected":false}]},"hs_all_contact_vids":{"value":"23651","versions":[{"value":"23651","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970257538,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23651,"saved-at-timestamp":1659970257563,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"jarrod@example.net","timestamp":1659970257538,"is-primary":true},{"type":"LEAD_GUID","value":"779622f1-2937-408e-bc85-a5422af29cb8","timestamp":1659970257559}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:58 GMT
recorded_with: VCR 6.0.0
