---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Ayana"},{"property":"lastname","value":"Stroman"},{"property":"email","value":"asa.gleason@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3a873410-160d-426d-973f-d8434e7f2a68
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498747'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B9429B7837110CE2423D5616131412663F44AB40E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50703,"canonical-vid":50703,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Ayana","versions":[{"value":"Ayana","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111215,"selected":false}]},"email":{"value":"asa.gleason@example.net","versions":[{"value":"asa.gleason@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111215,"selected":false}]},"lastname":{"value":"Stroman","versions":[{"value":"Stroman","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111215,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50703,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"asa.gleason@example.net","timestamp":1655818111224,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"edbe2562-2799-4cb4-9cfe-c3f55f0adad5","timestamp":1655818111255,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:31 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/asa.gleason@example.net/profile?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 52cc6363-dbca-4fad-a915-63efb74579f2
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498746'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '127'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B6E897AA8D9AA68A7DE13323D48022476D26980EF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50703,"canonical-vid":50703,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_is_unworked":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":"CalculatedPropertyComputer","source-label":null,"updated-by-user-id":null,"timestamp":1655818111224,"selected":false}]},"firstname":{"value":"Ayana","versions":[{"value":"Ayana","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111215,"selected":false}]},"lastmodifieddate":{"value":"1655818111224","versions":[{"value":"1655818111224","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111224,"selected":false}]},"hs_pipeline":{"value":"contacts-lifecycle-pipeline","versions":[{"value":"contacts-lifecycle-pipeline","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111224,"selected":false}]},"createdate":{"value":"1655818111224","versions":[{"value":"1655818111224","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111224,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1655818111224","versions":[{"value":"1655818111224","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111224,"selected":false}]},"lastname":{"value":"Stroman","versions":[{"value":"Stroman","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111215,"selected":false}]},"hs_all_contact_vids":{"value":"50703","versions":[{"value":"50703","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111224,"selected":false}]},"hs_marketable_until_renewal":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111224,"selected":false}]},"hs_marketable_status":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111224,"selected":false}]},"hs_is_contact":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111224,"selected":false}]},"hs_object_id":{"value":"50703","versions":[{"value":"50703","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111224,"selected":false}]},"hs_email_domain":{"value":"example.net","versions":[{"value":"example.net","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111224,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111224,"selected":false}]},"email":{"value":"asa.gleason@example.net","versions":[{"value":"asa.gleason@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818111224,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50703,"saved-at-timestamp":1655818111258,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"asa.gleason@example.net","timestamp":1655818111224,"is-primary":true},{"type":"LEAD_GUID","value":"edbe2562-2799-4cb4-9cfe-c3f55f0adad5","timestamp":1655818111255}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:31 GMT
recorded_with: VCR 6.1.0
