---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/0/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1568ef16-308b-44e6-bc1e-7276a23ffe59
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498404'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B11EB1AFFEB5FD5E004D2F8B294B3DE72D87CFAF6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"contact does not exist","correlationId":"1568ef16-308b-44e6-bc1e-7276a23ffe59","errors":[{"message":"The
        contact 0 does not exist."}],"category":"OBJECT_NOT_FOUND"}'
  recorded_at: Wed, 22 Jun 2022 08:49:10 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/0/profile
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 908fab05-895c-426c-bd63-bac62928fda0
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249687'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BB111B3F8E6F930ADF30436234CBD8789802A48E8000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"contact does not exist","correlationId":"908fab05-895c-426c-bd63-bac62928fda0","errors":[{"message":"The
        contact 0 does not exist."}],"category":"OBJECT_NOT_FOUND"}'
  recorded_at: Tue, 02 Aug 2022 14:53:05 GMT
recorded_with: VCR 6.0.0
