---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Matthew"},{"property":"lastname","value":"Strosin"},{"property":"email","value":"see.mann@example.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 040d624c-8df7-4448-ad46-32b1c6f45f6e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248340'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BA236731DC61DAF58F2C4C489A102392C6FD2A396000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23601,"canonical-vid":23601,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Matthew","versions":[{"value":"Matthew","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970256290,"selected":false}]},"email":{"value":"see.mann@example.com","versions":[{"value":"see.mann@example.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970256290,"selected":false}]},"lastname":{"value":"Strosin","versions":[{"value":"Strosin","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970256290,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23601,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"see.mann@example.com","timestamp":1659970256298,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"09d6c952-bd5e-4539-9621-120ff9a94ea3","timestamp":1659970256357,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:56 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"see.mann@example.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 65c9d536-7313-4554-a2a6-4f2eb5c30e35
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248339'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '83'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B8C8C9E91EF8CD1370F261D51600EE9D60B840AC7000000000000000000
    body:
      encoding: UTF-8
      string: '{"message":"Contact already exists","identityProfile":{"vid":23601,"identity":[{"value":"see.mann@example.com","type":"EMAIL","timestamp":1659970256298,"isPrimary":true},{"value":"09d6c952-bd5e-4539-9621-120ff9a94ea3","type":"LEAD_GUID","timestamp":1659970256357}],"linkedVid":[],"isContact":true,"savedAtTimestamp":1659970256359},"errors":[{"message":"A
        contact with email see.mann@example.com already exists.","in":"email"}],"status":"error","correlationId":"65c9d536-7313-4554-a2a6-4f2eb5c30e35","category":"OBJECT_ALREADY_EXISTS","error":"CONTACT_EXISTS"}'
  recorded_at: Mon, 08 Aug 2022 14:50:56 GMT
recorded_with: VCR 6.0.0
