---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/0/profile
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1f4531e5-2827-42cb-8682-2a281a9d588f
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248357'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BEA957F0816D1846CA2C05749B557737740456BA8000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"contact does not exist","correlationId":"1f4531e5-2827-42cb-8682-2a281a9d588f","errors":[{"message":"The
        contact 0 does not exist."}],"category":"OBJECT_NOT_FOUND"}'
  recorded_at: Mon, 08 Aug 2022 14:50:46 GMT
recorded_with: VCR 6.0.0
