---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 97d8b57d-be97-417c-b719-4a77c4b9a85c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498982'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '116'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B5D5ECB0A80CACDB7EC5A3CF8B235E757BC55C93B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956824413,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655818009064","timestamp":1655818009064,"source":"CALCULATED","sourceId":"97d8b57d-be97-417c-b719-4a77c4b9a85c","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818009064","timestamp":1655818009064,"sourceId":"97d8b57d-be97-417c-b719-4a77c4b9a85c","source":"CALCULATED","sourceVid":[],"requestId":"97d8b57d-be97-417c-b719-4a77c4b9a85c"}]},"hs_object_id":{"value":"8956824413","timestamp":1655818009064,"source":"API","sourceId":"97d8b57d-be97-417c-b719-4a77c4b9a85c","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956824413","timestamp":1655818009064,"sourceId":"97d8b57d-be97-417c-b719-4a77c4b9a85c","source":"API","sourceVid":[],"requestId":"97d8b57d-be97-417c-b719-4a77c4b9a85c"}]},"createdate":{"value":"1655818009064","timestamp":1655818009064,"source":"API","sourceId":"97d8b57d-be97-417c-b719-4a77c4b9a85c","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818009064","timestamp":1655818009064,"sourceId":"97d8b57d-be97-417c-b719-4a77c4b9a85c","source":"API","sourceVid":[],"requestId":"97d8b57d-be97-417c-b719-4a77c4b9a85c"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:49 GMT
recorded_with: VCR 6.1.0
