---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Paucek, Bernhard and Rogahn"},{"name":"domain","value":"rowe-schmeler.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4c9142e8-adc1-4016-bcb4-83451d32c9b7
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499001'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '135'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B708E1DB790455D10E48D4F69971451AD8D009C9A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956437338,"isDeleted":false,"properties":{"website":{"value":"rowe-schmeler.net","timestamp":1655818004179,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"rowe-schmeler.net","timestamp":1655818004179,"source":"CALCULATED","sourceVid":[],"requestId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7"}]},"hs_lastmodifieddate":{"value":"1655818004179","timestamp":1655818004179,"source":"CALCULATED","sourceId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818004179","timestamp":1655818004179,"sourceId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7","source":"CALCULATED","sourceVid":[],"requestId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7"}]},"domain":{"value":"rowe-schmeler.net","timestamp":1655818004179,"source":"API","sourceId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7","updatedByUserId":null,"versions":[{"name":"domain","value":"rowe-schmeler.net","timestamp":1655818004179,"sourceId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7","source":"API","sourceVid":[],"requestId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7"}]},"name":{"value":"Paucek,
        Bernhard and Rogahn","timestamp":1655818004179,"source":"API","sourceId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7","updatedByUserId":null,"versions":[{"name":"name","value":"Paucek,
        Bernhard and Rogahn","timestamp":1655818004179,"sourceId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7","source":"API","sourceVid":[],"requestId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7"}]},"hs_object_id":{"value":"8956437338","timestamp":1655818004179,"source":"API","sourceId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956437338","timestamp":1655818004179,"sourceId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7","source":"API","sourceVid":[],"requestId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7"}]},"createdate":{"value":"1655818004179","timestamp":1655818004179,"source":"API","sourceId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818004179","timestamp":1655818004179,"sourceId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7","source":"API","sourceVid":[],"requestId":"4c9142e8-adc1-4016-bcb4-83451d32c9b7"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:44 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/8956437338?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ca86c944-512e-4e91-aca5-0d5060773153
      X-Hubspot-Ratelimit[...]
