---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Rempel-Spencer"},{"name":"domain","value":"armstrong.io"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7cfdbf02-4c68-40c4-a4fe-dc8142562e68
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498605'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BCC020919331A804A49FAD3CAFB9995603A903B36000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963357366,"isDeleted":false,"properties":{"website":{"value":"armstrong.io","timestamp":1655887665236,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"armstrong.io","timestamp":1655887665236,"source":"CALCULATED","sourceVid":[],"requestId":"7cfdbf02-4c68-40c4-a4fe-dc8142562e68"}]},"hs_lastmodifieddate":{"value":"1655887665236","timestamp":1655887665236,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887665236","timestamp":1655887665236,"source":"CALCULATED","sourceVid":[],"requestId":"7cfdbf02-4c68-40c4-a4fe-dc8142562e68"}]},"domain":{"value":"armstrong.io","timestamp":1655887665236,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"armstrong.io","timestamp":1655887665236,"source":"API","sourceVid":[],"requestId":"7cfdbf02-4c68-40c4-a4fe-dc8142562e68"}]},"name":{"value":"Rempel-Spencer","timestamp":1655887665236,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Rempel-Spencer","timestamp":1655887665236,"source":"API","sourceVid":[],"requestId":"7cfdbf02-4c68-40c4-a4fe-dc8142562e68"}]},"hs_object_id":{"value":"8963357366","timestamp":1655887665236,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963357366","timestamp":1655887665236,"source":"API","sourceVid":[],"requestId":"7cfdbf02-4c68-40c4-a4fe-dc8142562e68"}]},"createdate":{"value":"1655887665236","timestamp":1655887665236,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887665236","timestamp":1655887665236,"source":"API","sourceVid":[],"requestId":"7cfdbf02-4c68-40c4-a4fe-dc8142562e68"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:45 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=<HAPI_KEY>&limit=25&offset=8963357366
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - bf79929e-e0ff-4737-888a-776802606263
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498604'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '121'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B739F6DCDE88BBED1514A45C55130D0E66CB5554B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"has-more":true,"offset":8963389568,"companies":[{"portalId":<PORTAL_ID>,"companyId":8963357366,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8963359894,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8963361157,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8963362673,"isDeleted":false,"properties":{[...]
