---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/0?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"super deal"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b1b0542f-5ecf-4010-89fd-950fd42cda26
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498697'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BD538187142925DBD6F1AC17D355D92168A74C76F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"No deal found for dealId=0 portalId=<PORTAL_ID>","correlationId":"b1b0542f-5ecf-4010-89fd-950fd42cda26","errors":[{"message":"This
        deal 0 does not exist."}],"category":"OBJECT_NOT_FOUND"}'
  recorded_at: Tue, 21 Jun 2022 13:28:48 GMT
recorded_with: VCR 6.1.0
