---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Jackqueline"},{"property":"lastname","value":"Barrows"},{"property":"email","value":"janean@example.org"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 58a5b7de-dd8d-45b5-b2f6-53cdabb15bda
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248369'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B06D16627EEEA71470652E10C48EE90145CAE53D0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":21704,"canonical-vid":21704,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Jackqueline","versions":[{"value":"Jackqueline","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970240043,"selected":false}]},"email":{"value":"janean@example.org","versions":[{"value":"janean@example.org","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970240043,"selected":false}]},"lastname":{"value":"Barrows","versions":[{"value":"Barrows","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970240043,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":21704,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"janean@example.org","timestamp":1659970240053,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"c9c82052-25c6-4569-830b-a88a3d0d9261","timestamp":1659970240114,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:40 GMT
recorded_with: VCR 6.0.0
