---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Champlin-Dicki"},{"name":"domain","value":"roob.name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a76b029c-d238-4e02-9763-da830d8d3a09
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498593'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '110'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B33CD087C6672796E7F70A8374225E7443A386AEE000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963385216,"isDeleted":false,"properties":{"website":{"value":"roob.name","timestamp":1655887667871,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"roob.name","timestamp":1655887667871,"source":"CALCULATED","sourceVid":[],"requestId":"a76b029c-d238-4e02-9763-da830d8d3a09"}]},"hs_lastmodifieddate":{"value":"1655887667871","timestamp":1655887667871,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887667871","timestamp":1655887667871,"source":"CALCULATED","sourceVid":[],"requestId":"a76b029c-d238-4e02-9763-da830d8d3a09"}]},"domain":{"value":"roob.name","timestamp":1655887667871,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"roob.name","timestamp":1655887667871,"source":"API","sourceVid":[],"requestId":"a76b029c-d238-4e02-9763-da830d8d3a09"}]},"name":{"value":"Champlin-Dicki","timestamp":1655887667871,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Champlin-Dicki","timestamp":1655887667871,"source":"API","sourceVid":[],"requestId":"a76b029c-d238-4e02-9763-da830d8d3a09"}]},"hs_object_id":{"value":"8963385216","timestamp":1655887667871,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963385216","timestamp":1655887667871,"source":"API","sourceVid":[],"requestId":"a76b029c-d238-4e02-9763-da830d8d3a09"}]},"createdate":{"value":"1655887667871","timestamp":1655887667871,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887667871","timestamp":1655887667871,"source":"API","sourceVid":[],"requestId":"a76b029c-d238-4e02-9763-da830d8d3a09"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:47 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Heath"},{"property":"lastname","value":"Rohan"},{"property":"email","value":"melanie@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - dac919f7-9397-4fff-b154-637fe4f76e20
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498592'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '109'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '10'
      X-Trace:
      - 2B3D3C570186F8E0930DA999BD80550FE189C9A983000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":66501,"canonical-vid":66501,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Heath","versions":[{"value":"Heath","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887668122,"selected":false}]},"email":{"value":"melanie@example.net","versions":[{"value":"melanie@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887668122,"selected":false}]},"lastname":{"value":"Rohan","versions":[{"value":"Rohan","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887668122,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":66501,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"melanie@example.net","timestamp":1655887668129,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"7c065482-cd14-4f3e-96c1-aaefb91a733f","timestamp":1655887668173,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:48 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":8963385216},"to":{"id":66501},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - bbc9ad6e-f1e7-44ff-9387-bba8c70d5605
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498591'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '108'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '10'
      X-Trace:
      - 2BF540F2C1CA39D61090061885A39AD1DF960DAA8C000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":8963385216,"toObjectTypeId":"0-1","toObjectId":66501,"labels":["Primary
        Company"]}],"startedAt":"2022-06-22T08:47:48.492Z","completedAt":"2022-06-22T08:47:48.553Z"}'
  recorded_at: Wed, 22 Jun 2022 08:47:48 GMT
recorded_with: VCR 6.1.0
