---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":1234},"to":{"id":1234},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 34aa3e23-848b-4f26-953e-b713d73a30ec
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498712'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '145'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BF9A639D9D6B8D30D6C9B4849A12567D2C60D3C73000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[],"numErrors":1,"errors":[{"status":"error","category":"VALIDATION_ERROR","message":"COMPANY=1234
        is not valid"}],"startedAt":"2022-06-22T08:47:15.976Z","completedAt":"2022-06-22T08:47:15.985Z"}'
  recorded_at: Wed, 22 Jun 2022 08:47:15 GMT
recorded_with: VCR 6.1.0
