---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/0/profile?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 746cd179-8d62-4a3d-80db-d0fae9d5f8aa
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498755'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '133'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BFB0A271C8828CF625CAA7C02B0D288F6BE4AE879000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"contact does not exist","correlationId":"746cd179-8d62-4a3d-80db-d0fae9d5f8aa","errors":[{"message":"The
        contact 0 does not exist."}],"category":"OBJECT_NOT_FOUND"}'
  recorded_at: Tue, 21 Jun 2022 13:28:26 GMT
recorded_with: VCR 6.1.0
