---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Rey"},{"property":"lastname","value":"VonRueden"},{"property":"email","value":"rachell@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 988d6a90-19a5-4b4a-a85b-febf63d05a56
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498401'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B6ADBE074F9D98CFAFE5AA41BDD3BD54087B30CFB000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67901,"canonical-vid":67901,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Rey","versions":[{"value":"Rey","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887751431,"selected":false}]},"email":{"value":"rachell@example.org","versions":[{"value":"rachell@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887751431,"selected":false}]},"lastname":{"value":"VonRueden","versions":[{"value":"VonRueden","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887751431,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67901,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"rachell@example.org","timestamp":1655887751436,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"ba17f404-dc07-416f-ae99-37bc74991ce1","timestamp":1655887751455,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:11 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/67901/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - d0496590-bc37-448e-a62c-6ffa406079e2
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498400'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B668C99A54646CA860D10429FAA314B4C5436E70C000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:49:11 GMT
recorded_with: VCR 6.1.0
