---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Shayne"},{"property":"lastname","value":"Nolan"},{"property":"email","value":"sheldon@example.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7be561ae-74d0-4880-b0a1-efff3ae6c2ae
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248631'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B0490D0CD64E660DA86DE3B360F84373BE42F1E5B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":21451,"canonical-vid":21451,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Shayne","versions":[{"value":"Shayne","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970123628,"selected":false}]},"email":{"value":"sheldon@example.com","versions":[{"value":"sheldon@example.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970123628,"selected":false}]},"lastname":{"value":"Nolan","versions":[{"value":"Nolan","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970123628,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":21451,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"sheldon@example.com","timestamp":1659970123636,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"506f4d1c-59e0-4b59-bff0-8a0c658aba28","timestamp":1659970123684,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:44 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[],"associatedVids":[21451,21501]},"properties":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9e5becd3-82bf-45e8-a919-b8e109fdfb06
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248629'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B025651A84B0A088F4A3B7DE547157C5C8EF97430000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9756350334,"isDeleted":false,"associations":{"associatedVids":[21451,21501],"associatedCompanyIds":[],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1659970124647,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1659970124647,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1659970124647,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1659970124647,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1659970124647,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1659970124647,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1659970124647,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1659970124647,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1659970124647","timestamp":1659970124647,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970124647","timestamp":1659970124647,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"9e5becd3-82bf-45e8-a919-b8e109fdfb06"}]},"hs_createdate":{"value":"1659970124647","timestamp":1659970124647,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1659970124647","timestamp":1659970124647,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"9e5becd3-82bf-45e8-a919-b8e109fdfb06"}]},"hs_object_id":{"value":"9756350334","timestamp":1659970124647,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9756350334","timestamp":1659970124647,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"9e5becd3-82bf-45e8-a919-b8e109fdfb06"}]},"createdate":{"value":"1659970124647","timestamp":1659970124647,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970124647","timestamp":1659970124647,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"9e5becd3-82bf-45e8-a919-b8e109fdfb06"}]},"hs_projected_amount":{"value":"0","timestamp":1659970124647,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1659970124647,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1659970124647,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1659970124647,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1659970124647,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1659970124647,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1659970124647,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1659970124647,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:44 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v4/objects/Deal/9756350334/associations/Contact
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '0819db2e-68e8-47ea-b066-4c70db83d48f'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248628'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B85191C597275D68C98F40FF20795C2945919A955000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"toObjectId":21451,"associationTypes":[{"category":"HUBSPOT_DEFINED","typeId":3,"label":null}]},{"toObjectId":21501,"associationTypes":[{"category":"HUBSPOT_DEFINED","typeId":3,"label":null}]}]}'
  recorded_at: Mon, 08 Aug 2022 14:48:45 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/21451/profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5e92b11d-4ee8-44a2-a848-57e6dc5b9370
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248627'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BDB17C22D63ED55A219FF0C7B9B6D3B7CBBDC06D2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":21451,"canonical-vid":21451,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_is_unworked":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":"CalculatedPropertyComputer","source-label":null,"updated-by-user-id":null,"timestamp":1659970123636,"selected":false}]},"firstname":{"value":"Shayne","versions":[{"value":"Shayne","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970123628,"selected":false}]},"lastmodifieddate":{"value":"1659970124176","versions":[{"value":"1659970124176","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1659970124176,"selected":false},{"value":"1659970123636","source-type":"CALCULATED","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970123636,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1659970124176,"selected":false}]},"hs_pipeline":{"value":"contacts-lifecycle-pipeline","versions":[{"value":"contacts-lifecycle-pipeline","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970123636,"selected":false}]},"createdate":{"value":"1659970123636","versions":[{"value":"1659970123636","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970123636,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1659970123636","versions":[{"value":"1659970123636","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970123636,"selected":false}]},"lastname":{"value":"Nolan","versions":[{"value":"Nolan","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970123628,"selected":false}]},"hs_all_contact_vids":{"value":"21451","versions":[{"value":"21451","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970123636,"selected":false}]},"hs_is_contact":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1659970123636,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1659970124176,"selected":false}]},"hs_object_id":{"value":"21451","versions":[{"value":"21451","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970123636,"selected":false}]},"hs_email_domain":{"value":"example.com","versions":[{"value":"example.com","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1659970123636,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970123636,"selected":false}]},"email":{"value":"sheldon@example.com","versions":[{"value":"sheldon@example.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970123636,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":21451,"saved-at-timestamp":1659970123714,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"sheldon@example.com","timestamp":1659970123636,"is-primary":true},{"type":"LEAD_GUID","value":"506f4d1c-59e0-4b59-bff0-8a0c658aba28","timestamp":1659970123684}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:45 GMT
[...]
