---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"386101209721d096e7f4d5985241c5aa"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 226f4b16-314b-44f5-b5b0-b42935c0bf72
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498702'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '133'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B765B312C5F8D83013990A68A58FD1F6B6DEE5D22000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956179594,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655818126212","timestamp":1655818126212,"source":"CALCULATED","sourceId":"226f4b16-314b-44f5-b5b0-b42935c0bf72","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818126212","timestamp":1655818126212,"sourceId":"226f4b16-314b-44f5-b5b0-b42935c0bf72","source":"CALCULATED","sourceVid":[],"requestId":"226f4b16-314b-44f5-b5b0-b42935c0bf72"}]},"name":{"value":"386101209721d096e7f4d5985241c5aa","timestamp":1655818126212,"source":"API","sourceId":"226f4b16-314b-44f5-b5b0-b42935c0bf72","updatedByUserId":null,"versions":[{"name":"name","value":"386101209721d096e7f4d5985241c5aa","timestamp":1655818126212,"sourceId":"226f4b16-314b-44f5-b5b0-b42935c0bf72","source":"API","sourceVid":[],"requestId":"226f4b16-314b-44f5-b5b0-b42935c0bf72"}]},"hs_object_id":{"value":"8956179594","timestamp":1655818126212,"source":"API","sourceId":"226f4b16-314b-44f5-b5b0-b42935c0bf72","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956179594","timestamp":1655818126212,"sourceId":"226f4b16-314b-44f5-b5b0-b42935c0bf72","source":"API","sourceVid":[],"requestId":"226f4b16-314b-44f5-b5b0-b42935c0bf72"}]},"createdate":{"value":"1655818126212","timestamp":1655818126212,"source":"API","sourceId":"226f4b16-314b-44f5-b5b0-b42935c0bf72","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818126212","timestamp":1655818126212,"sourceId":"226f4b16-314b-44f5-b5b0-b42935c0bf72","source":"API","sourceVid":[],"requestId":"226f4b16-314b-44f5-b5b0-b42935c0bf72"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:46 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"0e29f6acc9a6b415ea43b5172741dea9@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d86efebe-497b-4e1f-97e2-ddefcc01adf9
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498701'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '132'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B1BB4A35E0362B6CFF26CF9DEEE0BA754099995C3000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":51201,"canonical-vid":51201,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"0e29f6acc9a6b415ea43b5172741dea9@hubspot.com","versions":[{"value":"0e29f6acc9a6b415ea43b5172741dea9@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818126716,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":51201,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"0e29f6acc9a6b415ea43b5172741dea9@hubspot.com","timestamp":1655818126722,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"760fba14-ec6a-40f0-b49a-7578d1f182ba","timestamp":1655818126736,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:46 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[8956179594],"associatedVids":[51201]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 879b3148-9975-4f9e-8e98-30c829a55355
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498700'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '131'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B0153F990551716BD6ECBE899ABE8C941B6B26A9F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9260405281,"isDeleted":false,"associations":{"associatedVids":[51201],"associatedCompanyIds":[8956179594],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655818127131,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655818127131,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"amount":{"value":"30","timestamp":1655818127131,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"amount","value":"30","timestamp":1655818127131,"source":"API","sourceVid":[],"requestId":"879b3148-9975-4f9e-8e98-30c829a55355"}]},"hs_is_closed_won":{"value":"false","timestamp":1655818127131,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655818127131,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_forecast_amount":{"value":"30","timestamp":1655818127131,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_forecast_amount","value":"30","timestamp":1655818127131,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"createdate":{"value":"1655818127131","timestamp":1655818127131,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818127131","timestamp":1655818127131,"source":"API","sourceVid":[],"requestId":"879b3148-9975-4f9e-8e98-30c829a55355"}]},"amount_in_home_currency":{"value":"30","timestamp":1655818127131,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"amount_in_home_currency","value":"30","timestamp":1655818127131,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655818127131,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655818127131,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655818127131,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655818127131,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655818127131,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655818127131,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655818127131","timestamp":1655818127131,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818127131","timestamp":1655818127131,"source":"CALCULATED","sourceVid":[],"requestId":"879b3148-9975-4f9e-8e98-30c829a55355"}]},"hs_createdate":{"value":"1655818127131","timestamp":1655818127131,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655818127131","timestamp":1655818127131,"source":"API","sourceVid":[],"requestId":"879b3148-9975-4f9e-8e98-30c829a55355"}]},"hs_object_id":{"value":"9260405281","timestamp":1655818127131,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9260405281","timestamp":1655818127131,"source":"API","sourceVid":[],"requestId":"879b3148-9975-4f9e-8e98-30c829a55355"}]},"hs_projected_amount":{"value":"0","timestamp":1655818127131,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655818127131,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1655818127131,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655818127131,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655818127131,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655818127131,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:47 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/9260405281?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"super deal"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 53051d18-8d9c-47bd-a799-d836663ea479
      X-Hubspot-Ratelimit-[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9260405281?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8ee31e84-6ec7-4fdf-a1f2-31a3067a09b8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498698'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B2EFB169A139D4AB18E9FA40FEC5105093FF46133000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9260405281,"isDeleted":false,"associations":{"associatedVids":[51201],"associatedCompanyIds":[8956179594],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655818127131,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655818127131,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"dealname":{"value":"super
        deal","timestamp":1655818127425,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"dealname","value":"super
        deal","timestamp":1655818127425,"source":"API","sourceVid":[],"requestId":"53051d18-8d9c-47bd-a799-d836663ea479"}]},"hs_is_closed_won":{"value":"false","timestamp":1655818127131,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":165581[...]
