---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Tempie"},{"property":"lastname","value":"Funk"},{"property":"email","value":"louis_bayer@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 86e0df54-19dc-4b13-a643-2a29cd97c0c8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498411'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B043E9D6C7B695E5B8203A04EA665FA1343404126000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67801,"canonical-vid":67801,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Tempie","versions":[{"value":"Tempie","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887748484,"selected":false}]},"email":{"value":"louis_bayer@example.net","versions":[{"value":"louis_bayer@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887748484,"selected":false}]},"lastname":{"value":"Funk","versions":[{"value":"Funk","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887748484,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67801,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"louis_bayer@example.net","timestamp":1655887748491,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"bf00ab9e-9043-4d6c-b39c-2cb261accd8e","timestamp":1655887748537,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:08 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/67801/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 32db9e3e-f94e-4b37-8f12-a1b01d5a8971
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498410'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '121'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BFB223DCD00C907160E77A4016A1C65DDE3B00514000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:49:08 GMT
recorded_with: VCR 6.1.0
