---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Marvin-Mosciski"},{"name":"domain","value":"deckow.net"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8cda4753-b336-459a-809a-a62e199849d2
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248569'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B93AB5CB5656B1CEAE99AE95E6143EA4F8E91688E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337678383,"isDeleted":false,"properties":{"website":{"value":"deckow.net","timestamp":1659970150339,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"deckow.net","timestamp":1659970150339,"source":"CALCULATED","sourceVid":[],"requestId":"8cda4753-b336-459a-809a-a62e199849d2"}]},"hs_lastmodifieddate":{"value":"1659970150339","timestamp":1659970150339,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970150339","timestamp":1659970150339,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"8cda4753-b336-459a-809a-a62e199849d2"}]},"domain":{"value":"deckow.net","timestamp":1659970150339,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"deckow.net","timestamp":1659970150339,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"8cda4753-b336-459a-809a-a62e199849d2"}]},"name":{"value":"Marvin-Mosciski","timestamp":1659970150339,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Marvin-Mosciski","timestamp":1659970150339,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"8cda4753-b336-459a-809a-a62e199849d2"}]},"hs_object_id":{"value":"9337678383","timestamp":1659970150339,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337678383","timestamp":1659970150339,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"8cda4753-b336-459a-809a-a62e199849d2"}]},"createdate":{"value":"1659970150339","timestamp":1659970150339,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970150339","timestamp":1659970150339,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"8cda4753-b336-459a-809a-a62e199849d2"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:10 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/9337678383
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7980b651-dba6-470b-a86b-42b537[...]
