---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Simonis Group"},{"name":"domain","value":"walter.io"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 072d5795-0ec4-4989-b86a-426a7f7367a7
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248542'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B824E4CFBC2A03396752B0AB0CE10E82EF74B4DAB000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337706502,"isDeleted":false,"properties":{"website":{"value":"walter.io","timestamp":1659970161625,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"walter.io","timestamp":1659970161625,"source":"CALCULATED","sourceVid":[],"requestId":"072d5795-0ec4-4989-b86a-426a7f7367a7"}]},"hs_lastmodifieddate":{"value":"1659970161625","timestamp":1659970161625,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970161625","timestamp":1659970161625,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"072d5795-0ec4-4989-b86a-426a7f7367a7"}]},"domain":{"value":"walter.io","timestamp":1659970161625,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"walter.io","timestamp":1659970161625,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"072d5795-0ec4-4989-b86a-426a7f7367a7"}]},"name":{"value":"Simonis
        Group","timestamp":1659970161625,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Simonis
        Group","timestamp":1659970161625,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"072d5795-0ec4-4989-b86a-426a7f7367a7"}]},"hs_object_id":{"value":"9337706502","timestamp":1659970161625,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337706502","timestamp":1659970161625,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"072d5795-0ec4-4989-b86a-426a7f7367a7"}]},"createdate":{"value":"1659970161625","timestamp":1659970161625,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970161625","timestamp":1659970161625,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"072d5795-0ec4-4989-b86a-426a7f7367a7"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:21 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/companies/v2/companies/9337706502
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a13f6ec5-6c18-474f-9dc4-db578eb98b08
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248541'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B44B0FF733D4F51BFB8F34925E69743FCF9CA9021000000000000000000
    body:
      encoding: UTF-8
      string: '{"companyId":9337706502,"deleted":true}'
  recorded_at: Mon, 08 Aug 2022 14:49:22 GMT
recorded_with: VCR 6.0.0
