---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Eloisa"},{"property":"lastname","value":"Boyle"},{"property":"email","value":"cyril.kihn@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cd24ce4a-9f33-4ac1-9eb8-687954624497
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498384'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '121'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BB80E1235A4295B4EF1BEF280EFC176EBF156BE06000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67853,"canonical-vid":67853,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Eloisa","versions":[{"value":"Eloisa","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757061,"selected":false}]},"email":{"value":"cyril.kihn@example.com","versions":[{"value":"cyril.kihn@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757061,"selected":false}]},"lastname":{"value":"Boyle","versions":[{"value":"Boyle","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757061,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67853,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"cyril.kihn@example.com","timestamp":1655887757068,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"d8ae3cce-0dc8-49ad-93e1-f59cf1d94fda","timestamp":1655887757086,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:17 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/cyril.kihn@example.com/profile?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 335b52e6-eeaf-4623-88a7-2356f950401f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498383'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B0757C3B854FDC764FEA00B462B2D02C36A3D65AD000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67853,"canonical-vid":67853,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_is_unworked":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":"CalculatedPropertyComputer","source-label":null,"updated-by-user-id":null,"timestamp":1655887757068,"selected":false}]},"firstname":{"value":"Eloisa","versions":[{"value":"Eloisa","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757061,"selected":false}]},"lastmodifieddate":{"value":"1655887757068","versions":[{"value":"1655887757068","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757068,"selected":false}]},"hs_pipeline":{"value":"contacts-lifecycle-pipeline","versions":[{"value":"contacts-lifecycle-pipeline","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757068,"selected":false}]},"createdate":{"value":"1655887757068","versions":[{"value":"1655887757068","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757068,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1655887757068","versions":[{"value":"1655887757068","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757068,"selected":false}]},"lastname":{"value":"Boyle","versions":[{"value":"Boyle","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757061,"selected":false}]},"hs_all_contact_vids":{"value":"67853","versions":[{"value":"67853","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757068,"selected":false}]},"hs_marketable_until_renewal":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757068,"selected":false}]},"hs_marketable_status":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757068,"selected":false}]},"hs_is_contact":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757068,"selected":false}]},"hs_object_id":{"value":"67853","versions":[{"value":"67853","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757068,"selected":false}]},"hs_email_domain":{"value":"example.com","versions":[{"value":"example.com","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757068,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757068,"selected":false}]},"email":{"value":"cyril.kihn@example.com","versions":[{"value":"cyril.kihn@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887757068,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67853,"saved-at-timestamp":1655887757088,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"cyril.kihn@example.com","timestamp":1655887757068,"is-primary":true},{"type":"LEAD_GUID","value":"d8ae3cce-0dc8-49ad-93e1-f59cf1d94fda","timestamp":1655887757086}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:17 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Lakeisha"},{"property":"lastname","value":"Johns"},{"property":"email","value":"sumiko_vonrueden@example.org"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e1b04fcf-7d86-4ef7-919c-3b1674ecbfb9
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249667'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/sumiko_vonrueden@example.org/profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f38089c2-491f-49bd-aa60-792d6e0043af
      X-Hubspot-Ratelimit-Daily:
      - '250000'
     [...]
