---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/0
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a9d3d64a-0793-4b51-b819-f9fbd38eeb57
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248563'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BBCF86212F21FEE15AD639D5813E7D9136469891F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a company with the ID ''0''
        in portal ''<PORTAL_ID>''","correlationId":"a9d3d64a-0793-4b51-b819-f9fbd38eeb57","errors":[{"message":"This
        company 0 does not exist."}],"category":"OBJECT_NOT_FOUND","subCategory":"COMPANY_NOT_FOUND"}'
  recorded_at: Mon, 08 Aug 2022 14:49:12 GMT
recorded_with: VCR 6.0.0
