---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Ruecker Group"},{"name":"domain","value":"hackett-marquardt.name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - bd87ca38-9110-48c7-890e-19eb90806052
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498638'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '113'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B3A8D8BAD2C9B3EA8421E0EEA16385391344BE480000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963390976,"isDeleted":false,"properties":{"website":{"value":"hackett-marquardt.name","timestamp":1655887657862,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"hackett-marquardt.name","timestamp":1655887657862,"source":"CALCULATED","sourceVid":[],"requestId":"bd87ca38-9110-48c7-890e-19eb90806052"}]},"hs_lastmodifieddate":{"value":"1655887657862","timestamp":1655887657862,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887657862","timestamp":1655887657862,"source":"CALCULATED","sourceVid":[],"requestId":"bd87ca38-9110-48c7-890e-19eb90806052"}]},"domain":{"value":"hackett-marquardt.name","timestamp":1655887657862,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"hackett-marquardt.name","timestamp":1655887657862,"source":"API","sourceVid":[],"requestId":"bd87ca38-9110-48c7-890e-19eb90806052"}]},"name":{"value":"Ruecker
        Group","timestamp":1655887657862,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Ruecker
        Group","timestamp":1655887657862,"source":"API","sourceVid":[],"requestId":"bd87ca38-9110-48c7-890e-19eb90806052"}]},"hs_object_id":{"value":"8963390976","timestamp":1655887657862,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963390976","timestamp":1655887657862,"source":"API","sourceVid":[],"requestId":"bd87ca38-9110-48c7-890e-19eb90806052"}]},"createdate":{"value":"1655887657862","timestamp":1655887657862,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887657862","timestamp":1655887657862,"source":"API","sourceVid":[],"requestId":"bd87ca38-9110-48c7-890e-19eb90806052"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:37 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/8963390976?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ffe85907-3811-4d84-91a3-89e195e2d666
      X-Hubspot-Ratelimit[...]
