---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"71961e5870502ff56aab3ea173b30111"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 193fb858-3f55-40ce-afc6-2b01ce135c65
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498674'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B16EAC4C5847C8D6D01B7E354CCA921F152CA1496000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956434704,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655818137791","timestamp":1655818137791,"source":"CALCULATED","sourceId":"193fb858-3f55-40ce-afc6-2b01ce135c65","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818137791","timestamp":1655818137791,"sourceId":"193fb858-3f55-40ce-afc6-2b01ce135c65","source":"CALCULATED","sourceVid":[],"requestId":"193fb858-3f55-40ce-afc6-2b01ce135c65"}]},"name":{"value":"71961e5870502ff56aab3ea173b30111","timestamp":1655818137791,"source":"API","sourceId":"193fb858-3f55-40ce-afc6-2b01ce135c65","updatedByUserId":null,"versions":[{"name":"name","value":"71961e5870502ff56aab3ea173b30111","timestamp":1655818137791,"sourceId":"193fb858-3f55-40ce-afc6-2b01ce135c65","source":"API","sourceVid":[],"requestId":"193fb858-3f55-40ce-afc6-2b01ce135c65"}]},"hs_object_id":{"value":"8956434704","timestamp":1655818137791,"source":"API","sourceId":"193fb858-3f55-40ce-afc6-2b01ce135c65","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956434704","timestamp":1655818137791,"sourceId":"193fb858-3f55-40ce-afc6-2b01ce135c65","source":"API","sourceVid":[],"requestId":"193fb858-3f55-40ce-afc6-2b01ce135c65"}]},"createdate":{"value":"1655818137791","timestamp":1655818137791,"source":"API","sourceId":"193fb858-3f55-40ce-afc6-2b01ce135c65","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818137791","timestamp":1655818137791,"sourceId":"193fb858-3f55-40ce-afc6-2b01ce135c65","source":"API","sourceVid":[],"requestId":"193fb858-3f55-40ce-afc6-2b01ce135c65"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:57 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[8956434704],"associatedVids":[]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 11bd2d7c-c08a-4f69-942f-e71a2e81bf20
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498673'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BA248335F844467441E0306FD3130281BBA5D75B0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9260105304,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[8956434704],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655818138063,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655818138063,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"amount":{"value":"30","timestamp":1655818138063,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"amount","value":"30","timestamp":1655818138063,"source":"API","sourceVid":[],"requestId":"11bd2d7c-c08a-4f69-942f-e71a2e81bf20"}]},"hs_is_closed_won":{"value":"false","timestamp":1655818138063,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655818138063,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_forecast_amount":{"value":"30","timestamp":1655818138063,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_forecast_amount","value":"30","timestamp":1655818138063,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"createdate":{"value":"1655818138063","timestamp":1655818138063,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818138063","timestamp":1655818138063,"source":"API","sourceVid":[],"requestId":"11bd2d7c-c08a-4f69-942f-e71a2e81bf20"}]},"amount_in_home_currency":{"value":"30","timestamp":1655818138063,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"amount_in_home_currency","value":"30","timestamp":1655818138063,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655818138063,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655818138063,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655818138063,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655818138063,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655818138063,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655818138063,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655818138063","timestamp":1655818138063,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818138063","timestamp":1655818138063,"source":"CALCULATED","sourceVid":[],"requestId":"11bd2d7c-c08a-4f69-942f-e71a2e81bf20"}]},"hs_createdate":{"value":"1655818138063","timestamp":1655818138063,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655818138063","timestamp":1655818138063,"source":"API","sourceVid":[],"requestId":"11bd2d7c-c08a-4f69-942f-e71a2e81bf20"}]},"hs_object_id":{"value":"9260105304","timestamp":1655818138063,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9260105304","timestamp":1655818138063,"source":"API","sourceVid":[],"requestId":"11bd2d7c-c08a-4f69-942f-e71a2e81bf20"}]},"hs_projected_amount":{"value":"0","timestamp":1655818138063,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655818138063,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1655818138063,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655818138063,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655818138063,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655818138063,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:58 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm-associations/v1/associations/8956434704/HUBSPOT_DEFINED/6?hapikey=<HAPI_KEY>&limit=25&offset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 84833218-258e-420e-af44-218719b943ae
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498672'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '127'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BA714CA57B4C4F76B708258E69B13F3BB82861D7D000000000000000000
    body:
      encoding: UTF-8
      string: '{"results":[],"hasMore":false,"offset":0}'
  recorded_at: Tue, 21 Jun 2022 13:28:58 GMT
recorded_with: VCR 6.1.0
