---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Bergstrom and Sons"},{"name":"domain","value":"parisian.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8b8d7d75-548e-43fa-8401-1024d5ca1e00
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248551'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BB05048220AA3045C2CBD76F0877C2B461F3127BB000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337706499,"isDeleted":false,"properties":{"website":{"value":"parisian.com","timestamp":1659970158579,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"parisian.com","timestamp":1659970158579,"source":"CALCULATED","sourceVid":[],"requestId":"8b8d7d75-548e-43fa-8401-1024d5ca1e00"}]},"hs_lastmodifieddate":{"value":"1659970158579","timestamp":1659970158579,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970158579","timestamp":1659970158579,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"8b8d7d75-548e-43fa-8401-1024d5ca1e00"}]},"domain":{"value":"parisian.com","timestamp":1659970158579,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"parisian.com","timestamp":1659970158579,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"8b8d7d75-548e-43fa-8401-1024d5ca1e00"}]},"name":{"value":"Bergstrom
        and Sons","timestamp":1659970158579,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Bergstrom
        and Sons","timestamp":1659970158579,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"8b8d7d75-548e-43fa-8401-1024d5ca1e00"}]},"hs_object_id":{"value":"9337706499","timestamp":1659970158579,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337706499","timestamp":1659970158579,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"8b8d7d75-548e-43fa-8401-1024d5ca1e00"}]},"createdate":{"value":"1659970158579","timestamp":1659970158579,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970158579","timestamp":1659970158579,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"8b8d7d75-548e-43fa-8401-1024d5ca1e00"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:18 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/9337706499
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 10fcf3d1-4a07-47ec-a25b-64a3b520d47f
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Re[...]
