---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Sterling"},{"property":"lastname","value":"O''Hara"},{"property":"email","value":"thanh@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1c8231d4-281a-4d7b-9de2-b7bead543eea
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498760'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '138'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B6F688DE5ACAB189D95DDB7A730DC50321A20F44F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50651,"canonical-vid":50651,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Sterling","versions":[{"value":"Sterling","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818104898,"selected":false}]},"email":{"value":"thanh@example.net","versions":[{"value":"thanh@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818104898,"selected":false}]},"lastname":{"value":"O''Hara","versions":[{"value":"O''Hara","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818104898,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50651,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"thanh@example.net","timestamp":1655818104903,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"15dcc084-70a2-4d14-a810-d72d645af741","timestamp":1655818104956,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:25 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/50651/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"},{"property":"lastname","value":"qwer"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 228f405b-35ae-44f6-883c-ebbd00134feb
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498759'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '137'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BB62943943D489B9DE25817E38EEF31BCED86BB3B000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:28:25 GMT
recorded_with: VCR 6.1.0
