---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/9338040442
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a4aeb5a1-19e6-48cb-af4f-62e672125b01
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248564'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BA58A96DEDC87895B847683C07BCCCDB9091C600A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9338040442,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1659970152304","timestamp":1659970152304,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970152304","timestamp":1659970152304,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"a4aeb5a1-19e6-48cb-af4f-62e672125b01"},{"name":"hs_lastmodifieddate","value":"1659970151819","timestamp":1659970151819,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"78a6dcd2-d8e0-4001-a40a-f55c948026f3"}]},"name":{"value":"Foobar","timestamp":1659970152304,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Foobar","timestamp":1659970152304,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"a4aeb5a1-19e6-48cb-af4f-62e672125b01"},{"name":"name","value":"Dicki
        LLC","timestamp":1659970151819,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"78a6dcd2-d8e0-4001-a40a-f55c948026f3"}]},"hs_object_id":{"value":"9338040442","timestamp":1659970151819,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9338040442","timestamp":1659970151819,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"78a6dcd2-d8e0-4001-a40a-f55c948026f3"}]},"createdate":{"value":"1659970151819","timestamp":1659970151819,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970151819","timestamp":1659970151819,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"78a6dcd2-d8e0-4001-a40a-f55c948026f3"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:12 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Braun, Krajcik and Schimmel"},{"name":"domain","value":"stamm.co"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e2281fa9-80f3-4cd2-8d72-b9eb42230e4c
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248562'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B0D2DCB0A7467880258A094196E1EEDE840D7C5C4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9338040445,"isDeleted":false,"properties":{"website":{"value":"stamm.co","timestamp":1659970153091,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"stamm.co","timestamp":1659970153091,"source":"CALCULATED","sourceVid":[],"requestId":"e2281fa9-80f3-4cd2-8d72-b9eb42230e4c"}]},"hs_lastmodifieddate":{"value":"1659970153091","timestamp":1659970153091,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970153091","timestamp":1659970153091,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"e2281fa9-80f3-4cd2-8d72-b9eb42230e4c"}]},"domain":{"value":"stamm.co","timestamp":1659970153091,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"stamm.co","timestamp":1659970153091,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e2281fa9-80f3-4cd2-8d72-b9eb42230e4c"}]},"name":{"value":"Braun,
        Krajcik and Schimmel","timestamp":1659970153091,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Braun,
        Krajcik and Schimmel","timestamp":1659970153091,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e2281fa9-80f3-4cd2-8d72-b9eb42230e4c"}]},"hs_object_id":{"value":"9338040445","timestamp":1659970153091,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9338040445","timestamp":1659970153091,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e2281fa9-80f3-4cd2-8d72-b9eb42230e4c"}]},"createdate":{"value":"1659970153091","timestamp":1659970153091,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970153091","timestamp":1659970153091,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e2281fa9-80f3-4cd2-8d72-b9eb42230e4c"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:13 GMT
[...]
