---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Josef"},{"property":"lastname","value":"Jakubowski"},{"property":"email","value":"oretha@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3b7fb9f4-d199-4c4c-852b-3764f401ad4f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498683'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '133'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B4A65E11F54ACE56D04966DB34A166B66FBE09126000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":66401,"canonical-vid":66401,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Josef","versions":[{"value":"Josef","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643203,"selected":false}]},"email":{"value":"oretha@example.com","versions":[{"value":"oretha@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643203,"selected":false}]},"lastname":{"value":"Jakubowski","versions":[{"value":"Jakubowski","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643203,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":66401,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"oretha@example.com","timestamp":1655887643208,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"71291622-376c-47e3-834c-de6079a349fa","timestamp":1655887643222,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:23 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[],"associatedVids":[66401,66451]},"properties":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 438524fe-5e70-4ca5-b3a4-686639cd8cd0
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498681'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '131'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B3E4781D6C354D6881B373AE9C350F643A9963CE3000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9270182913,"isDeleted":false,"associations":{"associatedVids":[66401,66451],"associatedCompanyIds":[],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655887643985,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655887643985,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655887643985,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655887643985,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1655887643985,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655887643985,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655887643985,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655887643985,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655887643985","timestamp":1655887643985,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887643985","timestamp":1655887643985,"source":"CALCULATED","sourceVid":[],"requestId":"438524fe-5e70-4ca5-b3a4-686639cd8cd0"}]},"hs_createdate":{"value":"1655887643985","timestamp":1655887643985,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655887643985","timestamp":1655887643985,"source":"API","sourceVid":[],"requestId":"438524fe-5e70-4ca5-b3a4-686639cd8cd0"}]},"hs_object_id":{"value":"9270182913","timestamp":1655887643985,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9270182913","timestamp":1655887643985,"source":"API","sourceVid":[],"requestId":"438524fe-5e70-4ca5-b3a4-686639cd8cd0"}]},"createdate":{"value":"1655887643985","timestamp":1655887643985,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887643985","timestamp":1655887643985,"source":"API","sourceVid":[],"requestId":"438524fe-5e70-4ca5-b3a4-686639cd8cd0"}]},"hs_projected_amount":{"value":"0","timestamp":1655887643985,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655887643985,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1655887643985,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655887643985,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655887643985,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655887643985,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655887643985,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655887643985,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:24 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v4/objects/Deal/9270182913/associations/Contact?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c39e9e20-9335-4b89-a71f-691d7bbd4950
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498241'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B4D1AE21B78FA5AA61F4DD25DE046C06D3FCDC3B5000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"toObjectId":66401,"associationTypes":[{"category":"HUBSPOT_DEFINED","typeId":3,"label":null}]},{"toObjectId":66451,"associationTypes":[{"category":"HUBSPOT_DEFINED","typeId":3,"label":null}]}]}'
  recorded_at: Wed, 22 Jun 2022 08:52:29 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/66401/profile?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 64240e13-9cba-40b8-bd1a-f61b9b66aa32
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498240'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B6040BF67F5EDE3E4944F666895061D1CBB84C0DF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":66401,"canonical-vid":66401,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_latest_source_data_1":{"value":"API","versions":[{"value":"API","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"hs_is_unworked":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":"CalculatedPropertyComputer","source-label":null,"updated-by-user-id":null,"timestamp":1655887643208,"selected":false}]},"firstname":{"value":"Josef","versions":[{"value":"Josef","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643203,"selected":false}]},"num_unique_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643646,"selected":false}]},"hs_latest_source":{"value":"OFFLINE","versions":[{"value":"OFFLINE","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"hs_pipeline":{"value":"contacts-lifecycle-pipeline","versions":[{"value":"contacts-lifecycle-pipeline","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643208,"selected":false}]},"hs_analytics_revenue":{"value":"0.0","versions":[{"value":"0.0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"hs_social_num_broadcast_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"createdate":{"value":"1655887643208","versions":[{"value":"1655887643208","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643208,"selected":false}]},"hs_lifecyclestage_opportunity_date":{"value":"1655887644418","versions":[{"value":"1655887644418","source-type":"DEALS","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887644418,"selected":false}]},"hs_analytics_num_visits":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"hs_sequences_actively_enrolled_count":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":"RollupProperties","source-label":null,"updated-by-user-id":null,"timestamp":1655887643918,"selected":false}]},"hs_social_linkedin_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"hs_marketable_until_renewal":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643208,"selected":false}]},"hs_marketable_status":{"value":"false","versions":[{"value":"false","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643208,"selected":false}]},"hs_analytics_source":{"value":"OFFLINE","versions":[{"value":"OFFLINE","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"first_deal_created_date":{"value":"1655887643985","versions":[{"value":"1655887643985","source-type":"CALCULATED","source-id":"RollupProperties","source-label":null,"updated-by-user-id":null,"timestamp":1655887644448,"selected":false}]},"num_associated_deals":{"value":"1","versions":[{"value":"1","source-type":"CALCULATED","source-id":"RollupProperties","source-label":null,"updated-by-user-id":null,"timestamp":1655887644448,"selected":false}]},"hs_email_domain":{"value":"example.com","versions":[{"value":"example.com","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643208,"selected":false}]},"hs_analytics_num_page_views":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"hs_time_between_contact_creation_and_deal_creation":{"value":"777","versions":[{"value":"777","source-type":"CALCULATED","source-id":"CalculatedPropertyComputer","source-label":null,"updated-by-user-id":null,"timestamp":1655887644448,"selected":false}]},"email":{"value":"oretha@example.com","versions":[{"value":"oretha@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643208,"selected":false}]},"hs_latest_source_timestamp":{"value":"1655887643226","versions":[{"value":"1655887643226","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"lastmodifieddate":{"value":"1655887672547","versions":[{"value":"1655887672547","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887672547,"selected":false},{"value":"1655887645540","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false},{"value":"1655887644448","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887644448,"selected":false},{"value":"1655887644425","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887644425,"selected":false},{"value":"1655887643918","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643918,"selected":false},{"value":"1655887643646","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643646,"selected":false},{"value":"1655887643208","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643208,"selected":false}]},"hs_analytics_first_timestamp":{"value":"1655887643208","versions":[{"value":"1655887643208","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"hs_social_google_plus_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1655887643208","versions":[{"value":"1655887643208","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643208,"selected":false}]},"hs_analytics_average_page_views":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"lastname":{"value":"Jakubowski","versions":[{"value":"Jakubowski","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643203,"selected":false}]},"hs_all_contact_vids":{"value":"66401","versions":[{"value":"66401","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643208,"selected":false}]},"hs_social_facebook_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"hs_predictivescoringtier":{"value":"tier_2","versions":[{"value":"tier_2","source-type":"CALCULATED","source-id":null,"source-label":"HubSpot
        Predictive Contact Scoring Model","updated-by-user-id":null,"timestamp":1655887670754,"selected":false}]},"hs_predictivecontactscore_v2":{"value":"1.3","versions":[{"value":"1.3","source-type":"CALCULATED","source-id":null,"source-label":"HubSpot
        Predictive Contact Scoring Model","updated-by-user-id":null,"timestamp":1655887670754,"selected":false}]},"hs_is_contact":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643208,"selected":false}]},"num_conversion_events":{"value":"0","versions":[{"value":"0","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643646,"selected":false}]},"hs_object_id":{"value":"66401","versions":[{"value":"66401","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643208,"selected":false}]},"hs_analytics_num_event_completions":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"hs_social_twitter_clicks":{"value":"0","versions":[{"value":"0","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"hs_analytics_source_data_1":{"value":"API","versions":[{"value":"API","source-type":"ANALYTICS","source-id":"ContactAnalyticsDetailsUpdateWorker","source-label":null,"updated-by-user-id":null,"timestamp":1655887645540,"selected":false}]},"lifecyclestage":{"value":"opportunity","versions":[{"value":"opportunity","source-type":"DEALS","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887644418,"selected":false},{"value":"subscriber","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887643208,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":66401,"saved-at-timestamp":1655887643226,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"oretha@example.com","timestamp":1655887643208,"is-primary":true},{"type":"LEAD_GUID","value":"71291622-376c-47e3-834c-de6079a349fa","timestamp":1655887643222}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:52:29 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Elmo"},{"property":"lastname","value":"Rohan"},{"property":"email","value":"garrett@example.org"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5824b900-ed96-48c6-a48e-36b759e02312
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249966'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
[...]
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[],"associatedVids":[157551,157601]},"properties":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-[...]
- request:
    method: get
    uri: https://api.hubapi.com/crm/v4/objects/Deal/9678282680/associations/Contact
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - aad62604-e741-4def-ba6e-151ccd17165a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249963'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BA8DA74C14AEFFD1BFD8EB8A60A5C47DC3028583C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"toObjectId":157551,"associationTypes":[{"category":"HUBSPOT_DEFINED","typeId":3,"label":null}]},{"toObjectId":157601,"associationTypes":[{"category":"HUBSPOT_DEFINED","typeId":3,"label":null}]}]}'
  recorded_at: Tue, 02 Aug 2022 14:50:34 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/157551/profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d363dc2a-5d00-43d5-8ee6-064980755743
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Dai[...]
[...]
