---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Lockman-Yundt"},{"name":"domain","value":"shanahan-pagac.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 077e24b9-401d-4fb7-96c1-6e6b85f53bc3
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248526'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '73'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B35E7E567ED4DE3081AE04E85B67D432EFD5DB89C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337717138,"isDeleted":false,"properties":{"website":{"value":"shanahan-pagac.com","timestamp":1659970167085,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"shanahan-pagac.com","timestamp":1659970167085,"source":"CALCULATED","sourceVid":[],"requestId":"077e24b9-401d-4fb7-96c1-6e6b85f53bc3"}]},"hs_lastmodifieddate":{"value":"1659970167085","timestamp":1659970167085,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970167085","timestamp":1659970167085,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"077e24b9-401d-4fb7-96c1-6e6b85f53bc3"}]},"domain":{"value":"shanahan-pagac.com","timestamp":1659970167085,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"shanahan-pagac.com","timestamp":1659970167085,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"077e24b9-401d-4fb7-96c1-6e6b85f53bc3"}]},"name":{"value":"Lockman-Yundt","timestamp":1659970167085,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Lockman-Yundt","timestamp":1659970167085,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"077e24b9-401d-4fb7-96c1-6e6b85f53bc3"}]},"hs_object_id":{"value":"9337717138","timestamp":1659970167085,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337717138","timestamp":1659970167085,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"077e24b9-401d-4fb7-96c1-6e6b85f53bc3"}]},"createdate":{"value":"1659970167085","timestamp":1659970167085,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970167085","timestamp":1659970167085,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"077e24b9-401d-4fb7-96c1-6e6b85f53bc3"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:27 GMT
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/domains/shanahan-pagac.com/companies
    body:
      encoding: UTF-8
      string: '{"limit":25,"requestOptions":{},"offset":{"isPrimary":true,"companyId":null}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 76c6d9a3-d453-46ce-9b2f-cd6a4910e450
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248525'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '72'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B48146ED6E7132771F4FA03C212FF3CC9DBCD32D7000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"portalId":<PORTAL_ID>,"companyId":9337717138,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}],"hasMore":false,"offset":{"companyId":9337717138,"isPrimary":true}}'
  recorded_at: Mon, 08 Aug 2022 14:49:27 GMT
recorded_with: VCR 6.0.0
