---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Runte, Champlin and Cronin"},{"name":"domain","value":"bartell.io"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 83c05266-7787-494e-a65a-02ffd0dc59a5
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248348'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B45DA0E5122331AD63EEC04E8BEEA16E8E8D1ABE2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337646743,"isDeleted":false,"properties":{"website":{"value":"bartell.io","timestamp":1659970251416,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"bartell.io","timestamp":1659970251416,"source":"CALCULATED","sourceVid":[],"requestId":"83c05266-7787-494e-a65a-02ffd0dc59a5"}]},"hs_lastmodifieddate":{"value":"1659970251416","timestamp":1659970251416,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970251416","timestamp":1659970251416,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"83c05266-7787-494e-a65a-02ffd0dc59a5"}]},"domain":{"value":"bartell.io","timestamp":1659970251416,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"bartell.io","timestamp":1659970251416,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"83c05266-7787-494e-a65a-02ffd0dc59a5"}]},"name":{"value":"Runte,
        Champlin and Cronin","timestamp":1659970251416,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Runte,
        Champlin and Cronin","timestamp":1659970251416,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"83c05266-7787-494e-a65a-02ffd0dc59a5"}]},"hs_object_id":{"value":"9337646743","timestamp":1659970251416,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337646743","timestamp":1659970251416,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"83c05266-7787-494e-a65a-02ffd0dc59a5"}]},"createdate":{"value":"1659970251416","timestamp":1659970251416,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970251416","timestamp":1659970251416,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"83c05266-7787-494e-a65a-02ffd0dc59a5"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:51 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Davis"},{"property":"lastname","value":"Schultz"},{"property":"email","value":"shoshana.parisian@example.com"},{"property":"associatedcompanyid","value":9337646743}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6c7cdad1-ff9e-4447-9dd2-10c673667653
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248347'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '81'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B79C0DE56AC314231EE6170D0AA85C93802B48B96000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23351,"canonical-vid":23351,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"associatedcompanyid":{"value":"9337646743","versions":[{"value":"9337646743","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970251975,"selected":false}]},"firstname":{"value":"Davis","versions":[{"value":"Davis","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970251975,"selected":false}]},"email":{"value":"shoshana.parisian@example.com","versions":[{"value":"shoshana.parisian@example.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970251975,"selected":false}]},"lastname":{"value":"Schultz","versions":[{"value":"Schultz","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970251975,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23351,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"shoshana.parisian@example.com","timestamp":1659970252076,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"739d7241-ca9a-4144-a2b0-85e68f122733","timestamp":1659970252153,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:52 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/23351/profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e2dbc990-7a7d-400e-8d6a-5cd26820521e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248346'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BC5927464280AEE65E6FC70AB473A3EC2C6CB2F12000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23351,"canonical-vid":23351,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_is_unworked":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":"CalculatedPropertyComputer","source-label":null,"updated-by-user-id":null,"timestamp":1659970252076,"selected":false}]},"firstname":{"value":"Davis","versions":[{"value":"Davis","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970251975,"selected":false}]},"hs_is_contact":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1659970252076,"selected":false}]},"lastmodifieddate":{"value":"1659970252076","versions":[{"value":"1659970252076","source-type":"CALCULATED","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970252076,"selected":false}]},"hs_pipeline":{"value":"contacts-lifecycle-pipeline","versions":[{"value":"contacts-lifecycle-pipeline","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970252076,"selected":false}]},"hs_object_id":{"value":"23351","versions":[{"value":"23351","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970252076,"selected":false}]},"hs_email_domain":{"value":"example.com","versions":[{"value":"example.com","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1659970252076,"selected":false}]},"createdate":{"value":"1659970252076","versions":[{"value":"1659970252076","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970252076,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1659970252076","versions":[{"value":"1659970252076","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970252076,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970252076,"selected":false}]},"email":{"value":"shoshana.parisian@example.com","versions":[{"value":"shoshana.parisian@example.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970252076,"selected":false}]},"lastname":{"value":"Schultz","versions":[{"value":"Schultz","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970251975,"selected":false}]},"hs_all_contact_vids":{"value":"23351","versions":[{"value":"23351","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970252076,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23351,"saved-at-timestamp":1659970252156,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"shoshana.parisian@example.com","timestamp":1659970252076,"is-primary":true},{"type":"LEAD_GUID","value":"739d7241-ca9a-4144-a2b0-85e68f122733","timestamp":1659970252153}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:53 GMT
recorded_with: VCR 6.0.0
