---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Wendi"},{"property":"lastname","value":"Grady"},{"property":"email","value":"lyman@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 34c5db61-cd71-4797-b04f-a24b178dc528
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498770'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BC41BEADCF1EBB781DD1EB06211F271FF4D7281E4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50501,"canonical-vid":50501,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Wendi","versions":[{"value":"Wendi","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818101457,"selected":false}]},"email":{"value":"lyman@example.com","versions":[{"value":"lyman@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818101457,"selected":false}]},"lastname":{"value":"Grady","versions":[{"value":"Grady","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818101457,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50501,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"lyman@example.com","timestamp":1655818101468,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"0a12b7a3-cb8b-4e2e-a7d6-699274ddb656","timestamp":1655818101512,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:21 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/50501/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 64476a81-4d3b-4b5b-ab00-1e3ce7bc1a58
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498769'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B8F925FEEFE66CDF3AB41170192571A6055A09DBF000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:28:21 GMT
recorded_with: VCR 6.1.0
