---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"b00530d5982025aa75236757ce662f16"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f7fcf24b-8020-4825-9cfe-e97d93a4690e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498339'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '115'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B9ED680DF4A577AF06700A9ECCE7C1D67AE3F29A7000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963380147,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655887769658","timestamp":1655887769658,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887769658","timestamp":1655887769658,"source":"CALCULATED","sourceVid":[],"requestId":"f7fcf24b-8020-4825-9cfe-e97d93a4690e"}]},"name":{"value":"b00530d5982025aa75236757ce662f16","timestamp":1655887769658,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"b00530d5982025aa75236757ce662f16","timestamp":1655887769658,"source":"API","sourceVid":[],"requestId":"f7fcf24b-8020-4825-9cfe-e97d93a4690e"}]},"hs_object_id":{"value":"8963380147","timestamp":1655887769658,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963380147","timestamp":1655887769658,"source":"API","sourceVid":[],"requestId":"f7fcf24b-8020-4825-9cfe-e97d93a4690e"}]},"createdate":{"value":"1655887769658","timestamp":1655887769658,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887769658","timestamp":1655887769658,"source":"API","sourceVid":[],"requestId":"f7fcf24b-8020-4825-9cfe-e97d93a4690e"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:29 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"814f4c033b3628f694772361d37dbe14@hubspot.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 62ca7c61-7fd1-4510-9f32-d1509d59eb46
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498338'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '114'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BA5B0DE6A5B4C3E0FA622D19DEBCD5838968FB42B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67203,"canonical-vid":67203,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"814f4c033b3628f694772361d37dbe14@hubspot.com","versions":[{"value":"814f4c033b3628f694772361d37dbe14@hubspot.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887769879,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67203,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"814f4c033b3628f694772361d37dbe14@hubspot.com","timestamp":1655887769885,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"e5d38726-ae01-4394-831e-7bebfe231d52","timestamp":1655887769895,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:30 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[8963380147],"associatedVids":[67203]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 831c00bb-866a-4f03-b7f8-aacb98b2935a
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498337'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '116'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BBCED7FA11DFB97C5E4FAEE148FE5F6F2A2FDF80A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9270668595,"isDeleted":false,"associations":{"associatedVids":[67203],"associatedCompanyIds":[8963380147],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655887770244,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655887770244,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"amount":{"value":"30","timestamp":1655887770244,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"amount","value":"30","timestamp":1655887770244,"source":"API","sourceVid":[],"requestId":"831c00bb-866a-4f03-b7f8-aacb98b2935a"}]},"hs_is_closed_won":{"value":"false","timestamp":1655887770244,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1655887770244,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_forecast_amount":{"value":"30","timestamp":1655887770244,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_forecast_amount","value":"30","timestamp":1655887770244,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"createdate":{"value":"1655887770244","timestamp":1655887770244,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887770244","timestamp":1655887770244,"source":"API","sourceVid":[],"requestId":"831c00bb-866a-4f03-b7f8-aacb98b2935a"}]},"amount_in_home_currency":{"value":"30","timestamp":1655887770244,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"amount_in_home_currency","value":"30","timestamp":1655887770244,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1655887770244,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1655887770244,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1655887770244,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1655887770244,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1655887770244,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1655887770244,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1655887770244","timestamp":1655887770244,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887770244","timestamp":1655887770244,"source":"CALCULATED","sourceVid":[],"requestId":"831c00bb-866a-4f03-b7f8-aacb98b2935a"}]},"hs_createdate":{"value":"1655887770244","timestamp":1655887770244,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1655887770244","timestamp":1655887770244,"source":"API","sourceVid":[],"requestId":"831c00bb-866a-4f03-b7f8-aacb98b2935a"}]},"hs_object_id":{"value":"9270668595","timestamp":1655887770244,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9270668595","timestamp":1655887770244,"source":"API","sourceVid":[],"requestId":"831c00bb-866a-4f03-b7f8-aacb98b2935a"}]},"hs_projected_amount":{"value":"0","timestamp":1655887770244,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1655887770244,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1655887770244,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1655887770244,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1655887770244,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1655887770244,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:30 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/9270668595?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"super deal"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fa34b4cb-4653-423f-a38f-92d4321fe78b
      X-Hubspot-Ratelimit-[...]
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9270668595?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 06d1c401-1a9d-4657-ae9f-ec394018412a
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498335'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '114'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BF747F08049265E8EC0723035063B78F3DEF63E64000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9270668595,"isDeleted":false,"associations":{"associatedVids":[67203],"associatedCompanyIds":[8963380147],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1655887770244,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1655887770244,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"dealname":{"value":"super
        deal","timestamp":1655887770557,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"dealname","value":"super
        deal","timestamp":1655887770557,"source":"API","sourceVid":[],"requestId":"fa34b4cb-4653-423f-a38f-92d4321fe78b"}]},"hs_is_closed_won":{"value":"false","timestamp":1655887770244,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":165588[...]
