---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Bruce"},{"property":"lastname","value":"Murazik"},{"property":"email","value":"jeffry_hintz@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cc52c063-874c-4527-a031-a2d63fbc7442
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498397'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B7B9458835BD5F3B0FEECBD208F25C3DB1AFA56EF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":68001,"canonical-vid":68001,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Bruce","versions":[{"value":"Bruce","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887752750,"selected":false}]},"email":{"value":"jeffry_hintz@example.com","versions":[{"value":"jeffry_hintz@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887752750,"selected":false}]},"lastname":{"value":"Murazik","versions":[{"value":"Murazik","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887752750,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":68001,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"jeffry_hintz@example.com","timestamp":1655887752756,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"2be3fa2d-0d53-4705-9f8f-b0200d8e3890","timestamp":1655887752789,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:13 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/68001/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"},{"property":"lastname","value":"qwer"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - d87aed7a-ec2e-4c3b-b6ef-64f7ef8b4a55
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498396'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BFD6DD60360E0838152A699B3A90CD9B40570CF40000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:49:13 GMT
recorded_with: VCR 6.1.0
