---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal
    body:
      encoding: UTF-8
      string: '{"portalId":62515,"associations":{"associatedCompanyIds":[],"associatedVids":[]},"properties":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e7f813c7-46e1-41af-9958-32d9a9177c2f
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248659'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '94'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B844CD195C82B956572848F161E3C7B20C978E94D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9755286928,"isDeleted":false,"associations":{"associatedVids":[],"associatedCompanyIds":[],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1659970111040,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1659970111040,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1659970111040,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1659970111040,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_closed_won":{"value":"false","timestamp":1659970111040,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1659970111040,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1659970111040,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1659970111040,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1659970111040","timestamp":1659970111040,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970111040","timestamp":1659970111040,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"e7f813c7-46e1-41af-9958-32d9a9177c2f"}]},"hs_createdate":{"value":"1659970111040","timestamp":1659970111040,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1659970111040","timestamp":1659970111040,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e7f813c7-46e1-41af-9958-32d9a9177c2f"}]},"hs_object_id":{"value":"9755286928","timestamp":1659970111040,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9755286928","timestamp":1659970111040,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e7f813c7-46e1-41af-9958-32d9a9177c2f"}]},"createdate":{"value":"1659970111040","timestamp":1659970111040,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970111040","timestamp":1659970111040,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e7f813c7-46e1-41af-9958-32d9a9177c2f"}]},"hs_is_deal_split":{"value":"false","timestamp":1659970111040,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1659970111040,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount":{"value":"0","timestamp":1659970111040,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1659970111040,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1659970111040,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1659970111040,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1659970111040,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1659970111040,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:31 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Rogelio"},{"property":"lastname","value":"Bechtelar"},{"property":"email","value":"michael@example.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 272f93f0-4c5d-48ee-bfcb-14851ae0e2b1
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248658'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '93'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B02046C910FAB58BE07DC1A473CA06773735BADEA000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":21251,"canonical-vid":21251,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Rogelio","versions":[{"value":"Rogelio","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970111422,"selected":false}]},"email":{"value":"michael@example.com","versions":[{"value":"michael@example.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970111422,"selected":false}]},"lastname":{"value":"Bechtelar","versions":[{"value":"Bechtelar","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970111422,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":21251,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"michael@example.com","timestamp":1659970111429,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"2fc7a999-250c-4796-92ac-220719b1ce7f","timestamp":1659970111483,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:48:32 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Deal/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9755286928},"to":{"id":21251},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":3}]},{"from":{"id":9755286928},"to":{"id":21301},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":3}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3137dd19-b2ec-472b-a0ea-01e3ec21b6ce
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248656'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '91'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B32DEB91BB3D1FF322327AB07B9DD7CBD117A295D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-3","fromObjectId":9755286928,"toObjectTypeId":"0-1","toObjectId":21301,"labels":[]},{"fromObjectTypeId":"0-3","fromObjectId":9755286928,"toObjectTypeId":"0-1","toObjectId":21251,"labels":[]}],"startedAt":"2022-08-08T14:48:32.839Z","completedAt":"2022-08-08T14:48:32.901Z"}'
  recorded_at: Mon, 08 Aug 2022 14:48:32 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/9755286928
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2dedd84f-8f54-4a6d-8efc-1b8205f83c85
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
[...]
