---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Thompson Inc"},{"name":"domain","value":"gleason-erdman.name"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fda31033-ca0e-46e4-b2d3-494390f5f5e7
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498601'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BE99EED0048B9D53CFC1E80593A087D3304031F3A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963368575,"isDeleted":false,"properties":{"website":{"value":"gleason-erdman.name","timestamp":1655887666088,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"gleason-erdman.name","timestamp":1655887666088,"source":"CALCULATED","sourceVid":[],"requestId":"fda31033-ca0e-46e4-b2d3-494390f5f5e7"}]},"hs_lastmodifieddate":{"value":"1655887666088","timestamp":1655887666088,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887666088","timestamp":1655887666088,"source":"CALCULATED","sourceVid":[],"requestId":"fda31033-ca0e-46e4-b2d3-494390f5f5e7"}]},"domain":{"value":"gleason-erdman.name","timestamp":1655887666088,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"gleason-erdman.name","timestamp":1655887666088,"source":"API","sourceVid":[],"requestId":"fda31033-ca0e-46e4-b2d3-494390f5f5e7"}]},"name":{"value":"Thompson
        Inc","timestamp":1655887666088,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Thompson
        Inc","timestamp":1655887666088,"source":"API","sourceVid":[],"requestId":"fda31033-ca0e-46e4-b2d3-494390f5f5e7"}]},"hs_object_id":{"value":"8963368575","timestamp":1655887666088,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963368575","timestamp":1655887666088,"source":"API","sourceVid":[],"requestId":"fda31033-ca0e-46e4-b2d3-494390f5f5e7"}]},"createdate":{"value":"1655887666088","timestamp":1655887666088,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887666088","timestamp":1655887666088,"source":"API","sourceVid":[],"requestId":"fda31033-ca0e-46e4-b2d3-494390f5f5e7"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:46 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=<HAPI_KEY>&limit=25&offset=8963368575
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 977b880b-aec8-49b3-9505-6d6703d985e4
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498600'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '117'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BF90C0AFA44BCE6EE3B821FC75A2BB4C43C72BEA9000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"has-more":true,"offset":8963406768,"companies":[{"portalId":<PORTAL_ID>,"companyId":8963368575,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8963371277,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8963371279,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8963372621,"isDeleted":false,"properties":{[...]
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Zboncak LLC"},{"name":"domain","value":"durgan.io"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - eb5f929a-2798-42a6-94d4-b7023f64fca0
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249879'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-R[...]
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?limit=25&offset=9289246542
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9f6757dd-92c1-438f-a506-0b1b802ab45b
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubs[...]
