---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Heller-Kihn"},{"name":"domain","value":"hagenes-willms.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6fe6fad6-486d-4149-b8e9-6e033da97904
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248514'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BC451C1616973419767FCE40EBB97ED2BA775E449000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337678404,"isDeleted":false,"properties":{"website":{"value":"hagenes-willms.com","timestamp":1659970173075,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"hagenes-willms.com","timestamp":1659970173075,"source":"CALCULATED","sourceVid":[],"requestId":"6fe6fad6-486d-4149-b8e9-6e033da97904"}]},"hs_lastmodifieddate":{"value":"1659970173075","timestamp":1659970173075,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970173075","timestamp":1659970173075,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"6fe6fad6-486d-4149-b8e9-6e033da97904"}]},"domain":{"value":"hagenes-willms.com","timestamp":1659970173075,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"hagenes-willms.com","timestamp":1659970173075,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"6fe6fad6-486d-4149-b8e9-6e033da97904"}]},"name":{"value":"Heller-Kihn","timestamp":1659970173075,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Heller-Kihn","timestamp":1659970173075,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"6fe6fad6-486d-4149-b8e9-6e033da97904"}]},"hs_object_id":{"value":"9337678404","timestamp":1659970173075,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337678404","timestamp":1659970173075,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"6fe6fad6-486d-4149-b8e9-6e033da97904"}]},"createdate":{"value":"1659970173075","timestamp":1659970173075,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970173075","timestamp":1659970173075,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"6fe6fad6-486d-4149-b8e9-6e033da97904"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:33 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9337678404},"to":{"id":1234},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d390a4c3-9536-4d2e-b648-3c303f40cdba
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248513'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B697A83A820A90784E69F465C5C7234E16B00CDB8000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[],"numErrors":1,"errors":[{"status":"error","category":"VALIDATION_ERROR","message":"CONTACT=1234
        is not valid"}],"startedAt":"2022-08-08T14:49:33.324Z","completedAt":"2022-08-08T14:49:33.338Z"}'
  recorded_at: Mon, 08 Aug 2022 14:49:33 GMT
recorded_with: VCR 6.0.0
