---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"joselyn_swaniawski@example.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b1897e0e-c3aa-4c11-8469-329a1e4383d8
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248344'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BD4A95123EB38D132AB64DA3C3D35BFC22168633C000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23401,"canonical-vid":23401,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"joselyn_swaniawski@example.com","versions":[{"value":"joselyn_swaniawski@example.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970253577,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23401,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"joselyn_swaniawski@example.com","timestamp":1659970253593,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"786d44c0-3a0b-4e41-a158-bc7badf0c638","timestamp":1659970253651,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:53 GMT
recorded_with: VCR 6.0.0
