---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Toney"},{"property":"lastname","value":"Rodriguez"},{"property":"email","value":"fredericka@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b5e1406f-130f-4dec-a7ac-66b062636352
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498764'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '121'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BA9EA45B20E330CA1BB8E8E4B68389DBACEDE7FB4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50551,"canonical-vid":50551,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Toney","versions":[{"value":"Toney","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818103446,"selected":false}]},"email":{"value":"fredericka@example.com","versions":[{"value":"fredericka@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818103446,"selected":false}]},"lastname":{"value":"Rodriguez","versions":[{"value":"Rodriguez","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818103446,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50551,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"fredericka@example.com","timestamp":1655818103454,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"8c863ca7-67e6-4dcd-857f-d08c2b3df0a2","timestamp":1655818103499,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:23 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/50551/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 1f42d2fa-e7e8-41c2-b708-09cb991edda6
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498763'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B7A24A2769D399CA05AB7C185F588111E2A8C08B2000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:28:23 GMT
recorded_with: VCR 6.1.0
