---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Marcia"},{"property":"lastname","value":"Kassulke"},{"property":"email","value":"carlota@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a643c734-dace-4162-b05c-1fab8836a6dd
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498750'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B417598E20A1D69AF7DC170ACA76BBE7E8BD4FF08000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50702,"canonical-vid":50702,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Marcia","versions":[{"value":"Marcia","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818108643,"selected":false}]},"email":{"value":"carlota@example.org","versions":[{"value":"carlota@example.org","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818108643,"selected":false}]},"lastname":{"value":"Kassulke","versions":[{"value":"Kassulke","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818108643,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50702,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"carlota@example.org","timestamp":1655818108650,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"9c31b2e1-449d-4c59-9a16-ce5c11f2c07e","timestamp":1655818108671,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:28 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"carlota@example.org"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c8ddd5c3-8226-4afe-8f86-5591a9737327
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498749'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '127'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BA446B24BC07CCE145B476696D2D22B151AAD3BC6000000000000000000
    body:
      encoding: UTF-8
      string: '{"message":"Contact already exists","identityProfile":{"vid":50702,"identity":[{"value":"carlota@example.org","type":"EMAIL","timestamp":1655818108650,"isPrimary":true},{"value":"9c31b2e1-449d-4c59-9a16-ce5c11f2c07e","type":"LEAD_GUID","timestamp":1655818108671}],"linkedVid":[],"isContact":true,"savedAtTimestamp":1655818108674},"errors":[{"message":"A
        contact with email carlota@example.org already exists.","in":"email"}],"status":"error","correlationId":"c8ddd5c3-8226-4afe-8f86-5591a9737327","category":"OBJECT_ALREADY_EXISTS","error":"CONTACT_EXISTS"}'
  recorded_at: Tue, 21 Jun 2022 13:28:30 GMT
recorded_with: VCR 6.1.0
