---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Roberto"},{"property":"lastname","value":"Lehner"},{"property":"email","value":"antonette@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5203bab4-92da-4d6d-ada2-a37c6611a848
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498762'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B6B230FB9A1817AEA2CEA14F2CC2A4C94445FE142000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50601,"canonical-vid":50601,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Roberto","versions":[{"value":"Roberto","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818104181,"selected":false}]},"email":{"value":"antonette@example.net","versions":[{"value":"antonette@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818104181,"selected":false}]},"lastname":{"value":"Lehner","versions":[{"value":"Lehner","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818104181,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50601,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"antonette@example.net","timestamp":1655818104187,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"8008a016-d48c-4bba-ab19-ff8f4c1e97dd","timestamp":1655818104269,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:24 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/50601/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"},{"property":"lastname","value":"qwer"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - c79a41ac-8c76-40ad-9355-ca77f17fa6d0
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498761'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '139'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BACEFE4158FAC4B8F8F832B8C5AD9F8E0DE5679AA000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:28:24 GMT
recorded_with: VCR 6.1.0
