---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Paul"},{"property":"lastname","value":"Heidenreich"},{"property":"email","value":"kitty_donnelly@example.net"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d4fd51e7-cdf7-4ee7-afc3-d77cdff237b3
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248335'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '83'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B9323F86597D253DF765FDEBDF84984763CA29073000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23701,"canonical-vid":23701,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Paul","versions":[{"value":"Paul","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970258581,"selected":false}]},"email":{"value":"kitty_donnelly@example.net","versions":[{"value":"kitty_donnelly@example.net","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970258581,"selected":false}]},"lastname":{"value":"Heidenreich","versions":[{"value":"Heidenreich","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970258581,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23701,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"kitty_donnelly@example.net","timestamp":1659970258588,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"4b36f79a-822b-430f-95e0-8f6fbe905804","timestamp":1659970258609,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:58 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/email/kitty_donnelly@example.net/profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - dac34e7e-12a5-4505-a38b-3ccd6c34e3f6
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248334'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '83'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B7CA7F54A7DDA3A1514F6196EFF5DECB521824B87000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":23701,"canonical-vid":23701,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_is_unworked":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":"CalculatedPropertyComputer","source-label":null,"updated-by-user-id":null,"timestamp":1659970258588,"selected":false}]},"firstname":{"value":"Paul","versions":[{"value":"Paul","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970258581,"selected":false}]},"hs_is_contact":{"value":"true","versions":[{"value":"true","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1659970258588,"selected":false}]},"lastmodifieddate":{"value":"1659970258588","versions":[{"value":"1659970258588","source-type":"CALCULATED","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970258588,"selected":false}]},"hs_pipeline":{"value":"contacts-lifecycle-pipeline","versions":[{"value":"contacts-lifecycle-pipeline","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970258588,"selected":false}]},"hs_object_id":{"value":"23701","versions":[{"value":"23701","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970258588,"selected":false}]},"hs_email_domain":{"value":"example.net","versions":[{"value":"example.net","source-type":"CALCULATED","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1659970258588,"selected":false}]},"createdate":{"value":"1659970258588","versions":[{"value":"1659970258588","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970258588,"selected":false}]},"hs_lifecyclestage_subscriber_date":{"value":"1659970258588","versions":[{"value":"1659970258588","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970258588,"selected":false}]},"lifecyclestage":{"value":"subscriber","versions":[{"value":"subscriber","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970258588,"selected":false}]},"email":{"value":"kitty_donnelly@example.net","versions":[{"value":"kitty_donnelly@example.net","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970258588,"selected":false}]},"lastname":{"value":"Heidenreich","versions":[{"value":"Heidenreich","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970258581,"selected":false}]},"hs_all_contact_vids":{"value":"23701","versions":[{"value":"23701","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970258588,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":23701,"saved-at-timestamp":1659970258613,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"kitty_donnelly@example.net","timestamp":1659970258588,"is-primary":true},{"type":"LEAD_GUID","value":"4b36f79a-822b-430f-95e0-8f6fbe905804","timestamp":1659970258609}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:59 GMT
recorded_with: VCR 6.0.0
