---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Maurice"},{"property":"lastname","value":"Abernathy"},{"property":"email","value":"an@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 185f2687-e0b9-4a18-b80c-a566ee94900d
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498766'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '121'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B07561D2C758C8CFDE71426D75AF80C12BBA8B83F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50452,"canonical-vid":50452,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Maurice","versions":[{"value":"Maurice","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818102750,"selected":false}]},"email":{"value":"an@example.net","versions":[{"value":"an@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818102750,"selected":false}]},"lastname":{"value":"Abernathy","versions":[{"value":"Abernathy","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818102750,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50452,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"an@example.net","timestamp":1655818102759,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"b6a41d93-287f-48a8-83cc-bdc5f54b1c9b","timestamp":1655818102796,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:22 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/50452/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - ef97c2e2-d61a-4bd5-9652-735aa1da0538
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498765'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B25FC66A32A4359D9804FF06F74D80B6B73B07C94000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:28:23 GMT
recorded_with: VCR 6.1.0
