---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Feest-Lebsack"},{"name":"domain","value":"bednar.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e23af74d-6385-446e-bc07-59f9ba937bec
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248557'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B52437CA6FEEE73FBACE424C489DB96B37A847A6D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337743917,"isDeleted":false,"properties":{"website":{"value":"bednar.com","timestamp":1659970155861,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"bednar.com","timestamp":1659970155861,"source":"CALCULATED","sourceVid":[],"requestId":"e23af74d-6385-446e-bc07-59f9ba937bec"}]},"hs_lastmodifieddate":{"value":"1659970155861","timestamp":1659970155861,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970155861","timestamp":1659970155861,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"e23af74d-6385-446e-bc07-59f9ba937bec"}]},"domain":{"value":"bednar.com","timestamp":1659970155861,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"bednar.com","timestamp":1659970155861,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e23af74d-6385-446e-bc07-59f9ba937bec"}]},"name":{"value":"Feest-Lebsack","timestamp":1659970155861,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Feest-Lebsack","timestamp":1659970155861,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e23af74d-6385-446e-bc07-59f9ba937bec"}]},"hs_object_id":{"value":"9337743917","timestamp":1659970155861,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337743917","timestamp":1659970155861,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e23af74d-6385-446e-bc07-59f9ba937bec"}]},"createdate":{"value":"1659970155861","timestamp":1659970155861,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970155861","timestamp":1659970155861,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"e23af74d-6385-446e-bc07-59f9ba937bec"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:16 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/9337743917
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - aa7361f1-be81-463d-a9ed-b8f0ca[...]
