---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Nick"},{"property":"lastname","value":"Denesik"},{"property":"email","value":"laverne@example.net"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c594aebf-fae2-4402-a17d-111571093475
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498732'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B051D81BF36286872BD45ACCCCBB237F1B8B70E28000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":51002,"canonical-vid":51002,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Nick","versions":[{"value":"Nick","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818116838,"selected":false}]},"email":{"value":"laverne@example.net","versions":[{"value":"laverne@example.net","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818116838,"selected":false}]},"lastname":{"value":"Denesik","versions":[{"value":"Denesik","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818116838,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":51002,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"laverne@example.net","timestamp":1655818116851,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"cb3d8063-fbe8-4ffc-989b-e271c8a79537","timestamp":1655818116881,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:37 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/merge-vids/51002/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vidToMerge":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 218a2b60-b04a-4694-a15c-67ef6b10ca6a
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498731'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BEBFDAA1478B9C4BC8B2941FD3BACC1946836C248000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"vid to merge is not a valid contact or
        is already in the process of being merged","correlationId":"218a2b60-b04a-4694-a15c-67ef6b10ca6a"}'
  recorded_at: Tue, 21 Jun 2022 13:28:37 GMT
recorded_with: VCR 6.1.0
