---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Goldner LLC"},{"name":"domain","value":"macejkovic.io"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d98f3f70-8ea7-4d92-90c1-1da467e125ba
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498987'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '121'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B3A88CFEBFBD712080D89D4F1D438850C2CDCA2D7000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956420210,"isDeleted":false,"properties":{"website":{"value":"macejkovic.io","timestamp":1655818007726,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"macejkovic.io","timestamp":1655818007726,"source":"CALCULATED","sourceVid":[],"requestId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba"}]},"hs_lastmodifieddate":{"value":"1655818007726","timestamp":1655818007726,"source":"CALCULATED","sourceId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818007726","timestamp":1655818007726,"sourceId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba","source":"CALCULATED","sourceVid":[],"requestId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba"}]},"domain":{"value":"macejkovic.io","timestamp":1655818007726,"source":"API","sourceId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba","updatedByUserId":null,"versions":[{"name":"domain","value":"macejkovic.io","timestamp":1655818007726,"sourceId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba","source":"API","sourceVid":[],"requestId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba"}]},"name":{"value":"Goldner
        LLC","timestamp":1655818007726,"source":"API","sourceId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba","updatedByUserId":null,"versions":[{"name":"name","value":"Goldner
        LLC","timestamp":1655818007726,"sourceId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba","source":"API","sourceVid":[],"requestId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba"}]},"hs_object_id":{"value":"8956420210","timestamp":1655818007726,"source":"API","sourceId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956420210","timestamp":1655818007726,"sourceId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba","source":"API","sourceVid":[],"requestId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba"}]},"createdate":{"value":"1655818007726","timestamp":1655818007726,"source":"API","sourceId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818007726","timestamp":1655818007726,"sourceId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba","source":"API","sourceVid":[],"requestId":"d98f3f70-8ea7-4d92-90c1-1da467e125ba"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:47 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/8956420210?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"},{"name":"description","value":"My
        Corporation"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d07fe0[...]
