---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Ritchie, Douglas and Wuckert"},{"name":"domain","value":"hegmann-quigley.name"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8fb3bdea-a487-46a2-adf6-d96e78b201c3
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248530'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '74'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BF9BD1C69677E79FD91DAED7C2E82CA15428D88A9000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337669415,"isDeleted":false,"properties":{"website":{"value":"hegmann-quigley.name","timestamp":1659970165880,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"hegmann-quigley.name","timestamp":1659970165880,"source":"CALCULATED","sourceVid":[],"requestId":"8fb3bdea-a487-46a2-adf6-d96e78b201c3"}]},"hs_lastmodifieddate":{"value":"1659970165880","timestamp":1659970165880,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970165880","timestamp":1659970165880,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"8fb3bdea-a487-46a2-adf6-d96e78b201c3"}]},"domain":{"value":"hegmann-quigley.name","timestamp":1659970165880,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"hegmann-quigley.name","timestamp":1659970165880,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"8fb3bdea-a487-46a2-adf6-d96e78b201c3"}]},"name":{"value":"Ritchie,
        Douglas and Wuckert","timestamp":1659970165880,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Ritchie,
        Douglas and Wuckert","timestamp":1659970165880,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"8fb3bdea-a487-46a2-adf6-d96e78b201c3"}]},"hs_object_id":{"value":"9337669415","timestamp":1659970165880,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337669415","timestamp":1659970165880,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"8fb3bdea-a487-46a2-adf6-d96e78b201c3"}]},"createdate":{"value":"1659970165880","timestamp":1659970165880,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970165880","timestamp":1659970165880,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"8fb3bdea-a487-46a2-adf6-d96e78b201c3"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:26 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?limit=25&offset=9337669415
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7a36e276-a50c-4fe6-9edb-a815fbf19671
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248529'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '74'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B3C42F31C38329499D2050029513D7AECB20BCEEE000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"has-more":true,"offset":9338040443,"companies":[{"portalId":<PORTAL_ID>,"companyId":9337669415,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":9337673546,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":9337673547,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":9337678383,"isDeleted":false,"properties":{[...]
