---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Price and Sons"},{"name":"domain","value":"kozey.info"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 97f3154d-82bb-4903-ac81-0ce7cf16a15d
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248555'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BE030770544AE4E663CF209CDE450FDFD370A6C98000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337678386,"isDeleted":false,"properties":{"website":{"value":"kozey.info","timestamp":1659970156700,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"kozey.info","timestamp":1659970156700,"source":"CALCULATED","sourceVid":[],"requestId":"97f3154d-82bb-4903-ac81-0ce7cf16a15d"}]},"hs_lastmodifieddate":{"value":"1659970156700","timestamp":1659970156700,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970156700","timestamp":1659970156700,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"97f3154d-82bb-4903-ac81-0ce7cf16a15d"}]},"domain":{"value":"kozey.info","timestamp":1659970156700,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"kozey.info","timestamp":1659970156700,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"97f3154d-82bb-4903-ac81-0ce7cf16a15d"}]},"name":{"value":"Price
        and Sons","timestamp":1659970156700,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Price
        and Sons","timestamp":1659970156700,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"97f3154d-82bb-4903-ac81-0ce7cf16a15d"}]},"hs_object_id":{"value":"9337678386","timestamp":1659970156700,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337678386","timestamp":1659970156700,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"97f3154d-82bb-4903-ac81-0ce7cf16a15d"}]},"createdate":{"value":"1659970156700","timestamp":1659970156700,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970156700","timestamp":1659970156700,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"97f3154d-82bb-4903-ac81-0ce7cf16a15d"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:16 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/9337678386
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"},{"name":"description","value":"My
        Corporation"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspo[...]
