---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Gerhold, Beatty and Morar"},{"name":"domain","value":"zulauf.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0350c693-bbd5-4afc-a403-44a04a2eb331
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499003'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '123'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B73FF5A385842FFCA4AEEF99C58BBFB6E95BF0CF3000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956420208,"isDeleted":false,"properties":{"website":{"value":"zulauf.com","timestamp":1655818003679,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"zulauf.com","timestamp":1655818003679,"source":"CALCULATED","sourceVid":[],"requestId":"0350c693-bbd5-4afc-a403-44a04a2eb331"}]},"hs_lastmodifieddate":{"value":"1655818003679","timestamp":1655818003679,"source":"CALCULATED","sourceId":"0350c693-bbd5-4afc-a403-44a04a2eb331","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818003679","timestamp":1655818003679,"sourceId":"0350c693-bbd5-4afc-a403-44a04a2eb331","source":"CALCULATED","sourceVid":[],"requestId":"0350c693-bbd5-4afc-a403-44a04a2eb331"}]},"domain":{"value":"zulauf.com","timestamp":1655818003679,"source":"API","sourceId":"0350c693-bbd5-4afc-a403-44a04a2eb331","updatedByUserId":null,"versions":[{"name":"domain","value":"zulauf.com","timestamp":1655818003679,"sourceId":"0350c693-bbd5-4afc-a403-44a04a2eb331","source":"API","sourceVid":[],"requestId":"0350c693-bbd5-4afc-a403-44a04a2eb331"}]},"name":{"value":"Gerhold,
        Beatty and Morar","timestamp":1655818003679,"source":"API","sourceId":"0350c693-bbd5-4afc-a403-44a04a2eb331","updatedByUserId":null,"versions":[{"name":"name","value":"Gerhold,
        Beatty and Morar","timestamp":1655818003679,"sourceId":"0350c693-bbd5-4afc-a403-44a04a2eb331","source":"API","sourceVid":[],"requestId":"0350c693-bbd5-4afc-a403-44a04a2eb331"}]},"hs_object_id":{"value":"8956420208","timestamp":1655818003679,"source":"API","sourceId":"0350c693-bbd5-4afc-a403-44a04a2eb331","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956420208","timestamp":1655818003679,"sourceId":"0350c693-bbd5-4afc-a403-44a04a2eb331","source":"API","sourceVid":[],"requestId":"0350c693-bbd5-4afc-a403-44a04a2eb331"}]},"createdate":{"value":"1655818003679","timestamp":1655818003679,"source":"API","sourceId":"0350c693-bbd5-4afc-a403-44a04a2eb331","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818003679","timestamp":1655818003679,"sourceId":"0350c693-bbd5-4afc-a403-44a04a2eb331","source":"API","sourceVid":[],"requestId":"0350c693-bbd5-4afc-a403-44a04a2eb331"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:43 GMT
recorded_with: VCR 6.1.0
