---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Dicki, Kuhlman and Howe"},{"name":"domain","value":"bradtke.io"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9c1a0fec-a583-4477-be3c-ec9c5cc74fbb
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498964'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '116'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B056592E9CAC9925E98FEDC3D4336D48076752895000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956457845,"isDeleted":false,"properties":{"website":{"value":"bradtke.io","timestamp":1655818014444,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"bradtke.io","timestamp":1655818014444,"source":"CALCULATED","sourceVid":[],"requestId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb"}]},"hs_lastmodifieddate":{"value":"1655818014444","timestamp":1655818014444,"source":"CALCULATED","sourceId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818014444","timestamp":1655818014444,"sourceId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb","source":"CALCULATED","sourceVid":[],"requestId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb"}]},"domain":{"value":"bradtke.io","timestamp":1655818014444,"source":"API","sourceId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb","updatedByUserId":null,"versions":[{"name":"domain","value":"bradtke.io","timestamp":1655818014444,"sourceId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb","source":"API","sourceVid":[],"requestId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb"}]},"name":{"value":"Dicki,
        Kuhlman and Howe","timestamp":1655818014444,"source":"API","sourceId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb","updatedByUserId":null,"versions":[{"name":"name","value":"Dicki,
        Kuhlman and Howe","timestamp":1655818014444,"sourceId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb","source":"API","sourceVid":[],"requestId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb"}]},"hs_object_id":{"value":"8956457845","timestamp":1655818014444,"source":"API","sourceId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956457845","timestamp":1655818014444,"sourceId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb","source":"API","sourceVid":[],"requestId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb"}]},"createdate":{"value":"1655818014444","timestamp":1655818014444,"source":"API","sourceId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818014444","timestamp":1655818014444,"sourceId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb","source":"API","sourceVid":[],"requestId":"9c1a0fec-a583-4477-be3c-ec9c5cc74fbb"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:54 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=<HAPI_KEY>&limit=25&offset=8956457845
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - dc56b48e-41aa-4a95-a3ea-c8e796952017
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498963'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '115'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B307410EAA480A408001D01D1A73AF9A3FB71BD01000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"has-more":false,"offset":8956850245,"companies":[{"portalId":<PORTAL_ID>,"companyId":8956457845,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8956460392,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8956805197,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8956805200,"isDeleted":false,"properties":{[...]
