---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Turner-Jakubowski"},{"name":"domain","value":"weber.info"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 64509725-aa0b-4984-b952-3fa8079df957
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248522'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '75'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B6C6C4180411FD3A8A331F197BAF9B07BCDBF4DC5000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337697881,"isDeleted":false,"properties":{"website":{"value":"weber.info","timestamp":1659970169129,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"weber.info","timestamp":1659970169129,"source":"CALCULATED","sourceVid":[],"requestId":"64509725-aa0b-4984-b952-3fa8079df957"}]},"hs_lastmodifieddate":{"value":"1659970169129","timestamp":1659970169129,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970169129","timestamp":1659970169129,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"64509725-aa0b-4984-b952-3fa8079df957"}]},"domain":{"value":"weber.info","timestamp":1659970169129,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"weber.info","timestamp":1659970169129,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"64509725-aa0b-4984-b952-3fa8079df957"}]},"name":{"value":"Turner-Jakubowski","timestamp":1659970169129,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Turner-Jakubowski","timestamp":1659970169129,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"64509725-aa0b-4984-b952-3fa8079df957"}]},"hs_object_id":{"value":"9337697881","timestamp":1659970169129,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337697881","timestamp":1659970169129,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"64509725-aa0b-4984-b952-3fa8079df957"}]},"createdate":{"value":"1659970169129","timestamp":1659970169129,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970169129","timestamp":1659970169129,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"64509725-aa0b-4984-b952-3fa8079df957"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:29 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Sherika"},{"property":"lastname","value":"Abshire"},{"property":"email","value":"heath@example.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f3c4cb82-937e-4921-b523-635d15209e8a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248521'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '74'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B094315EA62E360ADB97B621541D495AEACCD03DC000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":21551,"canonical-vid":21551,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Sherika","versions":[{"value":"Sherika","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970169696,"selected":false}]},"email":{"value":"heath@example.com","versions":[{"value":"heath@example.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970169696,"selected":false}]},"lastname":{"value":"Abshire","versions":[{"value":"Abshire","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970169696,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":21551,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"heath@example.com","timestamp":1659970169702,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"fe1aec41-d620-4bcc-afbc-fec74d105f91","timestamp":1659970169778,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:30 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9337697881},"to":{"id":21551},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 738e73b3-a388-4ca0-b1ab-110e5d0ac309
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248520'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BD21273BEEF11505358D9DEF7D210999FF40643B1000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":9337697881,"toObjectTypeId":"0-1","toObjectId":21551,"labels":["Primary
        Company"]}],"startedAt":"2022-08-08T14:49:30.327Z","completedAt":"2022-08-08T14:49:30.431Z"}'
  recorded_at: Mon, 08 Aug 2022 14:49:30 GMT
recorded_with: VCR 6.0.0
