---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foo Bar Inc."}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 04c05036-0a59-4395-8789-5e501293a67f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498981'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '115'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BE63B8BB9F336FD6E13AFFC1BB66EAB8131029631000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8956434229,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1655818009357","timestamp":1655818009357,"source":"CALCULATED","sourceId":"04c05036-0a59-4395-8789-5e501293a67f","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655818009357","timestamp":1655818009357,"sourceId":"04c05036-0a59-4395-8789-5e501293a67f","source":"CALCULATED","sourceVid":[],"requestId":"04c05036-0a59-4395-8789-5e501293a67f"}]},"name":{"value":"Foo
        Bar Inc.","timestamp":1655818009357,"source":"API","sourceId":"04c05036-0a59-4395-8789-5e501293a67f","updatedByUserId":null,"versions":[{"name":"name","value":"Foo
        Bar Inc.","timestamp":1655818009357,"sourceId":"04c05036-0a59-4395-8789-5e501293a67f","source":"API","sourceVid":[],"requestId":"04c05036-0a59-4395-8789-5e501293a67f"}]},"hs_object_id":{"value":"8956434229","timestamp":1655818009357,"source":"API","sourceId":"04c05036-0a59-4395-8789-5e501293a67f","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8956434229","timestamp":1655818009357,"sourceId":"04c05036-0a59-4395-8789-5e501293a67f","source":"API","sourceVid":[],"requestId":"04c05036-0a59-4395-8789-5e501293a67f"}]},"createdate":{"value":"1655818009357","timestamp":1655818009357,"source":"API","sourceId":"04c05036-0a59-4395-8789-5e501293a67f","updatedByUserId":null,"versions":[{"name":"createdate","value":"1655818009357","timestamp":1655818009357,"sourceId":"04c05036-0a59-4395-8789-5e501293a67f","source":"API","sourceVid":[],"requestId":"04c05036-0a59-4395-8789-5e501293a67f"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:26:49 GMT
recorded_with: VCR 6.1.0
