---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Von Group"},{"name":"domain","value":"mosciski-predovic.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6dc376d7-fc5e-41bc-a78e-cac02ef455f4
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498603'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B70BC447AF3D927FC680581687DA9721CF66EAE16000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963385212,"isDeleted":false,"properties":{"website":{"value":"mosciski-predovic.com","timestamp":1655887665640,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"mosciski-predovic.com","timestamp":1655887665640,"source":"CALCULATED","sourceVid":[],"requestId":"6dc376d7-fc5e-41bc-a78e-cac02ef455f4"}]},"hs_lastmodifieddate":{"value":"1655887665640","timestamp":1655887665640,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887665640","timestamp":1655887665640,"source":"CALCULATED","sourceVid":[],"requestId":"6dc376d7-fc5e-41bc-a78e-cac02ef455f4"}]},"domain":{"value":"mosciski-predovic.com","timestamp":1655887665640,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"mosciski-predovic.com","timestamp":1655887665640,"source":"API","sourceVid":[],"requestId":"6dc376d7-fc5e-41bc-a78e-cac02ef455f4"}]},"name":{"value":"Von
        Group","timestamp":1655887665640,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Von
        Group","timestamp":1655887665640,"source":"API","sourceVid":[],"requestId":"6dc376d7-fc5e-41bc-a78e-cac02ef455f4"}]},"hs_object_id":{"value":"8963385212","timestamp":1655887665640,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963385212","timestamp":1655887665640,"source":"API","sourceVid":[],"requestId":"6dc376d7-fc5e-41bc-a78e-cac02ef455f4"}]},"createdate":{"value":"1655887665640","timestamp":1655887665640,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887665640","timestamp":1655887665640,"source":"API","sourceVid":[],"requestId":"6dc376d7-fc5e-41bc-a78e-cac02ef455f4"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:45 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?hapikey=<HAPI_KEY>&limit=25&offset=8963385212
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fc3b6255-40fb-4a8d-9320-774071f4a874
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498602'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BDA508FC8C916A4207DF5D4EB7D1EC64135169604000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"has-more":false,"offset":8963434003,"companies":[{"portalId":<PORTAL_ID>,"companyId":8963385212,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8963389363,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8963389567,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":8963390976,"isDeleted":false,"properties":{[...]
