---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Misti"},{"property":"lastname","value":"Koch"},{"property":"email","value":"josue.goodwin@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 2240fb4c-781b-4b40-adef-f2ed6d57eba9
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498776'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B28C8D0BB71C8DB7C6B9F15EE998A08700022BDB4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50301,"canonical-vid":50301,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Misti","versions":[{"value":"Misti","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818098978,"selected":false}]},"email":{"value":"josue.goodwin@example.com","versions":[{"value":"josue.goodwin@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818098978,"selected":false}]},"lastname":{"value":"Koch","versions":[{"value":"Koch","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818098978,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50301,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"josue.goodwin@example.com","timestamp":1655818098985,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"4edbb403-405a-4d9f-aeaa-a39d1c24fb57","timestamp":1655818099019,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:19 GMT
recorded_with: VCR 6.1.0
