---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Becker, Kihn and Shanahan"},{"name":"domain","value":"hoppe.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fa08e6ee-e8fa-4007-b387-35d3553e82e8
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498628'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '113'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B717F9F2AD555F8276BC4B01F16E4329A6B0AF866000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963396156,"isDeleted":false,"properties":{"website":{"value":"hoppe.com","timestamp":1655887660119,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"hoppe.com","timestamp":1655887660119,"source":"CALCULATED","sourceVid":[],"requestId":"fa08e6ee-e8fa-4007-b387-35d3553e82e8"}]},"hs_lastmodifieddate":{"value":"1655887660119","timestamp":1655887660119,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887660119","timestamp":1655887660119,"source":"CALCULATED","sourceVid":[],"requestId":"fa08e6ee-e8fa-4007-b387-35d3553e82e8"}]},"domain":{"value":"hoppe.com","timestamp":1655887660119,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"hoppe.com","timestamp":1655887660119,"source":"API","sourceVid":[],"requestId":"fa08e6ee-e8fa-4007-b387-35d3553e82e8"}]},"name":{"value":"Becker,
        Kihn and Shanahan","timestamp":1655887660119,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Becker,
        Kihn and Shanahan","timestamp":1655887660119,"source":"API","sourceVid":[],"requestId":"fa08e6ee-e8fa-4007-b387-35d3553e82e8"}]},"hs_object_id":{"value":"8963396156","timestamp":1655887660119,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963396156","timestamp":1655887660119,"source":"API","sourceVid":[],"requestId":"fa08e6ee-e8fa-4007-b387-35d3553e82e8"}]},"createdate":{"value":"1655887660119","timestamp":1655887660119,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887660119","timestamp":1655887660119,"source":"API","sourceVid":[],"requestId":"fa08e6ee-e8fa-4007-b387-35d3553e82e8"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:40 GMT
- request:
    method: put
    uri: https://api.hubapi.com/companies/v2/companies/8963396156?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e3f91998-2e2f-4808-9d61-56ef41ac0805
      X-Hubspot-Ratelimit[...]
