---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Lockman, Powlowski and Johnson"},{"name":"domain","value":"doyle.org"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 62fd4986-2272-4ef5-b794-6f407a5f46e2
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248532'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B6EB9D6E8E7ACE45FD7B7BE3E12EB595B796A5046000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337748483,"isDeleted":false,"properties":{"website":{"value":"doyle.org","timestamp":1659970165303,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"doyle.org","timestamp":1659970165303,"source":"CALCULATED","sourceVid":[],"requestId":"62fd4986-2272-4ef5-b794-6f407a5f46e2"}]},"hs_lastmodifieddate":{"value":"1659970165303","timestamp":1659970165303,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970165303","timestamp":1659970165303,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"62fd4986-2272-4ef5-b794-6f407a5f46e2"}]},"domain":{"value":"doyle.org","timestamp":1659970165303,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"doyle.org","timestamp":1659970165303,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"62fd4986-2272-4ef5-b794-6f407a5f46e2"}]},"name":{"value":"Lockman,
        Powlowski and Johnson","timestamp":1659970165303,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Lockman,
        Powlowski and Johnson","timestamp":1659970165303,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"62fd4986-2272-4ef5-b794-6f407a5f46e2"}]},"hs_object_id":{"value":"9337748483","timestamp":1659970165303,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337748483","timestamp":1659970165303,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"62fd4986-2272-4ef5-b794-6f407a5f46e2"}]},"createdate":{"value":"1659970165303","timestamp":1659970165303,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970165303","timestamp":1659970165303,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"62fd4986-2272-4ef5-b794-6f407a5f46e2"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:25 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/paged?limit=25&offset=9337748483
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fda74aa9-a9aa-4a11-b8cc-402626087fb0
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248531'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '75'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BC6AB0D894539BF2423EF267ADDE6FFEC3B0F5F77000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"has-more":false,"offset":9338040446,"companies":[{"portalId":<PORTAL_ID>,"companyId":9337748483,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":9338040442,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]},{"portalId":<PORTAL_ID>,"companyId":9338040445,"isDeleted":false,"properties":{},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}]}'
  recorded_at: Mon, 08 Aug 2022 14:49:25 GMT
recorded_with: VCR 6.0.0
