---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=25&hapikey=<HAPI_KEY>&offset=&q=123xyz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 57c66025-df82-48f8-a752-2bba5ce3f5b4
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498741'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '128'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B35354C391A0F7BC2BCEA4755BCA99567A3F17C1F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"query":"123xyz","offset":0,"has-more":false,"total":0,"contacts":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:33 GMT
recorded_with: VCR 6.1.0
