---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Clotilde"},{"property":"lastname","value":"Schamberger"},{"property":"email","value":"sadye@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ae1da13b-0f75-451a-ad83-dc815fb959ad
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498409'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B2BD25DEEBC2772C11DE66D3EDAB50D48998B4B27000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67851,"canonical-vid":67851,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Clotilde","versions":[{"value":"Clotilde","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887749136,"selected":false}]},"email":{"value":"sadye@example.com","versions":[{"value":"sadye@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887749136,"selected":false}]},"lastname":{"value":"Schamberger","versions":[{"value":"Schamberger","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887749136,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67851,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"sadye@example.com","timestamp":1655887749141,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"924bff16-be4c-4080-9ccf-754defee99ea","timestamp":1655887749157,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:09 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact/vid/67851/profile?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"foobar"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - b2a44d9c-7fa4-4c12-b680-b4e7b01297ca
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498408'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BF2E1ADFD86E91E574DB1CE6A112C3ECD2BD6EBA8000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:49:09 GMT
recorded_with: VCR 6.1.0
