---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"35f900eabbbee11c402c75c433cd0636"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9ac6cb65-31d5-4b4d-a5fc-738a1a7e81b8
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248271'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B435422319E1D82827CC055C53B189007687D04D1000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9337713503,"isDeleted":false,"properties":{"hs_lastmodifieddate":{"value":"1659970290001","timestamp":1659970290001,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970290001","timestamp":1659970290001,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"9ac6cb65-31d5-4b4d-a5fc-738a1a7e81b8"}]},"name":{"value":"35f900eabbbee11c402c75c433cd0636","timestamp":1659970290001,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"35f900eabbbee11c402c75c433cd0636","timestamp":1659970290001,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"9ac6cb65-31d5-4b4d-a5fc-738a1a7e81b8"}]},"hs_object_id":{"value":"9337713503","timestamp":1659970290001,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9337713503","timestamp":1659970290001,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"9ac6cb65-31d5-4b4d-a5fc-738a1a7e81b8"}]},"createdate":{"value":"1659970290001","timestamp":1659970290001,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970290001","timestamp":1659970290001,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"9ac6cb65-31d5-4b4d-a5fc-738a1a7e81b8"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:30 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"18fe702de4dcb1d3190084e728db8b7d@hubspot.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6cd3999c-2cc3-4493-a629-1c6b95d4bf2f
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248270'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BB3D1D318466234B402D418C9DCE9DA87BAB90854000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":24151,"canonical-vid":24151,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"18fe702de4dcb1d3190084e728db8b7d@hubspot.com","versions":[{"value":"18fe702de4dcb1d3190084e728db8b7d@hubspot.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970290691,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":24151,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"18fe702de4dcb1d3190084e728db8b7d@hubspot.com","timestamp":1659970290706,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"87301e8c-3809-413f-b05e-538984727f7e","timestamp":1659970290806,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:31 GMT
- request:
    method: post
    uri: https://api.hubapi.com/deals/v1/deal
    body:
      encoding: UTF-8
      string: '{"portalId":<PORTAL_ID>,"associations":{"associatedCompanyIds":[9337713503],"associatedVids":[24151]},"properties":[{"name":"amount","value":"30"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c3af5def-c5d4-41ad-9cc7-e32f2bd899bd
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248269'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BEEBC3CEEF4141346501977404F8DAA6A10644E70000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"dealId":9755383303,"isDeleted":false,"associations":{"associatedVids":[24151],"associatedCompanyIds":[9337713503],"associatedDealIds":[],"associatedTicketIds":[]},"properties":{"hs_closed_amount_in_home_currency":{"value":"0","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount_in_home_currency","value":"0","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"amount":{"value":"30","timestamp":1659970291314,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"amount","value":"30","timestamp":1659970291314,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c3af5def-c5d4-41ad-9cc7-e32f2bd899bd"}]},"hs_is_closed_won":{"value":"false","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_closed_won","value":"false","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_forecast_amount":{"value":"30","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_forecast_amount","value":"30","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"createdate":{"value":"1659970291314","timestamp":1659970291314,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970291314","timestamp":1659970291314,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c3af5def-c5d4-41ad-9cc7-e32f2bd899bd"}]},"amount_in_home_currency":{"value":"30","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"amount_in_home_currency","value":"30","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"days_to_close":{"value":"0","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"days_to_close","value":"0","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_deal_stage_probability_shadow":{"value":"0","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_deal_stage_probability_shadow","value":"0","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_closed_amount":{"value":"0","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_closed_amount","value":"0","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_lastmodifieddate":{"value":"1659970291314","timestamp":1659970291314,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970291314","timestamp":1659970291314,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"c3af5def-c5d4-41ad-9cc7-e32f2bd899bd"}]},"hs_createdate":{"value":"1659970291314","timestamp":1659970291314,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_createdate","value":"1659970291314","timestamp":1659970291314,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c3af5def-c5d4-41ad-9cc7-e32f2bd899bd"}]},"hs_object_id":{"value":"9755383303","timestamp":1659970291314,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9755383303","timestamp":1659970291314,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"c3af5def-c5d4-41ad-9cc7-e32f2bd899bd"}]},"hs_projected_amount":{"value":"0","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount","value":"0","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_is_deal_split":{"value":"false","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_is_deal_split","value":"false","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]},"hs_projected_amount_in_home_currency":{"value":"0","timestamp":1659970291314,"source":"CALCULATED","sourceId":"CalculatedPropertyComputer","updatedByUserId":null,"versions":[{"name":"hs_projected_amount_in_home_currency","value":"0","timestamp":1659970291314,"sourceId":"CalculatedPropertyComputer","source":"CALCULATED","sourceVid":[]}]}},"stateChanges":[]}'
  recorded_at: Mon, 08 Aug 2022 14:51:31 GMT
- request:
    method: put
    uri: https://api.hubapi.com/deals/v1/deal/9755383303
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"dealname","value":"super deal"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cf5eee78-7f2b-43a1-bb0b-18635be[...]
