---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/search/query?count=25&offset=&q=com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 7d285391-6c1d-4ba3-bcc1-f5a2d00bd4a8
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248333'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BD72D9B02C799C4D6713E0F714C717A6B5B6F17BC000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"query":"com","offset":25,"has-more":true,"total":467,"contacts":[{"vid":51,"canonical-vid":51,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_latest_source_data_2":{"value":"sample-contact"},"hs_is_unworked":{"value":"true"},"hs_latest_source_data_1":{"value":"API"},"firstname":{"value":"Brian"},"city":{"value":"Cambridge"},"hs_latest_source":{"value":"OFFLINE"},"num_unique_conversion_events":{"value":"0"},"hs_analytics_revenue":{"value":"0.0"},"hs_pipeline":{"value":"contacts-lifecycle-pipeline"},"createdate":{"value":"1625489281736"},"hs_social_num_broadcast_clicks":{"value":"0"},"hs_analytics_num_visits":{"value":"0"},"hs_marketable_until_renewal":{"value":"true"},"hs_social_linkedin_clicks":{"value":"0"},"hs_marketable_status":{"value":"true"},"hs_analytics_source":{"value":"OFFLINE"},"hs_analytics_num_page_views":{"value":"0"},"hs_email_domain":{"value":"hubspot.com"},"company":{"value":"HubSpot"},"hs_marketable_reason_id":{"value":"Sample
        Contact"},"state":{"value":"MA"},"email":{"value":"bh@hubspot.com"},"hs_latest_source_timestamp":{"value":"1625489281760"},"hs_marketable_reason_type":{"value":"SAMPLE_CONTACT"},"website":{"value":"http://www.HubSpot.com"},"jobtitle":{"value":"CEO"},"hs_analytics_first_timestamp":{"value":"1625489281509"},"lastmodifieddate":{"value":"1649523893250"},"hs_social_google_plus_clicks":{"value":"0"},"hs_analytics_average_page_views":{"value":"0"},"hs_all_contact_vids":{"value":"51"},"lastname":{"value":"Halligan
        (Sample Contact)"},"twitterhandle":{"value":"bhalligan"},"hs_social_facebook_clicks":{"value":"0"},"hs_is_contact":{"value":"true"},"num_conversion_events":{"value":"0"},"twitterprofilephoto":{"value":"https://pbs.twimg.com/profile_images/3491742741/212e42c07d3348251da10872e85aa6b0.jpeg"},"hs_object_id":{"value":"51"},"hs_analytics_num_event_completions":{"value":"0"},"hs_analytics_source_data_2":{"value":"sample-contact"},"hs_social_twitter_clicks":{"value":"0"},"hs_analytics_source_data_1":{"value":"API"},"hs_lifecyclestage_lead_date":{"value":"1625489281509"},"lifecyclestage":{"value":"lead"}},"form-submissions":[],"identity-profiles":[{"vid":51,"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"bh@hubspot.com","timestamp":1625489281509,"is-primary":true},{"type":"LEAD_GUID","value":"e42e8208-e4ff-4490-8cae-36564b947fb5","timestamp":1625489281754}]}],"merge-audits":[]},{"vid":1,"canonical-vid":1,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"hs_latest_source_data_2":{"value":"sample-contact"},"hs_is_unworked":{"value":"true"},"hs_latest_source_data_1":{"value":"API"},"firstname":{"value":"Maria"},"city":{"value":"Brisbane"},"hs_latest_source":{"value":"OFFLINE"},"num_unique_conversion_events":{"value":"0"},"hs_analytics_revenue":{"value":"0.0"},"hs_pipeline":{"value":"contacts-lifecycle-pipeline"},"createdate":{"value":"162548928[...]
