---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Zboncak-Kuphal"},{"name":"domain","value":"huels-stamm.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 856423c2-76af-41dd-b2e4-5354d85203dc
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248507'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B0D2097973AE11D8017A46C3ABA6DFBDF7F750860000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":9338040493,"isDeleted":false,"properties":{"website":{"value":"huels-stamm.com","timestamp":1659970176112,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"huels-stamm.com","timestamp":1659970176112,"source":"CALCULATED","sourceVid":[],"requestId":"856423c2-76af-41dd-b2e4-5354d85203dc"}]},"hs_lastmodifieddate":{"value":"1659970176112","timestamp":1659970176112,"source":"CALCULATED","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1659970176112","timestamp":1659970176112,"sourceId":"1024781","source":"CALCULATED","sourceVid":[],"requestId":"856423c2-76af-41dd-b2e4-5354d85203dc"}]},"domain":{"value":"huels-stamm.com","timestamp":1659970176112,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"domain","value":"huels-stamm.com","timestamp":1659970176112,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"856423c2-76af-41dd-b2e4-5354d85203dc"}]},"name":{"value":"Zboncak-Kuphal","timestamp":1659970176112,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"name","value":"Zboncak-Kuphal","timestamp":1659970176112,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"856423c2-76af-41dd-b2e4-5354d85203dc"}]},"hs_object_id":{"value":"9338040493","timestamp":1659970176112,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"9338040493","timestamp":1659970176112,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"856423c2-76af-41dd-b2e4-5354d85203dc"}]},"createdate":{"value":"1659970176112","timestamp":1659970176112,"source":"INTEGRATION","sourceId":"1024781","updatedByUserId":null,"versions":[{"name":"createdate","value":"1659970176112","timestamp":1659970176112,"sourceId":"1024781","source":"INTEGRATION","sourceVid":[],"requestId":"856423c2-76af-41dd-b2e4-5354d85203dc"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:36 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Lory"},{"property":"lastname","value":"Barton"},{"property":"email","value":"adrian.murazik@example.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c238b1d0-24ae-4430-87ec-b2e1d3f62f5b
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248506'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B7EFAED8C0101E1343CEA1F6D86AD3BA603F46D03000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":21701,"canonical-vid":21701,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Lory","versions":[{"value":"Lory","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970176463,"selected":false}]},"email":{"value":"adrian.murazik@example.com","versions":[{"value":"adrian.murazik@example.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970176463,"selected":false}]},"lastname":{"value":"Barton","versions":[{"value":"Barton","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970176463,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":21701,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"adrian.murazik@example.com","timestamp":1659970176477,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"33c4a6f7-6e48-4a86-8bd4-786949962353","timestamp":1659970176550,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:49:36 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/create
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9338040493},"to":{"id":21701},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":2}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f0cf47b9-fe70-427f-b23f-d2b823dc2468
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248505'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BC400D68D013D584BA24A1148B18BF9EDE5CB67A7000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"COMPLETE","results":[{"fromObjectTypeId":"0-2","fromObjectId":9338040493,"toObjectTypeId":"0-1","toObjectId":21701,"labels":["Primary
        Company"]}],"startedAt":"2022-08-08T14:49:37.006Z","completedAt":"2022-08-08T14:49:37.072Z"}'
  recorded_at: Mon, 08 Aug 2022 14:49:37 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/9338040493/vids?count=25&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8bad9188-89a8-4532-9001-8eeaada7b4c2
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248504'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B8F5D33A99096F1FB70B3D58D425CD1AFADED2889000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vids":[21701],"vidOffset":21701,"hasMore":false}'
  recorded_at: Mon, 08 Aug 2022 14:49:37 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v4/associations/Company/Contact/batch/archive
    body:
      encoding: UTF-8
      string: '{"inputs":[{"from":{"id":9338040493},"to":[{"id":21701}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ab5d7a54-eb53-4b92-a93b-9be1f4f58355
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248503'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '78'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B77902B407160831858C4D00E8DF7D692513F5745000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2022 14:49:38 GMT
- request:
    method: get
    uri: https://api.hubapi.com/companies/v2/companies/9338040493/vids?count=25&vidOffset=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ceab349b-4f03-4895-a6ff-9c283c9aa39f
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248502'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BE47B7B8356E08CA157A1144710EEE5A655A1521B000000000000000000
    body:
      encoding: UTF-8
      string: '{"vids":[],"vidOffset":0,"hasMore":false}'
  recorded_at: Mon, 08 Aug 2022 14:49:38 GMT
recorded_with: VCR 6.0.0
