---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/contact/vid/0/profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3aab3fbe-cea3-4414-b314-7af6aa0c06e7
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248345'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '83'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BAD75F9F919E6FB0FC1413776A7D6379E403559F1000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"contact does not exist","correlationId":"3aab3fbe-cea3-4414-b314-7af6aa0c06e7","errors":[{"message":"The
        contact 0 does not exist."}],"category":"OBJECT_NOT_FOUND"}'
  recorded_at: Mon, 08 Aug 2022 14:50:53 GMT
recorded_with: VCR 6.0.0
