---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"an_invalid_email"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d71c97fe-4f84-4c58-b2d5-975269784447
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248338'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '84'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2BD6ECB3E0F0F900E07C32FA0D29B5C3611FBC3DC9000000000000000000
    body:
      encoding: UTF-8
      string: '{"validationResults":[{"isValid":false,"message":"Email address an_invalid_email
        is invalid","error":"INVALID_EMAIL","name":"email"}],"status":"error","message":"Property
        values were not valid","correlationId":"d71c97fe-4f84-4c58-b2d5-975269784447"}'
  recorded_at: Mon, 08 Aug 2022 14:50:57 GMT
recorded_with: VCR 6.0.0
