---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/companies/v2/companies/?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"name":"name","value":"Mann-Gleason"},{"name":"domain","value":"borer.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 44008ed2-19d7-45dd-bcc1-cba5c48d599b
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498640'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '115'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2BE2A61E6726B878002A5628420E90BEBC20E2A6A4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"companyId":8963352673,"isDeleted":false,"properties":{"website":{"value":"borer.com","timestamp":1655887657391,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"website","value":"borer.com","timestamp":1655887657391,"source":"CALCULATED","sourceVid":[],"requestId":"44008ed2-19d7-45dd-bcc1-cba5c48d599b"}]},"hs_lastmodifieddate":{"value":"1655887657391","timestamp":1655887657391,"source":"CALCULATED","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_lastmodifieddate","value":"1655887657391","timestamp":1655887657391,"source":"CALCULATED","sourceVid":[],"requestId":"44008ed2-19d7-45dd-bcc1-cba5c48d599b"}]},"domain":{"value":"borer.com","timestamp":1655887657391,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"domain","value":"borer.com","timestamp":1655887657391,"source":"API","sourceVid":[],"requestId":"44008ed2-19d7-45dd-bcc1-cba5c48d599b"}]},"name":{"value":"Mann-Gleason","timestamp":1655887657391,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"name","value":"Mann-Gleason","timestamp":1655887657391,"source":"API","sourceVid":[],"requestId":"44008ed2-19d7-45dd-bcc1-cba5c48d599b"}]},"hs_object_id":{"value":"8963352673","timestamp":1655887657391,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"hs_object_id","value":"8963352673","timestamp":1655887657391,"source":"API","sourceVid":[],"requestId":"44008ed2-19d7-45dd-bcc1-cba5c48d599b"}]},"createdate":{"value":"1655887657391","timestamp":1655887657391,"source":"API","sourceId":null,"updatedByUserId":null,"versions":[{"name":"createdate","value":"1655887657391","timestamp":1655887657391,"source":"API","sourceVid":[],"requestId":"44008ed2-19d7-45dd-bcc1-cba5c48d599b"}]}},"additionalDomains":[],"stateChanges":[],"mergeAudits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:47:37 GMT
recorded_with: VCR 6.1.0
