---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/meetings?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":{"hs_timestamp":"1655887796719","hubspot_owner_id":123,"hs_meeting_title":"hs_meeting_title","hs_meeting_body":"hs_meeting_body","hs_meeting_start_time":"1651568400000","hs_meeting_end_time":"1651569300000","hs_meeting_outcome":"SCHEDULED"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/meetings/22885711272
      X-Hubspot-Correlation-Id:
      - 8638850b-8398-45e4-967f-c46e37e90c3c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498248'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '122'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B0C1DDE813F3ADAEFB564BD415A6C76BCDB59430A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"22885711272","properties":{"hs_all_owner_ids":"123","hs_body_preview":"hs_meeting_body","hs_body_preview_html":"<html>\n
        <head></head>\n <body>\n hs_meeting_body\n </body>\n</html>","hs_body_preview_is_truncated":"false","hs_createdate":"2022-06-22T08:49:56.909Z","hs_lastmodifieddate":"2022-06-22T08:49:56.909Z","hs_meeting_body":"hs_meeting_body","hs_meeting_end_time":"2022-05-03T09:15:00Z","hs_meeting_outcome":"SCHEDULED","hs_meeting_source":"CRM_UI","hs_meeting_start_time":"2022-05-03T09:00:00Z","hs_meeting_title":"hs_meeting_title","hs_object_id":"22885711272","hs_timestamp":"2022-06-22T08:49:56.719Z","hubspot_owner_assigneddate":"2022-06-22T08:49:56.909Z","hubspot_owner_id":"123"},"createdAt":"2022-06-22T08:49:56.909Z","updatedAt":"2022-06-22T08:49:56.909Z","archived":false}'
  recorded_at: Wed, 22 Jun 2022 08:49:56 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/meetings
    body:
      encoding: UTF-8
      string: '{"properties":{"hs_timestamp":"1659452091733","hubspot_owner_id":123,"hs_meeting_title":"hs_meeting_title","hs_meeting_body":"hs_meeting_body","hs_meeting_start_time":"1651568400000","hs_meeting_end_time":"1651569300000","hs_meeting_outcome":"SCHEDULED"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/meetings/24203959935
      X-Hubspot-Correlation-Id:
      - b4bfef01-51c0-4f2e-a48c-b1fe1e442b13
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249512'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
[...]
