---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/meetings/27195487241?properties=hubspot_owner_id,hs_meeting_title,hs_meeting_body,hs_meeting_start_time,hs_meeting_end_time
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3bbcd125-ceeb-4cc0-8acc-b9dfc3ee1e01
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249962'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '96'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2BD4AC7309080E04D748E27FFA66A1B9B951094C2F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"27195487241","properties":{"hs_createdate":"2022-10-26T14:25:36.408Z","hs_lastmodifieddate":"2022-10-26T14:25:38.095Z","hs_meeting_body":"<p>Hello
        how are you doing today</p>","hs_meeting_end_time":"2022-10-26T14:45:00Z","hs_meeting_start_time":"2022-10-26T14:30:00Z","hs_meeting_title":"Hello
        World","hs_object_id":"27195487241","hubspot_owner_id":"68156342"},"createdAt":"2022-10-26T14:25:36.408Z","updatedAt":"2022-10-26T14:25:38.095Z","archived":false}'
  recorded_at: Thu, 03 Nov 2022 10:28:59 GMT
recorded_with: VCR 6.1.0
