---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/meetings?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":{"hs_timestamp":"1655818164414","hubspot_owner_id":123,"hs_meeting_title":"hs_meeting_title","hs_meeting_body":"hs_meeting_body","hs_meeting_start_time":"1651568400000","hs_meeting_end_time":"1651569300000","hs_meeting_outcome":"SCHEDULED"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/meetings/22849910554
      X-Hubspot-Correlation-Id:
      - e56f78c1-95ec-4031-a6ce-0703e7f5e62c
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498612'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '133'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BAF9BC4B84DD355586BCE55626BA6940E9F40AC88000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"22849910554","properties":{"hs_all_owner_ids":"123","hs_body_preview":"hs_meeting_body","hs_body_preview_html":"<html>\n
        <head></head>\n <body>\n hs_meeting_body\n </body>\n</html>","hs_body_preview_is_truncated":"false","hs_createdate":"2022-06-21T13:29:24.687Z","hs_lastmodifieddate":"2022-06-21T13:29:24.687Z","hs_meeting_body":"hs_meeting_body","hs_meeting_end_time":"2022-05-03T09:15:00Z","hs_meeting_outcome":"SCHEDULED","hs_meeting_source":"CRM_UI","hs_meeting_start_time":"2022-05-03T09:00:00Z","hs_meeting_title":"hs_meeting_title","hs_object_id":"22849910554","hs_timestamp":"2022-06-21T13:29:24.414Z","hubspot_owner_assigneddate":"2022-06-21T13:29:24.687Z","hubspot_owner_id":"123"},"createdAt":"2022-06-21T13:29:24.687Z","updatedAt":"2022-06-21T13:29:24.687Z","archived":false}'
  recorded_at: Tue, 21 Jun 2022 13:29:24 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/crm/v3/objects/meetings/22849910554?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - a07835c0-b36f-4c01-99ed-b83828efa374
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498611'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '142'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B917234458CA1AEA66047E6D1F8CFB61EFF569269000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:29:24 GMT
recorded_with: VCR 6.1.0
