---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/meetings?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":{"hs_timestamp":"1655818162502","hubspot_owner_id":123,"hs_meeting_title":"hs_meeting_title","hs_meeting_body":"hs_meeting_body","hs_meeting_start_time":"1651568400000","hs_meeting_end_time":"1651569300000","hs_meeting_outcome":"SCHEDULED"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/meetings/22851093879
      X-Hubspot-Correlation-Id:
      - 85d31778-8061-48a3-bb37-294d6d31ffbc
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498614'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BDF8D52602D87858F9078EEC2055A1718EB91BF8F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"22851093879","properties":{"hs_all_owner_ids":"123","hs_body_preview":"hs_meeting_body","hs_body_preview_html":"<html>\n
        <head></head>\n <body>\n hs_meeting_body\n </body>\n</html>","hs_body_preview_is_truncated":"false","hs_createdate":"2022-06-21T13:29:22.755Z","hs_lastmodifieddate":"2022-06-21T13:29:22.755Z","hs_meeting_body":"hs_meeting_body","hs_meeting_end_time":"2022-05-03T09:15:00Z","hs_meeting_outcome":"SCHEDULED","hs_meeting_source":"CRM_UI","hs_meeting_start_time":"2022-05-03T09:00:00Z","hs_meeting_title":"hs_meeting_title","hs_object_id":"22851093879","hs_timestamp":"2022-06-21T13:29:22.502Z","hubspot_owner_assigneddate":"2022-06-21T13:29:22.755Z","hubspot_owner_id":"123"},"createdAt":"2022-06-21T13:29:22.755Z","updatedAt":"2022-06-21T13:29:22.755Z","archived":false}'
  recorded_at: Tue, 21 Jun 2022 13:29:22 GMT
recorded_with: VCR 6.1.0
