---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/meetings/search
    body:
      encoding: UTF-8
      string: '{"limit":100,"properties":["hubspot_owner_id","hs_meeting_title","hs_meeting_body","hs_meeting_start_time","hs_meeting_end_time","hs_timestamp"],"filters":[{"propertyName":"hs_meeting_title","operator":"EQ","value":"Hello
        World"},{"propertyName":"associations.contact","operator":"EQ","value":1451}],"sorts":[{"propertyName":"hs_lastmodifieddate","direction":"DESCENDING"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8d546fc3-2459-40fc-b0df-f55a933db73c
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249995'
      X-Trace:
      - 2BF5E129FB4C6F2F12346D7837DABE293C92634854000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"total":1,"results":[{"id":"27195487241","properties":{"hs_createdate":"2022-10-26T14:25:36.408Z","hs_lastmodifieddate":"2022-10-26T14:25:38.095Z","hs_meeting_body":"<p>Hello
        how are you doing today</p>","hs_meeting_end_time":"2022-10-26T14:45:00Z","hs_meeting_start_time":"2022-10-26T14:30:00Z","hs_meeting_title":"Hello
        World","hs_object_id":"27195487241","hs_timestamp":"2022-10-26T14:30:00Z","hubspot_owner_id":"68156342"},"createdAt":"2022-10-26T14:25:36.408Z","updatedAt":"2022-10-26T14:25:38.095Z","archived":false}]}'
  recorded_at: Tue, 15 Nov 2022 09:10:55 GMT
recorded_with: VCR 6.1.0
