---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/meetings?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":{"hs_timestamp":"1655818162739","hubspot_owner_id":123,"hs_meeting_title":"hs_meeting_title","hs_meeting_body":"hs_meeting_body","hs_meeting_start_time":"invalid","hs_meeting_end_time":"1651569300000","hs_meeting_outcome":"SCHEDULED"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4a910744-80c8-42af-ac12-9665041cdaf5
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498613'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '134'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B96934A85E2D08C51943DFD2B0459A2DE09C771B0000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Property values were not valid: [{\"isValid\":false,\"message\":\"invalid
        was not a valid long. Portal <PORTAL_ID>, object type 0-47\",\"error\":\"INVALID_LONG\",\"name\":\"hs_meeting_start_time\"}]","correlationId":"4a910744-80c8-42af-ac12-9665041cdaf5","category":"VALIDATION_ERROR"}'
  recorded_at: Tue, 21 Jun 2022 13:29:24 GMT
recorded_with: VCR 6.1.0
