---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/meetings
    body:
      encoding: UTF-8
      string: '{"properties":{"hs_timestamp":"1659970343319","hubspot_owner_id":156644386,"hs_meeting_title":"hs_meeting_title","hs_meeting_body":"hs_meeting_body","hs_meeting_start_time":"1651568400000","hs_meeting_end_time":"1651569300000","hs_meeting_outcome":"SCHEDULED"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/meetings/24386810544
      X-Hubspot-Correlation-Id:
      - 96b1d201-8d90-40e1-a711-62cc78a124c2
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248146'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BA48E54D9DCD26279BAFA422F0B4348E111D74A74000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"24386810544","properties":{"hs_all_owner_ids":"156644386","hs_body_preview":"hs_meeting_body","hs_body_preview_html":"<html>\n
        <head></head>\n <body>\n hs_meeting_body\n </body>\n</html>","hs_body_preview_is_truncated":"false","hs_createdate":"2022-08-08T14:52:23.532Z","hs_lastmodifieddate":"2022-08-08T14:52:23.532Z","hs_meeting_body":"hs_meeting_body","hs_meeting_end_time":"2022-05-03T09:15:00Z","hs_meeting_outcome":"SCHEDULED","hs_meeting_source":"CRM_UI","hs_meeting_start_time":"2022-05-03T09:00:00Z","hs_meeting_title":"hs_meeting_title","hs_object_id":"24386810544","hs_timestamp":"2022-08-08T14:52:23.319Z","hs_user_ids_of_all_owners":"11598694","hubspot_owner_assigneddate":"2022-08-08T14:52:23.532Z","hubspot_owner_id":"156644386"},"createdAt":"2022-08-08T14:52:23.532Z","updatedAt":"2022-08-08T14:52:23.532Z","archived":false}'
  recorded_at: Mon, 08 Aug 2022 14:52:23 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/crm/v3/objects/meetings/24386810544
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 572fb4f1-5598-4090-ac95-80b67a824f96
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248145'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '75'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BED96795EA511B2BCB06F2FA8924A5DBF954B6C41000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2022 14:52:24 GMT
recorded_with: VCR 6.0.0
