---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/meetings?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":{"hs_timestamp":"1655887797577","hubspot_owner_id":123,"hs_meeting_title":"hs_meeting_title","hs_meeting_body":"hs_meeting_body","hs_meeting_start_time":"1651568400000","hs_meeting_end_time":"1651569300000","hs_meeting_outcome":"SCHEDULED"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/meetings/22886013361
      X-Hubspot-Correlation-Id:
      - a94dd1a6-d6e9-4d6b-b4de-f22999e84bcb
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498244'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '119'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B3AD564D98A48CEB8BB85C20DEC1A3A607E0068E2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"22886013361","properties":{"hs_all_owner_ids":"123","hs_body_preview":"hs_meeting_body","hs_body_preview_html":"<html>\n
        <head></head>\n <body>\n hs_meeting_body\n </body>\n</html>","hs_body_preview_is_truncated":"false","hs_createdate":"2022-06-22T08:49:57.760Z","hs_lastmodifieddate":"2022-06-22T08:49:57.760Z","hs_meeting_body":"hs_meeting_body","hs_meeting_end_time":"2022-05-03T09:15:00Z","hs_meeting_outcome":"SCHEDULED","hs_meeting_source":"CRM_UI","hs_meeting_start_time":"2022-05-03T09:00:00Z","hs_meeting_title":"hs_meeting_title","hs_object_id":"22886013361","hs_timestamp":"2022-06-22T08:49:57.577Z","hubspot_owner_assigneddate":"2022-06-22T08:49:57.760Z","hubspot_owner_id":"123"},"createdAt":"2022-06-22T08:49:57.760Z","updatedAt":"2022-06-22T08:49:57.760Z","archived":false}'
  recorded_at: Wed, 22 Jun 2022 08:49:57 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Sofia"},{"property":"lastname","value":"Kirlin"},{"property":"email","value":"justin@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 88d4e17f-0ae0-470c-bd08-728a09732b26
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498243'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '118'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '11'
      X-Trace:
      - 2B174888BFEE5015AD53EB0FC08A70415C1AE9D1A0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":69001,"canonical-vid":69001,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Sofia","versions":[{"value":"Sofia","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887797979,"selected":false}]},"email":{"value":"justin@example.com","versions":[{"value":"justin@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887797979,"selected":false}]},"lastname":{"value":"Kirlin","versions":[{"value":"Kirlin","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887797979,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":69001,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"justin@example.com","timestamp":1655887797985,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"3dad933e-c17a-4fb6-9d86-d2f33bc88e7a","timestamp":1655887798002,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:58 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm/v3/objects/meetings/22886013361/associations/Contact/69001/meeting_event_to_contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6190c09c-16f5-4ce0-807d-d9fd5d8edbec
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498242'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '120'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B11913C069F275E885C0453D6E211DA2A72FF2C77000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"22886013361","properties":{"hs_createdate":"2022-06-22T08:49:57.760Z","hs_lastmodifieddate":"2022-06-22T08:49:57.760Z","hs_object_id":"22886013361"},"createdAt":"2022-06-22T08:49:57.760Z","updatedAt":"2022-06-22T08:49:57.760Z","archived":false,"associations":{"contacts":{"results":[{"id":"69001","type":"meeting_event_to_contact"}]}}}'
  recorded_at: Wed, 22 Jun 2022 08:49:58 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/meetings
    body:
      encoding: UTF-8
      string: '{"properties":{"hs_timestamp":"1659452093072","hubspot_owner_id":123,"hs_meeting_title":"hs_meeting_title","hs_meeting_body":"hs_meeting_body","hs_meeting_start_time":"1651568400000","hs_meeting_end_time":"1651569300000","hs_meeting_outcome":"SCHEDULED"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/meetings/24201588849
      X-Hubspot-Correlation-Id:
      - 1d5d61b9-4599-4770-b789-148b0b07f52e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249508'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
[...]
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Ernie"},{"property":"lastname","value":"Hessel"},{"property":"email","value":"gilberto.pollich@example.org"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - appli[...]
- request:
    method: put
    uri: https://api.hubapi.com/crm/v3/objects/meetings/24201588849/associations/Contact/160751/meeting_event_to_contact
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c834424b-ec69-47ed-a62d-7cbd1e2b4bf2
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249506'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '85'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B39EAB1F8C32266389B256CC16AA8F94F5F2BAD69000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"24201588849","properties":{"hs_createdate":"2022-08-02T14:54:53.228Z","hs_lastmodifieddate":"2022-08-02T14:54:53.228Z","hs_object_id":"24201588849"},"createdAt":"2022-08-02T14:54:53.228Z","updatedAt":"2022-08-02T14:54:53.228Z","archived":false,"associations":{"contacts":{"results":[{"id":"160751","type":"meeting_event_to_contact"}]}}}'
  recorded_at: Tue, 02 Aug 2022 14:54:54 GMT
recorded_with: VCR 6.0.0
