---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/meetings?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":{"hs_timestamp":"1655818164929","hubspot_owner_id":123,"hs_meeting_title":"hs_meeting_title","hs_meeting_body":"hs_meeting_body","hs_meeting_start_time":"1651568400000","hs_meeting_end_time":"1651569300000","hs_meeting_outcome":"SCHEDULED"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/meetings/22851265445
      X-Hubspot-Correlation-Id:
      - 9a91f9ff-7bc8-43f5-aaac-4e4ccb4de865
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498610'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '141'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B416CBDD4ED4F1E1BECFAFE2C55D319FDA68F7C4D000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"22851265445","properties":{"hs_all_owner_ids":"123","hs_body_preview":"hs_meeting_body","hs_body_preview_html":"<html>\n
        <head></head>\n <body>\n hs_meeting_body\n </body>\n</html>","hs_body_preview_is_truncated":"false","hs_createdate":"2022-06-21T13:29:25.459Z","hs_lastmodifieddate":"2022-06-21T13:29:25.459Z","hs_meeting_body":"hs_meeting_body","hs_meeting_end_time":"2022-05-03T09:15:00Z","hs_meeting_outcome":"SCHEDULED","hs_meeting_source":"CRM_UI","hs_meeting_start_time":"2022-05-03T09:00:00Z","hs_meeting_title":"hs_meeting_title","hs_object_id":"22851265445","hs_timestamp":"2022-06-21T13:29:24.929Z","hubspot_owner_assigneddate":"2022-06-21T13:29:25.459Z","hubspot_owner_id":"123"},"createdAt":"2022-06-21T13:29:25.459Z","updatedAt":"2022-06-21T13:29:25.459Z","archived":false}'
  recorded_at: Tue, 21 Jun 2022 13:29:25 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"firstname","value":"Emile"},{"property":"lastname","value":"Bode"},{"property":"email","value":"tamera@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - af2c8a09-823a-46ce-8546-e8f48c441bec
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498609'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '140'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B0D3A44AC6584FA8D7FA59F4E81E2B09A4EFFDAC6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":51951,"canonical-vid":51951,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"firstname":{"value":"Emile","versions":[{"value":"Emile","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818165700,"selected":false}]},"email":{"value":"tamera@example.com","versions":[{"value":"tamera@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818165700,"selected":false}]},"lastname":{"value":"Bode","versions":[{"value":"Bode","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818165700,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":51951,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"tamera@example.com","timestamp":1655818165707,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"3ba31176-0625-42e1-ad71-879dbcf6da44","timestamp":1655818165789,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:29:25 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm/v3/objects/meetings/22851265445/associations/Contact/51951/meeting_event_to_contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e9346ea0-9285-42d7-9b0e-adddebe110b6
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498608'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '139'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BD286AE93A64B9A97A8C55EC2BA1163D146CCA0DF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"id":"22851265445","properties":{"hs_createdate":"2022-06-21T13:29:25.459Z","hs_lastmodifieddate":"2022-06-21T13:29:25.459Z","hs_object_id":"22851265445"},"createdAt":"2022-06-21T13:29:25.459Z","updatedAt":"2022-06-21T13:29:25.459Z","archived":false,"associations":{"contacts":{"results":[{"id":"51951","type":"meeting_event_to_contact"}]}}}'
  recorded_at: Tue, 21 Jun 2022 13:29:26 GMT
recorded_with: VCR 6.1.0
