---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners?email=blogapitest@hubspot.com&hapikey=demo&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - eee51d24-a122-4fca-90a8-f360dcb9435c
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994105'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '188'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
      X-Trace:
      - 2BB8A2063E7CAD8DCB039EE70131A0AA371B9C734A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"portalId":62515,"ownerId":66,"type":"PERSON","firstName":"Blog Api","lastName":"Test","email":"blogapitest@hubspot.com","createdAt":1405605858898,"updatedAt":1502455466553,"remoteList":[{"id":29451,"portalId":62515,"ownerId":66,"remoteId":"166656","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false,"activeUserId":166656,"userIdIncludingInactive":166656,"activeSalesforceId":null,"isActive":true}]'
  recorded_at: Wed, 22 Jun 2022 08:49:59 GMT
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners?email=dadams@hubspot.com&hapikey=demo&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 53c7235a-61dc-49af-8552-8b5ad67395d8
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994104'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '187'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
      X-Trace:
      - 2B5A120F018F567723EEEC380CBF85C8B5E3FAD629000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"portalId":62515,"ownerId":60683,"type":"PERSON","firstName":"David","lastName":"Adams","email":"dadams@hubspot.com","createdAt":1405605863380,"updatedAt":1655498283945,"remoteList":[{"id":30426,"portalId":62515,"ownerId":60683,"remoteId":"100097","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false,"activeUserId":100097,"userIdIncludingInactive":100097,"activeSalesforceId":null,"isActive":true}]'
  recorded_at: Wed, 22 Jun 2022 08:49:59 GMT
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners?email=mwelch@hubspot.com&hapikey=demo&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - bf244f9a-d469-41d3-9168-e64de6c5bbf4
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994103'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '186'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
      X-Trace:
      - 2B2EA14CA54F0DE1D2072AD17A79AF8B7DF295FF27000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"portalId":62515,"ownerId":49016677,"type":"PERSON","firstName":"Matt","lastName":"Welch","email":"mwelch@hubspot.com","createdAt":1593537995049,"updatedAt":1593537995049,"remoteList":[{"id":36704045,"portalId":62515,"ownerId":49016677,"remoteId":"8518799","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false,"activeUserId":8518799,"userIdIncludingInactive":8518799,"activeSalesforceId":null,"isActive":true}]'
  recorded_at: Wed, 22 Jun 2022 08:49:59 GMT
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners?email=demo@hubspot.com&hapikey=demo&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 85a107bd-565a-4b51-853e-2c8d0d4a2a59
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994102'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '185'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
      X-Trace:
      - 2B3873DFFF1D2644B3C915050617ACE59ECCF0EF95000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"portalId":62515,"ownerId":71,"type":"PERSON","firstName":"demo","lastName":"demo","email":"demo@hubspot.com","createdAt":1405605859418,"updatedAt":1502455462834,"remoteList":[{"id":29598,"portalId":62515,"ownerId":71,"remoteId":"238058","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false,"isActive":true,"activeSalesforceId":null,"userIdIncludingInactive":238058,"activeUserId":238058}]'
  recorded_at: Wed, 22 Jun 2022 08:49:59 GMT
recorded_with: VCR 6.1.0
