---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners?hapikey=demo&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0fdc04dd-47f9-4eff-b656-1f7ac3917524
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '988313'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '191'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '19'
      X-Trace:
      - 2BB67C7D9B48AF17B5DB9ADEABA90430886AA781D0000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"portalId":62515,"ownerId":66,"type":"PERSON","firstName":"Blog Api","lastName":"Test","email":"blogapitest@hubspot.com","createdAt":1405605858898,"updatedAt":1502455466553,"remoteList":[{"id":29451,"portalId":62515,"ownerId":66,"remoteId":"166656","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false,"activeUserId":166656,"userIdIncludingInactive":166656,"activeSalesforceId":null,"isActive":true},{"portalId":62515,"ownerId":60683,"type":"PERSON","firstName":"David","lastName":"Adams","email":"dadams@hubspot.com","createdAt":1405605863380,"updatedAt":1655498283945,"remoteList":[{"id":30426,"portalId":62515,"ownerId":60683,"remoteId":"100097","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false,"activeUserId":100097,"userIdIncludingInactive":100097,"activeSalesforceId":null,"isActive":true},{"portalId":62515,"ownerId":49016677,"type":"PERSON","firstName":"Matt","lastName":"Welch","email":"mwelch@hubspot.com","createdAt":1593537995049,"updatedAt":1593537995049,"remoteList":[{"id":36704045,"portalId":62515,"ownerId":49016677,"remoteId":"8518799","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false,"activeUserId":8518799,"userIdIncludingInactive":8518799,"activeSalesforceId":null,"isActive":true},{"portalId":62515,"ownerId":71,"type":"PERSON","firstName":"demo","lastName":"demo","email":"demo@hubspot.com","createdAt":1405605859418,"updatedAt":1502455462834,"remoteList":[{"id":29598,"portalId":62515,"ownerId":71,"remoteId":"238058","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false,"activeUserId":238058,"userIdIncludingInactive":238058,"activeSalesforceId":null,"isActive":true}]'
  recorded_at: Tue, 21 Jun 2022 13:29:26 GMT
recorded_with: VCR 6.1.0
