---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?archived=false&email=p%5Bredacted%5De@captaincontrat.com&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4edb687b-16ff-4f22-a66b-1413341741c5
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249981'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"31871817","email":"p[redacted]e@captaincontrat.com","type":"PERSON","firstName":"Philippe","lastName":"W[redacted]","userId":2506672,"userIdIncludingInactive":2506672,"createdAt":"2018-04-09T13:16:56.625Z","updatedAt":"2018-04-09T13:16:56.625Z","archived":false}]}'
  recorded_at: Wed, 05 Mar 2025 11:38:29 GMT
recorded_with: VCR 6.3.1
