---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners?email=blogapitest@hubspot.com&hapikey=demo&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8b6a48d4-2b52-4183-b292-fff7b8136934
      X-Trace:
      - 2BEC5B6B16EEE3B333F9F60F583427285C1EE35071000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Request implies conflicting values for
        hub-id: <PORTAL_ID> from [oauth-token (<ACCESS_TOKEN>)] vs. 62515 from hapikey
        (demo)","correlationId":"8b6a48d4-2b52-4183-b292-fff7b8136934"}'
  recorded_at: Tue, 02 Aug 2022 14:54:56 GMT
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners?email=augustin@captaincontrat.com&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c1f0777f-e04f-4a00-884c-48a48ac36ab3
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249836'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '96'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B9146392B14D25A641AD829E16CFF5AB78BCAA8E6000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"portalId":<PORTAL_ID>,"ownerId":156644386,"type":"PERSON","firstName":"Augustin","lastName":"de
        Maintenant","email":"augustin@captaincontrat.com","createdAt":1646901307500,"updatedAt":1652082080452,"remoteList":[{"id":115353727,"portalId":<PORTAL_ID>,"ownerId":156644386,"remoteId":"11598694","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false,"activeUserId":11598694,"userIdIncludingInactive":11598694,"activeSalesforceId":null,"isActive":true}]'
  recorded_at: Wed, 03 Aug 2022 13:58:28 GMT
recorded_with: VCR 6.0.0
