---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners?email=blogapitest@hubspot.com&hapikey=demo&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 31f77a37-1797-442e-9a19-441f79436d93
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '988310'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '188'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
      X-Trace:
      - 2BF83710E443BA846E102AC02A7BB8B1E21EB6F19F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"portalId":62515,"ownerId":66,"type":"PERSON","firstName":"Blog Api","lastName":"Test","email":"blogapitest@hubspot.com","createdAt":1405605858898,"updatedAt":1502455466553,"remoteList":[{"id":29451,"portalId":62515,"ownerId":66,"remoteId":"166656","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false,"activeUserId":166656,"userIdIncludingInactive":166656,"activeSalesforceId":null,"isActive":true}]'
  recorded_at: Tue, 21 Jun 2022 13:29:26 GMT
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners?email=dadams@hubspot.com&hapikey=demo&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - bed8b7cc-810f-44f4-82d0-2a10aef6991f
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '988309'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '187'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
      X-Trace:
      - 2B07481AAF7657CB1AF800DF75F2D7BF8BDDA396D3000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"portalId":62515,"ownerId":60683,"type":"PERSON","firstName":"David","lastName":"Adams","email":"dadams@hubspot.com","createdAt":1405605863380,"updatedAt":1655498283945,"remoteList":[{"id":30426,"portalId":62515,"ownerId":60683,"remoteId":"100097","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false,"activeUserId":100097,"userIdIncludingInactive":100097,"activeSalesforceId":null,"isActive":true}]'
  recorded_at: Tue, 21 Jun 2022 13:29:27 GMT
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners?email=mwelch@hubspot.com&hapikey=demo&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 42c4f460-7b8d-4c95-a1e8-42bb20f17796
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '988308'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '186'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
      X-Trace:
      - 2BB74B88B1D7B0C78B86245875EA3C90D2816A8D4A000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"portalId":62515,"ownerId":49016677,"type":"PERSON","firstName":"Matt","lastName":"Welch","email":"mwelch@hubspot.com","createdAt":1593537995049,"updatedAt":1593537995049,"remoteList":[{"id":36704045,"portalId":62515,"ownerId":49016677,"remoteId":"8518799","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false,"activeUserId":8518799,"userIdIncludingInactive":8518799,"activeSalesforceId":null,"isActive":true}]'
  recorded_at: Tue, 21 Jun 2022 13:29:27 GMT
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners?email=demo@hubspot.com&hapikey=demo&includeInactive=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '059217e3-4c1d-48bb-8d70-59dc1069d22a'
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '988307'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '185'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
      X-Trace:
      - 2BD78E68D1D288BBBEC5FCECA96FFA244D25A3A6D8000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"portalId":62515,"ownerId":71,"type":"PERSON","firstName":"demo","lastName":"demo","email":"demo@hubspot.com","createdAt":1405605859418,"updatedAt":1502455462834,"remoteList":[{"id":29598,"portalId":62515,"ownerId":71,"remoteId":"238058","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false,"activeUserId":238058,"isActive":true,"userIdIncludingInactive":238058,"activeSalesforceId":null}]'
  recorded_at: Tue, 21 Jun 2022 13:29:27 GMT
recorded_with: VCR 6.1.0
