---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?archived=false&email=p%5Bredacted%5De@captaincontrat.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 926bebd5-dcff-4edd-b8c8-02b477bd3bc1
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249980'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '98'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"31871817","email":"p[redacted]e@captaincontrat.com","type":"PERSON","firstName":"Philippe","lastName":"W[redacted]","userId":2506672,"userIdIncludingInactive":2506672,"createdAt":"2018-04-09T13:16:56.625Z","updatedAt":"2018-04-09T13:16:56.625Z","archived":false}]}'
  recorded_at: Wed, 05 Mar 2025 11:38:29 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?archived=false&email=p%5Bredacted%5Ds@captaincontrat.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 77f54090-bc43-4ccc-9695-2be433107998
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249979'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '97'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"31871900","email":"p[redacted]s@captaincontrat.com","type":"PERSON","firstName":"Paul-Yves","lastName":"L[redacted]","userId":5555888,"userIdIncludingInactive":5555888,"createdAt":"2018-04-09T13:39:06.662Z","updatedAt":"2022-04-27T12:44:02.847Z","archived":false}]}'
  recorded_at: Wed, 05 Mar 2025 11:38:29 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?archived=false&email=y%5Bredacted%5Dk@captaincontrat.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1b651844-8f46-4b1e-ba1d-5dfa2bd7f2b5
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249978'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '96'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"31872455","email":"y[redacted]k@captaincontrat.com","type":"PERSON","firstName":"Yannick","lastName":"F[redacted]","userId":3326038,"userIdIncludingInactive":3326038,"createdAt":"2018-04-09T13:18:57.349Z","updatedAt":"2021-09-23T13:58:43.251Z","archived":false}]}'
  recorded_at: Wed, 05 Mar 2025 11:38:30 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?archived=false&email=g%5Bredacted%5Dc@captaincontrat.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 03c6673b-d769-4a16-aba9-27de7878ba3e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249977'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '95'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"414566270","email":"g[redacted]c@captaincontrat.com","type":"PERSON","firstName":"Guillaume","lastName":"C[redacted]","userId":51647443,"userIdIncludingInactive":51647443,"createdAt":"2023-05-22T13:08:58.190Z","updatedAt":"2023-06-20T13:05:15.163Z","archived":false}]}'
  recorded_at: Wed, 05 Mar 2025 11:38:30 GMT
recorded_with: VCR 6.3.1
