---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/owners?archived=false&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 9331c70a-9379-4edc-9bc4-b84190dc9720
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249983'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"id":"31871817","email":"p[redacted]e@captaincontrat.com","type":"PERSON","firstName":"Philippe","lastName":"W[redacted]","userId":2506672,"userIdIncludingInactive":2506672,"createdAt":"2018-04-09T13:16:56.625Z","updatedAt":"2018-04-09T13:16:56.625Z","archived":false},{"id":"31871900","email":"p[redacted]s@captaincontrat.com","type":"PERSON","firstName":"Paul-Yves","lastName":"L[redacted]","userId":5555888,"userIdIncludingInactive":5555888,"createdAt":"2018-04-09T13:39:06.662Z","updatedAt":"2022-04-27T12:44:02.847Z","archived":false},{"id":"31872455","email":"y[redacted]k@captaincontrat.com","type":"PERSON","firstName":"Yannick","lastName":"F[redacted]","userId":3326038,"userIdIncludingInactive":3326038,"createdAt":"2018-04-09T13:18:57.349Z","updatedAt[...]
