---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"static list 61aa684934aabf4323a6fd22608111fd","dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b8bc37c5-e7b2-433d-a577-541de95d2153
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498435'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '146'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B7D7023C6338112CA899C327C0BEE3B1B7FBA1EEE000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":1566,"internalListId":1566,"createdAt":1655887741013,"updatedAt":1655887741013,"name":"static
        list 61aa684934aabf4323a6fd22608111fd","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655887741013,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Wed, 22 Jun 2022 08:49:01 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/1566/contacts/all?count=2&hapikey=<HAPI_KEY>&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a4a5dd57-a15e-4cd7-b53f-5005fd6da73f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498434'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '145'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B44E816393771B7135E46B159BC53E6CDC72696D0000000000000000000
    body:
      encoding: UTF-8
      string: '{"contacts":[],"has-more":false,"vid-offset":0}'
  recorded_at: Wed, 22 Jun 2022 08:49:01 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/1566/remove?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vids":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - eb15ccd0-5ed0-4ba0-95a8-4b65983c0e56
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498433'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '144'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BCDEFBA77E841B864FAB6CEAC41827C3ACC7F4DFC000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"updated":[],"discarded":[],"invalidVids":[],"invalidEmails":[]}'
  recorded_at: Wed, 22 Jun 2022 08:49:01 GMT
recorded_with: VCR 6.1.0
