---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/204/contacts/all?count=2&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4e2452b8-b98a-4d60-aa7d-9f168f5393d8
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248396'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B59E1D111A07FB1D298A46F4DCCE5CE321A520821000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"addedAt":1659544428971,"vid":6351,"canonical-vid":6351,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"lastmodifieddate":{"value":"1659544449911"},"email":{"value":"b0e5d27aac5f08d86e85c3a7fe0dd079@hubspot.com"}},"form-submissions":[],"identity-profiles":[{"vid":6351,"saved-at-timestamp":1659544428269,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"b0e5d27aac5f08d86e85c3a7fe0dd079@hubspot.com","timestamp":1659544428228,"is-primary":true},{"type":"LEAD_GUID","value":"50d48c20-16e3-48ee-9b07-37b3150d4d68","timestamp":1659544428264}]}],"merge-audits":[]},{"addedAt":1659544430100,"vid":6401,"canonical-vid":6401,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"lastmodifieddate":{"value":"1659544436643"},"email":{"value":"37c63e8e13a069dd73fcbfb986a9f03c@hubspot.com"}},"form-submissions":[],"identity-profiles":[{"vid":6401,"saved-at-timestamp":1659544429289,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"37c63e8e13a069dd73fcbfb986a9f03c@hubspot.com","timestamp":1659544429242,"is-primary":true},{"type":"LEAD_GUID","value":"d1c6c10b-5236-4fb7-9329-50cdc4802a61","timestamp":1659544429284}]}],"merge-audits":[]}],"has-more":true,"vid-offset":6402}'
  recorded_at: Mon, 08 Aug 2022 14:50:27 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/204/remove
    body:
      encoding: UTF-8
      string: '{"vids":[6351,6401]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d11e0fc4-47e3-4857-925c-0eace2b8d171
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248395'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BE7D251BD41F7D8A122ECBA3CB65B486FDBE9D579000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"updated":[6351,6401],"discarded":[],"invalidVids":[],"invalidEmails":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:27 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists
    body:
      encoding: UTF-8
      string: '{"name":"static list 876c5332f247ecc943bb3ab486159a07","dynamic":false,"portal_id":null}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 27a13d35-4f6c-43df-9ad9-2e7c6d23ff94
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248394'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B52BED7C28F04BA09B2365F94BDBE3EFC7A09DB4E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":465,"internalListId":465,"createdAt":1659970228071,"updatedAt":1659970228071,"name":"static
        list 876c5332f247ecc943bb3ab486159a07","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1659970228071,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Mon, 08 Aug 2022 14:50:28 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/465/remove
    body:
      encoding: UTF-8
      string: '{"vids":[1234]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 3ebc8771-15f6-4671-9b39-30a7b9961e99
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248393'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BE3CBC7C29A9F29696EF025BB37E5B61F931FCBE4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"updated":[],"discarded":[],"invalidVids":[1234],"invalidEmails":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:28 GMT
recorded_with: VCR 6.0.0
