---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/204/contacts/all?count=2&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 4e2452b8-b98a-4d60-aa7d-9f168f5393d8
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248396'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B59E1D111A07FB1D298A46F4DCCE5CE321A520821000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"addedAt":1659544428971,"vid":6351,"canonical-vid":6351,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"lastmodifieddate":{"value":"1659544449911"},"email":{"value":"b0e5d27aac5f08d86e85c3a7fe0dd079@hubspot.com"}},"form-submissions":[],"identity-profiles":[{"vid":6351,"saved-at-timestamp":1659544428269,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"b0e5d27aac5f08d86e85c3a7fe0dd079@hubspot.com","timestamp":1659544428228,"is-primary":true},{"type":"LEAD_GUID","value":"50d48c20-16e3-48ee-9b07-37b3150d4d68","timestamp":1659544428264}]}],"merge-audits":[]},{"addedAt":1659544430100,"vid":6401,"canonical-vid":6401,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"lastmodifieddate":{"value":"1659544436643"},"email":{"value":"37c63e8e13a069dd73fcbfb986a9f03c@hubspot.com"}},"form-submissions":[],"identity-profiles":[{"vid":6401,"saved-at-timestamp":1659544429289,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"37c63e8e13a069dd73fcbfb986a9f03c@hubspot.com","timestamp":1659544429242,"is-primary":true},{"type":"LEAD_GUID","value":"d1c6c10b-5236-4fb7-9329-50cdc4802a61","timestamp":1659544429284}]}],"merge-audits":[]}],"has-more":true,"vid-offset":6402}'
  recorded_at: Mon, 08 Aug 2022 14:50:27 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/204/remove
    body:
      encoding: UTF-8
      string: '{"vids":[6351,6401]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d11e0fc4-47e3-4857-925c-0eace2b8d171
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248395'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BE7D251BD41F7D8A122ECBA3CB65B486FDBE9D579000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"updated":[6351,6401],"discarded":[],"invalidVids":[],"invalidEmails":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:27 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists
    body:
      encoding: UTF-8
      string: '{"name":"static list 876c5332f247ecc943bb3ab486159a07","dynamic":false,"portal_id":null}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 27a13d35-4f6c-43df-9ad9-2e7c6d23ff94
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248394'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B52BED7C28F04BA09B2365F94BDBE3EFC7A09DB4E000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":465,"internalListId":465,"createdAt":1659970228071,"updatedAt":1659970228071,"name":"static
        list 876c5332f247ecc943bb3ab486159a07","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1659970228071,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Mon, 08 Aug 2022 14:50:28 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/lists//remove
    body:
      encoding: UTF-8
      string: '{"vids":[1234]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Allow:
      - DELETE,GET,OPTIONS
      X-Hubspot-Correlation-Id:
      - '019daf73-2d8b-7de9-87ab-1a02a46605ed'
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 405 Method Not Allowed</title>
        </head>
        <body><h2>HTTP ERROR 405</h2>
        <p>Reason:
        <pre>    Method Not Allowed</pre></p>
        </body>
        </html>
  recorded_at: Tue, 21 Apr 2026 09:50:54 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/lists/1/contacts/all?count=2&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      X-Hubspot-Correlation-Id:
      - '019daf79-b267-7bbb-9807-abe1fc6811a9'
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Resource not found</p>
        </body>
        </html>
  recorded_at: Tue, 21 Apr 2026 09:58:01 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/lists//memberships/remove
    body:
      encoding: UTF-8
      string: "[1234]"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      X-Hubspot-Correlation-Id:
      - '019daf79-b595-7b25-b80c-461d73071bec'
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Resource not found</p>
        </body>
        </html>
  recorded_at: Tue, 21 Apr 2026 09:58:02 GMT
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/lists/300/memberships/remove
    body:
      encoding: UTF-8
      string: "[1234]"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      Allow:
      - OPTIONS,PUT
      X-Hubspot-Correlation-Id:
      - '019dafc5-cebd-7cb3-b44b-2ffbf132e5d9'
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 405 Method Not Allowed</title>
        </head>
        <body><h2>HTTP ERROR 405</h2>
        <p>Reason:
        <pre>    Method Not Allowed</pre></p>
        </body>
        </html>
  recorded_at: Tue, 21 Apr 2026 11:21:09 GMT
[...]
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/lists/1/memberships?count=2&limit=25&offset=&offset_param=after
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019dafdf-a284-76d5-a362-4b42a6076d85'
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249581'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"List does not exist with ID 1.","correlationId":"019dafdf-a284-76d5-a362-4b42a6076d85","context":{"listId":["1"]},"category":"OBJECT_NOT_FOUND","subCategory":"ListError.LIST_ID_DOES_NOT_EXIST"}'
  recorded_at: Tue, 21 Apr 2026 11:49:22 GMT
[...]
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/lists
    body:
      encoding: UTF-8
      string: '{"name":"static list 0433dbbea35a53e70187457ddc3c096a","dynamic":false,"portal_id":null,"objectTypeId":"0-1","processingType":"MANUAL"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019dafe4-74e5-73ad-a8ef-2246b9a71015'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249548'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '88'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"list":{"listId":"414","listVersion":1,"createdAt":"2026-04-21T11:54:38.233Z","updatedAt":"2026-04-21T11:54:38.233Z","filtersUpdatedAt":"2026-04-21T11:54:38.233Z","processingStatus":"COMPLETE","createdById":"5555888","updatedById":"5555888","processingType":"MANUAL","objectTypeId":"0-1","name":"static
        list 0433dbbea35a53e70187457ddc3c096a","listPermissions":{"teamsWithEditAccess":[],"usersWithEditAccess":[]},"membershipSettings":{"membershipTeamId":null,"includeUnassigned":null}}}'
  recorded_at: Tue, 21 Apr 2026 11:54:38 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm/v3/lists/414/memberships/remove
    body:
      encoding: UTF-8
      string: "[1234]"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019dafe4-765b-7045-9a70-447ac69037bf'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249547'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '87'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
    body:
      encoding: UTF-8
      string: '{"recordIdsMissing":["1234"]}'
  recorded_at: Tue, 21 Apr 2026 11:54:38 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/lists/2/memberships?count=2&limit=25&offset=&offset_param=after
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019dafe5-2db9-78b6-84f9-573fd11e5c4e'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249538'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"results":[],"total":25}'
  recorded_at: Tue, 21 Apr 2026 11:55:25 GMT
- request:
    method: put
    uri: https://api.hubapi.com/crm/v3/lists/2/memberships/remove
    body:
      encoding: UTF-8
      string: "[]"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - '019dafe5-2ee2-7c01-928a-b9ad49e6a61e'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249537'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '98'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 21 Apr 2026 11:55:25 GMT
recorded_with: VCR 6.4.0
