---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/204/contacts/all?count=2&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 52c82a89-7b01-4423-86e3-bc2f4bc3a9dd
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249340'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '98'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2BEC343899B9A31E5DF6295B747FC46AC80DACC857000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"addedAt":1659544423799,"vid":6151,"canonical-vid":6151,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"lastmodifieddate":{"value":"1659544450660"},"email":{"value":"1ec48e0203521ef393ad5c8fe9dc3f77@hubspot.com"}},"form-submissions":[],"identity-profiles":[{"vid":6151,"saved-at-timestamp":1659544423341,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"1ec48e0203521ef393ad5c8fe9dc3f77@hubspot.com","timestamp":1659544423242,"is-primary":true},{"type":"LEAD_GUID","value":"22e80d58-47a3-4135-9d05-382d968640d4","timestamp":1659544423336}]}],"merge-audits":[]},{"addedAt":1659544427209,"vid":6152,"canonical-vid":6152,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"lastmodifieddate":{"value":"1659544448964"},"email":{"value":"d1129729b75755f47443f8cf51497946@hubspot.com"}},"form-submissions":[],"identity-profiles":[{"vid":6152,"saved-at-timestamp":1659544426656,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"d1129729b75755f47443f8cf51497946@hubspot.com","timestamp":1659544426640,"is-primary":true},{"type":"LEAD_GUID","value":"3650ce59-20c1-457d-91b4-917b03d21970","timestamp":1659544426654}]}],"merge-audits":[]}],"has-more":true,"vid-offset":6201}'
  recorded_at: Mon, 08 Aug 2022 12:48:16 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/204/remove
    body:
      encoding: UTF-8
      string: '{"vids":[6151,6152]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1b5b6b2c-e110-41ba-a12f-ef422469b398
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249339'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '97'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B228D394FACD7529158CAE3C10995DF0FF68AE802000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"updated":[6152,6151],"discarded":[],"invalidVids":[],"invalidEmails":[]}'
  recorded_at: Mon, 08 Aug 2022 12:48:16 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists
    body:
      encoding: UTF-8
      string: '{"name":"static list 854b48345f6ba4afa321b0b82cd2e5a4","dynamic":false,"portal_id":null}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cbcb48a3-beb6-479b-a775-5046e189f80e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249338'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '96'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2B9134E09C7B9561CF019C6FE7AEB9A68DB3554382000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":418,"internalListId":418,"createdAt":1659962896642,"updatedAt":1659962896642,"name":"static
        list 854b48345f6ba4afa321b0b82cd2e5a4","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1659962896642,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Mon, 08 Aug 2022 12:48:17 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/418/remove
    body:
      encoding: UTF-8
      string: '{"vids":[1234]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 5b1c98a4-3e46-4e81-80a1-a377b3cce426
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249337'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '95'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
      X-Trace:
      - 2BB03064BD399AF427C333D843802C9466FED56FC9000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"updated":[],"discarded":[],"invalidVids":[1234],"invalidEmails":[]}'
  recorded_at: Mon, 08 Aug 2022 12:48:17 GMT
recorded_with: VCR 6.0.0
