---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"static list 1c1499269a9b58dd5abdc6716583a02e","dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c99a33dc-e48a-4d56-a798-5867cfdc604a
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498798'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '125'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B8D3C06CC7ABE1342C9017E87566EA9596793E528000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":1440,"internalListId":1440,"createdAt":1655818091241,"updatedAt":1655818091241,"name":"static
        list 1c1499269a9b58dd5abdc6716583a02e","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655818091241,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Tue, 21 Jun 2022 13:28:11 GMT
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v1/lists/1440/contacts/all?count=2&hapikey=<HAPI_KEY>&property=email
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e4b742d4-7871-4f6e-bf8a-605a7befe853
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498797'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BC52B698F05524910C4EC301CCCDBE8DF4F2297A6000000000000000000
    body:
      encoding: UTF-8
      string: '{"contacts":[],"has-more":false,"vid-offset":0}'
  recorded_at: Tue, 21 Jun 2022 13:28:11 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/1440/remove?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vids":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 87430425-4a8f-47bc-b0f7-6863cf5aafeb
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498796'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '127'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BD637AE9C83429D575755B172E7B33E1249D1C325000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"updated":[],"discarded":[],"invalidVids":[],"invalidEmails":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:12 GMT
recorded_with: VCR 6.1.0
