---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/tasks/search
    body:
      encoding: UTF-8
      string: '{"properties":["hs_task_subject","hs_task_status"],"filterGroups":[{"filters":[{"propertyName":"associations.ticket","operator":"EQ","value":"16676542642"}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - d376baf0-c1bf-485e-a9e0-2e3465050ed0
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249951'
    body:
      encoding: ASCII-8BIT
      string: '{"total":2,"results":[{"id":"65090432307","properties":{"hs_createdate":"2024-11-21T13:00:55.209Z","hs_lastmodifieddate":"2024-12-10T10:07:17.005Z","hs_object_id":"65090432307","hs_task_status":"COMPLETED","hs_task_subject":"Nouveau
        message client"},"createdAt":"2024-11-21T13:00:55.209Z","updatedAt":"2024-12-10T10:07:17.005Z","archived":false},{"id":"65476695429","properties":{"hs_createdate":"2024-11-27T11:07:45.738Z","hs_lastmodifieddate":"2024-11-28T11:07:46.573Z","hs_object_id":"65476695429","hs_task_status":"NOT_STARTED","hs_task_subject":"Nouvelle
        commande"},"createdAt":"2024-11-27T11:07:45.738Z","updatedAt":"2024-11-28T11:07:46.573Z","archived":false}]}'
  recorded_at: Tue, 10 Dec 2024 10:58:44 GMT
recorded_with: VCR 6.3.1
