---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/tasks/64075014222?properties=hs_task_subject,hs_task_status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - db177d07-adc5-4bea-ae28-486c02332807
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999889'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"64075014222","properties":{"hs_createdate":"2024-11-07T11:51:31.747Z","hs_lastmodifieddate":"2024-11-07T11:51:32.654Z","hs_object_id":"64075014222","hs_task_status":"NOT_STARTED","hs_task_subject":"title
        of task"},"createdAt":"2024-11-07T11:51:31.747Z","updatedAt":"2024-11-07T11:51:32.654Z","archived":false}'
  recorded_at: Thu, 07 Nov 2024 12:00:43 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/tasks/996174569112?properties=hs_task_subject,hs_task_status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      X-Hubspot-Correlation-Id:
      - d1c301f2-1bb9-433e-aad4-104ffb222f05
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999888'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '188'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Resource not found</p>
        </body>
        </html>
  recorded_at: Thu, 07 Nov 2024 12:00:43 GMT
recorded_with: VCR 6.3.1
