---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/tasks
    body:
      encoding: UTF-8
      string: '{"associations":[{"to":{"id":16174569112},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":230}]},{"to":{"id":75761595194},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":204}]},{"to":{"id":25571271600},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":192}]},{"to":{"id":28806796888},"types":[{"associationCategory":"HUBSPOT_DEFINED","associationTypeId":216}]}],"properties":{"hs_task_status":"NOT_STARTED","hs_task_type":"TODO","hs_task_body":"i
        am a task","hs_task_subject":"title of task","hs_timestamp":"1732111731855"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/objects/tasks/65039244375
      X-Hubspot-Correlation-Id:
      - ed5e936f-5d2d-4ad2-8beb-72f79c0ff48f
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999999'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"65039244375","properties":{"hs_body_preview":"i am a task","hs_body_preview_html":"<html>\n
        <head></head>\n <body>\n i am a task\n </body>\n</html>","hs_body_preview_is_truncated":"false","hs_createdate":"2024-11-20T14:08:52.191Z","hs_lastmodifieddate":"2024-11-20T14:08:52.191Z","hs_object_id":"65039244375","hs_object_source":"INTEGRATION","hs_object_source_id":"1024738","hs_object_source_label":"INTEGRATION","hs_task_body":"i
        am a task","hs_task_completion_count":"0","hs_task_family":"SALES","hs_task_for_object_type":"OWNER","hs_task_is_all_day":"false","hs_task_is_completed":"0","hs_task_is_completed_call":"0","hs_task_is_completed_email":"0","hs_task_is_completed_linked_in":"0","hs_task_is_completed_sequence":"0","hs_task_is_overdue":"true","hs_task_is_past_due_date":"true","hs_task_missed_due_date":"true","hs_task_missed_due_date_count":"1","hs_task_priority":"NONE","hs_task_status":"NOT_STARTED","hs_task_subject":"title
        of task","hs_task_type":"TODO","hs_timestamp":"2024-11-20T14:08:51.855Z"},"createdAt":"2024-11-20T14:08:52.191Z","updatedAt":"2024-11-20T14:08:52.191Z","archived":false}'
  recorded_at: Wed, 20 Nov 2024 14:08:52 GMT
recorded_with: VCR 6.3.1
