---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/tickets/16174569112
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 31508645-2648-4e6e-97c3-7142b9b96adf
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999898'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"16174569112","properties":{"content":null,"createdate":"2024-11-07T10:07:53.620Z","hs_lastmodifieddate":"2024-11-07T10:07:58.585Z","hs_object_id":"16174569112","hs_pipeline":"0","hs_pipeline_stage":"1","hs_ticket_category":null,"hs_ticket_priority":"MEDIUM","subject":"test
        ticket"},"createdAt":"2024-11-07T10:07:53.620Z","updatedAt":"2024-11-07T10:07:58.585Z","archived":false}'
  recorded_at: Thu, 07 Nov 2024 10:13:54 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/tickets/996174569112
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      X-Hubspot-Correlation-Id:
      - 573a8517-3029-4383-a702-e522d8d7224a
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999897'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Resource not found</p>
        </body>
        </html>
  recorded_at: Thu, 07 Nov 2024 10:14:12 GMT
recorded_with: VCR 6.3.1
