---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/properties/ticket
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property","groupName":"ticketinformation","description":"How
        much money do you have?","fieldType":"text","formField":true,"type":"string","displayOrder":0,"label":"This
        is my new property","options":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://api.hubapi.com/crm/v3/properties/ticket/my_new_property
      X-Hubspot-Correlation-Id:
      - bfb3025c-450f-406e-88fb-4abfd85f3bee
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999885'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"updatedAt":"2024-11-07T13:45:38.929Z","createdAt":"2024-11-07T13:45:38.929Z","name":"my_new_property","label":"This
        is my new property","type":"string","fieldType":"text","description":"How
        much money do you have?","groupName":"ticketinformation","options":[],"createdUserId":"5555888","updatedUserId":"5555888","displayOrder":0,"calculated":false,"externalOptions":false,"archived":false,"hasUniqueValue":false,"hidden":false,"modificationMetadata":{"archivable":true,"readOnlyDefinition":false,"readOnlyValue":false},"formField":true,"dataSensitivity":"non_sensitive"}'
  recorded_at: Thu, 07 Nov 2024 13:45:39 GMT
recorded_with: VCR 6.3.1
