---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/tickets/16174569112?properties=content,createdate,hs_lastmodifieddate,hs_object_id,hs_pipeline,hs_pipeline_stage,hs_ticket_category,hs_ticket_priority,hubspot_owner_id,subject
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 131904ae-ae8a-4380-8f31-482eccc6c0cf
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999738'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"16174569112","properties":{"content":null,"createdate":"2024-11-07T10:07:53.620Z","hs_lastmodifieddate":"2024-11-12T15:59:09.800Z","hs_object_id":"16174569112","hs_pipeline":"0","hs_pipeline_stage":"1","hs_ticket_category":null,"hs_ticket_priority":"HIGH","hubspot_owner_id":null,"subject":"test
        ticket"},"createdAt":"2024-11-07T10:07:53.620Z","updatedAt":"2024-11-12T15:59:09.800Z","archived":false}'
  recorded_at: Tue, 12 Nov 2024 16:01:03 GMT
- request:
    method: get
    uri: https://api.hubapi.com/crm/v3/objects/tickets/996174569112?properties=content,createdate,hs_lastmodifieddate,hs_object_id,hs_pipeline,hs_pipeline_stage,hs_ticket_category,hs_ticket_priority,hubspot_owner_id,subject
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=iso-8859-1
      X-Hubspot-Correlation-Id:
      - 994c9c16-0609-4254-8bbe-895de7606a94
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999737'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '188'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Resource not found</p>
        </body>
        </html>
  recorded_at: Tue, 12 Nov 2024 16:01:04 GMT
recorded_with: VCR 6.3.1
