---
http_interactions:
- request:
    method: patch
    uri: https://api.hubapi.com/crm/v3/objects/tickets/16174569112
    body:
      encoding: UTF-8
      string: '{"properties":{"hs_ticket_priority":"HIGH","subject":"New name"}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - a94dd03a-71e7-4172-b88b-988ede4e72dd
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999876'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '190'
      X-Hubspot-Ratelimit-Remaining:
      - '189'
      X-Hubspot-Ratelimit-Secondly:
      - '19'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"16174569112","properties":{"createdate":"2024-11-07T10:07:53.620Z","hs_helpdesk_sort_timestamp":"2024-11-07T10:07:53.620Z","hs_lastmodifieddate":"2024-11-07T16:48:44.224Z","hs_object_id":"16174569112","hs_object_source":"INTEGRATION","hs_object_source_id":"1024738","hs_object_source_label":"INTEGRATION","hs_pipeline":"0","hs_pipeline_stage":"1","hs_ticket_id":"16174569112","hs_ticket_priority":"HIGH","hs_updated_by_user_id":"5555888","subject":"New
        name"},"createdAt":"2024-11-07T10:07:53.620Z","updatedAt":"2024-11-07T16:48:44.224Z","archived":false}'
  recorded_at: Thu, 07 Nov 2024 16:48:44 GMT
recorded_with: VCR 6.3.1
