---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"e57b2e594a02f5d71d4b289e33069472@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fc56530d-e9c6-43d0-aac8-2dd2ff479f21
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498449'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BAEDE1EAC70C9E4BA89320EEF37708FF885CA9F01000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":67501,"canonical-vid":67501,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"e57b2e594a02f5d71d4b289e33069472@example.com","versions":[{"value":"e57b2e594a02f5d71d4b289e33069472@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655887736063,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":67501,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"e57b2e594a02f5d71d4b289e33069472@example.com","timestamp":1655887736070,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"957051bb-a826-4726-9014-0d50695f2779","timestamp":1655887736083,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Wed, 22 Jun 2022 08:48:56 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"my-contacts-list-fd9195ca6ad30f00dab40f7117ab3b20","dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - dc3264c5-8f29-4aac-93a9-a04e35e685f0
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498448'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '125'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B916866CF2156E242D2B3BC11D070C0E4BC3FE5FE000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":1563,"internalListId":1563,"createdAt":1655887736407,"updatedAt":1655887736407,"name":"my-contacts-list-fd9195ca6ad30f00dab40f7117ab3b20","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655887736407,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Wed, 22 Jun 2022 08:48:56 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/1563/add?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vids":[67501]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - aa65ce53-5d14-4887-9e84-ca843693da8f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498447'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B77BACF3880085BC0190EA8BEEAD7ABB306F51DE5000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"updated":[67501],"discarded":[],"invalidVids":[],"invalidEmails":[]}'
  recorded_at: Wed, 22 Jun 2022 08:48:56 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v1/contact/vid/67501?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b4efbe30-f64b-4f5c-a1d2-8e34abcbad03
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498446'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '125'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BB7F33EF839B743CC3AFECAD0AB0185A76DB37DA9000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":67501,"deleted":true,"reason":"OK"}'
  recorded_at: Wed, 22 Jun 2022 08:48:57 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v1/lists/1563?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 7f668c7a-c31c-45c7-b77c-919ed951b55d
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498445'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B0829A4C172002212C5E8C7DBFDEC1C719661FE81000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Jun 2022 08:48:57 GMT
recorded_with: VCR 6.1.0
