---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"7fb6790fd1a02ecf5f095a63bb8ce718@example.com"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - dcc63bd9-3c56-47c1-8852-23debbecac69
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248411'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '77'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B35F5A57E405548A295B0225725980E1B6DC74847000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":22901,"canonical-vid":22901,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"7fb6790fd1a02ecf5f095a63bb8ce718@example.com","versions":[{"value":"7fb6790fd1a02ecf5f095a63bb8ce718@example.com","source-type":"INTEGRATION","source-id":"1024781","source-label":null,"updated-by-user-id":null,"timestamp":1659970220172,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":22901,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"7fb6790fd1a02ecf5f095a63bb8ce718@example.com","timestamp":1659970220182,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"f800d204-ccbb-4edd-9874-87e20565e189","timestamp":1659970220194,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:20 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists
    body:
      encoding: UTF-8
      string: '{"name":"my-contacts-list-32993bed010b7987eaa9cb9302aae4bb","dynamic":false,"portal_id":null}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 30a29600-e9d8-42de-b743-7a89ff27047a
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248410'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B66885F0942D382BFD02B3F83ACBD7B6F80D9DACD000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":462,"internalListId":462,"createdAt":1659970220629,"updatedAt":1659970220629,"name":"my-contacts-list-32993bed010b7987eaa9cb9302aae4bb","listType":"STATIC","authorId":3326038,"filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1659970220629,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Mon, 08 Aug 2022 14:50:21 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/462/add
    body:
      encoding: UTF-8
      string: '{"vids":[22901]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fb1c688c-5dae-4626-868e-557fab5ea6c8
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248409'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BF332118C9725A76E58A7EDBFE97FF84EA47EA270000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"updated":[22901],"discarded":[],"invalidVids":[],"invalidEmails":[]}'
  recorded_at: Mon, 08 Aug 2022 14:50:21 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v1/contact/vid/22901
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 6dbcf459-319e-4e90-a0ab-8d211673c864
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248408'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '75'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B959B62347C3C3616F3540B53ACE36A6E4AC9197B000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":22901,"deleted":true,"reason":"OK"}'
  recorded_at: Mon, 08 Aug 2022 14:50:22 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v1/lists/462
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - f8c1bd01-d1f2-441f-83d6-b457d67b948e
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248407'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '76'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B221D5D674EBDE20BEF78946FAB28F86CB82504BF000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 08 Aug 2022 14:50:22 GMT
recorded_with: VCR 6.0.0
