---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/contact?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"properties":[{"property":"email","value":"9f58c60c0fe2830aba07ea519e507013@example.com"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 0e858fd6-2a1c-4596-be4c-ee05a5a2db8e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498812'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '136'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BC04C061770A2E5C3FB73DE8D902EF5A34100535B000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"vid":50151,"canonical-vid":50151,"merged-vids":[],"portal-id":<PORTAL_ID>,"is-contact":true,"properties":{"email":{"value":"9f58c60c0fe2830aba07ea519e507013@example.com","versions":[{"value":"9f58c60c0fe2830aba07ea519e507013@example.com","source-type":"API","source-id":null,"source-label":null,"updated-by-user-id":null,"timestamp":1655818085716,"selected":false}]}},"form-submissions":[],"list-memberships":[],"identity-profiles":[{"vid":50151,"is-deleted":false,"is-contact":false,"pointer-vid":0,"previous-vid":0,"linked-vids":[],"saved-at-timestamp":0,"deleted-changed-timestamp":0,"identities":[{"type":"EMAIL","value":"9f58c60c0fe2830aba07ea519e507013@example.com","timestamp":1655818085724,"is-primary":true,"source":"UNSPECIFIED"},{"type":"LEAD_GUID","value":"c6989c6b-efb7-4d59-868e-a8215c2825c8","timestamp":1655818085757,"source":"UNSPECIFIED"}]}],"merge-audits":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:05 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"my-contacts-list-056e247642b7ec6f8e43b8acb17280b6","dynamic":false,"portal_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f560698e-29c1-4f21-bf2f-e831bea73c1e
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498811'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '135'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B6F4A88B71822093165B40EEEF5CAC80B16A4F2C2000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"listId":1437,"internalListId":1437,"createdAt":1655818086156,"updatedAt":1655818086156,"name":"my-contacts-list-056e247642b7ec6f8e43b8acb17280b6","listType":"STATIC","filters":[],"metaData":{"size":0,"lastSizeChangeAt":0,"processing":"DONE","lastProcessingStateChangeAt":1655818086156,"error":"","listReferencesCount":null,"parentFolderId":null},"archived":false,"teamIds":[],"dynamic":false}'
  recorded_at: Tue, 21 Jun 2022 13:28:06 GMT
- request:
    method: post
    uri: https://api.hubapi.com/contacts/v1/lists/1437/add?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"vids":[50151]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 8451fa12-0c78-4a59-ad07-734c9105c0ec
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498810'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '134'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BD1DF2BFBB16F6F7DF0C485AC3E0A0C3F1921FCFB000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"updated":[50151],"discarded":[],"invalidVids":[],"invalidEmails":[]}'
  recorded_at: Tue, 21 Jun 2022 13:28:06 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v1/contact/vid/50151?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 72d7da8f-0f26-4af8-854d-70529ee4ba6b
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498809'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '133'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B64947A4D42A3012FEAE003F5C3F0FBFA6F506C35000000000000000000
    body:
      encoding: UTF-8
      string: '{"vid":50151,"deleted":true,"reason":"OK"}'
  recorded_at: Tue, 21 Jun 2022 13:28:07 GMT
- request:
    method: delete
    uri: https://api.hubapi.com/contacts/v1/lists/1437?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Hubspot-Correlation-Id:
      - 9f0dc38a-7fe3-4e28-a6ba-b684c485d705
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498808'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '132'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BCD0AD6D63E2A3AD811889028A8B3630D3D941B6D000000000000000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jun 2022 13:28:07 GMT
recorded_with: VCR 6.1.0
