---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/contacts/groups?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"ff_group_1a452d37b721bfc3f9b32558ad10a0aa","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 90119e64-bfcc-42cd-919b-3528549fcfa5
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498781'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '124'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B6DF9D60161618CF8725F06979B11D260870E5306000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"name":"ff_group_1a452d37b721bfc3f9b32558ad10a0aa","displayOrder":100}'
  recorded_at: Tue, 21 Jun 2022 13:28:17 GMT
recorded_with: VCR 6.1.0
