---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/contacts/groups?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"ff_group1","displayName":"Test Group One","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1db69acc-0cf6-4853-a9a8-e4759a072106
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498419'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '130'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2BE4E0C5D414E17863C937B7F0DFBE5952D1DE5677000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"name":"ff_group1","displayName":"Test Group
        One","displayOrder":100,"deleted":false}'
  recorded_at: Wed, 22 Jun 2022 08:49:06 GMT
recorded_with: VCR 6.1.0
