---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/contacts/properties
    body:
      encoding: UTF-8
      string: '{"name":"my_new_property","groupName":"contactinformation","description":"What
        kind of x would you like?","fieldType":"text","formField":true,"type":"string","displayOrder":0,"label":"This
        is my new property","options":[]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c614f2d8-dd52-4d33-bce2-241e22acec3b
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248380'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B459F37678F7C7A1A3E8160FEF0B70957CA335DED000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"my_new_property","label":"This is my new property","description":"What
        kind of x would you like?","groupName":"contactinformation","type":"string","fieldType":"text","fieldLevelPermission":null,"options":[],"deleted":false,"updatedAt":1659970235773,"createdAt":1659969497203,"readOnlyDefinition":false,"formField":true,"displayOrder":0,"readOnlyValue":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":null,"hubspotDefined":null,"hidden":false,"referencedObjectType":null,"externalOptionsReferenceType":null,"optionSortStrategy":null,"createdUserId":3326038,"searchableInGlobalSearch":false,"hasUniqueValue":false,"numberDisplayHint":null,"currencyPropertyName":null,"textDisplayHint":null,"optionsAreMutable":null,"searchTextAnalysisMode":null,"isCustomizedDefault":false,"updatedUserId":3326038}'
  recorded_at: Mon, 08 Aug 2022 14:50:36 GMT
recorded_with: VCR 6.0.0
