---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/contacts/groups?hapikey=<HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"ff_group_230ff0001f861748a4a5685ba823affc","displayOrder":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 127fa72f-7756-43bd-8a43-1ea03043cd5f
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498418'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '129'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2B0EE199E5CCD2E40DAD05995D9FDBF899C7396745000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"name":"ff_group_230ff0001f861748a4a5685ba823affc","displayOrder":100}'
  recorded_at: Wed, 22 Jun 2022 08:49:06 GMT
- request:
    method: post
    uri: https://api.hubapi.com/properties/v1/contacts/groups
    body:
      encoding: UTF-8
      string: '{"name":"ff_group_8319ca018ec3f443927a4928504fbe3c","displayOrder":100}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - f075dc29-8370-4c8e-9925-540cb43c82c6
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249703'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2BB9F29DFCAC3CF9CAD00D76678EEA1C67FB01CFFF000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"portalId":<PORTAL_ID>,"name":"ff_group_8319ca018ec3f443927a4928504fbe3c","displayOrder":100}'
  recorded_at: Tue, 02 Aug 2022 14:52:56 GMT
recorded_with: VCR 6.0.0
