---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/contacts/properties/named/my_new_property?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - b317f239-72b4-4c2f-a942-43a8c9f99691
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498422'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '133'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B5590C81E2D57F0099DDC2C40D17F526BA0109AAA000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''my_new_property''","correlationId":"b317f239-72b4-4c2f-a942-43a8c9f99691","propertiesErrorCode":"PROPERTY_NOT_FOUND"}'
  recorded_at: Wed, 22 Jun 2022 08:49:05 GMT
recorded_with: VCR 6.1.0
