---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/contacts/properties/named/my_new_property
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - ce07c396-1d90-41b5-8fc4-fd5074c124a6
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248377'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '82'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B6E275A93D7C2C5E4FAD4DA5948DE798C5CDFC658000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''my_new_property''","correlationId":"ce07c396-1d90-41b5-8fc4-fd5074c124a6","propertiesErrorCode":"PROPERTY_NOT_FOUND"}'
  recorded_at: Mon, 08 Aug 2022 14:50:37 GMT
recorded_with: VCR 6.0.0
