---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/contacts/groups/named/ff_group1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cdfcd531-8bc5-44a8-8ef6-491d6a4a80b4
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248370'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '79'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '7'
      X-Trace:
      - 2B1F1D8CE94C3DA866EE328510A9E7DC1A83C94021000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''ff_group1''.","correlationId":"cdfcd531-8bc5-44a8-8ef6-491d6a4a80b4","groupsErrorCode":"GROUP_NOT_FOUND"}'
  recorded_at: Mon, 08 Aug 2022 14:50:39 GMT
recorded_with: VCR 6.0.0
