---
http_interactions:
- request:
    method: delete
    uri: https://api.hubapi.com/properties/v1/contacts/properties/named/my_new_property?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - be7c4419-2d8e-4a6d-8df2-73c6f2e2fb50
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498785'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '126'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '12'
      X-Trace:
      - 2BDB5BD2F297FECFC6E1690AB13A926131CEC0A892000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''my_new_property''","correlationId":"be7c4419-2d8e-4a6d-8df2-73c6f2e2fb50","propertiesErrorCode":"PROPERTY_NOT_FOUND"}'
  recorded_at: Tue, 21 Jun 2022 13:28:16 GMT
recorded_with: VCR 6.1.0
