---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/contacts/groups/named/contactinformation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - fdf79bf0-501e-4cf7-8097-c8d94a637c38
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499991'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '147'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B183234DD9610A3EFE73B22116E6A9A6BDFB20995000000000000000000
    body:
      encoding: UTF-8
      string: '{"name":"contactinformation","fulcrumPortalId":0,"fulcrumTimestamp":0,"displayName":"Contact
        information","displayOrder":0,"hubspotDefined":true}'
  recorded_at: Mon, 05 Sep 2022 09:09:55 GMT
recorded_with: VCR 6.1.0
