---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/contacts/properties/named/full_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 73687713-9bc7-41d7-aed8-f7902402ac0d
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499993'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BD37F8AEC5E32D39AF2DFE6DC01A51AA7A85AA5E1000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"full_name","label":"Full name","description":"","groupName":"contactinformation","type":"string","fieldType":"text","fieldLevelPermission":null,"options":[],"createdAt":1652135085834,"deleted":false,"updatedAt":1652135085834,"readOnlyDefinition":false,"formField":true,"displayOrder":-1,"readOnlyValue":false,"mutableDefinitionNotDeletable":false,"favorited":false,"favoritedOrder":-1,"calculated":false,"externalOptions":false,"displayMode":"current_value","showCurrencySymbol":false,"hubspotDefined":null,"hidden":false,"referencedObjectType":null,"externalOptionsReferenceType":null,"optionSortStrategy":null,"createdUserId":null,"searchableInGlobalSearch":false,"hasUniqueValue":false,"numberDisplayHint":"formatted","currencyPropertyName":null,"textDisplayHint":null,"optionsAreMutable":null,"searchTextAnalysisMode":null,"isCustomizedDefault":false,"updatedUserId":null}'
  recorded_at: Mon, 05 Sep 2022 09:09:47 GMT
recorded_with: VCR 6.1.0
