---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/contacts/v2/groups?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - c1e7b401-6a95-48d6-8484-ac21a59d98eb
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '994101'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '200'
      X-Hubspot-Ratelimit-Remaining:
      - '184'
      X-Hubspot-Ratelimit-Secondly:
      - '20'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '18'
      X-Trace:
      - 2B5E1DD07BD23B662FE04570BEB9739CEDDCEB8711000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"contactinformation","displayName":"Contact Properties","displayOrder":1,"hubspotDefined":false},{"name":"emailinformation","displayName":"Email","displayOrder":4,"hubspotDefined":false},{"name":"conversioninformation","displayName":"Conversion
        Information","displayOrder":5,"hubspotDefined":false},{"name":"analyticsinformation","displayName":"Analytics","displayOrder":8,"hubspotDefined":false},{"name":"salesforceinformation","displayName":"Salesforce","displayOrder":9,"hubspotDefined":false},{"name":"example_property_group","displayName":"Example
        property group","displayOrder":81619,"hubspotDefined":false},{"name":"ip__ecomm_bridge__ecomm_bridge","displayName":"ECommerce","displayOrder":81683,"hubspotDefined":false},{"name":"ip__sync_extension__sync_extension","displayName":"SyncExtension","displayOrder":81684,"hubspotDefined":false}]'
  recorded_at: Wed, 22 Jun 2022 08:49:59 GMT
recorded_with: VCR 6.1.0
