---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/contacts/groups?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - e5a69c6c-5e44-47f6-923c-c10fe44d0e4a
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '498420'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '131'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '13'
      X-Trace:
      - 2B6BC9EB8D62ED7483A61EF3C37079F9A8FD867F7F000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"contact_activity","fulcrumPortalId":8008758,"fulcrumTimestamp":1593475199999,"displayName":"Contact
        activity","displayOrder":-1,"hubspotDefined":true},{"name":"deal_information","fulcrumPortalId":8008758,"fulcrumTimestamp":1593475199999,"displayName":"Deal
        information","displayOrder":-1,"hubspotDefined":true},{"name":"sales_properties","fulcrumPortalId":8008758,"fulcrumTimestamp":1593475199999,"displayName":"Sales
        properties","displayOrder":-1,"hubspotDefined":true},{"name":"contactinformation","fulcrumPortalId":0,"fulcrumTimestamp":0,"displayName":"Contact
        information","displayOrder":0,"hubspotDefined":true},{"na[...]
