---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/contacts/properties/named/this_does_not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - cdd8f8c9-03bf-48f1-af08-1b3b11a9bad9
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499992'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '148'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BD1DCD418DC7DC5199345F12CE55C48FD716C27A4000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''this_does_not_exist''","correlationId":"cdd8f8c9-03bf-48f1-af08-1b3b11a9bad9","propertiesErrorCode":"PROPERTY_NOT_FOUND"}'
  recorded_at: Mon, 05 Sep 2022 09:09:47 GMT
recorded_with: VCR 6.1.0
