---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/contacts/properties/named/this_does_not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 1f52f273-7b70-436b-aa37-cdc92883797f
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499989'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '149'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2BA6C773EACCE5B41E487AF341DF5BB732D8D63F86000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"status":"error","message":"Couldn''t find a Property with the given
        name ''this_does_not_exist''","correlationId":"1f52f273-7b70-436b-aa37-cdc92883797f","propertiesErrorCode":"PROPERTY_NOT_FOUND"}'
  recorded_at: Mon, 05 Sep 2022 09:13:02 GMT
recorded_with: VCR 6.1.0
