---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/properties/v1/contacts/groups/named/this_does_not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 95f698b8-38af-4bf4-b9d4-d6b5c7bfb95d
      X-Hubspot-Notfound:
      - 'true'
      X-Hubspot-Ratelimit-Daily:
      - '500000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '499990'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '150'
      X-Hubspot-Ratelimit-Remaining:
      - '146'
      X-Hubspot-Ratelimit-Secondly:
      - '15'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '14'
      X-Trace:
      - 2B1A4F99C5FDA97A55047A877BAD8998A8DDA6BAE2000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"error","message":"Couldn''t find a Group with the given
        name ''this_does_not_exist''.","correlationId":"95f698b8-38af-4bf4-b9d4-d6b5c7bfb95d","groupsErrorCode":"GROUP_NOT_FOUND"}'
  recorded_at: Mon, 05 Sep 2022 09:09:55 GMT
recorded_with: VCR 6.1.0
