---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/properties/v1/contacts/groups/named/ff_group1
    body:
      encoding: UTF-8
      string: '{"name":"ff_group1","displayName":"Test Group OneA","displayOrder":100}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Hubspot-Correlation-Id:
      - 460dab29-2d0a-4af7-b9ad-f742da9f39f9
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '248372'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Remaining:
      - '80'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '8'
      X-Trace:
      - 2B253A950774E1C21EB62DAB70E9451CFFC8FE55AB000000000000000000
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ff_group1","displayName":"Test Group OneA","displayOrder":100,"hubspotDefined":false}'
  recorded_at: Mon, 08 Aug 2022 14:50:39 GMT
recorded_with: VCR 6.0.0
